{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load static %}
{% load l10n %}
{% load template_tags%}
{% load cache %}

{% block infobar%}
{% cache 600 maintenance %}
{% get_maintenance as action %}
{% if action %}
<div class="maintenance">
  <p class="d-block px-3 py-2 text-center text-bold text-white old-bv">{% trans "base.odstavka.text" %}</p>
</div>
{% endif %}
{% endcache %}
{% endblock%}

{% block sidebar %}
  <!-- {% compress css %}
    <link type="text/x-scss" href="{% static '_app-sidebar.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %} -->
  <div id="app-sidebar-wrapper">
    <div class="app-sidebar-heading">
      <a href="/" title="{% trans 'templates.baseLogedIn.sidebar.home' %}">
        <img src="{% static 'logo-am-cs.png' %}" alt="{% trans 'templates.baseLogedIn.sidebar.logo.alt' %}" />
      </a>
    </div>
    <div class="accordion" id="accordionSidebar">
      {% if show_projekt %}
      <div class="card">        
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseProjekty" aria-expanded="false" aria-controls="collapseProjekty">
              <span class="material-icons">dynamic_feed</span> {% trans "templates.baseLogedIn.sidebar.projekty" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>        
        <div id="collapseProjekty" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'projekt:index' %}">{% trans "templates.baseLogedIn.sidebar.projekty.home" %}</a></li>
              <li><a href="{% url 'projekt:create' %}">{% trans "templates.baseLogedIn.sidebar.projekty.zapsat" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAPSANY}}&sort=planovane_zahajeni&sort=hlavni_katastr&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.prihlasit" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_PRIHLASENY}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.zahajitVyzkum" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.ukoncitTeren" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.spravovatAkce" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.UzavritProjekt" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?sort=hlavni_katastr&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.vybratProjekty" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?organizace={{user.organizace.id}}&sort=stav&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.naseProjekty" %}</a></li>
              {% if show_projekt_schvalit %}
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_OZNAMENY}}&sort=planovane_zahajeni&sort=hlavni_katastr&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.schvalitOznameni" %}</a></li>
              {% endif %}
              {% if show_projekt_archivovat %}
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_UZAVRENY}}&sort=datum_ukonceni&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.archivovatProjekty" %}</a></li>
              {% endif %}
              {% if show_projekt_zrusit %}
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_NAVRZEN_KE_ZRUSENI}}&sort=ident_cely">{% trans "templates.baseLogedIn.sidebar.projekty.zrusitProjekty" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseAkce" aria-expanded="false" aria-controls="collapseAkce">
              <span class="material-icons">brush</span> {% trans "templates.baseLogedIn.sidebar.samostatneAkce" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseAkce" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'arch_z:index' %}" title="">{% trans "templates.baseLogedIn.sidebar.samostatneAkce.home" %}</a></li>
              <li><a href="{% url 'arch_z:zapsat-akci' %}" title="">{% trans "templates.baseLogedIn.sidebar.samostatneAkce.zapsat" %}</a></li>
              <li><a href="{% url 'arch_z:list' %}?zahrnout_projektove=False&sort=hlavni_katastr&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneAkce.vybrat" %}</a></li>
              <li><a href="{% url 'arch_z:list' %}?zahrnout_projektove=False&historie_typ_zmeny=AZ01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneAkce.mojeAkce" %}</a></li>
              {% if user.can_see_ours_item %}
                <li><a href="{% url 'arch_z:list' %}?zahrnout_projektove=False&historie_typ_zmeny=AZ01&historie_uzivatel_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneAkce.naseAkce" %}</a></li>
              {% endif %}
              {% if show_samakce_archivovat %}
              <li><a href="{% url 'arch_z:list' %}?stav=2&zahrnout_projektove=False&sort=datum_ukonceni&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneAkce.archivovat" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseLokality" aria-expanded="false" aria-controls="collapseLokality">
              <span class="material-icons">tour</span> {% trans "templates.baseLogedIn.sidebar.lokality" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseLokality" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'lokalita:index' %}" title="">{% trans "templates.baseLogedIn.sidebar.lokality.home" %}</a></li>
              <li><a href="{% url 'lokalita:create' %}" title="">{% trans "templates.baseLogedIn.sidebar.lokality.zapsat" %}</a></li>
              <li><a href="{% url 'lokalita:list' %}?sort=nazev" title="">{% trans "templates.baseLogedIn.sidebar.lokality.vybrat" %}</a></li>
              <li><a href="{% url 'lokalita:list' %}?historie_typ_zmeny=AZ01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.lokality.mojelokality" %}</a></li>
              {% if user.can_see_ours_item %}
                <li><a href="{% url 'lokalita:list' %}?historie_typ_zmeny=AZ01&historie_uzivatel_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.lokality.naselokality" %}</a></li>
              {% endif %}
              {% if show_lokalita_archivovat %}
              <li><a href="{% url 'lokalita:list' %}?stav=2&sort=nazev" title="">{% trans "templates.baseLogedIn.sidebar.lokality.archivovat" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSn" aria-expanded="false" aria-controls="collapseSn">
              <span class="material-icons">location_on</span> {% trans "templates.baseLogedIn.sidebar.samostatneNalezy" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseSn" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'pas:index' %}" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.home" %}</a></li>
              <li><a href="{% url 'pas:spoluprace_list' %}?sort=organizace_vedouci&sort=spolupracovnik" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.spoluprace" %}</a></li>
              <li><a href="{% url 'pas:create' %}" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.zapsat" %}</a></li>
              <li><a href="{% url 'pas:list' %}?sort=katastr&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.vybrat" %}</a></li>
              <li><a href="{% url 'pas:list' %}?historie_typ_zmeny=SN01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.mojeNalezy" %}</a></li>
              {% if show_pas_nase %}
              <li><a href="{% url 'pas:list' %}?projekt_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.naseNalezy" %}</a></li>
              {% endif %}
              {% if show_pas_potvrdit %}
              <li><a href="{% url 'pas:list' %}?stav=2&predano_organizace={{ user.organizace.id }}&sort=nalezce&sort=datum_nalezu&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.potvrdit" %}</a></li>
              {% endif %}
              {% if show_pas_archivovat %}
              <li><a href="{% url 'pas:list' %}?stav=3&sort=datum_nalezu&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.samostatneNalezy.archivovat" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse3d" aria-expanded="true" aria-controls="collapse3d">
              <span class="material-icons">3d_rotation</span> {% trans "templates.baseLogedIn.sidebar.knihovna3D" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapse3d" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'dokument:index-model-3D' %}" title="">{% trans "templates.baseLogedIn.sidebar.knihovna3D.home" %}</a></li>
              <li><a href="{% url 'dokument:create-model-3D' %}" title="">{% trans "templates.baseLogedIn.sidebar.knihovna3D.zapsat" %}</a></li>
              <li><a href="{% url 'dokument:list-model-3D' %}?sort=organizace__nazev_zkraceny&sort=autori&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.knihovna3D.vybrat" %}</a></li>
              <li><a href="{% url 'dokument:list-model-3D' %}?historie_typ_zmeny=D01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.knihovna3D.mojeModely" %}</a></li>
              {% if user.can_see_ours_item %}
                <li><a href="{% url 'dokument:list-model-3D' %}?historie_typ_zmeny=D01&historie_uzivatel_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.knihovna3D.naseModely" %}</a></li>
              {% endif %}
              {% if show_knihovna_archivovat %}
              <li><a href="{% url 'dokument:list-model-3D' %}?stav=2&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.knihovna3D.archivovat" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseDokument" aria-expanded="true" aria-controls="collapseDokument">
              <span class="material-icons">description</span> {% trans "templates.baseLogedIn.sidebar.dokumenty" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseDokument" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'dokument:index' %}" title="">{% trans "templates.baseLogedIn.sidebar.dokumenty.home" %}</a></li>
              {% if show_dokumenty_zapsat %}
              <li><a href="{% url 'dokument:zapsat' %}" title="">{% trans "templates.baseLogedIn.sidebar.dokumenty.zapsat" %}</a></li>
              {% endif %}
              <li><a href="{% url 'dokument:list' %}?sort=typ_dokumentu&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.dokumenty.vybrat" %}</a></li>
              <li><a href="{% url 'dokument:list' %}?historie_typ_zmeny=D01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.dokumenty.mojeDokumenty" %}</a></li>
              {% if user.can_see_ours_item %}
                <li><a href="{% url 'dokument:list' %}?historie_typ_zmeny=D01&historie_uzivatel_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.dokumenty.naseDokumenty" %}</a></li>
              {% endif %}
              {% if show_dokumenty_archivovat %}
              <li><a href="{% url 'dokument:list' %}?stav=2&sort=ident_cely" title="">{% trans "templates.baseLogedIn.sidebar.dokumenty.archivovat" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseEz" aria-expanded="false" aria-controls="collapseEz">
              <span class="material-icons">menu_book</span> {% trans "templates.baseLogedIn.sidebar.externiZdroje" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseEz" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'ez:index' %}" title="">{% trans "templates.baseLogedIn.sidebar.externiZdroje.home" %}</a></li>
              <li><a href="{% url 'ez:create' %}" title="">{% trans "templates.baseLogedIn.sidebar.externiZdroje.zapsat" %}</a></li>
              <li><a href="{% url 'ez:list' %}?sort=autori&sort=rok_vydani_vzniku&sort=nazev" title="">{% trans "templates.baseLogedIn.sidebar.externiZdroje.vybrat" %}</a></li>
              <li><a href="{% url 'ez:list' %}?historie_typ_zmeny=EZ01&historie_uzivatel={{ user.id }}&sort=autori&sort=rok_vydani_vzniku&sort=nazev" title="">{% trans "templates.baseLogedIn.sidebar.externiZdroje.mojeExterniZdroje" %}</a></li>
              {% if user.can_see_ours_item %}
                <li><a href="{% url 'ez:list' %}?historie_typ_zmeny=EZ01&historie_uzivatel_organizace={{ user.organizace.id }}&sort=autori&sort=rok_vydani_vzniku&sort=nazev" title="">{% trans "templates.baseLogedIn.sidebar.externiZdroje.naseExterniZdroje" %}</a></li>
              {% endif %}
              {% if show_ez_archivovat %}
              <li><a href="{% url 'ez:list' %}?stav=2&sort=autori&sort=rok_vydani_vzniku&sort=nazev" title="">{% trans "templates.baseLogedIn.sidebar.externiZdroje.archivovat" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {%if show_administrace %}
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left .btn-link.collapsed" type="button">
              <a href="/admin/" class="menu-direct-link"><span class="material-icons">settings</span> {% trans "templates.baseLogedIn.sidebar.administrace" %}</a>
            </button>
          </h2>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-expand-xl navbar-light bg-light border-bottom">
    <button class="btn btn-light mb-0 mt-0" id="sidebar-toggle"><span class="material-icons">menu_open</span></button>
    <span class="navbar-mobile-header-ident" id="navbar-mobile-header-ident">
      {% if search_sum %}
        {% trans "templates.baseLogedIn.navbar.pocetZaznamuShort" %}: {{ table.rows|length }}
      {% elif projekt %}
        <span class="navbar-mobile-header-ident-projekt">{{ projekt.ident_cely }}</span>
      {% elif app == "akce" %}
        <span class="navbar-mobile-header-ident-arch-z">{{ zaznam.ident_cely }}</span>
      {% elif app == "pr" %}
        <span class="navbar-mobile-header-ident-arch-z">{{ zaznam.ident_cely }}</span>
      {% elif app == "lokalita" %}
        <span class="navbar-mobile-header-ident-lokalita">{{ zaznam.ident_cely }}</span>
      {% elif app == "pas" %}
        <span class="navbar-mobile-header-ident-pas">{{ sn.ident_cely }}</span>
      {% elif dokument %}
        {% if not "3D" in dokument.ident_cely %}
          <span class="navbar-mobile-header-ident-dokument">{{ dokument.ident_cely }}</span>
        {% else %}
          <span class="navbar-mobile-header-ident-3d">{{ dokument.ident_cely }}</span>
        {% endif %}
      {% elif app == "ext_zdroj" %}
        <span class="navbar-mobile-header-ident-ez">{{ zaznam.ident_cely }}</span>
      {% elif typ %}
        {% if typ == "projekt" %}
          <span class="navbar-mobile-header-ident-projekt">{{ ident_cely }}</span>
        {% elif typ == "akce" %}
          <span class="navbar-mobile-header-ident-arch-z">{{ ident_cely }}</span>
        {% elif typ == "lokalita" %}
          <span class="navbar-mobile-header-ident-lokalita">{{ ident_cely }}</span>
        {% elif typ == "knihovna_3d" %}
          <span class="navbar-mobile-header-ident-3d">{{ ident_cely }}</span>
        {% elif typ == "dokument" %}
          <span class="navbar-mobile-header-ident-dokument">{{ ident_cely }}</span>
        {% elif typ == "samostatny_nalez" %}
          <span class="navbar-mobile-header-ident-projekt">{{ ident_cely }}</span>
        {% elif typ == "spoluprace" %}
          <span class="navbar-mobile-header-ident-pas">{{ ident_cely }}</span>
        {% elif typ == "ext_zdroj" %}
          <span class="navbar-mobile-header-ident-ez">{{ ident_cely }}</span>
        {% elif typ == "soubor" %}
          <span class="navbar-mobile-header-ident-file">{{ ident_cely }}</span>
        {% elif typ == "uzivatel" %}
          <span class="navbar-mobile-header-ident-user">{{ ident_cely }}</span>
        {% endif %}
      {% endif %}
    </span>
    <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile"
            aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMobile">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item d-lg-none d-xl-block">
          <span class="nav-link" rel="tooltip" data-placement="top"  title="{{ user.email }} ({{ user.hlavni_role }} - {{ user.organizace }})">
            <small>
              <strong>{% trans "templates.baseLogedIn.navbar.prihlasen" %}</strong> {{ user.ident_cely }}
            </small>
          </span>
        </li>
        <li class="nav-item app-pipe"></li>
        <li class="nav-item d-lg-none d-xl-block">
          <span class="nav-link">
            <small>
              <strong>{% trans "templates.baseLogedIn.navbar.autoLogoutTime" %}</strong> <span id="time">01:00</span>
            </small>
          </span>
        </li>
        <li class="nav-item d-none d-lg-block d-xl-none">
          <a href="#" class="nav-link" tabindex="0" data-trigger="focus" data-toggle="popover" data-placement="bottom"
            data-content="<strong>{% trans 'templates.baseLogedIn.navbar.informace.prihlasen' %}</strong> {{ user.email }} ({{ user.hlavni_role }} - {{ user.organizace }})">
            <span class="material-icons">info</span>
            {% trans "templates.baseLogedIn.navbar.informace" %}
          </a>
        </li>
        <li class="nav-item app-pipe"></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'uzivatel:update-uzivatel' %}" rel="tooltip" data-placement="top" title="{% trans 'templates.baseLogedIn.navbar.uzivatel.title' %}">
            <span class="material-icons">person</span>
            <span>{% trans "templates.baseLogedIn.navbar.uzivatel" %}</span>
          </a>
        </li>
        <li class="nav-item app-logout">
          <form action="{% url 'logout' %}" id="logout-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="logout_type" id="logout_type"  value="" />
            <input type="hidden" name="next" id="next" value="" />
            <button type="submit" class="nav-link">
              <span class="material-icons">logout</span>
               {% trans "templates.baseLogedIn.navbar.odhlasit" %} 
            </button>
          </form>
        </li>
        <li class="nav-item app-pipe"></li>
        <li class="nav-item app-flags">
          {% get_current_language as LANGUAGE_CODE %}
          <button id="czech" class="nav-link {% if "cs" in LANGUAGE_CODE  %}app-active{% endif %}" >
            <img src="{% static 'flag-cs.svg' %}" alt="" class="app-flag" />
          </button>
          <button id="english" class="nav-link {% if "en" in LANGUAGE_CODE %}app-active{% endif %}">
            <img src="{% static 'flag-en.svg' %}" alt="" class="app-flag" />
          </button>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block modal-form %}
  <div class="modal fade app-modal-form" tabindex="-1" role="dialog" id="modal-form">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content form" id="id-modal-content"></div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <footer class="text-lg-start">
    <div class="d-lg-flex justify-content-lg-between p-3 app-footer-wrapper">
      <div>
        <a href="#" class="text-uppercase" data-toggle="modal" data-target="#footerLicence">{% trans "templates.baseLogedIn.footer.licence" %}</a><span class="app-pipe"></span><!--
        --><a href="#" class="text-uppercase" data-toggle="modal" data-target="#footerKontakt">{% trans "templates.baseLogedIn.footer.kontakt" %}</a><span class="app-pipe"></span><!--
        --><a href="#" class="text-uppercase" data-toggle="modal" data-target="#footerPartneri">{% trans "templates.baseLogedIn.footer.partneri" %}</a><span class="app-pipe"></span><!--
        --><a href="https://amcr-help.aiscr.cz/" class="text-uppercase" target="_blank">{% trans "templates.baseLogedIn.footer.napoveda" %}</a>
      </div>
      <div>
        <small>
          {% trans "templates.baseLogedIn.footer.copyright" %}<span class="app-pipe"></span>{% trans "templates.baseLogedIn.footer.verze" %}: 1.0.0
        </small>
      </div>
    </div>
  </footer>

  {% include "footer_licence.html" %}
  {% include "footer_kontakt.html" %}
  {% include "footer_partneri.html" %}
{% endblock %}

{% block script_sidebar %}
  <script>
    $("#sidebar-toggle").click(function (e) {
      if (typeof map !== 'undefined') {
          try {
              setTimeout(function () {
                  map.invalidateSize()
              }, 400);
          } catch (error) {/*No need for console.log()*/
          }
      }
      e.preventDefault();
      $("#app-wrapper").toggleClass("toggled");
    });
    $('[rel="tooltip"]').tooltip({
      container : '#app-page-wrapper',
      html : true,
    });
    $('[data-toggle="popover"]').popover({
      html : true
    });
  </script>
  <script>

      const update_map_scale_padding = () => {
          const leaflet_query = document.getElementsByClassName("leaflet-container");
          if (leaflet_query.length > 0){
              const leaflet = leaflet_query[0];
              const control_panel = leaflet.querySelector(".leaflet-top.leaflet-left");
              const control_panel_height = control_panel.offsetHeight;
              const leaflet_height =  leaflet.offsetHeight;
              const scale_panel = leaflet.querySelector(".leaflet-bottom.leaflet-left");
              const scale_panel_height = scale_panel.offsetHeight;
              if (leaflet_height < control_panel_height + scale_panel_height) {
                  scale_panel.style.paddingLeft = "60px";
              }
          }
      }
      // Open sidebar based on the url i am viewing
      $(document).ready(function () {
          if ((window.location.href.indexOf("projekt") > -1) && (window.location.href.indexOf("projektove") <= -1)
              && (window.location.href.indexOf("projekt_organizace") <= -1)) {
              $('#collapseProjekty').collapse('show')
          } else if (window.location.href.indexOf("model") > -1) {
              $('#collapse3d').collapse('show')
          } else if (window.location.href.indexOf("pas") > -1) {
              $('#collapseSn').collapse('show')
          } else if (window.location.href.indexOf("dokument") > -1) {
            $('#collapseDokument').collapse('show')
          } else if (window.location.href.indexOf("akce") > -1) {
            $('#collapseAkce').collapse('show')
          } else if (window.location.href.indexOf("lokalita") > -1) {
            $('#collapseLokality').collapse('show')
          } else if (window.location.href.indexOf("ext-zdroj") > -1) {
            $('#collapseEz').collapse('show')
          }
          update_map_scale_padding();
      });

</script>
<script src="{% static '/js/create_message.js' %}"></script>
<script>
  // for autologout functionality timer and messages
    var time = {% if seconds_until_idle_end %} {{ seconds_until_idle_end|unlocalize }} {% else %} 60 * 60 {% endif %};
    var maintenance = "{{ maintenance }}"
    var timer = new Timer();
    var interval = null;
    let document_title = document.title;

  const change_class_list = (sideber_shown) => {
      if (sideber_shown) {
          document.querySelectorAll('.app-alert-floating-file-upload').forEach(element => {
              element.classList.remove('app-alert-floating-file-upload-no-left-bar');
          });
      } else {
          document.querySelectorAll('.app-alert-floating-file-upload').forEach(element => {
              element.classList.add('app-alert-floating-file-upload-no-left-bar');
          });
      }
  }

    const sidebar_toggle = document.getElementById("sidebar-toggle");
    sidebar_toggle.addEventListener("click", (e) => {
        const width = screen.width;
        const app_wrapper = document.getElementById("app-sidebar-wrapper");
        const style = window.getComputedStyle(app_wrapper) || app_wrapper.currentStyle;
        const margin_left = style.marginLeft;
        const sideber_shown = margin_left === "-300px";
        const navbar_toggler = document.getElementById("navbar-toggler");
        const navbar_mobile_header_ident = document.getElementById("navbar-mobile-header-ident");
        if (width < 600 && sideber_shown) {
            navbar_toggler.style.display = "none";
            navbar_mobile_header_ident.style.display = "none";
        } else {
            navbar_toggler.style.display = null;
            navbar_mobile_header_ident.style.display = null;
        }
        change_class_list(sideber_shown);
    });

    document.head = document.head || document.getElementsByTagName('head')[0];

    var fav_not = "{%  static '/loga/favicon-dot.png' %}"
    var fav = "{%  static '/loga/favicon.png' %}"
    function changeFavicon(src) {
      var link = document.createElement('link'),
      oldLink = document.getElementById('dynamic-favicon');
      link.id = 'dynamic-favicon';
      link.rel = 'shortcut icon';
      link.href = src;
      if (oldLink) {
        document.head.removeChild(oldLink);
      }
      document.head.appendChild(link);
    }
    function startNotify(src) {
      changeFavicon(src)
      let period_count = 1;
      interval = setInterval(function() {
        if ((period_count % 2 )== 1){
          document.title = '\u200E';
        }
        else {
          document.title = document_title; 
        }
        period_count = period_count + 1
      }, 1000); 
      notifyShown = true
    }
    function stopNotify(src){
      changeFavicon(src);
      clearInterval(interval);
      document.title = document_title;
      notifyShown = false
    }
    var notifyShown = false
    
    timer.start({countdown: true, startValues: {seconds: time}});
    $('#time').html(timer.getTimeValues().toString(['minutes', 'seconds']));
    
    timer.addEventListener('secondsUpdated', function (e) {
      var actual_time = timer.getTimeValues().toString(['minutes', 'seconds']).padStart(5,"0")
      $('#time').html(actual_time);
      var idle_warning = {% if IDLE_WARNING_TIME %} '{{IDLE_WARNING_TIME}}' {%else%} false {% endif%};
      if (idle_warning !== false) {
        if (timer.getTotalTimeValues().seconds <= idle_warning && notifyShown === false) { 
          startNotify(fav_not)               
          createMessage("warning",({% get_message logout_warning_text %}), 'True','True','False')
        };
      };
    });
  function logoutFunction(param) {
    for (const key in param) {
      if (param.hasOwnProperty(key)) {
        if (key == 'next' || key == 'logout_type'){
          document.getElementById(key).value = param[key]
        }
      }
    }
    document.getElementById('logout-form').submit();
  }
    
    function showTimeToExpire(param){
      $('#time').html(param["text"])
    }

    function callDynamicFunction(functionName, param) {
        if (typeof window[functionName] === 'function') {
            window[functionName](param);  // Call the function with a parameter
        } else {
            console.log("Function not found: " + functionName);
        }
    }

    {% if redirect_to_login_immediately %}
      timer.addEventListener('targetAchieved', function (e) {
        callDynamicFunction("{{redirect_to_login_immediately}}", {{extra_param}})
      });
    {% endif %}
    if (maintenance !== "true"){
      $('.message-container').on('click', '#prolong_btn', function () {
        $.ajax({
          type: "GET",
          url: '{% url "core:prolong_session" %}',
          dataType: 'json',
          success: function(data){
            console.log("session prolonged"+data.session_time)
            $(".app-alert-floating").alert('close');
            timer.stop();
            timer.start({countdown: true, startValues: {seconds: data.session_time}});
            $('#time').html(timer.getTimeValues().toString(['minutes', 'seconds']));
            createMessage("success",({% get_message "AUTOLOGOUT_REFRESH_SUCCESS" %}));
            stopNotify(fav) 
          },
            
          error: ()=>{
            $(".app-alert-floating").alert('close');
            createMessage("danger",({% get_message "AUTOLOGOUT_REFRESH_ERROR" %}))
            stopNotify(fav)
          }
        })
      });
    }

    const increase_ul_height = (parent_element) => {
        console.log("yes")
        console.log(parent_element)
        const li_elements = parent_element.querySelectorAll("li.select2-selection__choice");
        const select2_element = parent_element;
        console.log(select2_element)
        const select2_element_selection_rendered = parent_element.querySelector(".select2-selection__rendered")
        const select2_element_selection = parent_element.querySelector(".select2-selection");
        let element_line_width_sum = 0;
        const line_limits = [parent_element.offsetWidth - 5 - 16, parent_element.offsetWidth - 5, parent_element.offsetWidth - 5];
        let current_line = 1;
        for (const li_element of li_elements) {
            const element_width = li_element.getBoundingClientRect().width + 16;
            // Added borders, padding and margins
            element_line_width_sum += element_width;
            if (element_line_width_sum > line_limits[current_line-1]) {
                current_line++;
                element_line_width_sum = element_width;
                li_element.style.clear = "left";
            }
        }
        const rows_needed = Math.min(current_line, 3);
        let height = 1.5 * Math.min(Math.max(rows_needed, 1), 3);
        if (height > 1.5) {
            height -= 0.125
        }
        if (select2_element) {
            select2_element.style = `height: ${height}rem!important;`;
        }
        if (select2_element_selection) {
            select2_element_selection.style = `height: ${height}rem!important;`;
        }
        if (select2_element_selection_rendered) {
            select2_element_selection_rendered.style = `height: ${height}rem!important;`;
        }
    }

    const field_click = (item) => {
        const element = document.querySelector("[id^='select2-id_'][id$='results']");
        element.addEventListener("mouseup", () => {
            increase_ul_height(item);
        });
    }

    window.addEventListener("DOMContentLoaded", function() {
      $('select.select2multiple').each(function() {
        setTimeout(() => {
          if ($(this).next()[0].classList.contains("select2-container")){
            increase_ul_height($(this).next()[0]);
            $(this).on('change', function (e) {
              increase_ul_height(e.currentTarget.nextSibling);
            });
          }
          else{
            setTimeout(() => {
              increase_ul_height($(this).next()[0]);
              $(this).on('change', function (e) {
                increase_ul_height(e.currentTarget.nextSibling);
              });
            }, 2000);
          }
        }, 1000);
      })
      $('select.modelselect2multiple').each(function() {
        setTimeout(() => {
          if ($(this).next()[0].classList.contains("select2-container")){
            increase_ul_height($(this).next()[0]);
            $(this).on('change', function (e) {
              increase_ul_height(e.currentTarget.nextSibling);
            });
          }
          else{
            setTimeout(() => {
              increase_ul_height($(this).next()[0]);
              $(this).on('change', function (e) {
                increase_ul_height(e.currentTarget.nextSibling);
              });
            }, 2000);
          }
        }, 1000);
      })
    })

  $('.selectpicker.form-control').on('show.bs.select', function () {
      const closestDiv = $(this).closest('.content-with-table-responsive');
      if (closestDiv.length) {
          closestDiv.css('overflow', 'visible');
      }
  });
  $('.selectpicker.form-control').on('hide.bs.select', function () {
      const closestDiv = $(this).closest('.content-with-table-responsive');
      if (closestDiv.length) {
          closestDiv.css('overflow', 'scroll');
      }
  });

</script>
{% endblock %}
