{% load compress %}
{% load static %}
{% load template_filters %}
{% load i18n %}
{% load template_tags%}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2CPY6QG01L"></script>
  <script>

  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'icons/bootstrap-icons-1.5.0/bootstrap-icons.css' %}">
  {% compress css %}
  <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
  {% if user.is_authenticated and request.path != '/oznameni/' and '/accounts' not in request.path %}
  {% compress css %}
  <link type="text/x-scss" href="{% static 'scss/_app-sidebar.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
  {% endif %}
  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Bootstrap select -->
  <link rel="stylesheet"
        href="{% static 'js/bootstrap-select1.14.0-beta3/bootstrap-select.min.css' %}">
  <script src="{% static 'js/bootstrap-select1.14.0-beta3/bootstrap-select.js' %}"></script>
  <!-- Bootstrap datepicker -->
  <link rel="stylesheet"
        href="{% static 'js/bootstrap-datepicker1.10.0/bootstrap-datepicker.min.css' %}"/>
  <script src="{% static 'js/bootstrap-datepicker1.10.0/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/datepicker-scroll-fix.js' %}"></script>
  {% get_current_language as LANGUAGE_CODE %}
  {% if "en" in LANGUAGE_CODE %}
  <script src="{% static 'js/selectpicker-en.js' %}"></script>
  {% else %}
  <script src="{% static 'js/selectpicker-cs.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/datepicker-cs.js' %}"></script>
  <script src="{% static 'js/pridani_title_pro_disabled.js' %}"></script>
  <script src="{% static 'js/timer.js' %}"></script>
  <script src="{% static 'js/modal_forms_class.js' %}"></script>
  <script src="{% static 'js/submit_button.js' %}"></script>
  <link rel="shortcut icon" id="dynamic-favicon" href="{%  static 'loga/favicon.png' %}">
  <!-- Map imports -->
  <link rel="stylesheet" href="{% static 'js/Leaflet1.9.4/leaflet.css' %}"/>
    <script src="{% static 'js/Leaflet1.9.4/leaflet.js' %}"></script>
    </script>
  <script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
  <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
  <!--Leaflet FullScreen-->
  <script src='{% static 'js/Leaflet.fullscreen1.0.1/Leaflet.fullscreen.min.js' %}'></script>
  <link href='{% static 'js/Leaflet.fullscreen1.0.1/leaflet.fullscreen.css' %}'rel='stylesheet'/>
  <!-- static leaflet additional import-->
  <link rel="stylesheet" href="{% static 'css/leaflet.measure.css' %}" />
  <script src="{% static 'js/leaflet.measure.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet.coor.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/leaflet.coor.css' %}" />

  <link rel="stylesheet" href="{% static 'css/leaflet-search.css' %}"/>
  <script src="{% static 'js/leaflet-search.js' %}"></script>
  <title>{% block title %}{% endblock %}</title>
  {% include "cookie_panel.html" %}
  <style>
    @font-face {
      font-family: 'museo';
      src: url('static/fonts/museo300-regular-webfont.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
        font-family: 'museo';
        src: url({% static "fonts/museo500-regular-webfont.ttf" %}) format('truetype');
        font-style: normal;
    }
    @font-face {
      font-family: 'museo';
      src: url({% static "fonts/museo700-regular-webfont.ttf" %}) format('truetype');
      font-weight: 700;
      font-style: normal;
    }
  </style>
  {% block head %}{% endblock %}
</head>
<body class="{{ request.path|url_to_classes }}">
  
  <div class="d-flex" id="app-wrapper">
  {% block sidebar %}{% endblock %}
  <div id="app-page-wrapper">
    {% block infobar%}
    {% get_test_env as test_env %}
    {% if test_env %}
      <div class="test-version">
        <p>{% trans "base.testing_env.text" %}</p>
      </div>
      <div class="test-version-mobile">
        <p>{% trans "base.testing_env.text_mobile" %}</p>
      </div>
      {% endif %}
      {% get_maintenance as action %}
      {% if action %}
      <div class="maintenance">
        <p class="d-block px-3 py-2 text-center text-bold text-white old-bv">{% trans "base.odstavka.text" %}</p>
      </div>
      {% endif %}
    {% endblock%}
    {% block navbar %}{% endblock %}

    <div
        class="container-fluid {% if user.is_authenticated and request.path != '/oznameni/' and '/accounts/' not in request.path %}app-content-wrapper{% endif %}">
      {% block content %}{% endblock %}
    </div>
  
    <div class="message-container">
      {% for message in messages %}
        <div class="alert alert-{% if message.tags == "notclosing warning" %}warning notclosing{% elif message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show app-alert-floating" role="alert" style="top: {%  message_top forloop.counter0 %}px">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      {% endfor %}
      </div>

    {% block modal-form %}{%endblock%}

    {% block footer %}{% endblock %}
  </div>
</div>

{% block script_sidebar %}{% endblock %}

  <script>
      $(document).ready(function () {
        $(".dateinput").not(".date_roky").datepicker({
          format: "d.m.yyyy",
          language: 'cs',
          todayHighlight: true,
          endDate: new Date(2100,12,31)
      })
        $(".date_roky").datepicker({
          format: "yyyy",
          viewMode: "years",
            minViewMode: "years",
          language: 'cs',
          todayHighlight: true,
          endDate: new Date(2100,12,31)
      })
    })

      $(".app-alert-floating").not(".notclosing").delay(5000).slideUp(200, function () {
        $(this).alert('close');
      });
      const checkUserAuthentication = () => {
          fetch(window.location.origin + "{% url 'core:check_authentication' %}")
              .then(response => {
                  if (response.ok) {
                      return response.json();
                  }
                  throw new Error("{% trans "base.authentication_check.network_error" %}");
              })
              .then(data => {
                  if (data.is_authenticated) {
                      const currentUrl = new URL(window.location.href);
                      const nextPath = currentUrl.searchParams.get("next");
                      if (nextPath && window.location.href.toLowerCase().includes("accounts/login")) {
                          window.location.href = `${window.location.protocol}//${window.location.host}${nextPath}`;
                      }
                  }
              })
              .catch(error => console.error("{% trans "base.authentication_check.error" %}", error));
      };
      {% if not user.is_authenticated %}
          setInterval(checkUserAuthentication, 60000);
          window.addEventListener('focus', function() {
              checkUserAuthentication();
          });
      {% else %}
          setTimeout(checkUserAuthentication,10);
      {% endif %}
  </script>
  <script>
    $('#english').click(function(){
      this.disabled=true;
      $('#czech').attr("disabled", "disabled"); 
      $.ajax({
        beforeSend: function (xhr){ 
          xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded; charset=UTF-8");
          xhr.setRequestHeader("Accept","application/json");
        }, 
        type: "POST",
        url: "{% url 'set_language' %}",
        data: {'language': 'en', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(response) {
             location.reload();
         },
         error: function(rs, e) {
                alert(e);
         }
   });
    });
    $('#czech').click(function(){
      this.disabled=true;
      $('#english').attr("disabled", "disabled"); 
      $.ajax({
        beforeSend: function (xhr){ 
          xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded; charset=UTF-8");
          xhr.setRequestHeader("Accept","application/json");
        }, 
        type: "POST",
        url: "{% url 'set_language' %}",
        data: {'language': 'cs', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(response) {
             location.reload();
         },
         error: function(rs, e) {
                alert(e);
         }
   });
    });

  </script>

{% block script %}
{% endblock %}
{% block script2 %}
{% endblock %}
</body>
</html>
