{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load static %}

{% block sidebar %}
  <!-- {% compress css %}
    <link type="text/x-scss" href="{% static '_app-sidebar.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %} -->
  <div id="app-sidebar-wrapper">
    <div class="app-sidebar-heading">
      <a href="/" title="{% trans 'Domů' %}">
        <img src="{% static 'logo-am-cs.png' %}" alt="{% trans 'Archeologická mapa České republiky' %}" />
      </a>
    </div>
    <div class="accordion" id="accordionSidebar">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseProjekty" aria-expanded="false" aria-controls="collapseProjekty">
              <span class="material-icons">dynamic_feed</span> {% trans "Projekty" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseProjekty" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'projekt:index' %}">{% trans "Domů" %}</a></li>
              <li><a href="{% url 'projekt:create' %}">{% trans "Zapsat" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_OZNAMENY}}">{% trans "Schválit oznámení" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAPSANY}}">{% trans "Přihlásit projekt" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_PRIHLASENY}}&organizace={{ user.organizace.id }}">{% trans "Zahájit výzkum" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&organizace={{ user.organizace.id }}">{% trans "Ukončit terén" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}&organizace={{ user.organizace.id }}">{% trans "Spravovat akce" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}&organizace={{ user.organizace.id }}">{% trans "Uzavřít projekt" %}</a></li>
              <li><a href="{% url 'projekt:list' %}">{% trans "Vybrat projekty" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?organizace={{user.organizace.id}}">{% trans "Naše projekty" %}</a></li>
              <li><a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_UZAVRENY}}&organizace={{ user.organizace.id }}">{% trans "Archivovat projekty" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse3d" aria-expanded="true" aria-controls="collapse3d">
              <span class="material-icons">3d_rotation</span> {% trans "Knihovna 3D" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapse3d" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'dokument:index-model-3D' %}" title="">{% trans "Domů" %}</a></li>
              <li><a href="{% url 'dokument:create-model-3D' %}" title="">{% trans "Zapsat" %}</a></li>
              <li><a href="{% url 'dokument:list-model-3D' %}?vlastnik={{ user.id }}" title="">{% trans "Moje modely" %}</a></li>
              <li><a href="{% url 'dokument:list-model-3D' %}" title="">{% trans "Vybrat" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSn" aria-expanded="false" aria-controls="collapseSn">
              <span class="material-icons">location_on</span> {% trans "Samostatné nálezy" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseSn" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="{% url 'pas:index' %}" title="">{% trans "Domů" %}</a></li>
              <li><a href="{% url 'pas:create' %}" title="">{% trans "Zapsat" %}</a></li>
              <li><a href="{% url 'pas:list' %}?vlastnik={{ user.id }}" title="">{% trans "Moje nálezy" %}</a></li>
              <li><a href="{% url 'pas:list' %}" title="">{% trans "Vybrat" %}</a></li>
              <li><a href="{% url 'pas:spoluprace_list' %}" title="">{% trans "Spolupráce" %}</a></li>
              <li><a href="{% url 'pas:list' %}?stav=2&predano_organizace={{ user.organizace.id }}" title="">{% trans "Potvrdit" %}</a></li>
              <li><a href="{% url 'pas:list' %}?stav=3" title="">{% trans "Archivovat" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
              <span class="material-icons">settings</span> {% trans "Administrace" %}
              <span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </h2>
        </div>
        <div id="collapseAdmin" class="collapse" data-parent="#accordionSidebar">
          <div class="card-body">
            <ul>
              <li><a href="/admin/uzivatel/user/" title="">{% trans "Uživatelé" %}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-light" id="sidebar-toggle"><span class="material-icons">menu_open</span></button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile"
            aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMobile">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item d-lg-none d-xl-block">
          <span class="nav-link">
            <small>
              <strong>{% trans "Přihlášen" %}:</strong> {{ user.email }} ({{ user.hlavni_role }} - {{ user.organizace }})
            </small>
          </span>
        </li>
        <li class="nav-item d-none d-lg-block d-xl-none">
          <a href="#" class="nav-link" tabindex="0" data-trigger="focus" data-toggle="popover" data-placement="bottom"
            data-content="<strong>{% trans 'Přihlášen' %}:</strong> {{ user.email }} ({{ user.hlavni_role }} - {{ user.organizace }})">
            <span class="material-icons">info</span>
            {% trans "Informace" %}
          </a>
        </li>
        <li class="nav-item app-pipe"></li>
        <li class="nav-item">
          <a class="nav-link" href="#" rel="tooltip" data-placement="top" title="{% trans 'Informace o uživateli' %}">
            <span class="material-icons">person</span>
            <span>{% trans "Uživatel" %}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" rel="tooltip" data-placement="top" title="{% trans 'Odhlásit' %}">
            <span class="material-icons">logout</span>
            {% trans "Odhlásit" %}
          </a>
        </li>
        <li class="nav-item app-pipe"></li>
        <li class="nav-item app-flags">
          <a class="nav-link app-active" href="#">
            <img src="{% static 'flag-cs.svg' %}" alt="" class="app-flag" />
          </a>
          <a class="nav-link" href="#">
            <img src="{% static 'flag-en.svg' %}" alt="" class="app-flag" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block footer %}
  <footer class="text-lg-start">
    <div class="d-flex justify-content-between p-3 app-footer-wrapper">
      <div>
        <a href="#" class="text-uppercase" data-toggle="modal" data-target="#footerLicence">{% trans "Licence" %}</a><span class="app-pipe"></span><!--
        --><a href="#" class="text-uppercase" data-toggle="modal" data-target="#footerKontakt">{% trans "Kontakt" %}</a><span class="app-pipe"></span><!--
        --><a href="#" class="text-uppercase" data-toggle="modal" data-target="#footerPartneri">{% trans "Partneři" %}</a>
      </div>
      <div>
        <small>
          © 2021 Copyright
          <a class="text-dark" href="https://mdbootstrap.com/">AMČR</a><span class="app-pipe"></span>Verze: 1.0.0
        </small>
      </div>
    </div>
  </footer>

  {% include "footer_licence.html" %}
  {% include "footer_kontakt.html" %}
  {% include "footer_partneri.html" %}
{% endblock %}

{% block script_sidebar %}
  <script>
    $("#sidebar-toggle").click(function (e) {
      e.preventDefault();
      $("#app-wrapper").toggleClass("toggled");
    });
    $('[rel="tooltip"]').tooltip({
      container : 'body',
      html : true
    });
    $('[data-toggle="popover"]').popover({
      html : true
    });
  </script>

  <script>
      // Open sidebar based on the url i am viewing
      $(document).ready(function () {
          if (window.location.href.indexOf("projekt") > -1) {
              $('#collapseProjekty').collapse('show')
          } else if (window.location.href.indexOf("model") > -1) {
              $('#collapse3d').collapse('show')
          } else if (window.location.href.indexOf("pas") > -1) {
              $('#collapseSn').collapse('show')
          }
      });

  </script>

{% endblock %}
