{% load i18n %}

<div class="modal fade app-modal-kontakt" id="footerKontakt" tabindex="-1" aria-labelledby="footerKontaktlLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Kontakt" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans "Správa dat, uživatelů a podpora pro oblast Čech" %}<br />
        {% trans "Archeologický ústav AV ČR, Praha, v. v. i." %}<br />
        <a href="mailto:amcr@arup.cas.cz" title="{% trans 'Napište nám' %}">amcr@arup.cas.cz</a>
        <hr />
        {% trans "Správa dat, uživatelů a podpora pro oblast Moravy a Slezska (vč. kraje Vysočina)" %}<br />
        {% trans "Archeologický ústav AV ČR, Brno, v. v. i." %}<br />
        <a href="mailto:amcr@arub.cz" title="{% trans 'Napište nám' %}">amcr@arub.cz</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Zavřít" %}</button>
      </div>
    </div>
  </div>
</div>