{% load i18n %}

<div class="modal fade app-modal-kontakt" id="footerKontakt" tabindex="-1" aria-labelledby="footerKontaktlLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "templates.footerKontakt.title" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans "templates.footerKontakt.part1" %}<br />
        {% trans "templates.footerKontakt.part2" %}<br />
        <a href="mailto:amcr@arup.cas.cz" title="{% trans 'templates.footerKontakt.mailCas.title' %}">amcr@arup.cas.cz</a>
        <hr />
        {% trans "templates.footerKontakt.part3" %}<br />
        {% trans "templates.footerKontakt.part4" %}<br />
        <a href="mailto:amcr@arub.cz" title="{% trans 'templates.footerKontakt.mail.title' %}">amcr@arub.cz</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "templates.footerKontakt.closeButton" %}</button>
      </div>
    </div>
  </div>
</div>