{% load i18n %}

<div class="modal fade app-modal-licence" id="footerLicence" tabindex="-1" aria-labelledby="footerLicencelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "templates.footerLicence.title" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans "templates.footerLicence.part1" %}
        <a href="http://www.arup.cas.cz/" target="_blank" title="{% trans 'templates.footerLicence.arupLink.title' %}">{% trans "templates.footerLicence.arupLink" %}</a>{% trans "templates.footerLicence.part2" %}
        <a href="http://arub.avcr.cz/" target="_blank" title="{% trans 'templates.footerLicence.arubLink.title' %}">{% trans "templates.footerLicence.arubLink" %}</a>{% trans "templates.footerLicence.part3" %}
        <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" title="{% trans 'templates.footerLicence.licenceLink.title' %}">{% trans "templates.footerLicence.licenceLink" %}</a>
        {% trans "templates.footerLicence.part4" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "templates.footerLicence.closeButton" %}</button>
      </div>
    </div>
  </div>
</div>