{% load i18n %}
{% load static %}

<div class="modal fade app-modal-partneri" id="footerPartneri" tabindex="-1" aria-labelledby="footerPartnerilLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "templates.footerPartneri.title" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body app-logos mt-4">
        <a href="https://www.msmt.cz/" title="{% trans 'templates.footerPartneri.msmt.title' %}" target="_blank"><img src="{% static 'logo-EU-MSMT.jpg' %}" alt="" /></a>
        <a href="https://www.aiscr.cz/" title="{% trans 'templates.footerPartneri.aiscr.title' %}" target="_blank"><img src="{% static 'logo-aiscr.png' %}" alt="" /></a>
        <a href="https://www.arup.cas.cz/" title="{% trans 'templates.footerPartneri.arup.title' %}" target="_blank"><img src="{% static 'logo-aru.png' %}" alt="" /></a>
        <a href="https://www.arub.cz/" title="{% trans 'templates.footerPartneri.arub.title' %}" target="_blank"><img src="{% static 'logo-arub.jpg' %}" alt="" /></a>
        <a href="https://strategie.avcr.cz/" title="{% trans 'templates.footerPartneri.avcr.title' %}" target="_blank"><img src="{% static 'logo-avcr.png' %}" alt="" /></a>
        <a href="https://www.interreg-central.eu/Content.Node/VirtualArch.html" title="{% trans 'templates.footerPartneri.virtualArch.title' %}" target="_blank"><img src="{% static 'logo-interreg.png' %}" alt="" /></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "templates.footerPartneri.closeButton" %}</button>
      </div>
    </div>
  </div>
</div>
