<style>
    #projectMap {
        width: 100%;
        height: 473px;
        border-radius: 5px;
        margin: 0px !important;
        font-size: 12px;
        min-height: 350px;
    }

    .leaflet-grab {
        cursor: auto;
    }

    .leaflet-dragging .leaflet-grab {
        cursor: move;
    }

    .leaflet-right .leaflet-control {
        margin-right: 5px;
    }

    .leaflet-bottom .leaflet-control {
        margin-bottom: 5px;
    }

    #findbox {
		background: #eee;
		border-radius:.125em;
		border:2px solid #1978cf;
		box-shadow: 0 0 8px #999;
		margin-bottom: 10px;
		padding: 2px 0;
		width: 600px;
		height: 26px;
	}

</style>

<div id="projectMap"></div>
