{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load template_filters %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
  <div class="app-entity-{% if app == "spoluprace" %}samostatny_nalez{%else%}{{app}}{%endif%} app-table-list-container">
    {% include toolbar with name=toolbar_name %}

    {% if filter %}
      <form method="get" id="filter-form">
        <div class="mb-1 d-flex flex-row align-items-center justify-content-between">
          <div class="app-left">
            {% if  app == "spoluprace" and show_zadost %} <a class="btn btn-primary mb-1 mt-1" href="{% url 'pas:spoluprace_zadost' %}">{% trans 'templates.searchList.zadostOSpolupraci' %}</a> {% endif %}
            <button class="btn btn-primary collapsed mr-1 mt-1 mb-1" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-controls="collapseExample">
              <span class="material-icons mr-1">filter_alt</span>{% trans "templates.searchList.filtr.label" %}<span class="material-icons app-icon-expand">expand_more</span>
            </button>
          </div>
          <div class="app-middle text-muted search-sum-text">
            {{search_sum}}: <strong>{{ table.rows|length }}</strong>
          </div>
          <div class="app-right">
            <div class="btn-group" role="group">
              <div class="btn-group" role="group">
                <button id="btnGroupDropTable" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'templates.searchList.zobrazeniSloupcu.label' %}">
                  <span class="material-icons">table_chart</span>
                </button>
                <div class="dropdown-menu column-table-selector" aria-labelledby="btnGroupDropTable">
                  {% for column in table.columns %}
                    {% if column.attrs.td.class in table.get_column_default_show %}
                      <a class="btn-shift-column dropdown-item"
                          data-td-class="{{ column.attrs.td.class }}"
                          data-state="on"
                          {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {% endif %}
                          data-table-class-container="{{ table.uniq_table_class_name }}">
                        <img
                            src="{% static "django_tables2_column_shifter/img/check.png" %}"
                            alt="loader"
                            style="width:20px; height:20px; margin-right:5px; opacity:0.7;"
                            class="ico check"
                            id="ico_check_{{ column.name }}"
                        />
                        <img
                            src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                            alt="loader"
                            style="width:20px; height:20px; margin-right:5px; display: none; opacity:0.7;"
                            class="ico uncheck"
                            id="ico_uncheck_{{ column.name }}"
                        />
                        {{ column.header }}
                      </a>
                    {% else %}
                      <a class="btn-shift-column dropdown-item"
                          data-td-class="{{ column.attrs.td.class }}"
                          data-state="off"
                          {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {% endif %}
                          data-table-class-container="{{ table.uniq_table_class_name }}">
                        <img
                            src="{% static "django_tables2_column_shifter/img/check.png" %}"
                            alt="loader"
                            style="width:20px; height:20px; margin-right:5px; display:none; opacity:0.7;"
                            class="ico check"
                            id="ico_check_{{ column.name }}"
                        />
                        <img
                            src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                            alt="loader"
                            style="width:20px; height:20px; margin-right:5px; opacity:0.7;"
                            class="ico uncheck"
                            id="ico_uncheck_{{ column.name }}"
                        />
                        {{ column.header }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="btn-group" role="group">
                <button id="btnGroupDropDownload" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'templates.searchList.stahnout.info' %}">
                  <span class="material-icons">download</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDropDownload">
                  {% for format in export_formats %}
                    <a class="dropdown-item" data-toggle="modal" data-target="#export-progress-modal" data-url="{% export_url format %}" data-backdrop="static" data-keyboard="false">
                      {% trans "templates.searchList.stahnout.label" %} <code>.{{ format }}</code>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse mb-3" id="filter">
          <div class="card app-card-form">
            <div class="card-body">
              {% crispy filter.form filter.helper %}
              {% for value in sort_params %}
                <input type="hidden" name="sort" value="{{ value }}">
              {% endfor %}
              <button type="submit" class="btn btn-primary">
                <span class="material-icons">check</span> {{pick_text}}
              </button>
            </div>
          </div>
        </div>
      </form>
    {% endif %}
    {% render_table table 'bootstrap4_table.html' %}
    <div class="modal fade" id="soubor-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-content-xxl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <img class="modal-content" id="nahled-image">
          </div>
      </div>
    </div>
    {% include "core/export_modal.html" %}
  </div>
{% endblock %}

{% block script %}
  <script
      type="text/javascript"
      src="{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.min.js" %}">
  </script>
<script>
  $(document).ready(function(){
    $('.app-daterangepicker input').each(function() {
      $(this).datepicker({format: "d.m.yyyy",
      language: 'cs',
      todayHighlight: true,
      endDate: new Date(2100,12,31)});
  });
    // don't send empty filter
    $("form").submit(function(){
        $("input").each(function(index, obj){
            if($(obj).val() == "") {
                $(obj).remove();
            }
        });
    });
    // don't show tooltip
    $('table [rel="tooltip"]').on('click', function () {
      if (matchMedia('(pointer:fine)').matches) {
        $(this).tooltip('hide')
      }
    });
    // send change in columns shown
    const getCookie = (name) => {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          let cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              let cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    const zmen_status_sloupce = (sloupec, stav_sloupce,target) => {
      if (stav_sloupce == "off"){
        zmena = "zobraz"
        target.setAttribute("data-state","on")
      }
      else {
        zmena = "skryj"
        target.setAttribute("data-state","off")
      }
        fetch("{% url 'core:zmena_sloupcu_listu' %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "Accept": "application/json",
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "sloupec": sloupec,
                "zmena": zmena,
                "app": "{{app}}"
            })
        });
    };

    const userSelection = document.getElementsByClassName('btn-shift-column dropdown-item');

    for (let i = 0; i < userSelection.length; i++) {
        const sloupec = userSelection[i].getAttribute("data-td-class")
        userSelection[i].addEventListener('click', (e) => zmen_status_sloupce(sloupec, userSelection[i].getAttribute("data-state"),e.currentTarget));
    }
});
// show image modal
$('#soubor-modal').on('show.bs.modal', function (event) {
  const button = $(event.relatedTarget)
  const modalImg = document.getElementById("nahled-image");
  const element = document.getElementById(button[0].id);
  const fullsrc = element.dataset.fullsrc;
  modalImg.src = fullsrc;
})
$('#export-progress-modal').on('show.bs.modal', (event) => {
      const hideDownloadLink = () => {
          const downloadLink = document.getElementById('modal-confirm-download-link');
          if (downloadLink) {
              downloadLink.style.display = 'none';
          }
      }

    updateProgressBar(0);
    const triggerElement = $(event.relatedTarget);
    const url = triggerElement.data('url');
    {% if table.rows|length >= 50000 %}
        const paragraph = $("#modal-confirm-download-par");
        paragraph.next('a.source-link').remove();
        const modal_link = $('<a>')
            .attr('href', url)
            .attr('id', 'modal-confirm-download-link')
            .addClass('source-link')
            .text('{% trans "core.templates.core.export_modal.link_text" %}')
            .css({display: 'block', marginTop: '10px'})
            .on('click', function() {
                checkValue();  // Call the checkValue function
                hideDownloadLink()
            });
        paragraph.after(modal_link);
    {% endif %}
    $('#export-progress-modal').data('sourceUrl', url);
    {% if table.rows|length < 50000 %}
        const link = document.createElement('a');
        link.href = url;
        document.body.appendChild(link);
        checkValue();
        link.click();
        document.body.removeChild(link);
    {% endif %}
})

</script>
{% endblock %}
{% block script2 %}
<script>
  $(document).ready(function () { 
      const STAV_JEDEN = '{% get_value_from_heslar "projekt_stav" "zapsany" %}'
      const STAV_DVA = '{% get_value_from_heslar "az_stav" "odeslany" %}'
      setPageHeader();

      function setHeader(header) {
          document.getElementById('id-app-entity-item').innerHTML = header;
      }

      function listMatch(required, actual) {
          if (actual.length === required.length && actual.every(function (value, index) {
              return value === required[index]
          })) {
              return true;
          } else {
              return false;
          }
      }

      function hasOnlyVybrat(actualParams, actualValues) {
          if ((listMatch([], actualParams) && listMatch([], actualValues)) ||
          (listMatch(["zahrnout_projektove"], actualParams) && listMatch(["False"], actualValues))) {
              setHeader("{{hasOnlyVybrat_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyVlastnik(actualParams, actualValues) {
          if ((listMatch(['vlastnik'], actualParams) && listMatch(['{{ user.id }}'], actualValues)) ||
          (listMatch(['vlastnik',"zahrnout_projektove"], actualParams) && listMatch(['{{ user.id }}',"False"], actualValues))) {
              setHeader("{{hasOnlyVlastnik_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyArchive(actualParams, actualValues) {
          if ((listMatch(['stav'], actualParams) && listMatch([STAV_DVA], actualValues)) ||
          (listMatch(['stav',"zahrnout_projektove"], actualParams) && listMatch([STAV_DVA,"False"], actualValues))) {
              setHeader("{{hasOnlyArchive_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyPotvrdit(actualParams, actualValues) {
          if (listMatch(['stav', 'predano_organizace'], actualParams) && listMatch([STAV_JEDEN], actualValues)) {
            setHeader("{{hasOnlyPotvrdit_header}}")
              return true
          } else {
              return false
          }
      }

      function setPageHeader() {
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          const keys = Array.from(urlParams.keys());
          const values = Array.from(urlParams.values());
          if (!(hasOnlyVlastnik(keys, values) ||
                hasOnlyArchive(keys, values) ||
                hasOnlyPotvrdit(keys, [urlParams.get('stav')]) ||
                hasOnlyVybrat(keys, values)
          )) {
              setHeader("{{default_header}}")
          }
      }
  });
</script>
{% endblock %}