<div class="modal fade" id="soubor-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-content-xxl" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
      </button>
      <img class="modal-content" id="nahled-image">
    </div>
  </div>
</div>
<script>
    //Show soubory modal
    $('#soubor-modal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const modalImg = document.getElementById("nahled-image");
        modalImg.src = button.data('fullsrc');
    })
</script>