{% load i18n %}

<div class="app-toolbar">
  <div class="app-left">
    <div class="app-entity-title">
      <a href="{% url 'pas:index' %}"><span class="material-icons">brush</span> Samostatný nález</a>
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
      {{ sn.ident_cely }}
    </div>
  </div>
  {% if showcontrols %}
    <div class="app-right app-controls">
      <div class="btn-group app-entity-samostatny_nalez" role="group">
        {% if show.vratit_link %}
          <button id="pas-vratit" class="btn" type="button" name="button">
            <span class="material-icons">arrow_back</span>
            {% trans "Vrátit" %}
          </button>
        {% endif %}
        {% if show.odeslat_link %}
          <button id="pas-odeslat" class="btn" type="button" name="button">
            <span class="material-icons">send</span>
            {% trans "Odeslat" %}
          </button>
        {% endif %}
        {% if show.potvrdit_link %}
          <button id="pas-potvrdit" class="btn" type="button" name="button">
            <span class="material-icons">flag</span>
            {% trans "Potvrdit" %}
          </button>
        {% endif %}
        {% if show.archivovat_link %}
          <button id="pas-archivovat" class="btn" type="button" name="button">
            <span class="material-icons">archive</span>
            {% trans "Archivovat" %}
          </button>
        {% endif %}
        <button id="otherOptions" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Další volby" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <button id="pas-smazat" class="dropdown-item" type="button" name="button">{% trans "Smazat Nalez" %}</button>
          <a class="dropdown-item" href="{% url 'historie:pas' sn.ident_cely %}">{% trans "Historie" %}</a>
          {% if show.arch_links%}
          <a class="dropdown-item" href="{{Digi_archiv_link|add:sn.ident_cely}}" target="_blank" rel="noopener noreferrer">{% trans "pas.detail.toolbar.DalsiVolby.DigiArchivLink" %}</a>
          <a class="dropdown-item" href="{{OAPI_link_part1|add:sn.ident_cely|add:OAPI_link_part2}}" target="_blank" rel="noopener noreferrer">{% trans "pas.detail.toolbar.DalsiVolby.OAIAPI" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
