{% load i18n %}

<div class="app-toolbar">
  <div class="app-left">
    <div class="app-entity-title">
      <a href="{% url 'projekt:index' %}"><span class="material-icons">dynamic_feed</span> Projekt</a>
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
      {{ projekt.ident_cely }}
    </div>
  </div>
  {% if showcontrols %}
    <div class="app-right app-controls">
      <div class="btn-group app-entity-projekt" role="group">
        {% if show.vratit_link %}
          <button id="projekt-vratit" class="btn" type="button" name="button">
            <span class="material-icons">arrow_back</span>
            {% trans "Vrátit" %}
          </button>
        {% endif %}
        {% if show.znovu_zapsat_link %}
          <button id="projekt-vratit-navrh-zruseni" class="btn" type="button" name="button">
            <span class="material-icons">wrap_text</span>
            {% trans "Vrátit do stavu zapsán" %}
          </button>
        {% endif %}
        {% if show.navrhnout_zruseni_link %}
          <button id="projekt-navrh-zruseni" class="btn" type="button" name="button">
          <span class="material-icons">shuffle</span>
          {% trans "Navrhnout zrušení" %}
        </button>
        {% endif %}
        {% if show.zrusit_link %}
          <button id="projekt-zrusit" class="btn" type="button" name="button">
            <span class="material-icons">block</span>
            {% trans "Zrušit" %}
          </button>
        {% endif %}
        {% if show.schvalit_link %}
          <button id="projekt-schvalit" class="btn" type="button" name="button">
            <span class="material-icons">done</span>
            {% trans "Schválit" %}
          </button>
        {% endif %}
        {% if show.prihlasit_link %}
          <button id="projekt-prihlasit" class="btn" type="button" name="button">
            <span class="material-icons">login</span>
            {% trans "Přihlásit" %}
          </button>
        {% endif %}
        {% if show.zahajit_teren_link %}
          <button id="projekt-zahajit-v-terenu" class="btn" type="button" name="button">
            <span class="material-icons">outlined_flag</span>
            {% trans "Zahájit výzkum" %}
          </button>
        {% endif %}
        {% if show.ukoncit_teren_link %}
          <button id="projekt-ukoncit-v-terenu" class="btn" type="button" name="button">
            <span class="material-icons">highlight_off</span>
            {% trans "Ukončit výzkum" %}
          </button>
        {% endif %}
        {% if show.uzavrit_link %}
          <button id="projekt-uzavrit" class="btn" type="button" name="button">
            <span class="material-icons">arrow_forward</span>
            {% trans "Uzavřít" %}
          </button>
        {% endif %}
        {% if show.archivovat_link %}
          <button id="projekt-archivovat" class="btn" type="button" name="button">
            <span class="material-icons">archive</span>
            {% trans "Archivovat" %}
          </button>
        {% endif %}
        <button id="otherOptions" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Další volby" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <button id="projekt-smazat" class="dropdown-item" type="button" name="button">{% trans "Smazat projekt" %}</button>
          <a class="dropdown-item" href="#">{% trans "Tisková sestava" %}</a>
          <a class="dropdown-item" href="#">{% trans "Expertní list" %}</a>
          {% if projekt.has_oznamovatel %}
            <a class="dropdown-item" data-toggle="modal" data-target="#nove_potvrzeni">{% trans "Generovat nové potvrzení" %}</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'historie:projekt' projekt.ident_cely %}">{% trans "Historie" %}</a>
          {% if show.arch_links%}
          <a class="dropdown-item" href="{{Digi_archiv_link|add:projekt.ident_cely}}">{% trans "projekt.detail.toolbar.DalsiVolby.DigiArchivLink" %}</a>
          <a class="dropdown-item" href="{{OAPI_link_part1|add:projekt.ident_cely|add:OAPI_link_part2}}">{% trans "projekt.detail.toolbar.DalsiVolby.OAIAPI" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
