{% load i18n %}

<div class="app-toolbar">
  <div class="app-left">
    <div class="app-entity-title">
      <a href="{% url 'pas:index' %}"><span class="material-icons">brush</span> Samostatný nález</a>
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
      {{ sn.ident_cely }}
    </div>
  </div>
  {% if showcontrols %}
    <div class="app-right app-controls">
      <div class="btn-group app-entity-samostatny_nalez" role="group">
        {% if show.vratit_link %}
          <a href="{% url 'pas:vratit' sn.ident_cely %}" class="btn">
            <span class="material-icons">arrow_back</span>
            {% trans "Vrátit" %}
          </a>
        {% endif %}
        {% if show.odeslat_link %}
          <a href="{% url 'pas:odeslat' sn.ident_cely %}" class="btn">
            <span class="material-icons">flag</span>
            {% trans "Odeslat" %}
          </a>
        {% endif %}
        {% if show.potvrdit_link %}
          <a href="{% url 'pas:potvrdit' sn.ident_cely %}" class="btn">
            <span class="material-icons">flag</span>
            {% trans "Potvrdit" %}
          </a>
        {% endif %}
        {% if show.archivovat_link %}
          <a href="{% url 'pas:archivovat' sn.ident_cely %}" class="btn">
            <span class="material-icons">archive</span>
            {% trans "Archivovat" %}
          </a>
        {% endif %}
        <button id="otherOptions" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Další volby" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <a class="dropdown-item" href="{% url 'pas:smazat' sn.ident_cely %}">{% trans "Smazat nález" %}</a>
          <a class="dropdown-item" href="{% url 'historie:pas' sn.ident_cely %}">{% trans "Historie" %}</a>
          {% if show.arch_links%}
          <a class="dropdown-item" href="{{'https://digiarchiv.aiscr.cz/id/'|add:sn.ident_cely}}">{% trans "pas.detail.toolbar.DalsiVolby.DigiArchivLink" %}</a>
          <a class="dropdown-item" href="{{'https://api.aiscr.cz/dapro/oai?verb=GetRecord&identifier=https://api.aiscr.cz/id/'|add:sn.ident_cely|add:'&metadataPrefix=oai_amcr'}}">{% trans "pas.detail.toolbar.DalsiVolby.OAIAPI" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
