{% load i18n %}

<div class="app-toolbar">
  <div class="app-left">
    <div class="app-entity-title">
      {% if is_3d %}
      <a href="{% url 'dokument:index-model-3D' %}"><span class="material-icons">brush</span> Knihovna 3D</a>
      {% else %}
      <a href="#"><span class="material-icons">brush</span> Dokument</a>
      {% endif %}
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
      {{ d.ident_cely }}
    </div>
  </div>
  {% if showcontrols %}
    <div class="app-right app-controls">
      <div class="btn-group app-entity-knihovna_3d" role="group">
        {% if show.vratit_link %}
          <a href="{% url 'dokument:vratit' d.ident_cely %}" class="btn">
            <span class="material-icons">arrow_back</span>
            {% trans "Vrátit" %}
          </a>
        {% endif %}
        {% if show.odeslat_link %}
          <a href="{% url 'dokument:odeslat' d.ident_cely %}" class="btn">
            <span class="material-icons">flag</span>
            {% trans "Odeslat" %}
          </a>
        {% endif %}
        {% if show.archivovat_link %}
          <a href="{% url 'dokument:archivovat' d.ident_cely %}" class="btn">
            <span class="material-icons">archive</span>
            {% trans "Archivovat" %}
          </a>
        {% endif %}
        <button id="otherOptions" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Další volby" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <a class="dropdown-item" href="{% url 'dokument:smazat' d.ident_cely %}">{% trans "Smazat dokument" %}</a>
          <a class="dropdown-item" href="{% url 'historie:dokument' d.ident_cely %}">{% trans "Historie" %}</a>
          {% if show.arch_links%}
          <a class="dropdown-item" href="{{'https://digiarchiv.aiscr.cz/id/'|add:d.ident_cely}}">{% trans "dokument.detail.toolbar.DalsiVolby.DigiArchivLink" %}</a>
          <a class="dropdown-item" href="{{'https://api.aiscr.cz/dapro/oai?verb=GetRecord&identifier=https://api.aiscr.cz/id/'|add:d.ident_cely|add:'&metadataPrefix=oai_amcr'}}">{% trans "dokument.detail.toolbar.DalsiVolby.OAIAPI" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
