{% load i18n %}

<div class="app-toolbar {% if showcontrols %}mb-0{% else %}mb-2{% endif %}">
  <div class="app-left">
    <div class="app-entity-title">
      <a href="{% url 'ez:index' %}"><span class="material-icons">menu_book</span><span class="app-controls-button-text"> {{toolbar_name}}</span></a>
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
      {{zaznam.ident_cely}}
    </div>
  </div>
  {% if showcontrols %}
    <div class="app-right app-controls">
      <div class="btn-group app-entity-akce" role="group">
        {% if show.vratit_link %}
          <button id="ez-vratit" class="btn m-0" type="button" name="button">
            <span class="material-icons">arrow_back</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarExterniZdroj.vratit.label" %}</span>
          </button>
        {% endif %}
        {% if show.odeslat_link %}
          <button id="ez-odeslat" class="btn m-0" type="button" name="button">
            <span class="material-icons">send</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarExterniZdroj.odeslat.label" %}</span>
          </button>
        {% endif %}
        {% if show.potvrdit_link %}
          <button id="ez-potvrdit" class="btn m-0" type="button" name="button">
            <span class="material-icons">flag</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarExterniZdroj.potvrdit.label" %}</span>
          </button>
        {% endif %}
        <button id="otherOptions" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="app-controls-other-menu-icon"><span class="material-icons">more_vert</span></span>
          <span class="app-controls-button-text">{% trans "templates.toolbarExterniZdroj.dalsiVolby.label" %}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <a class="dropdown-item" href="{% url 'historie:ez' zaznam.ident_cely %}">{% trans "templates.toolbarExterniZdroj.historie.label" %}</a>
          {% if show.smazat %}
          <button id="ez-smazat" class="dropdown-item" type="button" name="button">{% trans "templates.toolbarExterniZdroj.smazat.label" %}</button>
          {% endif %}
          {% if show.arch_links%}
          <a class="dropdown-item" href="{{Digi_archiv_link|add:zaznam.ident_cely}}" target="_blank" rel="noopener noreferrer">{% trans "templates.toolbarExterniZdroj.digiArchivLink.label" %}</a>          
          {% endif %}
          <a class="dropdown-item" href="{{OAPI_link|add:zaznam.ident_cely}}" target="_blank" rel="noopener noreferrer">{% trans "templates.toolbarExterniZdroj.OAIAPI.label" %}</a>
          {% if show.stahnout_metadata%}
          <a class="dropdown-item" href="{% url 'core:stahnout_metadata' 'externi_zdroj' zaznam.ident_cely %}">{% trans "templates.toolbarExterniZdroj.metadataDownload.label" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
