{% load i18n %}

<div class="app-toolbar {% if showcontrols %}mb-0{% else %}mb-2{% endif %}">
  <div class="app-left">
    <div class="app-entity-title">
      <a href="{% if type == "lokalita" %}{% url 'lokalita:index' %}{% else %}{% url 'arch_z:index' %}{% endif %}"><span class="material-icons">{% if toolbar_icon %}{{ toolbar_icon }}{% else %}{% if type == "lokalita" %}tour{% else %}brush{% endif %}{% endif %}</span><span class="app-controls-button-text"> {{toolbar_name}}</span></a>
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
      {% if toolbar_label %}{{toolbar_label}}{%endif%}
      {{ zaznam.ident_cely }}{% if showbackdetail and app == "pr" %}<span class="app-pipe"></span><a href="{% url 'projekt:detail' zaznam.akce.projekt.ident_cely %}" class="app-entity-color font-weight-normal">{% trans "templates.toolbarAkce.backToProjekt.label" %}</a>{% endif %}
    </div>
  </div>
  {% if showcontrols %}
    <div class="app-right app-controls">
      <div class="btn-group app-entity-akce" role="group">
        {% if show.vratit_link %}
          <button id="{{type}}-vratit" class="btn m-0" type="button" name="button">
            <span class="material-icons">arrow_back</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarAkce.vratit.label" %}</span>
          </button>
        {% endif %}
        {% if show.odeslat_link %}
          <button id="{{type}}-odeslat" class="btn m-0" type="button" name="button">
            <span class="material-icons">send</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarAkce.odeslat.label" %}</span>
          </button>
        {% endif %}
        {% if show.archivovat_link %}
          <button id="{{type}}-archivovat" class="btn m-0" type="button" name="button">
            <span class="material-icons">archive</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarAkce.archivovat.label" %}</span>
          </button>
        {% endif %}
        <button id="otherOptions" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="app-controls-other-menu-icon"><span class="material-icons">more_vert</span></span>
          <span class="app-controls-button-text">{% trans "templates.toolbarAkce.dalsiVolby.label" %}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <a class="dropdown-item" href="{% url 'historie:'|add:type zaznam.ident_cely %}">{% trans "templates.toolbarAkce.historie.label" %}</a>
          {% if show.smazat %}
          <button id="{{type}}-smazat" class="dropdown-item" type="button" name="button">{% trans "templates.toolbarAkce.smazatAkci.label" %}</button>
          {% endif %}
          {% if show.zmenit_proj_akci %}
          <button id="arch_z-proj-akce-change" class="dropdown-item" type="button" name="button">{% trans "templates.toolbarAkce.zmenitNaSamostatnou.label" %}</button>
          {% endif %}
          {% if show.zmenit_sam_akci %}
          <button id="arch_z-sam-akce-change" class="dropdown-item" type="button" name="button">{% trans "templates.toolbarAkce.zmenitNaProjektovou.label" %}</button>
          {% endif %}
          {% if show.arch_links%}
          <a class="dropdown-item" href="{{Digi_archiv_link|add:zaznam.ident_cely}}" target="_blank" rel="noopener noreferrer">{{digi_archiv_label}}</a>          
          {% endif %}
          <a class="dropdown-item" href="{{OAPI_link|add:zaznam.ident_cely}}" target="_blank" rel="noopener noreferrer">{{oaiapi_label}}</a>
          {% if show.stahnout_metadata %}
          <a class="dropdown-item" href="{% url 'core:stahnout_metadata' 'archeologicky_zaznam' zaznam.ident_cely %}">{% trans "templates.toolbarAkce.metadataDownload.label" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
