{% load i18n %}

<div class="app-toolbar {% if showcontrols %}mb-0{% else %}mb-2{% endif %}">
  <div class="app-left">
    <div class="app-entity-title">
      {% if is_3d %}
        <a href="{% url 'dokument:index-model-3D' %}"><span class="material-icons">3d_rotation</span><span class="app-controls-button-text app-controls-button-text"> {% trans "templates.toolbarDokument.knihovna3D.title" %}</span></a>
      {% else %}
        <a href="{% url 'dokument:index' %}"><span class="material-icons">description</span> <span class="app-controls-button-text app-controls-button-text"> {% trans "templates.toolbarDokument.dokument.title" %}</span></a>
      {% endif %}
    </div>
    <div id="id-app-entity-item" class="app-entity-item">
      {% if d.ident_cely %}
        {{ d.ident_cely }}{{ d.ident_cely }}{% if showback %}<div id="document-back" style="display:none"><span class="app-pipe"></span><a href="" class="app-entity-color font-weight-normal"></a></div>{% endif %}
        {% elif index%}
        {% else %}
        {% if is_3d %}{% trans "templates.toolbarDokument.knihovna3D.zapsat.label" %}{% else %}{% trans "templates.toolbarDokument.dokument.zapsat.label" %}{% endif %}
        {% endif %}
    </div>
  </div>
  {% if showcontrols %}
    <div class="app-right app-controls">
      <div class="btn-group app-entity-knihovna_3d" role="group">
        {% if show.vratit_link %}
          <button id="dokument-vratit" class="btn m-0" type="button" name="button">
            <span class="material-icons">arrow_back</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarDokument.vratit.label" %}</span>
          </button>
        {% endif %}
        {% if show.odeslat_link %}
        <button id="dokument-odeslat" class="btn m-0" type="button" name="button">
            <span class="material-icons">send</span>
          <span class="app-controls-button-text">{% trans "templates.toolbarDokument.odeslat.label" %}</span>
        </button>
        {% endif %}
        {% if show.archivovat_link %}
          <button id="dokument-archivovat" class="btn m-0" type="button" name="button">
            <span class="material-icons">archive</span>
            <span class="app-controls-button-text">{% trans "templates.toolbarDokument.archivovat.label" %}</span>
        </button>
        {% endif %}
          <button id="otherOptions" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="app-controls-other-menu-icon"><span class="material-icons">more_vert</span></span>
            <span class="app-controls-button-text">{% trans "templates.toolbarDokument.dalsiVolby.label" %}</span>
          </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <a class="dropdown-item" href="{% url 'historie:dokument' d.ident_cely %}">{% trans "templates.toolbarDokument.historie.label" %}</a>
          {% if show.smazat %}
          <button id="dokument-smazat" class="dropdown-item" type="button" name="button">{% trans "templates.toolbarDokument.smazatDokument.label" %}</button>
          {% endif %}          
          {% if show.arch_links%}
          <a class="dropdown-item" href="{{Digi_archiv_link|add:d.ident_cely}}" target="_blank" rel="noopener noreferrer">{% trans "templates.toolbarDokument.digiArchivLink.label" %}</a>          
          {% endif %}
          <a class="dropdown-item" href="{{OAPI_link|add:d.ident_cely}}" target="_blank" rel="noopener noreferrer">{% trans "templates.toolbarDokument.OAIAPI.label" %}</a>
          {% if show.stahnout_metadata%}
          <a class="dropdown-item" href="{% url 'core:stahnout_metadata' 'dokument' d.ident_cely %}">{% trans "templates.toolbarDokument.metadataDownload.label" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
