{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>Dobrý den,</p>
    <p>
        vámi odeslaný projekt <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> na katastru <b>{{ katastr }}</b> byl převeden do stavu: <b>{{ state }}</b>.
    </p>
    <p>
        Detaily o projektu zjistíte po přihlášení do AMČR. Záznam bude byl zveřejněn v Digitálním archivu AMČR.
    </p>
{% endblock %}
{% block content_en %}
    <p>Hello,</p>
    <p>
        your project <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> on the cadastral area <b>{{ katastr }}</b> was moved to state: <b>{{ state }}</b>.
    </p>
    <p>
        You can find out the details of the project after logging into AMCR. The record was published in the AMCR Digital Archive.
    </p>
{% endblock %}
