{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>{% trans "projekt.templates.email.E-O-01.title" %}</p>
    <p>{% trans "projekt.templates.email.E-O-01.part1" %}
        (<b>{{ podnet }}</b>) {% trans "projekt.templates.email.E-O-01.part2" %} <b>{{ katastr }}</b>
        (<b>{{ okres }}</b>), {% trans "projekt.templates.email.E-O-01.part3" %} <b>{{ parcela }}</b>
        (<b>{{ lokalita }}</b>) {% trans "projekt.templates.email.E-O-01.part4" %}
    </p>
    <p>{% trans "projekt.templates.email.E-O-01.part5" %}</p>
    <p>{% trans "projekt.templates.email.E-O-01.part6" %}</p>
    <p>
        {% trans "projekt.templates.email.E-O-01.part7" %}
    </p>
{% endblock %}
