{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>Vážená paní/Vážený pane,</p>
    <p>děkujeme za oznámení stavební nebo jiné činnosti (<b>{{ podnet }}</b>) na území s archeologickými nálezy na k.ú. <b>{{ katastr }}</b> (<b>{{ okres }}</b>), parcela <b>{{ parcela }}</b> (<b>{{ lokalita }}</b>) podle § 22 odst. 2 zákona č. 20/1987 Sb., o státní památkové péči. Po zpracování oznámení Vás budeme dále informovat.</p>
    <p><strong>Tento email neslouží jako potvrzení o oznámení.</strong> Potvrzení obdržíte emailem po kontrole vložených údajů.</p>
    <p>S pozdravem</p>
    <p>Archeologický ústav AV ČR, Praha, v. v. i.</p>
    <p>
        Na tuto zprávu prosím neodpovídejte, je automaticky generována. Vaše případné dotazy pište na adresu oznameni@arup.cas.cz nebo volejte na tel. 257 014 310.
    </p>
{% endblock %}
{% block content_en %}
  <!-- add English version -->
{% endblock %}
