{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>{% trans "projekt.templates.email.E-P-03b.title" %}</p>
    <p>{% trans "projekt.templates.email.E-P-03b.part1" %}
        (<b>{{ podnet }}</b>) {% trans "projekt.templates.email.E-P-03b.part2" %}<b>{{ katastr }}</b>
        (<b>{{ okres }}</b>) {% trans "projekt.templates.email.E-P-03b.part3" %} <b>{{ parcela }}</b>
        (<b>{{ lokalita }}</b>) {% trans "projekt.templates.email.E-P-03b.part4" %}
        <b>{{ organization }}</b> {% trans "projekt.templates.email.E-P-03b.part5" %}
    </p>
    <p>{% trans "projekt.templates.email.E-P-03b.part6" %}</p>
    <p>{% trans "projekt.templates.email.E-P-03b.part7" %}</p>
    <p>{% trans "projekt.templates.email.E-P-03b.part8" %}
    </p>
{% endblock %}
