{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>{% trans "projekt.templates.email.E-P-07.title" %}</p>
    <p>
        {% trans "projekt.templates.email.E-P-07.part1" %}
        <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> {% trans "projekt.templates.email.E-P-07.part2" %} <b>{{ katastr }}</b> {% trans "projekt.templates.email.E-P-07.part3" %}
        <b>{{ organization }}</b>.
    </p>
    <p><b>{% trans "projekt.templates.email.E-P-07.part4" %}</b> {{ reason }}</p>
    <p>{% trans "projekt.templates.email.E-P-07.part5" %}</p>
{% endblock %}
