{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>{% trans "projekt.templates.email.E-P-01b.title" %}</p>
    <p>
        {% trans "projekt.templates.email.E-P-01b.part1" %}
        (<b>{{ podnet }}</b>) {% trans "projekt.templates.email.E-P-01b.part2" %}
        <b>{{ katastr }}</b>
        (<b>{{ okres }}</b>), {% trans "projekt.templates.email.E-P-01b.part3" %} <b>{{ parcela }}</b>
        (<b>{{ lokalita }}</b>) {% trans "projekt.templates.email.E-P-01b.part4" %}
        {% trans "projekt.templates.email.E-P-01b.part5" %}
    </p>
    <p>{% trans "projekt.templates.email.E-P-01b.part6" %}</p>
    <p>{% trans "projekt.templates.email.E-P-01b.part7" %}</p>
    <p>{% trans "projekt.templates.email.E-P-01b.part8" %}
    </p>
{% endblock %}
