{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>{% trans 'projekt.templates.email.E-P-02.title' %},</p>
        <p>
            {% trans 'projekt.templates.email.E-P-02.part1' %}<b><a href="{% get_site_url %}{% url 'core:redirect_ident' project.ident_cely %}">{{ project.ident_cely }}</a></b>.
        </p>
        <ul style="list-style: none">
            <li><b>{% trans 'projekt.templates.email.E-P-02.typProjektu' %}</b> {{ project.typ_projektu.heslo }}</li>
            <li><b>{% trans 'projekt.templates.email.E-P-02.hlavniKatastr' %}</b> {{ project.hlavni_katastr.nazev }}
                {{ project.hlavni_katastr.okres.nazev }}</li>
            <li><b>{% trans 'projekt.templates.email.E-P-02.podnet' %}</b> {{ project.podnet }}</li>
            <li><b>{% trans 'projekt.templates.email.E-P-02.lokalizace' %}</b> {{ project.lokalizace }}</li>
            <li><b>{% trans 'projekt.templates.email.E-P-02.planovaneZahajeni' %}</b> {{ project.planovane_zahajeni_text }}</li>
        </ul>
    <p>
        {% trans 'projekt.templates.email.E-P-02.part2' %}
    </p>
{% endblock %}
