{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>{% trans "E-P-06a.vážená_paní/vážený_pane" %},</p>
    <p>
        {% trans "E-P-06a.projekt" %} <b>{{ ident_cely }}</b>
        (<b>{{ podnet }}</b>), {% trans "E-P-06a.který_byl_evidován_v_souvislosti_s_vaším_oznámením_o_stavební_nebo_jiné_činností_na_území_s_archeologickými_nálezy_dle_22_odst._2_zák._č._20/1987_na_k.ú." %}
        <b>{{ katastr }}</b>,
        {% trans "E-P-06a.parcela" %} <b>{{ parcela }}</b> (<b>{{ lokalita }}</b>)
        {% if datum_oznameni %}{% trans "E-P-06a.ze_dne" %} <b>{{ datum_oznameni }}</b>
            ,{% endif %} {% trans "E-P-06a.byl_zrušen" %}.
    </p>
    <p><b>{% trans "E-P-06a.důvod_zrušení" %}:</b> {{ reason }}</p>
    <p>
        {% trans "E-P-06a.vaše_případné_dotazy_pište_na_adresu_oznameni@arup.cas.cz_nebo_volejte_na_tel._257_014_310" %}.
    </p>
    <p>{% trans "E-P-06a.s_pozdravem" %}</p>
    <p>{% trans "E-P-06a.archeologický_ústav_av_čr_praha_v_v_i" %}</p>
    <p>{% trans "E-P-06a.na_tuto_zprávu_prosím_neodpovídejte_je_automaticky_generována" %}.</p>
{% endblock %}
