{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>{% trans "E-P-04.dobrý_den" %},</p>
    <p>
        {% trans "E-P-04.projekt" %} <b><a href="{{ site_url }}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> {% trans "E-P-04.na_katastru" %}
        <b>{{ katastr }}</b> {% trans "E-P-04.vámi_navržený_ke_zrušení_byl_převeden_do_stavu" %}
        <b>{{ state }}</b>.
    </p>
    <p><b>{% trans "E-P-04.důvod" %}:</b> {{ reason }}</p>
    <p>{% trans "E-P-04.detaily_o_projektu_zjistíte_po_přihlášení_do_amčr" %}.</p>
{% endblock %}
