{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>{% trans "projekt.templates.email.E-P-06a.title" %}</p>
    <p>
        {% trans "projekt.templates.email.E-P-06a.part1" %} <b>{{ ident_cely }}</b>
        (<b>{{ podnet }}</b>) {% trans "projekt.templates.email.E-P-06a.part2" %}
        <b>{{ katastr }}</b>
        {% trans "projekt.templates.email.E-P-06a.part3" %} <b>{{ parcela }}</b> (<b>{{ lokalita }}</b>)
        {% if datum_oznameni %}{% trans "projekt.templates.email.E-P-06a.part4" %} <b>{{ datum_oznameni }}</b>{% endif %}
        {% trans "projekt.templates.email.E-P-06a.part5" %}
    </p>
    <p><b>{% trans "projekt.templates.email.E-P-06a.part6" %}</b> {{ reason }}</p>
    <p>
        {% trans "projekt.templates.email.E-P-06a.part7" %}
    </p>
    <p>{% trans "projekt.templates.email.E-P-06a.part8" %}</p>
    <p>{% trans "projekt.templates.email.E-P-06a.part9" %}</p>
    <p>{% trans "projekt.templates.email.E-P-06a.part10" %}</p>
{% endblock %}
