{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>Vážená paní/Vážený pane,</p>
    <p>
        projekt <b>{{ ident_cely }}</b> (<b>{{ podnet }}</b>), který byl evidován v souvislosti s Vaším oznámením o stavební nebo jiné činností na území s archeologickými nálezy dle § 22, odst. 2 zák. č. 20/1987 na k.ú. <b>{{ katastr }}</b>, parcela <b>{{ parcela }}</b> (<b>{{ lokalita }}</b>) {% if datum_oznameni %}ze dne <b>{{ datum_oznameni }}</b>{% endif %} byl zrušen.
    </p>
    <p><b>Zdůvodnění:</b> {{ reason }}</p>
    <p>
        Vaše případné dotazy pište na adresu oznameni@arup.cas.cz nebo volejte na tel. 257 014 310.
    </p>
    <p>S pozdravem</p>
    <p>Archeologický ústav AV ČR, Praha, v. v. i.</p>
    <p>Na tuto zprávu prosím neodpovídejte, je automaticky generována.</p>
{% endblock %}
{% block content_en %}
  <!-- add English version -->
{% endblock %}
