{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans 'Vážená paní/Vážený pane' %},

{% blocktrans %} oznámení stavební nebo jiné činnosti ({{ podnet }}) na území s archeologickými nálezy na
    k.ú. {{ katastr }} ({{ okres }}), parcela {{ parcela }} ({{ lokalita }}) podle § 22 odst. 2 zákona č. 20/1987 Sb., o
    státní památkové péči bylo schváleno a zaevidováno.{% endblocktrans %}
{% trans 'V případě nutnosti provedení archeologického výzkumu Vás bude kontaktovat Archeologický ústav AV ČR nebo některá z organizací oprávněných provádět archeologické výzkumy, s nimiž je na základě §22 odst. 1 výše uvedeného zákona nutno uzavřít dohodu o podmínkách provedení archeologického výzkumu' %}.

{% trans "S pozdravem" %}

{% trans "Archeologický ústav AV ČR, Praha, v. v. i." %}

{% trans "Na tuto zprávu prosím neodpovídejte, je automaticky generována" %}.
{% trans "Vaše případné dotazy pište na adresu oznameni@arup.cas.cz nebo volejte na tel. 257 014 310." %}

</body>
</html>