{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "project.emails.nmp.vážená_paní/vážený_pane" %},

{% trans "project.emails.nmp.děkujeme_za_oznámení_o_stavební_nebo_jiné_činnosti" %} ({{ podnet }}) {% trans "project.emails.nmp.na území s archeologickými nálezy na k.ú." %} {{ katastr }} ({{ okres }}), {% trans "project.emails.nmp.parcela" %} {{ parcela }} ({{ lokalita }}) {% trans "project.emails.nmp.podle_§_22_odst._2_zákona_č._20/1987_Sb._o_státní_památkové_péči" %}.
 {% trans "project.emails.nmp.ve_věci_uzavření_dohody_o_provedení_záchranného_archeologického_výzkumu_vás_bude_kontaktovat_organizace" %} {{ organization }}, {% trans "project.emails.nmp.která_je_oprávněna_provádět_archeologické_výzkumy."%}

{% trans "project.emails.nmp.s_pozdravem" %}

{% trans "project.emails.nmp.archeologický_ústav_av_čr_praha_v._v._i." %}

{% trans "project.emails.nmp.na_tuto_zprávu_prosím_neodpovídejte_je_automaticky_generována" %}.
{% trans "project.emails.nmp.vaše_případné_dotazy_pište_na_adresu_oznameni@arub.cz_nebo_volejte_na_tel._+420_515_911_133_(jihomoravský_a_zlínský_kraj)_+420_515_911_121_(vysočina_a_olomoucký_kraj)_+420_553_821_603_(moravskoslezský_kraj)" %}.

</body>
</html>