{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "project.emails.ncp.vážená_paní/vážený_pane" %},

{% trans "project.emails.ncp.oznámení_stavební_nebo_jiné_činnosti" %} ({{ podnet }}) {% trans "project.emails.ncp.na území s archeologickými nálezy
na k.ú." %} {{ katastr }} ({{ okres }}), {% trans "project.emails.ncp.parcela" %} {{ parcela }}
({{ lokalita }}) {% trans "project.emails.ncp.podle_§22_odst._2_zákona_č._20/1987_Sb.,_o" %}
{% trans "project.emails.ncp.státní_památkové_péči_bylo_schváleno_a_zaevidováno." %}
{% trans "project.emails.ncp.v_případě_nutnosti_provedení_archeologického_výzkumu_vás_bude_kontaktovat_archeologický_ústav_av_čr_nebo_některá_z_organizací_oprávněných_provádět_archeologické_výzkumy,_s_nimiž_je_na_základě_§22_odst._1_výše_uvedeného_zákona_nutno_uzavřít_dohodu_o_podmínkách_provedení_archeologického_výzkumu" %}.

{% trans "project.emails.ncp.s_pozdravem" %}

{% trans "project.emails.ncp.archeologický_ústav_av_čr,_praha,_v._v._i." %}

{% trans "project.emails.ncp.na_tuto_zprávu_prosím_neodpovídejte_je_automaticky_generována" %}.
{% trans "project.emails.ncp.vaše_případné_dotazy_pište_na_adresu_oznameni@arup.cas.cz_nebo_volejte_na_tel._257_014_310." %}

</body>
</html>