{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "project.emails.opwr.dobrý_den" %},
{% trans "project.emails.opwr.v_aplikaci_is_amčr_byl_právě_zapsán_nový_projekt" %} {{ ident_cely }}.
{% trans "project.emails.opwr.typ_projektu" %}: {{ project_type }}
{% trans "project.emails.opwr.katastr" %}: {{ katastr }} ({{ okres }})
{% trans "project.emails.opwr.podnět" %}: {{ podnet }}
{% trans "project.emails.opwr.lokalizace" %}: {{ lokalita }}
{% trans "project.emails.opwr.plánované zahájení" %}: {{ planned_start }}

{% trans "project.emails.opwr.detaily_o_projektu_zjistíte_po_přihlášení_do_amčr" %}.

</body>
</html>



