{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{% trans "project.emails.pir.dobrý_den" %},</p>

<p>
    {% trans "project.emails.pir.projekt" %} <b>{{ ident_cely }}</b> {% trans "project.emails.pir.na_katastru" %} <b>{{ katastr }}</b> {% trans "project.emails.pir.vámi_navržený_ke_zrušení_byl_převeden_do_stavu" %}
    <b>{{ state }}</b>.
</p>
<p><b>{% trans "project.emails.pir.důvod" %}:</b> {{ reason }}</p>
<p>{% trans "project.emails.pir.detaily_o_projektu_zjistíte_po_přihlášení_do_amčr" %}.</p>
<p>
    ------------------------------
    <br>
    {% trans "project.emails.pir.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
    <br>
    {% trans "project.emails.pir.odesláno_z" %} {{ server_domain }}
</p>
</body>
</html>
