{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{% trans "project.emails.pcictu.vážená_paní/vážený_pane" %},</p>
<p>
    {% trans "project.emails.pcictu.projekt" %} <b>{{ ident_cely }}</b>
    (<b>{{ podnet }}</b>), {% trans "project.emails.pcictu.který_byl_evidován_v_souvislosti_s_vaším_oznámením_o_stavebn" %}
    {% trans "project.emails.pcictu.nebo_jiné_činností_na_území_s_archeologickými_nálezy_dle_22_odst._2_zák._č._20/1987_na_k.ú." %}
    <b>{{ katastr }}</b>,
    {% trans "project.emails.pcictu.parcela" %} <b>{{ parcela }}</b> (<b>{{ lokalita }}</b>)
    {% if datum_oznameni %}{% trans "project.emails.pcictu.ze_dne" %} <b>{{ datum_oznameni }}</b>
        ,{% endif %}{% trans "project.emails.pcictu_byl_zrušen" %}.
</p>
<p><b>{% trans "project.emails.pcictu.důvod_zrušení" %}:</b> {{ reason }}</p>
<p>
    {% trans "project.emails.pcictu.vaše_případné_dotazy_pište_na_adresu_oznameni@arup.cas.cz_nebo_volejte_na_tel._257_014_310." %}
</p>
<p>{% trans "project.emails.pcictu.s_pozdravem" %}</p>
<p>{% trans "project.emails.pcictu.archeologický_ústav_av_čr_praha_v._v._i." %}</p>
<p>{% trans "project.emails.pcictu.na_tuto_zprávu_prosím_neodpovídejte_je_automaticky_generována" %}.</p>
<p>
    ------------------------------
    <br>
    {% trans "project.emails.pcictu.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
    <br>
    {% trans "project.emails.pcictu.odesláno_z" %} {{ server_domain }}
</p>
</body>
</html>
