{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "project.emails.pic.dobrý_den" %},

 {% trans "project.emails.pic.projekt" %} {{ ident_cely }} {% trans "project.emails.pic.na_katastru" %} {{ katastr }} {% trans "project.emails.pic.byl_navržen_k_odhlášení_oprávněnou_organizací" %}
    {{ organizace }}.

{% trans "project.emails.pic.důvod" %}: {{ reason }}

{% trans "project.emails.pic.detaily_o_projektu_zjistíte_po_přihlášení_do_amčr" %}.

</body>
</html>