{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{% trans "project.emails.pic.dobrý_den" %},</p>
<p>
    {% trans "project.emails.pic.projekt" %} <b>{{ ident_cely }}</b> {% trans "project.emails.pic.na_katastru" %}<b>{{ katastr }}</b> {% trans "project.emails.pic.byl_navržen_k_odhlášení_oprávněnou_organizací" %}
    <b>{{ organizace }}</b>.
</p>
<p><b>{% trans "project.emails.pic.důvod" %}:</b> {{ reason }}</p>
<p>{% trans "project.emails.pic.detaily_o_projektu_zjistíte_po_přihlášení_do_amčr" %}.</p>
<p>
    ------------------------------
    <br>
    {% trans "project.emails.pic.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
    <br>
    {% trans "project.emails.pic.odesláno_z" %} {{ server_domain }}
</p>
</body>
</html>
