{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans 'Vážená paní/Vážený pane' %},

{% blocktrans %} projekt {{ ident_cely }} ({{ podnet}}), který byl evidován v souvislosti s Vaším oznámením o stavební
    nebo jiné činností na území s archeologickými nálezy dle § 22, odst. 2 zák. č. 20/1987 na k.ú. {{ katastr }},
    parcela {{ parcela }} ({{ lokalita }}) {% endblocktrans %}{% if datum_oznameni %}{% trans "ze dne" %} {{datum_oznameni}},{% endif %}{% trans 'byl zrušen' %}.

{% trans "Důvod zrušení" %}: {{ reason }}


{% trans "S pozdravem" %}

{% trans "Archeologický ústav AV ČR, Praha, v. v. i." %}

{% trans "Na tuto zprávu prosím neodpovídejte, je automaticky generována" %}.
{% trans "Vaše případné dotazy pište na adresu oznameni@arup.cas.cz nebo volejte na tel. 257 014 310." %}

</body>
</html>