{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "project.emails.pwa.dobrý_den" %},

{% trans "project.emails.pwa.vámi_odeslaný_projekt" %} {{ ident_cely }} {% trans "project.emails.pwa.na_katastru" %} {{ katastr }} {% trans "project.emails.pwa.byl_převeden_do_stavu" %}
{{ state }}.

{% trans "project.emails.pwa.detaily_o_projektu_zjistíte_po_přihlášení_do_amčr" %}.
{% trans "project.emails.pwa.nejpozději_během_následujícího_dne_bude_záznam_zveřejněn_v_digitálním_archivu_amčr" %}.

</body>
</html>