{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "project.emails.pmictu.vážená_paní/vážený_pane" %},

{% trans "project.emails.pmictu.projekt" %} {{ ident_cely }}
({{ podnet }}), {% trans "project.emails.pmictu.který_byl_evidován_v_souvislosti_s_vaším_oznámením_o_stavební" %}
{% trans "project.emails.pmictu._nebo_jiné_činností_na_území_s_archeologickými_nálezy_dle_22,_odst._2_zák._č._20/1987_na_k.ú." %} {{ katastr }},
{% trans "project.emails.pmictu.parcela" %} {{ parcela }} ({{ lokalita }})
{% if datum_oznameni %}{% trans "project.emails.pmictu.ze_dne" %} {{ datum_oznameni }}
    ,{% endif %}{% trans "project.emails.pmictu.byl_zrušen" %}.

{% trans "project.emails.pmictu.důvod_zrušení" %}: {{ reason }}

{% trans "project.emails.pmictu.vaše_případné_dotazy_pište_na_adresu_oznameni@arub.cz_nebo_volejte_na_tel._+420_515_911_133_(jihomoravský_a_zlínský_kraj)_+420_515_911_121_(vysočina_a_olomoucký_kraj)_+420_553_821_603_(moravskoslezský kraj)" %}.
{% trans "project.emails.pmictu.s_pozdravem" %}
{% trans "project.emails.pmictu.archeologický_ústav_av_čr_brno_v._v._i" %}
{% trans "project.emails.pmictu.na_tuto_zprávu_prosím_neodpovídejte_je_automaticky_generována" %}.
</body>
</html>