{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "project.emails.rmp.vážená_paní/vážený_pane" %},

 {% trans "project.emails.rmp.oznámení_stavební_nebo_jiné_činnosti" %} ({{ podnet }}) {% trans "project.emails.rmp.na_území_s_archeologickými_nálezy_na_k.ú." %} {{ katastr }} ({{ okres }}),{% trans "project.emails.rmp.parcela" %} {{ parcela }} ({{ lokalita }}) {% trans "project.emails.rmp.podle_22_odst._2_zákona_č._20/1987_Sb._o_státní_památkové_péči_bylo_schváleno_a_zaevidováno." %}
{% trans "v_případě_nutnosti_provedení_archeologického_výzkumu_vás_bude_kontaktovat_archeologický_ústav_av_čr_nebo_některá_z_organizací_oprávněných_provádět_archeologické_výzkumy_s_nimiž_je_na_základě_22_odst._1_výše_uvedeného_zákona_nutno_uzavřít_dohodu_o_podmínkách_provedení_archeologického_výzkumu" %}.

{% trans "project.emails.rmp.s_pozdravem" %}

{% trans "project.emails.rmp.archeologický_ústav_av_čr_praha_v._v._i."%}

{% trans "project.emails.rmp.na_tuto_zprávu_prosím_neodpovídejte_je_automaticky_generována" %}.
{% trans "project.emails.rmp.vaše_případné_dotazy_pište_na_adresu_oznameni@arup.cas.cz_nebo_volejte_na_tel._257_014_310." %}

</body>
</html>