{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{% trans "project.emails.rcp.vážená_paní/vážený_pane" %},</p>
<p>{% trans "project.emails.rcp.děkujeme_za_oznámení_o_stavební_nebo_jiné_činnosti" %}
    (<b>{{ podnet }}</b>) {% trans "project.emails.rcp.na_území_s_archeologickými_nálezy_na_k.ú." %}<b>{{ katastr }}</b>
    (<b>{{ okres }}</b>), {% trans "project.emails.rcp.parcela" %} <b>{{ parcela }}</b>
    (<b>{{ lokalita }}</b>) {% trans "project.emails.rcp.podle_22_odst._2_zákona_č._20/1987_Sb._o_státní_památkové_péči." %}
    {% trans "project.emails.rcp.ve_věci_uzavření_dohody_o_provedení_záchranného_archeologického_výzkumu_vás_bude_kontaktovat
    organizace" %}
    <b>{{ organization }}</b>, {% trans "project.emails.rcp.která_je_oprávněna_provádět_archeologické_výzkumy" %}
</p>
<p>{% trans "project.emails.rcp.s_pozdravem" %}</p>
<p>{% trans "project.emails.rcp.archeologický_ústav_av_čr_praha_v._v._i." %}</p>
<p>
    {% trans "project.emails.rcp.na_tuto_zprávu_prosím_neodpovídejte_je_automaticky_generována" %}.
    {% trans "project.emails.rcp.vaše_případné_dotazy_pište_na_adresu_oznameni@arup.cas.cz_nebo_volejte_na_tel._257_014_310." %}
</p>
<p>
    ------------------------------
    <br>
    {% trans "project.emails.rcp.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
    <br>
    {% trans "project.emails.rcp.odesláno_z" %} {{ server_domain }}
</p>
</body>
</html>
