{% extends 'admin/change_list.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "core.templates.admin.fedora_management.home_link" %}</a>
    {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
  </div>
{% endblock %}

<h2>{% trans "core.templates.admin.fedora_management.heading" %}</h2>

{% block content %}
  <div id="content-main">
    <form method="post" enctype="multipart/form-data">
      <div>
        <fieldset class="module aligned">
          {{ update_metadata_file_form.non_field_errors }}
          {% csrf_token %}
          {% crispy update_metadata_file_form %}
          {% if text %}
            {% autoescape off %}
              {{ text }}
            {% endautoescape %}
          {% endif %}
        </fieldset>
        <div class="submit-row">
          <input type="submit" value="{% trans 'Save' %}" class="default" name="_save">
        </div>
      </div>

    </form>
  </div>
{% endblock content %}