{% extends "arch_z/arch_z_detail.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block dj_form %}
<div class="card app-card-form" id="create_adb_form">
  <div class="card-header">
    <div class="app-fx app-left">
      {% trans "arch_z.templates.arch_z.dj.adb_create.novyADB.label" %}
    </div>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'adb:zapsat' j.ident_cely %}" id="create_adb_form_id" class="submit-spinner">
      <!-- Action is filled using javascript -->
      {% crispy adb_form_create %}
      <button type="submit" id="createAdbSubmitButton"
              class="btn btn-primary">{% trans "arch_z.templates.arch_z.dj.adb_create.editButtons.vytvoritADB.label" %}
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              style="display: none"></span>
      </button>
    </form>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        show_form(`create_adb_form`);
    });
</script>
{% endblock %}
