{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "lokalita.template.index.Title" %}{% endblock %}

{% block content %}
  <div class="app-entity-lokalita">
    {% include "toolbar_akce.html" with type="lokalita" %}
    <div class="row app-entity-cards mb-3">
      <div class="col">
        <a href="{% url 'lokalita:create' %}" class="card app-card-entity app-card-zapsat-lokalita">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "lokalita.templates.index.cardZapsat.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'lokalita:list' %}?sort=nazev" class="card app-card-entity app-card-vybrat">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "lokalita.templates.index.cardVybrat.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'lokalita:list' %}?historie_typ_zmeny=D01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" class="card app-card-entity app-card-moje-lokality">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "lokalita.templates.index.cardMojeLokality.label" %}
          </div>
        </a>
      </div>
      {% if user.can_see_ours_item %}
        <div class="col">
          <a href="{% url 'lokalita:list' %}?historie_typ_zmeny=D01&historie_uzivatel_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" class="card app-card-entity app-card-nase-lokality">
            <div class="card-body card-body-background">
              <img src="{% static 'logo-am-mark.png' %}" />
            </div>
            <div class="card-footer">
              {% trans "lokalita.templates.index.cardNaseLokality.label" %}
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="app-card-desc-wrapper">
    <div class="app-collapse-zapsat-lokalita app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "lokalita.templates.index.cardZapsat.title" %}</h4>
        <hr />
        {% trans "lokalita.templates.index.cardZapsat.text" %}
      </div>
    </div>
    <div class="app-collapse-moje-lokality app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "lokalita.templates.index.cardMojeLokality.title" %}</h4>
        <hr />
        {% trans "lokalita.templates.index.cardMojeLokality.text" %}
      </div>
    </div>
    {% if user.can_see_ours_item %}
      <div class="app-collapse-nase-lokality app-card-collapse-text">
        <div class="p-3">
          <h4>{% trans "lokalita.templates.index.cardNaseLokality.title" %}</h4>
          <hr />
          {% trans "lokalita.templates.index.cardNaseLokality.text" %}
        </div>
      </div>
    {% endif %}
    <div class="app-collapse-vybrat app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "lokalita.templates.index.cardVybrat.title" %}</h4>
        <hr />
        {% trans "lokalita.templates.index.cardVybrat.text" %}
      </div>
    </div>
  </div>

  <script>
    // show / hide card description
    $(".app-card-zapsat-lokalita").mouseleave(function(){
      $(".app-collapse-zapsat-lokalita").hide(100);
    });
    $(".app-card-zapsat-lokalita").mouseover(function(){
      $(".app-collapse-zapsat-lokalita").show(100);
    });
    $(".app-card-moje-lokality").mouseleave(function(){
      $(".app-collapse-moje-lokality").hide(100);
    });
    $(".app-card-moje-lokality").mouseover(function(){
      $(".app-collapse-moje-lokality").show(100);
    });
    {% if user.can_see_ours_item %}
      $(".app-card-nase-lokality").mouseleave(function(){
        $(".app-collapse-nase-lokality").hide(100);
      });
      $(".app-card-nase-lokality").mouseover(function(){
        $(".app-collapse-nase-lokality").show(100);
      });
    {% endif %}
    $(".app-card-vybrat").mouseleave(function(){
      $(".app-collapse-vybrat").hide(100);
    });
    $(".app-card-vybrat").mouseover(function(){
      $(".app-collapse-vybrat").show(100);
    });
</script>
{% endblock %}

{% block script %}
{% endblock %}
