{% extends "arch_z/detail_common.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{{ page_title }}{% endblock %}


    {% block zaznam_detail %}
    <div class="app-entity-lokalita">
    {% translate "lokalita.template.lokalitadetail.toolbar.title" as toolbar_name%}
    {% trans "lokalita.template.lokalitadetail.toolbar.DalsiVolby.DigiArchivLink" as digi_archiv_label %}
    {% trans "lokalita.template.lokalitadetail.toolbar.DalsiVolby.OAIAPI" as oaiapi_label %}
    {% trans "lokalita.template.lokalitadetail.cardHeader.detail" as header %}
    {% include "toolbar_akce.html" with showbackdetail=False showcontrols=True type="lokalita" name=toolbar_name %}

    <!-- stepper -->
    {% include "arch_z/arch_z_stepper.html" with type="lokalita" %}

    <!-- detail -->
    {% include "lokalita/lokalita_detail_part.html" %}
    
{% endblock %}

{% block script_detail %}
  <script>
    var global_map_projekt_ident='{{zaznam.akce.projekt.ident_cely}}';
    if(global_map_projekt_ident.length==0){
      global_map_projekt_ident=document.getElementById("id-app-entity-item").textContent.trim().split("Zpět")[0];
    }
    //console.log("zaznam "+global_map_projekt_ident)
    //modal scripts
    document.addEventListener('DOMContentLoaded', function (event) {
      if ("{{show.odeslat_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:odeslat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}&typ=lokalita",
        formID: "odeslat-akci-form",
        modalFormID: "#odeslat-akci-form",
      })
      odeslat_akci_modal = new Modal(options, "lokalita-odeslat");
      };
      if ("{{show.vratit_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:vratit' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "vratit-akci-form",
        modalFormID: "#vratit-akci-form",
      })
      vratit_akci_modal = new Modal(options, "lokalita-vratit");
      }
      if ("{{show.archivovat_link}}" != "False"){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'arch_z:archivovat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
          formID: "archivovat-akci-form",
          modalFormID: "#archivovat-akci-form",
        })
      archivovat_akci_modal = new Modal(options, "lokalita-archivovat");
      }
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:smazat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "smazat-akci-form",
        modalFormID: "#smazat-akci-form",
      })
      smazat_akci_modal = new Modal(options, "{{app}}-smazat"); 

      if (document.getElementById("main_cadastre_id")!==null) {
              const currentUrl = window.location.href;
              const urlParams = new URLSearchParams(window.location.search);
              if(urlParams.get('geometry') ==null && !currentUrl.includes("/dj/")){
                  let xhr = new XMLHttpRequest();
                  xhr.open('POST', '/arch-z/mapa-zoom'); 
                  xhr.setRequestHeader('Content-type', 'application/json');
                  if (typeof global_csrftoken !== 'undefined') {
                      xhr.setRequestHeader('X-CSRFToken', global_csrftoken);
                  } else {
                      console.log("neni X-CSRFToken token")
                  }
                  xhr.onload = function () {
                      rs = JSON.parse(this.responseText)
                      if(rs.lat>0 || rs.zoom == 17){
                        if(rs.lat>0){
                          if(!global_blocked_by_query_geom){
                            map.setView([rs.lat, rs.lng], rs.zoom)
                          }
                        }
                        if (rs.zoom == 17 && !global_blocked_by_query_geom) {
                            drawnItems.clearLayers();
                            if(currentUrl.lastIndexOf("-D")>-1){
                              addGoldPointOnLoad([rs.lat, rs.lng],  drawnItems,rs.pian_ident_cely,rs.geom,rs.presnost)
                            }
                        }
                      } else{
                        switchMap(false);
                      }
                  };
                  let d_sufix="";
                  if(currentUrl.lastIndexOf("-D")>-1){
                    d_sufix=  currentUrl.substr(currentUrl.lastIndexOf("-D"))
                  }
                  xhr.send(JSON.stringify(
                      {
                          'cadastre': document.getElementById("main_cadastre_id").value,
                          'akce_ident_cely': '{{ zaznam.ident_cely }}'+d_sufix,
                      }))
              }
        }
    });
  </script>
{% endblock %}
