{% extends "arch_z/detail_common.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{{ page_title }}{% endblock %}


    {% block zaznam_detail %}
    <div class="app-entity-lokalita">
    {% translate "lokalita.detail.toolbar.title" as toolbar_name%}
    {% trans "lokalita.detail.toolbar.DalsiVolby.DigiArchivLink" as digi_archiv_label %}
    {% trans "lokalita.detail.toolbar.DalsiVolby.OAIAPI" as oaiapi_label %}
    {% trans "Detail" as header %}
    {% include "toolbar_akce.html" with showbackdetail=False showcontrols=True type="lokalita" name=toolbar_name %}

    <!-- stepper -->
    {% include "arch_z/arch_z_stepper.html" with type="lokalita" %}

    <!-- detail -->
    {% include "lokalita/lokalita_detail_part.html" %}
    
{% endblock %}

{% block script_detail %}
  <script>
    var global_map_projekt_ident='{{zaznam.akce.projekt.ident_cely}}';
    //console.log("zaznam "+global_map_projekt_ident)
    //modal scripts
    document.addEventListener('DOMContentLoaded', function (event) {
      if ("{{show.odeslat_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:odeslat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}&typ=lokalita",
        formID: "odeslat-akci-form",
        modalFormID: "#odeslat-akci-form",
      })
      odeslat_akci_modal = new Modal(options, "lokalita-odeslat");
      };
      if ("{{show.vratit_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:vratit' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "vratit-akci-form",
        modalFormID: "#vratit-akci-form",
      })
      vratit_akci_modal = new Modal(options, "lokalita-vratit");
      }
      if ("{{show.archivovat_link}}" != "False"){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'arch_z:archivovat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
          formID: "archivovat-akci-form",
          modalFormID: "#archivovat-akci-form",
        })
      archivovat_akci_modal = new Modal(options, "lokalita-archivovat");
      }
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:smazat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "smazat-akci-form",
        modalFormID: "#smazat-akci-form",
      })
      smazat_akci_modal = new Modal(options, "{{app}}-smazat"); 
    });
  </script>
{% endblock %}
