{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<div class="row">
  <div class="col-sm-12">
    <span class="app-divider-label">{% trans "dokument.templates.coor_doc.mapDivider.text" %}</span>
    <hr class="mt-0" />
  </div>
  <div class="form-group col-sm-2">
    {{ formExtraData.zeme|as_crispy_field }}
    {{ formExtraData.region_extra|as_crispy_field }}
    {{ formExtraData.visible_x1|as_crispy_field }}
    {{ formExtraData.visible_x2|as_crispy_field }}
    {{ formExtraData.coordinate_wgs84_x1|as_crispy_field }}
    {{ formExtraData.coordinate_wgs84_x2|as_crispy_field }}
  </div>
  <div class="col-12 col-sm-10">
    {% include "map.html" %}
  </div>
</div>

<script>
  var global_csrftoken = '{{ csrf_token }}';
</script>
<script >
  var static_url = "{% get_static_prefix %}";
</script>
<script>
  var map_translations = {
    Library3D: '{% trans "mapa.Library3D" %}',
    Location3D: '{% trans "mapa.Location3D" %}',
    CurrentLocation: '{% trans "mapa.CurrentLocation" %}',
    CurrentLocationError: '{% trans "mapa.CurrentLocationError" %}',
    cuzkKatastralniMapa: '{% trans "mapa.cuzkKatastralniMapa" %}',
    cuzkKatastralniUzemi: '{% trans "mapa.cuzkKatastralniUzemi" %}',
    cuzkOrtofotomapa: '{% trans "mapa.cuzkOrtofotomapa" %}',
    cuzkStinovanyeelief5G: '{% trans "mapa.cuzkStinovanyeelief5G" %}',
    cuzkzakladniMapyCr: '{% trans "mapa.cuzkzakladniMapyCr" %}',
    npuPamatkovaOchrana: '{% trans "mapa.npuPamatkovaOchrana" %}',
    FullscreenTitle: '{% trans "mapa.FullscreenTitle" %}',
    FullscreenTitleClose: '{% trans "mapa.FullscreenTitleClose" %}',
    MeasureTitle: '{% trans "mapa.MeasureTitle" %}',
    openStreetMap: '{% trans "mapa.openStreetMap" %}',
    openStreetMapSeda: '{% trans "mapa.openStreetMapSeda" %}',
    zoomInTitle: '{% trans "mapa.zoomInTitle" %}',
    zoomOutTitle: '{% trans "mapa.zoomOutTitle" %}'          
  };
  var leaflet_search_translations = {
    KatastralniUzemi: '{% trans "leaflet_search.KatastralniUzemi" %}',
    Okres: '{% trans "leaflet_search.Okres" %}',
    Obec: '{% trans "leaflet_search.Obec" %}',
    Adresa: '{% trans "leaflet_search.Adresa" %}',
    Ulice: '{% trans "leaflet_search.Ulice" %}',
    Geonames: '{% trans "leaflet_search.Geonames" %}',
    Parcela: '{% trans "leaflet_search.Parcela" %}',
    Stavebni: '{% trans "leaflet_search.Stavebni" %}',
    Pozemkova: '{% trans "leaflet_search.Pozemkova" %}',
    SearchTextCancel: '{% trans "leaflet_search.SearchTextCancel" %}',
    SearchTextError: '{% trans "leaflet_search.SearchTextError" %}'
};
</script>
<script src="{% static 'mapa_pins.js' %}"></script>
<script src="{% static 'coor_precision.js' %}"></script>
<script src="{% static 'spin/spin.min.js' %}"></script>
<script src="{% static 'leaflet.spin.min.js' %}"></script>
<script src="{% static 'coordTransform.js' %}"></script>
<script src="{% static 'mapa_basic_grey.js' %}"></script>
<script src="{% static 'mapa_doc.js' %}"></script>
<script>
  $(document).ready(function () {
        {% if coordinate_wgs84_x1 is not None %}
        let [cor_x1, cor_x2] = amcr_static_coordinate_precision_wgs84([{{ coordinate_wgs84_x1 }}, {{ coordinate_wgs84_x2 }}]);

        document.getElementById('id_visible_x1').value = cor_x1;
        document.getElementById('id_visible_x2').value = cor_x2;
        replace_coor();
        let ident_cely='';
        try{
          ident_cely=document.getElementById('id-app-entity-item').textContent.trim();
          if(ident_cely.includes("-3D-")){
            ident_cely ="{% trans 'mapa.lokalizace3D' %}";
          }else{
            ident_cely="{% trans 'mapa.lokalizacePAS' %}";
          }
        }catch(e){}

        $('[readonly]').prop("disabled", true);
        {% if global_map_can_edit %}
        addUniquePointToPoiLayer([cor_x2,cor_x1],ident_cely);
        {% else  %}
        global_map_can_edit = false
        addReadOnlyUniquePointToPoiLayer([cor_x2,cor_x1],ident_cely);
        {% endif %}
        {% else  %}
        if(window.location.href.includes("/detail/")){
          global_map_can_edit = false
        }
        {% endif %}
      })

</script>
