{% load static %}

{% block head %}
<!-- Map imports -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="">
</script>
<script src="{% static 'leaflet.markercluster-src.js' %}"></script>
<link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />
<!--Leaflet FullScreen-->
<script src="https://unpkg.com/lerc@1.0.1/LercDecode.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
    rel='stylesheet' />
<!-- static leaflet additional import-->
<link rel="stylesheet" href="{% static 'leaflet.measure.css' %}"/>
<script src="{% static 'leaflet.measure.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>

<link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
<script src="{% static 'leaflet-search.js' %}"></script>
{% endblock %}

{% block content %}
<div class="col-12">
    {% include "map.html" %}
</div>

{% endblock %}

{% block script %}
<script>
  var global_csrftoken = '{{ csrf_token }}';
</script>
<script >
  var static_url = "{% get_static_prefix %}";
</script>
<script src="{% static 'mapa_pins.js' %}"></script>
<script src="{% static 'spin/spin.min.js' %}"></script>
<script src="{% static 'leaflet.spin.min.js' %}"></script>
<script src="{% static 'mapa_basic_grey.js' %}"></script>
<script src="{% static 'mapa_doc.js' %}"></script>
  <script>
      $(document).ready(function () {
          document.getElementById("id-app-entity-item").innerHTML = "Zapsat nový model 3D"

          document.getElementById('id_vyska').value={{ coordinate_x }};
          document.getElementById('id_sirka').value={{ coordinate_y }};

          $('[readonly]').prop("disabled", true);
          {% if global_map_can_edit %}
          addUniquePointToPoiLayer({{ coordinate_x }}, {{ coordinate_y }})
          {% else  %}
          global_map_can_edit=false
          addReadOnlyUniquePointToPoiLayer({{ coordinate_x }}, {{ coordinate_y }})
          {% endif %}
      })

  </script>


{% endblock %}
