{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-entity-knihovna_3d">
    {% include "toolbar_dokument.html" with is_3d=True %}
    <form method="post" onsubmit="newDocumentSubmitBtn.disabled = true; return true;">
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {{ header }}
          </div>
        </div>
        <div class="card-body">
          {% crispy formDokument %}
        </div>
          {% include "dokument/coor_model_3D.html" %}
        <div class="card-body">
          {% crispy formExtraData %}
          {% crispy formKomponenta %}
        </div>
      </div>
      <button type="submit" id="newDocumentSubmitBtn" class="btn btn-primary mt-3">{% trans "Uložit" %}</button>
    </form>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
