{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
<!-- Autocomplete media files -->
<link href="/static/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/static/admin/css/autocomplete.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/static/autocomplete_light/select2.css" media="screen" rel="stylesheet" type="text/css">
<script src="/static/static/admin/js/vendor/select2/select2.full.js"></script>
<script src="/static/static/autocomplete_light/autocomplete_light.js"></script>
<script src="/static/static/autocomplete_light/select2.js"></script>
<script src="/static/static/autocomplete_light/i18n/cs.js"></script>
{% endblock %}

{% block content %}
  <div class="app-entity-knihovna_3d">
    {% include "toolbar_dokument.html" with is_3d=True is_edit=True d=object %}
    <form method="post" onsubmit="newDocumentSubmitBtn.disabled = true; return true;">
      {% csrf_token %}
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {{ header }}
          </div>
        </div>
        <div class="card-body">
          <div class="row">
          <div class="form-group col-sm-4 col-lg-2 input-osoba select2-input">
            {% crispy_addon formDokument.autori append='<button id="create-autor" class="btn btn-sm app-btn-in-form" type="button" name="button"><span class="material-icons">add</span></button>' %}
          </div>
          <div class="form-group col-sm-4 col-lg-2">
            {{ formDokument.rok_vzniku|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4 col-lg-2">
            {{ formDokument.organizace|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4 col-lg-2">
            {{ formDokument.typ_dokumentu|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4 col-lg-2">
            {{ formExtraData.format|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4 col-lg-2">
            {{ formDokument.oznaceni_originalu|as_crispy_field }}
          </div>
          <div class="form-group col-sm-12">
            {{ formDokument.popis|as_crispy_field }}
          </div>
          <div class="form-group col-sm-12">
            {{ formDokument.poznamka|as_crispy_field }}
          </div>
          <div class="form-group col-sm-8">
            {{ formExtraData.odkaz|as_crispy_field }}
          </div>
        </div>
          {% include "dokument/coor_doc.html" %}
          <div class="row">
            <div class="col-sm-12">
              <span class="app-divider-label">{% trans "dokument.templates.create_model_3D.komponentaDivider.text" %}</span>
              <hr class="mt-0" />
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.obdobi|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.presna_datace|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.areal|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.aktivity|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formExtraData.duveryhodnost|as_crispy_field }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" id="newDocumentSubmitBtn" class="btn btn-primary">{{ button }}</button>
        {% if object %}
          <a type="button" class="btn btn-secondary" href="{% url 'dokument:detail-model-3D' object.ident_cely %}">{% trans "dokument.templates.dokument.create.detailForm.button.zpet.label" %}</a>
        {% else %}
          <a type="button" class="btn btn-secondary" href="{% url 'dokument:index-model-3D' %}">{% trans "dokument.templates.dokument.create.detailForm.button.zpet.label" %}</a>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
<script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
<script>
  url = '{% url "heslar:get-initial-value" %}' + "?nadrazene="
  get_vychozi_hodnota_podrazeneho("#id_areal","#id_aktivity",url)
</script>
<script type="text/javascript">
  // create osoba scripts
  var successFunction = function(settings, response) {
    var newOption = new Option(response.text, response.value, true, true);
    $('#id_autori').append(newOption).trigger('change');
    $('#id_autori').trigger({
      type: 'select2:select',
      params: {
          data: [response.text, response.value, true, true]
      }
    });
    $(settings.modalIDD).modal("hide");
  };

  document.addEventListener('DOMContentLoaded', function (event) {
    var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
    formURL: "{% url 'heslar:create_osoba' %}",
    formID: "create-osoba-form",
    modalFormID: "#create-osoba-form",
    modalIDD : "#modal-form",
    successFunc:successFunction,
  })
  new Modal(options, "create-autor"); 
  
});
  </script>
  <script>
      $(document).ready(function () {
          document.getElementById("id-app-entity-item").innerHTML = "{% trans "templates.toolbarDokument.knihovna3D.zapsat.label" %}"
      })
  </script>
{% endblock %}
