{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "dokument.templates.create.title" %}{% endblock %}
{% block head %}
<!-- Autocomplete media files -->
<link href="/static/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/static/admin/css/autocomplete.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/static/autocomplete_light/select2.css" media="screen" rel="stylesheet" type="text/css">
<script src="/static/static/admin/js/vendor/select2/select2.full.js"></script>
<script src="/static/static/autocomplete_light/autocomplete_light.js"></script>
<script src="/static/static/autocomplete_light/select2.js"></script>
<script src="/static/static/autocomplete_light/i18n/cs.js"></script>
{% endblock %}

{% block content %}
  <div class="app-entity-dokument">
    {% include "toolbar_dokument.html" with is_3d=False %}
    <form method="post" onsubmit="newDocumentSubmitBtn.disabled = true; return true;">
      <div>
        <div class="card app-card-form">
          <div class="card-header">
            <div class="app-fx app-left">
              {% trans "dokument.templates.create.novyDokument.cardHeader" %}
            </div>
          </div>
          <div class="card-body">
            {% crispy formDokument %}
          </div>
        </div>
        <div class="mt-3">
          <div class="form-group">
            <button type="submit" id="newDocumentSubmitBtn" class="btn btn-primary">{% trans "dokument.templates.create.novyDokument.submitButton.text" %}</button>
            {% if back_ident %}
              {% if back_model == "Projekt" %}
                  <a type="button" class="btn btn-secondary" href="{% url 'projekt:detail' back_ident %}">{% trans "dokument.templates.create.novyDokument.zpetButton.text" %}</a>
              {% elif back_model == "ArcheologickyZaznam" %}
                {% if zaznam and zaznam.typ_zaznamu == TYP_ZAZNAMU_LOKALITA %}
                  <a type="button" class="btn btn-secondary" href="{% url 'lokalita:detail' back_ident %}">{% trans "dokument.templates.create.novyDokument.zpetButton.text" %}</a>
                {% elif zaznam and zaznam.typ_zaznamu == TYP_ZAZNAMU_AKCE %}
                  <a type="button" class="btn btn-secondary" href="{% url 'arch_z:detail' back_ident %}">{% trans "dokument.templates.create.novyDokument.zpetButton.text" %}</a>
                {% endif %}
              {% endif %}
            {% else %}
              <a type="button" class="btn btn-secondary" href="{% url 'dokument:index' %}">{% trans "dokument.templates.create.novyDokument.zpetButton.text" %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal fade app-modal-form" tabindex="-1" role="dialog" id="modal-form-region" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content form" id="id-modal-region">
        <div class="modal-header">
          <h5 class="modal-title">{% trans "dokument.templates.create.region.modalHeader" %}</h5>
        </div>
        <form id="region-form">
          <div class="modal-body">
            <div class="form-group col-sm-4" id="id-modal-region-div">
              {{ formDokument.region|as_crispy_field }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "dokument.templates.create.region.submitButton.text" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

  

{% block script %}

  <script>

      function disable_disallowed(selected_value) {
          let hierarchie = {{ hierarchie }};
          let allowed_values = hierarchie[selected_value]
          let material_selectpicker = document.getElementById("id_material_originalu")
          let material_options = material_selectpicker.getElementsByTagName("option");
          // Kdyz vyberu prazdnou volbu typu dokumentu, nemuzu kliknout na zadny material
          if (!allowed_values) {
              for (let item of material_options) {
                  item.hidden = true;
              }
          } else {
              for (let item of material_options) {
                  if (!allowed_values.includes(parseInt(item.value))) {
                      item.hidden = true;
                  } else {
                      item.hidden = false;
                  }
              }
          }
      }

      // Need to disable options that are not allowed if item is selected
      $("#id_typ_dokumentu").on("changed.bs.select",
          function (e, clickedIndex, newValue, oldValue) {
              disable_disallowed(this.value)
              // Everytime typ_dokumentu is changed, also reset value of the material_originalu
              $('#id_material_originalu').selectpicker('val', '');
              $('#id_material_originalu').selectpicker('refresh');
          });

      // Check it typ_dokumentu is selected. If it is, on edit all not available materials must be disabled
      $('#id_typ_dokumentu').on('loaded.bs.select',
          function (e, clickedIndex, isSelected, previousValue) {
              disable_disallowed(this.value)
              $('#id_material_originalu').selectpicker('refresh');
          });
          {% if samostatny %}
          document.addEventListener('DOMContentLoaded', function (event) {
            $("#modal-form-region").modal("show")
          });
          $('#modal-form-region').on('hidden.bs.modal', function () {
            $('#id_region').selectpicker('val', $('#id-modal-region-div #id_region').val());
            $('#id_region').selectpicker('refresh');            
          });
          $('#modal-form-region').on('hide.bs.modal', function (e) {
            const inpObj = document.getElementById("region-form");
            if(!inpObj.reportValidity()){
              e.preventDefault();
              }
            })
          {% endif %}
          var successFunction = function(settings, response) {
            var newOption = new Option(response.text, response.value, true, true);
            $('#id_autori').append(newOption).trigger('change');
            $('#id_autori').trigger({
              type: 'select2:select',
              params: {
                  data: [response.text, response.value, true, true]
              }
            });
            $(settings.modalIDD).modal("hide");
          };

          document.addEventListener('DOMContentLoaded', function (event) {
            var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
            formURL: "{% url 'heslar:create_osoba' %}",
            formID: "create-osoba-form",
            modalFormID: "#create-osoba-form",
            modalIDD : "#modal-form",
            successFunc:successFunction,
          })
          new Modal(options, "create-autor"); 
          
        });
  </script>
  <script>
      $(document).ready(function () {
          document.getElementById("id-app-entity-item").innerHTML = "{% trans "templates.toolbarDokument.dokument.zapsat.label" %}"
      })
  </script>

{% endblock %}
