{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{% trans "Detail dokumentu" %}{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}"/>
{% endblock %}

{% block content %}
  <div class="app-entity-dokument">
    {% include "toolbar_dokument.html" with d=dokument  showcontrols=True %}

    {% include "state_component_document.html" with dokument=dokument %}

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Detail" %}
        </div>
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn" href="{% url 'dokument:edit' dokument.ident_cely %}" rel="tooltip"
               data-placement="top" title="{% trans 'Upravit' %}">
              <span class="material-icons">edit</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Typ dokumentu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.typ_dokumentu }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Materiál originálu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.material_originalu }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Organizace" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.organizace }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Rok vzniku" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.rok_vzniku }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Přístupnost" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.pristupnost }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Datum zveřejnění" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.datum_zverejneni|date:'Y/m/d' }}" readonly>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>{% trans "Popis" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.popis }}" readonly>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>{% trans "Poznámka" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.poznamka }}" readonly>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>{% trans "Označení originálu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.oznaceni_originalu }}" readonly>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Uložení originálu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.ulozeni_originalu }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Licence" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.licence }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Jazyky" %}</label>
              <div class="input-group">
                <input class="form-control app-ellipsis" type="text" placeholder="{{ dokument.jazyky.all|hesla_to_list }}" readonly>
                <div class="input-group-append" data-toggle="popover" data-placement="top" data-content="<strong>{% trans 'Seznam jazyků' %}:</strong> {{ dokument.jazyky.all|hesla_to_list }}">
                  <span class="input-group-text">
                    <span class="material-icons">info</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Posudky" %}</label>
              <div class="input-group">
                <input class="form-control app-ellipsis" type="text" placeholder="{{ dokument.posudky.all|hesla_to_list }}" readonly>
                <div class="input-group-append" data-toggle="popover" data-placement="top" data-content="<strong>{% trans 'Seznam posudků' %}:</strong> {{ dokument.posudky.all|hesla_to_list }}">
                  <span class="input-group-text">
                    <span class="material-icons">info</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Osoby" %}</label>
              <div class="input-group">
                <input class="form-control app-ellipsis" type="text" placeholder="{{ dokument.osoby.all|osoby_to_list }}" readonly>
                <div class="input-group-append" data-toggle="popover" data-placement="top" data-content="<strong>{% trans 'Seznam osob' %}:</strong> {{ dokument.osoby.all|osoby_to_list   }}">
                  <span class="input-group-text">
                    <span class="material-icons">info</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Datum vzniku" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.datum_vzniku|date:'Y/m/d' }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Zachovalost" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.zachovalost }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Náhrada" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.nahrada }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Počet variant originálu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.pocet_variant_originalu }}" readonly>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>{% trans "Odkaz" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.odkaz }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Formát plánu/foto" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.format }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Měřítko plánu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.meritko }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Výška plánu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.vyska }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Šířka plánu" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.sirka }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Objekt/kontext" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.cislo_objektu }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Země" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.zeme }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Region" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.region }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Událost" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.udalost }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Typ události" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.udalost_typ }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Rok od" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.rok_od}}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Rok do" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.rok_do }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "Důvěryhodnost" %}</label>
              <input class="form-control" type="text" placeholder="{{ dokument.extra_data.duveryhodnost }}" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card app-card-form app-card-casti-dokumentu">
      <div id="karta-casti-dokumentu" class="card-header">
        <div class="app-fx app-left">
          {% trans "Části dokumentu" %}
        </div>
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% for dc in dokument.casti.all %}
            <li class="list-group-item">
              <div class="d-flex align-items-center">
                <a href="#" class="app-entity-color mr-1" onclick="show_form('detail_dj_form_{{ dc.ident_cely }}')">
                  <strong>{{ dc.ident_cely|last_x_letters:4 }}</strong>
                </a>
                <a href="{% url 'arch_z:detail' dc.archeologicky_zaznam.ident_cely %}">
                  ({{ dc.archeologicky_zaznam.ident_cely }})
                </a>
              </div>
              {% if dc.komponenty.komponenty.all %}
                <ul class="app-list-group-in">
                  {% for k in dc.komponenty.komponenty.all %}
                    <li>
                      <div class="d-flex align-items-baseline">
                        <a href="#" class="flex-fill mr-2 app-entity-color"
                           onclick="show_form('detail_komponenta_form_{{ k.ident_cely }}')">
                          {{ k.ident_cely|last_x_letters:4 }} ({{ k.obdobi }} - {{ k.areal }})
                        </a>
                        <span class="badge badge-primary badge-pill">{{ k.pocet_nalezu }}</span>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% empty %}
              <div class="app-note">
                <span class="material-icons">info</span>
                {% trans "Dokument nemá žádné části dokumentu" %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Soubory" %}
        </div>
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn app-entity-dokument" href="{% url 'core:upload_file_dokument' dokument.ident_cely %}"
               rel="tooltip"
               data-placement="top" title="{% trans 'Nahrát soubory' %}">
              <span class="material-icons">publish</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        {% if soubory %}
          {% include "core/filetable.html" with soubory=soubory next_url='/dokument/detail/' ident=dokument.ident_cely %}
        {% else %}
          <div class="app-note">
            <span class="material-icons">info</span>
            {% trans "Dokument zatím neobsahuje žádné soubory." %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
