{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load template_filters %}
{% load crispy_forms_field %}

{% block title %}{% trans "dokument.templates.detail_model_3D.detailDokumentu.title" %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}"/>
{% endblock %}

{% block content %}
  <div class="app-entity-knihovna_3d">
    {% include "toolbar_dokument.html" with d=dokument  showcontrols=True is_3d=True %}

    {% include "state_component_document.html" with dokument=dokument %}

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "dokument.templates.detail_model_3D.nahledy3dModelu.cardHeader" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn app-entity-knihovna_3d" href="{% url 'core:upload_file' 'model3d' dokument.ident_cely %}"
               rel="tooltip"
               data-placement="top" title="{% trans 'dokument.templates.detail_model_3D.nahledy3dModelu.nahratSoubor.tooltip' %}">
              <span class="material-icons">publish</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body content-with-table-responsive">
        {% if soubory %}
          {% include "core/filetable.html" with next_url='/dokument/model/detail/' ident=dokument.ident_cely allow_replace=True vazba_trida="model3d" %}
        {% else %}
          <div class="app-note">
            <span class="material-icons">info</span>
            {% trans "dokument.templates.detail_model_3D.nahledy3dModelu.dokumentBezSouboru.text" %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "dokument.templates.detail_model_3D.detail.cardHeader" %}
        </div>
        {% if show.editovat %}
          <div class="app-fx app-right">
            <div class="btn-group" role="group">
              <a class="btn" href="{% url 'dokument:edit-model-3D' dokument.ident_cely %}" rel="tooltip"
                 data-placement="top" title="{% trans 'dokument.templates.detail_model_3D.detail.upravit.tooltip' %}">
                <span class="material-icons">edit</span>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
      <form>
        <div class="card-body">
          {% if warnings %}
            <div class="alert alert-info" role="alert">
              <ul>
                {% for warning in warnings %}
                  <li>{{ warning }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="row">
            <div class="form-group col-sm-4 col-lg-2">
              {{ formDokument.autori|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formDokument.rok_vzniku|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formDokument.organizace|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formDokument.typ_dokumentu|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formExtraData.format|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formDokument.oznaceni_originalu|as_crispy_field }}
            </div>
            <div class="form-group col-sm-12">
              {{ formDokument.popis|as_crispy_field }}
            </div>
            <div class="form-group col-sm-12">
              {{ formDokument.poznamka|as_crispy_field }}
            </div>
            <div class="form-group col-sm-8">
              {{ formExtraData.odkaz|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formDokument.licence|as_crispy_field }}
            </div>
          </div>
          {% include "dokument/coor_doc.html" %}
          <div class="row">
            <div class="col-sm-12">
              <span class="app-divider-label">{% trans "dokument.templates.detail_model_3D.detail.komponentaDivider.text" %}</span>
              <hr class="mt-0"/>
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.obdobi|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.presna_datace|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.areal|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formKomponenta.aktivity|as_crispy_field }}
            </div>
            <div class="form-group col-sm-4 col-lg-2">
            </div>
            <div class="form-group col-sm-4 col-lg-2">
              {{ formExtraData.duveryhodnost|as_crispy_field }}
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "dokument.templates.detail_model_3D.predmetyObjekty.cardHeader" %}
        </div>
      </div>
      <div class="card-body formset-table">
        <h5>{% trans "dokument.templates.detail_model_3D.predmetyObjekty.Objekty" %}</h5>
        <form class="mb-3 submit-spinner" method="POST" action="{% url 'nalez:edit_nalez' 'dokument' komponenta.ident_cely %}">
          {% if formset.objekt.forms %}
          <div class="content-with-table-responsive-container">
            <div class="content-with-table-responsive">
              {% crispy formset.objekt formset.helper_objekt %}
            </div>
          </div>
          {% else %}
          <div class="app-note">
            <span class="material-icons">info</span>
            {% trans "dokument.templates.detail_model_3D.predmetyObjekty.dokumentBezObjektu.text" %}
          </div>
          {% endif %}
        <h5>{% trans "dokument.templates.detail_model_3D.predmetyObjekty.Predmety" %}</h5>
          {% if formset.predmet.forms %}
          <div class="content-with-table-responsive-container">
            <div class="content-with-table-responsive">
              {% crispy formset.predmet formset.helper_predmet %}
            </div>
          </div>
          {% else %}
          <div class="app-note">
            <span class="material-icons">info</span>
            {% trans "dokument.templates.detail_model_3D.predmetyObjekty.dokumentBezPredmetu.text" %}
          </div>
          {% endif %}
          {% if show.editovat %}
          <button type="submit" id="editNalezSubmitButton" class="btn btn-primary">{% trans "dokument.templates.detail_model_3D.predmetyObjekty.submitButton.text" %}
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            style="display: none"></span>
          </button>
          {% endif %}
        </form>
      </div>
    </div> 
  </div>

{% endblock %}

{% block script %}
<script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
  <script>
      $(document).ready(function () {
          ident_cely = "{{dokument.ident_cely}}";
          const url = '{% url "heslar:get-initial-value" %}' + "?nadrazene=";
          objekty = document.querySelector('#objekt_table').querySelector('tbody').querySelectorAll('tr');
          for (let i = 0; i < objekty.length; i++) {
            get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}-K001_o-${i}-druh`,`#id_${ident_cely}-K001_o-${i}-specifikace`,url);
          }
          predmety = document.querySelector('#predmet_table').querySelector('tbody').querySelectorAll('tr');
          for (let i = 0; i < predmety.length; i++) {
            get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}-K001_p-${i}-druh`,`#id_${ident_cely}-K001_p-${i}-specifikace`,url);
          } 
      })
  </script>
  <script>
    //modal scripts
    document.addEventListener('DOMContentLoaded', function (event) {
      if ("{{show.odeslat_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'dokument:odeslat' dokument.ident_cely %}?sent_stav={{dokument.stav}}",
        formID: "odeslat-dokument-form",
        modalFormID: "#odeslat-dokument-form",
      })
      odeslat_akci_modal = new Modal(options, "dokument-odeslat");
      };
      if ("{{show.vratit_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'dokument:vratit' dokument.ident_cely %}?sent_stav={{dokument.stav}}",
        formID: "vratit-dokument-form",
        modalFormID: "#vratit-dokument-form",
      })
      vratit_akci_modal = new Modal(options, "dokument-vratit");
      }
      if ("{{show.archivovat_link}}" != "False"){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'dokument:archivovat' dokument.ident_cely %}?sent_stav={{dokument.stav}}",
          formID: "archivovat-dokument-form",
          modalFormID: "#archivovat-dokument-form",
        })
      archivovat_akci_modal = new Modal(options, "dokument-archivovat");
      }
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'dokument:smazat' dokument.ident_cely %}?sent_stav={{dokument.stav}}",
        formID: "smazat-dokument-form",
        modalFormID: "#smazat-dokument-form",
      })
      smazat_akci_modal = new Modal(options, "dokument-smazat");
      if (document.getElementsByClassName("objekt-smazat-btn")){
        elements = document.getElementsByClassName("objekt-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "smazat-objekt-form",
          modalFormID: "#smazat-objekt-form",
          })
          console.log(elements.item(i))
          new Modal(options, elements.item(i).id);
        }
      }
  });
  
  </script>


{% endblock %}
