{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{% trans "Detail dokumentu" %}{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}"/>
{% endblock %}

{% block content %}
  <div class="app-entity-dokument">
    {% include "toolbar_dokument.html" with d=dokument  showcontrols=True %}

    {% include "state_component_document.html" with dokument=dokument %}

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Detail" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn" href="{% url 'dokument:edit' dokument.ident_cely %}" rel="tooltip"
               data-placement="top" title="{% trans 'Upravit' %}">
              <span class="material-icons">edit</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        <div>
          {% crispy form_dokument %}
        </div>
        <div css_class="col-sm-12">
                <span class="app-divider-label">Rozšiřující popis</span>
                <hr class="mt-0" />
        </div>
        <div>
          {% crispy form_dokument_extra %}
        </div>
      </div>
    </div>

    <div class="card app-card-form app-card-casti-dokumentu">
      <div id="karta-casti-dokumentu" class="card-header">
        <div class="app-fx app-left">
          {% trans "Části dokumentu" %}
        </div>
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% for dc in dokument.casti.all %}
            <li class="list-group-item">
              <div class="d-flex align-items-center">
                <a href="#" class="app-entity-color mr-1" onclick="show_form('detail_dj_form_{{ dc.ident_cely }}')">
                  <strong>{{ dc.ident_cely|last_x_letters:4 }}</strong>
                </a>
                {% if dc.archeologicky_zaznam %}
                  <a href="{% url 'arch_z:detail' dc.archeologicky_zaznam.ident_cely %}">
                    ({{ dc.archeologicky_zaznam.ident_cely }})
                  </a>
                {% endif %}
              </div>
              {% if dc.komponenty.komponenty.all %}
                <ul class="app-list-group-in">
                  {% for k in dc.komponenty.komponenty.all %}
                    <li>
                      <div class="d-flex align-items-baseline">
                        <a href="#" class="flex-fill mr-2 app-entity-color"
                           onclick="show_form('detail_komponenta_form_{{ k.ident_cely }}')">
                          {{ k.ident_cely|last_x_letters:4 }} ({{ k.obdobi }} - {{ k.areal }})
                        </a>
                        <span class="badge badge-primary badge-pill">{{ k.pocet_nalezu }}</span>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% empty %}
              <div class="app-note">
                <span class="material-icons">info</span>
                {% trans "Dokument nemá žádné části dokumentu" %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Soubory" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn app-entity-dokument" href="{% url 'core:upload_file_dokument' dokument.ident_cely %}"
               rel="tooltip"
               data-placement="top" title="{% trans 'Nahrát soubory' %}">
              <span class="material-icons">publish</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        {% if soubory %}
          {% include "core/filetable.html" with soubory=soubory show=show.editovat next_url='/dokument/detail/' ident=dokument.ident_cely %}
        {% else %}
          <div class="app-note">
            <span class="material-icons">info</span>
            {% trans "Dokument zatím neobsahuje žádné soubory." %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
