{% load i18n %}
<div class="card app-card-form app-card-dokument app-table-list-container">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "Dokumenty" %}
      </div>
      {% if show.editovat and show.pripojit_dokumenty %}
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Další nabídka' %}">
            <span class="material-icons">add</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="others">
              {% if type == "arch_z"%}
            <a class="dropdown-item"
               href="{% url 'dokument:zapsat-do-akce' zaznam.ident_cely %}">{% trans 'Přidat nový dokument' %}</a>
            <button id="dokument-pripojit" class="dropdown-item" type="button" name="button" href="{% url 'arch_z:pripojit_dokument' zaznam.ident_cely %}">
              {% trans "Připojit existující dokument" %}
            </button>
            {% if app == "pr" %}
            <button id="dokument-pripojit-z-projektu" class="dropdown-item" type="button" name="button" href="{% url 'arch_z:pripojit_dokument' zaznam.ident_cely zaznam.akce.projekt.ident_cely %}">
              {% trans "Připojit existující dokument z projektu" %}
            </button>
            {% endif %}
               {% elif type == "projekt" %}
            <a class="dropdown-item"
               href="{% url 'dokument:zapsat-do-projektu' zaznam.ident_cely %}">{% trans 'Přidat nový dokument' %}</a>
            <button id="dokument-pripojit" class="dropdown-item" type="button" name="button" href="{% url 'projekt:pripojit_dokument' zaznam.ident_cely %}">
              {% trans "Připojit existující dokument" %}
            </button>
               {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
        <div class="card-body">
    {% if dokumenty %}
      {% include "dokument/dokument_table_only.html" %}
    {% elif type == "arch_z" %}
    <div class="app-note">
      <span class="material-icons">info</span>
      {% trans "Akce zatím neobsahuje žádné dokumenty." %}
    </div>
    {% elif type == "projekt" %}
    <div class="app-note">
      <span class="material-icons">info</span>
      {% trans "Projekt zatím neobsahuje žádné dokumenty." %}
    </div>
    {% endif %}
  </div>
</div>
<script>
  //modal scripts
  document.addEventListener('DOMContentLoaded', function (event) {
    if (document.getElementsByClassName("dokument-odpojit-btn")){
      elements = document.getElementsByClassName("dokument-odpojit-btn")
      for (let i = 0; i < elements.length; i++){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "odpojit-dokument-form",
        modalFormID: "#odpojit-dokument-form",
        })
        new Modal(options, elements.item(i).id);
      }
    }
    if ("{{show.editovat}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "pripojit-dokument-form",
        modalFormID: "#pripojit-dokument-form",
      })
      dokument_pripojit_modal = new Modal(options, "dokument-pripojit");
    };
    if ("{{show.editovat}}" != "False" && "{{app}}" != "lokalita"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "pripojit-dokument-form",
        modalFormID: "#pripojit-dokument-form",
      })
      dokument_pripojit_z_projektu_modal = new Modal(options, "dokument-pripojit-z-projektu");
    };
});

</script>