{% load i18n %}
<table class="table table-striped table-hover table-sm mb-0">
  <thead>
  <tr>
    <th>{% trans "dokument.templates.dokument_table_only.nahled.label" %}</th>
    <th>{% trans "dokument.templates.dokument_table_only.identifikator.label" %}</th>
    <th>{% trans "dokument.templates.dokument_table_only.typDokumentu.label" %}</th>
    <th>{% trans "dokument.templates.dokument_table_only.organizace.label" %}</th>
    <th>{% trans "dokument.templates.dokument_table_only.rokVzniku.label" %}</th>
    <th>{% trans "dokument.templates.dokument_table_only.popis.label" %}</th>
    {% if show.dokument_odpojit %}
    <th>{% trans "dokument.templates.dokument_table_only.odpojitDokument.label" %}</th>
    {% endif %}
    {% if pripojit %}
    <th>{% trans "dokument.templates.dokument_table_only.pripojitDokument.label" %}</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for d in dokumenty %}
      {% include "dokument/dokument_table_row.html" %}
  {% endfor %}
  </tbody>
</table>
{% include "soubor_modal.html" %}
