<tr>
    {% if d.thumbnail_image and d.small_thumbnail %}
      <td><img src="{% url 'core:download_thumbnail' 'dokument' d.ident_cely d.thumbnail_image %}" class="image-nahled" data-toggle="modal" data-target="#soubor-modal" data-fullsrc="{% url 'core:download_thumbnail_large' 'dokument' d.ident_cely d.thumbnail_image %}"></td>
    {% else %}
      <td></td>
    {% endif %}
    <td class="app-ident-cely">
      {% if d.ident_cely %}
        <a href="{% url 'dokument:detail' d.ident_cely %}">
          <span class="material-icons">description</span>
          {{ d.ident_cely }}
        </a>
      {% endif %}
    </td>
    <td>{{ d.typ_dokumentu }}</td>
    <td>{{ d.organizace }}</td>
    <td>{{ d.rok_vzniku }}</td>
    <td>{{ d.popis }}</td>
    {% if show.dokument_odpojit %}
    <td>
      <button id="dokument-odpojit-{{d.ident_cely}}" class="dokument-odpojit-btn" type="button" name="button" href="{% url type|add:':odpojit_dokument' zaznam.ident_cely d.ident_cely %}">
        <span class="material-icons app-color-danger">delete_forever</span>
      </button>
    </td>
    {% endif %}
    {% if pripojit %}
    <td><input type="checkbox" name="dokument" value="{{d.id}}"></td>
    {% endif %}
</tr>