{% load i18n %}
{% load static %}
<div class="card app-card-form app-card-dokument app-table-list-container">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "dokument.templates.dokument_table.cardHeader" %}
      </div>
      
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'dokument.templates.dokument_table.dalsiNabidka.tooltip' %}">
            <span class="material-icons">add</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="others">
            {% if type == "arch_z"%}
              {% if show.zapsat_dokumenty %}
                <a class="dropdown-item"
                href="{% url 'dokument:zapsat-do-akce' zaznam.ident_cely %}">{% trans 'dokument.templates.dokument_table.pridatNovyDokument.label' %}</a>
              {% endif %}
              {% if show.pripojit_dokumenty %}
                <button id="dokument-pripojit" class="dropdown-item" type="button" name="button" href="{% url 'arch_z:pripojit_dokument' zaznam.ident_cely %}">
                {% trans "dokument.templates.dokument_table.pripojitExistDokument.label" %}
                </button>
              {% endif %}
              {% if app == "pr" and show.pripojit_dokumenty %}
                <button id="dokument-pripojit-z-projektu" class="dropdown-item" type="button" name="button" href="{% url 'arch_z:pripojit_dokument' zaznam.ident_cely zaznam.akce.projekt.ident_cely %}">
                {% trans "dokument.templates.dokument_table.pripojitExistDokumentZProjektu.label" %}
                </button>
              {% endif %}
            {% elif type == "projekt" %}
              {% if show.zapsat_dokumenty %}
                <a class="dropdown-item"
                href="{% url 'dokument:zapsat-do-projektu' zaznam.ident_cely %}">{% trans 'dokument.templates.dokument_table.pridatNovyDokumentDoProjektu.label' %}</a>
              {% endif %}
              {% if show.pripojit_dokumenty %}
                <button id="dokument-pripojit" class="dropdown-item" type="button" name="button" href="{% url 'projekt:pripojit_dokument' zaznam.ident_cely %}">
                {% trans "dokument.templates.dokument_table.pripojitExistDokumentDoProjektu.label" %}
                </button>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
        <div class="card-body content-with-table-responsive">
    {% if dokumenty %}
      <div class="loader" style="text-align:center;" >
        <img src="{% static "django_tables2_column_shifter/img/loader.gif" %}" style="margin:5px auto;" alt="loader"/>
        {% trans "templates.bootstrap4Table.loading"%}
      </div> 
    {% elif type == "arch_z" %}
    <div class="app-note">
      <span class="material-icons">info</span>
      {% trans "dokument.templates.dokument_table.AkceBezDokumentu.text" %}
    </div>
    {% elif type == "projekt" %}
    <div class="app-note">
      <span class="material-icons">info</span>
      {% trans "dokument.templates.dokument_table.ProjektBezDokumentu.text" %}
    </div>
    {% endif %}
  </div>
</div>
<script>
  //modal scripts
  document.addEventListener('DOMContentLoaded', function (event) {
    if (document.getElementsByClassName("dokument-odpojit-btn")){
      elements = document.getElementsByClassName("dokument-odpojit-btn")
      for (let i = 0; i < elements.length; i++){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "odpojit-dokument-form",
        modalFormID: "#odpojit-dokument-form",
        })
        new Modal(options, elements.item(i).id);
      }
    }
    if ("{{show.pripojit_dokumenty}}"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "pripojit-dokument-form",
        modalFormID: "#pripojit-dokument-form",
      })
      dokument_pripojit_modal = new Modal(options, "dokument-pripojit");
    };
    if ("{{show.pripojit_dokumenty}}" && "{{app}}" != "lokalita"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "pripojit-dokument-form",
        modalFormID: "#pripojit-dokument-form",
      })
      dokument_pripojit_z_projektu_modal = new Modal(options, "dokument-pripojit-z-projektu");
    };
});

</script>
<script type="text/javascript">
  // projekt pass load
  $(document).ready(function() {
    if ({{dokumenty.count}} > 0) {
      $.ajax({
        type: "GET",
        url: '{% url "dokument:get_dokumenty_az_table" %}', 
        data: {'id': {{zaznam.id}}, "show_dokument_odpojit": "{{show.dokument_odpojit}}", "type":"{{type}}"},
        success : function(data) {
          $('.app-card-dokument .loader').css("display", "none");
          $('.app-card-dokument .content-with-table-responsive').append(data);
         }
        });
      }
    }
  )
</script>