{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Detail dokumentační jednotky" %}{% endblock %}
{% block head %}
  <!-- Map imports -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="">
  </script>
{% endblock %}

{% block content %}

  <div class="row">
    <h1>{% trans "Dokumentační jednotka" %} {{ dj.ident_cely }}</h1>
    <a href="{% url 'arch_z:detail' dj.archeologicky_zaznam.ident_cely %}">Parent</a>
    <div class="col">
      <a href="#">{% trans 'Smazat' %}</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      {% trans "Detail" %}
      <a href="#" rel="tooltip" data-placement="top"
         title="{% trans 'Upravit' %}">
        <span class="material-icons">edit</span>
      </a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">Typ: {{ dj.typ }}</div>
        <div class="col">Negat: {{ dj.negativni_jednotka }}</div>
        <div class="col">Nazev: {{ dj.nazev }}</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      {% trans "Pian" %}
      <a href="#" rel="tooltip" data-placement="top"
         title="{% trans 'Upravit' %}">
        <span class="material-icons">edit</span>
      </a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">Pian: {{ dj.pian.ident_cely }}</div>
        <div class="col">Stav: {{ dj.pian.get_stav_display }}</div>
        <div class="col">Typ: {{ dj.pian.typ }}</div>
        <div class="col">Presnost: {{ dj.pian.presnost }}</div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">{% trans "Komponenty" %} <a href="{% url 'komponenta:zapsat' dj.ident_cely %}">+</a></div>
    <div class="card-body">
      Komponenty:
      {% for k in komponenty %}
        <div class="row">
          <div class="col"><a href="{% url 'komponenta:detail' k.ident_cely %}">Ident: {{ k.ident_cely }}</a></div>
              <div class="col">Obdobi: {{ k.obdobi }}</div>
              <div class="col">Areal: {{ k.areal }}</div>
              <div class="col">Datace: {{ k.presna_datace }}</div>
              <div class="col">Poznamka: {{ k.poznamka }}</div>
            </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block script %}
{% endblock %}
