[flake8]
ignore = D203, E231, E501, E702, W503, E203
max-line-length = 120
exclude =
    .git,
    __pycache__,
    venv,
    .idea,
	dev.py,
	local_test.py,
	production.py,
	apps.py,
	*/migrations/*
