# Database and venv
venv/
db.sqlite3

# Sensitive files
local_settings.py
webclient_env_var.sh
secrets.json
secrets_backup.json

# Pycharm project files
.idea/
*.ini

# VsCode project files
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
CACHE/

# Sphinx documentation
docs/_build/

#Media documents - emails and soubory
vol/web/media
vol/web/media/emails
vol/web/media/soubory

#jnihnat - local changes
backup_file_db_v4.tar
backup_file_db_v5.tar
docker-compose-db-yml
Dockerfile-DB
scripts/restore_database.sh
docker-compose-debug-yml
docker-compose-db-prod-yml