# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        args: [--fix=crlf]
    -   id: check-yaml
    -   id: check-added-large-files
#-   repo: https://github.com/asottile/seed-isort-config
#    rev: v2.2.0
#    hooks:
#    -   id: seed-isort-config
#-   repo: https://github.com/timothycrosley/isort
#    rev: 5.6.4
#    hooks:
#    -   id: isort
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
