version: "3.8"

services:
  proxy:
    image: aiscr/webamcr-proxy
    volumes:
      - static_data:/vol/static
      - nginx_data:/vol/nginx/data
    ports:
      - "8080:8080"
    networks:
      - prod-net

volumes:
  static_data:
  locale_data:
  nginx_data:
networks:
  prod-net:
    external: true
