version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-production
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
    networks:
      - aiscr-webamcr_reverse-proxy
    ports:
      - "8000:8000"

  memcached:
    container_name: memcached
    image: memcached:latest
    ports:
        - "11211:11211"
    networks:
      - aiscr-webamcr_reverse-proxy

volumes:
  static_data:
  locale_data:

networks:
  aiscr-webamcr_reverse-proxy:
    external: true
