version: "3.8"

services:
  web:
    build:
      context: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=webclient.settings.dev
  livereload:
    build:
      context: .
    command: python3 manage.py livereload --host=0.0.0.0 --port=35729
    volumes:
      - ./webclient:/code
    restart: on-failure
    ports:
      - "35729:35729"
    environment:
      - DJANGO_SETTINGS_MODULE=webclient.settings.dev
    depends_on:
      - web
