version: "3.8"

services:
  db:
    image: postgis/postgis:14-3.3
    ports:
      - "5432:5432"
    secrets:
      - local_db_pass
    environment:
      - POSTGRES_DB=db_copy_test
      - POSTGRES_PASSWORD_FILE=/run/secrets/local_db_pass
    volumes:
      - db_dev_data:/var/lib/postgresql/data
    restart: always
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "2G"

volumes:
  db_dev_data:

networks:
  prod-net:
    external: true

secrets:
  local_db_pass:
    external: true
