version: "3.8"

services:
  web:
    build:
      context: .
    command: python3 manage.py runserver 0.0.0.0:8000
    #  [
    #    "sh",
    #    "-c",
    #    "pip install debugpy -t /tmp && python3 /tmp/debugpy --wait-for-client --listen 0.0.0.0:5678 manage.py runserver 0.0.0.0:8000",
    #  ]
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
      - locale_data:/vol/web/locale
    ports:
      - "8000:8000"
      - "5678:5678"
    environment:
      - DJANGO_SETTINGS_MODULE=webclient.settings.dev
    depends_on:
      - db
  livereload:
    build:
      context: .
    command: python3 manage.py livereload --host=0.0.0.0 --port=35729
    volumes:
      - ./webclient:/code
    restart: on-failure
    ports:
      - "35729:35729"
    environment:
      - DJANGO_SETTINGS_MODULE=webclient.settings.dev
    depends_on:
      - web
      - db
  db:
    build:
      context: .
      dockerfile: Dockerfile-DB
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - FILE=backup_file_db_v4.tar
      - DBNAME=aiscerestore
  memcached:
    container_name: memcached
    image: memcached:latest
    ports:
        - "11211:11211"

volumes:
  locale_data:

