version: "3.8"

services:
  proxy:
    build:
      context: ./proxy
    volumes:
      - static_data:/vol/static
    ports:
      - "8080:8080"
    networks:
      - reverse-proxy

volumes:
  static_data:
  locale_data:

networks:
  reverse-proxy: