version: "3.8"

services:
  web:
    image: aiscr/webamcr:${IMAGE_TAG}
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
      - nginx_data:/vol/web/nginx/data
    networks:
      - prod-net
    ports:
      - "2525:2525"
  memcached:
    image: memcached:latest
    networks:
      - prod-net
  sidecar:
    image: eeacms/rsync:latest
    environment:
      - CRON_TASK_1=*/1 * * * * rsync -a /vol/web/locale/* /backup/
    volumes:
      - $HOME/translations_backup:/backup
      - locale_data:/vol/web/locale
    command:  
      - client

  redis:
    build: ./redis
    image: redis:7
    ports:
      - "6379:6379"
    secrets:
      - redis_pass
    command: sh -c 'redis-server /home/redis/redis.conf'
    networks:
      - prod-net

  celery_worker:
    image: aiscr/webamcr:${IMAGE_TAG}
    command: celery -A webclient worker -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - prod-net
    depends_on:
      redis:
        condition: service_started
      web:
        condition: service_started

  celery_beat:
    image: aiscr/webamcr:${IMAGE_TAG}
    command: celery -A webclient beat -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - prod-net
    depends_on:
      redis:
        condition: service_started
      web:
        condition: service_started

volumes:
  static_data:
  locale_data:
  nginx_data:

networks:
  prod-net:
    external: true

secrets:
  db_conf:
   external: true
  mail_conf:
   external: true
  redis_pass:
    external: true
