version: "3.8"

services:
  web:
    image: aiscr/webamcr:${IMAGE_TAG}
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
      - nginx_data:/vol/web/nginx/data
    networks:
      - prod-net
    ports:
      - "2525:2525"
    healthcheck:
      test: ["CMD-SHELL", "bash /scripts/run-healthcheck.sh"]
      interval: 60s
      timeout: 10s
      retries: 10
      start_period: 1s
  memcached:
    image: memcached:latest
    networks:
      - prod-net
  sidecar:
    image: eeacms/rsync:latest
    environment:
      - CRON_TASK_1=*/1 * * * * rsync -a /vol/web/locale/* /backup/
    volumes:
      - $HOME/translations_backup:/backup
      - locale_data:/vol/web/locale
    command:  
      - client

  redis:
    image: aiscr/webamcr-redis:${IMAGE_TAG}
    ports:
      - "6379:6379"
    secrets:
      - redis_pass
    command: sh -c 'redis-server /home/redis/redis.conf'
    networks:
      - prod-net
    healthcheck:
      test: ["CMD-SHELL", 'bash /scripts/run-healthcheck_redis.sh']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  celery_worker:
    image: aiscr/webamcr:${IMAGE_TAG}
    command: celery -A webclient worker -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - prod-net
    healthcheck:
      test: ["CMD-SHELL", "bash /scripts/run-healthcheck_celery.sh"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  celery_beat:
    image: aiscr/webamcr:${IMAGE_TAG}
    command: celery -A webclient beat -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - prod-net
    healthcheck:
      test: ["CMD-SHELL", "bash /scripts/run-healthcheck_celery.sh"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  grafana:
    image: grafana/grafana-enterprise:8.2.0
    restart: always
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=/run/secrets/grafana_admin_password
    volumes:
      - grafana_data:/var/lib/grafana
    secrets:
      - grafana_admin_password
    ports:
      - "3000:3000"
    networks:
      - prod-net

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus:/etc/prometheus
    networks:
      - prod-net
    ports:
      - 9090:9090

  logstash:
    image: docker.elastic.co/logstash/logstash:8.7.0
    environment:
      - LOGSTASH_INTERNAL_PASSWORD=logstash_elastic_pass
    volumes:
      - logs_volume:/logs
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    networks:
      - prod-net
    depends_on:
      - elasticsearch
    secrets:
      - logstash_elastic_pass

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.7.0
    hostname: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms750m -Xmx750m
      - http.host=0.0.0.0
      - xpack.security.enabled=true
      - XPACK_MONITORING_ENABLED=false
      - ELASTIC_PASSWORD=elastic_pass
    volumes:
      - elasticsearch_volume:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - prod-net
    secrets:
      - elastic_pass

  kibana:
    image: docker.elastic.co/kibana/kibana:8.7.0
    restart: always
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    networks:
      - prod-net
    volumes:
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro

  selenium:
    image: selenium/standalone-chrome-debug
    ports:
      - 4444:4444
      - 5900:5900
    shm_size: '1gb'
    networks:
      - prod-net

volumes:
  static_data:
  locale_data:
  nginx_data:
  logs_volume:
  elasticsearch_volume:
  grafana_data:

networks:
  prod-net:
    external: true

secrets:
  db_conf:
   external: true
  mail_conf:
   external: true
  redis_pass:
    external: true
  grafana_admin_password:
    external: true
  elastic_pass:
    external: true
  logstash_elastic_pass:
    external: true

