version: "3.8"

services:
  web:
    image: huldcz/aiscr_prod:latest
    secrets:
      - db_conf
      - mail_conf
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
      - nginx_data:/vol/web/nginx/data
    networks:
      - reverse-proxy
    expose:
      - "8000"

  memcached:
    image: memcached:latest
    expose:
      - "11211"
    networks:
      - reverse-proxy

volumes:
  static_data:
  locale_data:
  nginx_data:


networks:
  reverse-proxy:
    external: true

secrets:
  db_conf:
   external: true
  mail_conf:
   external: true
