version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-production
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
      - nginx_data:/vol/web/nginx/data
    networks:
      - git-reverse-proxy
    expose:
      - "8000"
    ports:
      - "2525:2525"

  memcached:
    image: memcached:latest
    expose:
      - "11211"
    networks:
      - git-reverse-proxy
  sidecar:
    image: eeacms/rsync:latest
    environment:
      - CRON_TASK_1=*/1 * * * * rsync -a /vol/web/locale/* /backup/
    volumes:
      - $HOME/translations_backup:/backup
      - locale_data:/vol/web/locale
    command:  
      - client

  redis:
    build: ./redis
    image: redis:7
    ports:
      - "6379:6379"
    secrets:
      - redis_pass
    command: sh -c 'redis-server /home/redis/redis.conf'
    networks:
      - git-reverse-proxy

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile-DEV
    command: celery -A webclient worker -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - git-reverse-proxy
    depends_on:
      redis:
        condition: service_started
      web:
        condition: service_started

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile-DEV
    command: celery -A webclient beat -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - git-reverse-proxy
    depends_on:
      redis:
        condition: service_started
      web:
        condition: service_started

  grafana:
    image: grafana/grafana-enterprise:8.2.0
    restart: always
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=/run/secrets/grafana_admin_password
    volumes:
      - grafana_data:/var/lib/grafana
    secrets:
      - grafana_admin_password
    ports:
      - "3000:3000"
    networks:
      - git-reverse-proxy

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus:/etc/prometheus
    networks:
      - git-reverse-proxy

  logstash:
    image: docker.elastic.co/logstash/logstash:8.7.0d
    depends_on:
      - elasticsearch
    ports:
      - 9600:9600
      - 5959:5959
    volumes:
      - logs_volume:/logs:ro
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    networks:
      - git-reverse-proxy

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.7.0
    hostname: elasticsearch
    environment:
      - xpack.security.enabled=false
    ports:
      - 9200:9200
    volumes:
      - elasticsearch_volume:/usr/share/elasticsearch/data
    networks:
      - git-reverse-proxy

  kibana:
    image: docker.elastic.co/kibana/kibana:8.7.0
    restart: always
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    networks:
      - git-reverse-proxy

volumes:
  static_data:
  locale_data:
  nginx_data:
  logs_volume:
  elasticsearch_volume:
  grafana_data:

networks:
  git-reverse-proxy:
    external: true

secrets:
  db_conf:
   file : secrets.json
  mail_conf:
   file : secrets_mail_client.json
  redis_pass:
    file : redis_pass.txt
  grafana_admin_password:
    file: grafana_admin_password.txt
