version: "3.8"

services:
  web:
    secrets:
      - db_conf
      - mail_conf
      - redis_pass

secrets:
  db_conf:
   file : secrets.alternative.json
  mail_conf:
   file : secrets_mail_client.json
  redis_pass:
    file: redis_pass.txt
