version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-production
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
      - nginx_data:/vol/web/nginx/data
    networks:
      - git-reverse-proxy
    expose:
      - "8000"
    ports:
      - "2525:2525"
    restart: always
    depends_on:
      celery_worker:
        condition: service_started
      redis:
        condition: service_started
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1G"

  db:
    image: postgis/postgis:14-3.3
    ports:
      - "5432:5432"
    secrets:
      - local_db_pass
    environment:
      - POSTGRES_DB=django_migrated_db
      - POSTGRES_PASSWORD_FILE=/run/secrets/local_db_pass
    volumes:
      - db_dev_data:/var/lib/postgresql/data
    restart: always
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "1G"

  redis:
    build: ./redis
    image: redis:7
    ports:
      - "6379:6379"
    secrets:
      - redis_pass
    command: sh -c 'redis-server /home/redis/redis.conf'
    restart: always
    networks:
      - git-reverse-proxy

  redis-exporter:
    image: oliver006/redis_exporter:v1.61.0-alpine
    ports:
      - "9121:9121"
    secrets:
      - redis_pass
      - redis_host
    depends_on:
      - redis
    entrypoint: [ '/bin/sh', '-c', 'export REDIS_ADDR=$$(cat /var/run/secrets/redis_host) ; export REDIS_PASSWORD=$$(cat /run/secrets/redis_pass) ; /redis_exporter' ]

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile-DEV
    command: celery -A webclient worker -l INFO -n worker1@amcr
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - git-reverse-proxy
    depends_on:
      redis:
        condition: service_started
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "1G"

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile-DEV
    command: celery -A webclient beat -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - git-reverse-proxy
    depends_on:
      redis:
        condition: service_started
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: "1G"

  grafana:
    image: grafana/grafana-enterprise:10.2.8
    restart: always
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=/run/secrets/grafana_admin_password
    volumes:
      - grafana_data:/var/lib/grafana
    secrets:
      - grafana_admin_password
    ports:
      - "3000:3000"
    networks:
      - git-reverse-proxy

  prometheus:
    image: prom/prometheus:v2.45.6
    volumes:
      - ./prometheus:/etc/prometheus
    networks:
      - git-reverse-proxy
    restart: always
    ports:
      - "9090:9090"
    secrets:
      - prometheus_config
    command:
      - "--config.file=/run/secrets/prometheus_config"

  logstash:
    image: docker.elastic.co/logstash/logstash:8.14.1
    environment:
      - LOGSTASH_INTERNAL_PASSWORD=logstash_elastic_pass
    volumes:
      - logs_volume:/logs
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    networks:
      - git-reverse-proxy
    depends_on:
      - elasticsearch
    restart: always
    secrets:
      - logstash_elastic_pass

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.1
    hostname: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms750m -Xmx750m
      - http.host=0.0.0.0
      - xpack.security.enabled=true
      - XPACK_MONITORING_ENABLED=false
      - ELASTIC_PASSWORD=elastic_pass
    volumes:
      - /opt/elastic_logs:/usr/share/elasticsearch/data
      - ./elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ports:
      - 9200:9200
    networks:
      - git-reverse-proxy
    secrets:
      - elastic_pass
    restart: always
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "2G"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.14.1
    restart: always
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    networks:
      - git-reverse-proxy
    volumes:
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro

  selenium:
    image: selenium/standalone-chrome-debug
    ports:
      - 4444:4444
      - 5900:5900
    shm_size: '1gb'
    networks:
      - git-reverse-proxy
    restart: always
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "4G"

volumes:
  static_data:
  locale_data:
  nginx_data:
  logs_volume:
  grafana_data:
  db_dev_data:

networks:
  git-reverse-proxy:
    external: true

secrets:
  local_db_pass:
    file: db_pass.txt
  db_conf:
   file: secrets.json
  mail_conf:
   file: secrets_mail_client.json
  redis_pass:
    file: redis_pass.txt
  redis_host:
    file: redis_host.txt
  grafana_admin_password:
    file: grafana_admin_password.txt
  elastic_pass:
    file: elastic_password.txt
  logstash_elastic_pass:
    file: logstash_elastic_password.txt
  prometheus_config:
    file: prometheus.yml
