version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-production
    secrets:
      - db_conf
      - mail_conf
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
      - nginx_data:/vol/web/nginx/data
    networks:
      - git-reverse-proxy
    expose:
      - "8000"
    ports:
      - "2525:2525"

  memcached:
    image: memcached:latest
    expose:
      - "11211"
    networks:
      - git-reverse-proxy

volumes:
  static_data:
  locale_data:
  nginx_data:

networks:
  git-reverse-proxy:
    external: true

secrets:
  db_conf:
   file : secrets.json
  mail_conf:
   file : secrets_mail_client.json
