version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile-production
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - static_data:/vol/web
      - locale_data:/vol/web/locale
      - nginx_data:/vol/web/nginx/data
    networks:
      - git-reverse-proxy
    expose:
      - "8000"
    ports:
      - "2525:2525"

  memcached:
    image: memcached:latest
    expose:
      - "11211"
    networks:
      - git-reverse-proxy
  sidecar:
    image: eeacms/rsync:latest
    environment:
      - CRON_TASK_1=*/1 * * * * rsync -a /vol/web/locale/* /backup/
    volumes:
      - $HOME/translations_backup:/backup
      - locale_data:/vol/web/locale
    command:  
      - client

  redis:
    build: ./redis
    image: redis:7
    ports:
      - "6379:6379"
    secrets:
      - redis_pass
    command: sh -c 'redis-server /home/redis/redis.conf'
    networks:
      - git-reverse-proxy

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile-DEV
    command: celery -A webclient worker -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - git-reverse-proxy
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy
      web:
        condition: service_started

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile-DEV
    command: celery -A webclient beat -l INFO
    secrets:
      - db_conf
      - mail_conf
      - redis_pass
    volumes:
      - ./webclient:/code
      - ./vol/web:/vol/web
    networks:
      - git-reverse-proxy
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy
      web:
        condition: service_started

volumes:
  static_data:
  locale_data:
  nginx_data:

networks:
  git-reverse-proxy:
    external: true

secrets:
  db_conf:
   file : secrets.json
  mail_conf:
   file : secrets_mail_client.json
  redis_pass:
    external: true
