version: "3.8"

services:
  proxy:
    build:
      context: ./proxy
    volumes:
      - static_data:/vol/static
      - nginx_data:/vol/nginx/data
    ports:
      - "8081:8080"
    networks:
      - git-reverse-proxy

volumes:
  static_data:
  locale_data:
  nginx_data:


networks:
  git-reverse-proxy:
      name: git-reverse-proxy
