{% extends "base.html" %}
{% load template_filters %}
{% load template_tags %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
{% compress css %}
    <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="print">
{% endcompress %}
<script src="{% static 'js/html-to-rtf-browser.js' %}"></script>
<script src="{% static 'js/vypis-report.js' %}"></script>
{% endblock %}

{% block title %}{% trans "vypis.templates.vypis.index.title" %}{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
  {% if "en" in LANGUAGE_CODE %}
  <div id="app-lang" lang="english"></div>
  {% else %}
  <div id="app-lang" lang="czech"></div>
  {% endif %}
<div>
    <div class="row" id="title_row">
        <div class="col-7">
            <h1>{{title}}</h1>
        </div>
        <div class="col-2"></div>
        <div class="col-3 d-print-none align-self-center no-export">
            <div class="d-flex align-items-center justify-content-end gap-2">
                <div class="form-check-reverse form-switch mb-0">
                    <input class="form-check-input" type="checkbox" id="simple-view-toggle" onchange="toggleSimpleView()"
                        aria-label="{% trans 'vypis.templates.vypis.simple_view.label' %}"
                        data-simple-label="{% trans 'vypis.templates.vypis.simple_view.label' %}"
                        data-full-label="{% trans 'vypis.templates.vypis.full_view.label' %}"
                        title="{% trans 'vypis.templates.vypis.simple_view.label' %}"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-trigger="hover">
                    <label class="form-check-label simple-view-label" for="simple-view-toggle" id="simple-view-toggle-label">
                        {% trans 'vypis.templates.vypis.simple_view.label' %}
                    </label>
                </div>
                <button onclick="window.print()" title="{% trans 'vypis.templates.vypis.print.tooltip' %}">
                    <span class="material-icons">print</span>
                </button>
                <button onclick="createRtf()" title="{% trans 'vypis.templates.vypis.download.tooltip' %}">
                    <span class="material-icons">download</span>
                </button>
            </div>
        </div>
        <div class="col-9">
            <p>{% trans "vypis.templates.vypis_list.datum_sestaveni" %}: {% get_datetime_now %}</p>
        </div>
    </div>
    {% include "vypis/vypis_only.html" %}
</div>
{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    tooltipTriggerList.forEach(function (el) {
        new bootstrap.Tooltip(el);
    });
});
</script>
{% endblock %}
