{% extends "base.html" %}
{% load template_filters %}
{% load template_tags %}
{% load i18n %}
{% load compress %}
{% load static %}

{% block head %}
{{ block.super }}
{% compress css %}
    <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="print">
{% endcompress %}
<script src="{% static 'js/html-to-rtf-browser.js' %}"></script>
{% endblock %}

{% block title %}{% trans "vypis.templates.vypis.index.title" %}{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
  {% if "en" in LANGUAGE_CODE %}
  <div id="app-lang" lang="english"></div>
  {% else %}
  <div id="app-lang" lang="czech"></div>
  {% endif %}
<div>
    <div class="row" id="title_row">
        <div class="col-9">
            <h1>{{title}}</h1>
        </div>
        <div class="col-3 d-print-none align-self-center no-export">
            <div class="float-right">
                <button onclick="window.print()" title="{% trans 'vypis.templates.vypis.print.tooltip' %}">
                    <span class="material-icons">print</span>
                </button>
                <button onclick="createRtf()" title="{% trans 'vypis.templates.vypis.download.tooltip' %}">
                    <span class="material-icons">download</span>
                </button>
            </div>
        </div>
        <div class="col-9">
            <p>{% trans "vypis.templates.vypis_list.datum_sestaveni" %}: {% get_datetime_now %}</p>
        </div>
    </div>
    {% include "vypis/vypis_only.html" %}
</div>
{% endblock %}

{% block script %}
<script>
    function createRtf() {    
        const htmlContent = document.getElementById('app-wrapper').innerHTML;
        const vypisPrefix = 'AMCR_vypis';
        const currentDateTime = new Date();
        const year = currentDateTime.getFullYear();
        const month = String(currentDateTime.getMonth() + 1).padStart(2, '0'); // Months are 0-based
        const day = String(currentDateTime.getDate()).padStart(2, '0');
        const hours = String(currentDateTime.getHours()).padStart(2, '0');
        const minutes = String(currentDateTime.getMinutes()).padStart(2, '0');
        const seconds = String(currentDateTime.getSeconds()).padStart(2, '0');
        const formattedDate = `${year}${month}${day}_${hours}${minutes}${seconds}`;
        var htmlToRtfLocal = new window.htmlToRtf();
        var rtfContent = htmlToRtfLocal.convertHtmlToRtf(htmlContent);
        var rtfContent = rtfContent.replace(/ \\\'20/g, "\\\'20");
        // console.log(rtfContent); only for debug
        const blob = new Blob([rtfContent], { type: 'application/rtf' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = `${vypisPrefix}_${formattedDate}.rtf`;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        // Use the htmlToRtf function to convert HTML to RTF
        // and create a Blob URL for the RTF file
    }  
</script>
{% endblock %}