{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans "arch_z.emails.awa.dobrý_den" %},

{% trans "arch_z.emails.awa.vámi_odeslaná_akce" %} {{ ident_cely }} {% trans "arch_z.emails.awa.na_katastru" %} {{ katastr }} {% trans "arch_z.emails.awa.byla_převedena_do_stavu" %}
{{ state }}.

{% trans "arch_z.emails.awa.detaily_o_akci_zjistíte_po_přihlášení_do_amčr" %}.
{% trans "arch_z.emails.awa.nejpozději_během_následujícího_dne_bude_záznam_zveřejněn_v_digitálním_archivu_amčr" %}.

</body>
</html>