{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>
    {% trans 'arch_z.emails.awr.dobrý_den' %},
</p>
<p>
    {% trans "arch_z.emails.awr.vámi_odeslaná_akce" %}
    <b>{{ ident_cely }}</b> {% trans "arch_z.emails.awr.na_katastru" %}<b>{{ katastr }}</b> {% trans "arch_z.emails.awr.byla_převedena_do_stavu" %}<b>{{ state }}</b>.
</p>
<p>
    <b>{% trans 'arch_z.emails.awr.zdůvodnění' %}:</b> {{ reason }}
</p>
<p>
    {% trans 'arch_z.emails.awr.detaily_o_akci_zjistíte_po_přihlášení_do_amčr' %}.
</p>
<p>
    ------------------------------
    <br>
    {% trans "arch_z.emails.awr.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
    <br>
    {% trans "arch_z.emails.awr.odesláno_z" %} {{ server_domain }}
</p>
</body>
</html>
