{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans 'arch_z.emails.awr.dobrý_den' %},

{% trans "arch_z.emails.awr.vámi_odeslaná_akce" %} {{ ident_cely }} {% trans "arch_z.emails.awr.na_katastru" %} {{ katastr }} {% trans "arch_z.emails.awr.byla_převedena_do_stavu" %}
{{ state }}.

{% trans 'arch_z.emails.awr.zdůvodnění' %}: {{ reason }}

{% trans 'arch_z.emails.awr.detaily_o_akci_zjistíte_po_přihlášení_do_amčr' %}.

</body>
</html>