{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
<p>
    Dobrý den,
</p>
<p>
    v aplikaci AMČR vypršela lhůta pro kontrolu akce <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> odeslané k archivaci na katastru <b>{{ katastr }}</b> organizací <b>{{ organizace }}</b>.
</p>
<p>
    Záznam o akci je třeba obratem vypořádat, nebo informovat odesílatele (<b>{{ sender_name }} {{ sender_surname }}</b> - <a href="mailto:{{ sender_email }}">{{ sender_email }}</a>) o odkladu kontroly s relevantním odůvodněním.
</p>
<p>
    Detaily o akci zjistíte po přihlášení do AMČR.
</p>
{% endblock %}
{% block content_en %}
<p>
    Hello,
</p>
<p>
    in the AMCR application, the deadline for checking action <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> sent for archival on the cadastral area <b>{{ katastr }}</b> by organization <b>{{ organizace }}</b> has expired.
</p>
<p>
    The action record must be processed immediately, or the sender (<b>{{ sender_name }} {{ sender_surname }}</b> - <a href="mailto:{{ sender_email }}">{{ sender_email }}</a>) must be informed about the delay in checking with a relevant reason.
</p>
<p>
    You can find out the details of the action after logging into AMCR.
</p>
{% endblock %}
