{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>
        {% trans 'E-V-01.dobrý_den' %},
    </p>
    <p>
        {% trans "E-V-01.vámi_odeslaná_akce" %}
        <b><a href="{{ site_url }}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> {% trans "E-V-01.na_katastru" %} <b>{{ katastr }}</b> {% trans "E-V-01.byla_převedena_do_stavu" %} <b>{{ state }}</b>.
    </p>
    <p>
        <b>{% trans 'E-V-01.zdůvodnění' %}:</b> {{ reason }}
    </p>
    <p>
        {% trans 'E-V-01.detaily_o_akci_zjistíte_po_přihlášení_do_amčr' %}.
    </p>
{% endblock %}
