
{% load i18n %}
<strong>{{sub_header.specifikace_data.label}}:</strong> {{sub_header.specifikace_data.value}} {{sub_header.datum_zahajeni.value}} - {{sub_header.datum_ukonceni.value}} |
<strong>{{sub_header.je_nz.label}}:</strong> {% if sub_header.je_nz.value %} {% trans "vypis.akce.sub_header.je_nz.Ano" %} {% else %} {% trans "vypis.akce.sub_header.je_nz.Nie" %} {% endif %} |
<strong>{{sub_header.odlozena_nz.label}}:</strong> {% if sub_header.odlozena_nz.value %} {% trans "vypis.akce.sub_header.odlozena_nz.Ano" %} {% else %} {% trans "vypis.akce.sub_header.odlozena_nz.Nie" %} {% endif %} |
<strong>{{sub_header.pristupnost.label}}:</strong> {{sub_header.pristupnost.value}}
