<script>
    document.addEventListener('DOMContentLoaded', () => {
        show_form(`detail_dj_form_{{j.ident_cely}}`);
    });
</script>
<script>
    const getFiltrType = () => {
        return document.forms[0].querySelector('[data-id="dj_typ_id"]').title
    }

    const getFiltrTypeIsKuSafe = () => {
        try {
            return getFiltrType().includes("Katastrální území")
        } catch (e) {
            return false;
        }
    }

    const filtrAkci = () => {
        let shown_elements = 0

        const positive = getFiltrTypeIsKuSafe() ? 'none' : '';
        const negative = positive === '' ? 'none' : '';

        ["show_menu_pian_from_map_id", "show_menu_pian_new_id", "pian-pripojit-" + '{{j.pian_ident_cely }}', "pian-upravit-" + '{{j.pian_ident_cely }}', "pian-potvrdit-" + '{{j.pian_ident_cely }}']
            .forEach(element => {
                if (document.getElementById(element) != null) {
                    document.getElementById(element).style.display = positive;
                    if (positive === "") {
                        shown_elements++
                    }
                }
            });

        ["zmenit-katastr" + "{{j.ident_cely}}"]
            .forEach(element => {
                if (document.getElementById(element) != null) {
                    document.getElementById(element).style.display = negative;
                    if (negative === "") {
                        shown_elements++
                    }
                }
            });
        return shown_elements
    }
</script>
<script>
    const set_pian_by_id = function (dj_ident, disabled = true) {
        id = "#id_" + dj_ident + "-pian"
        $(id).prop('disabled', disabled);
        document.getElementById("pian_text").style.display = "none";
        document.getElementById("pian_select").style.display = "block";
        //$(id).prop('disabled', true);
    };
</script>
