{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

<div class="card app-card-form" id="detail_dj_form_{{ j.ident_cely }}">
  <div class="card-header">
    <div class="app-fx app-left">
      {% trans "arch_z.templates.arch_z.dj.partials.dj_update.cardHeader.label" %} {{ j.ident_cely }}
    </div>
    <div class="app-fx app-right">
      <div class="btn-group" role="group">
        <div class="dropdown-menu" aria-labelledby="others">
          {% if j.show_add_pian_zapsat %}
            <a id="show_menu_pian_new_id" class="dropdown-item"
               href="{% url 'arch_z:create-pian' zaznam.ident_cely j.ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.pridatNovyPian.label' %}
            </a>
          {% endif %}
          {% if j.show_import_pian_new %}
            <button class="dropdown-item" data-toggle="modal" data-target="#importovat_pian">
              {% trans "arch_z.templates.arch_z.dj.partials.dj_update.editButtons.importovatPianNew.label" %}
            </button>
          {% endif %}
          {% if j.show_pripojit_pian_mapa %}
            <a id="show_menu_pian_from_map_id" class="dropdown-item" href="#"
               onclick="change_dj_action('akce_pripojit_pian_mapa', 'mapa','{{ j.ident_cely }}')">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.pripojitPianZMapy.label' %}
            </a>
          {% endif %}
          {% if j.show_pripojit_pian_id %}
            <button id="pian-pripojit-{{ j.pian_ident_cely }}" class="dropdown-item pian-pripojit-btn" type="button"
                    name="button" onclick="change_dj_action('akce_pripojit_pian_id', 'id','{{ j.ident_cely }}')">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.pripojitPianPodleID.label' %}
            </button>
          {% endif %}
          {% if j.show_add_komponenta %}
            <a class="dropdown-item" href="{% url 'arch_z:create-komponenta' zaznam.ident_cely j.ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.pridatKomponentu.label' %}
            </a>
          {% endif %}
          {% if j.show_add_adb %}
            <a class="dropdown-item" href="{% url 'arch_z:create-adb' zaznam.ident_cely j.ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.pridatADB.label' %}
            </a>
          {% endif %}
        </div>
        <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" rel="tooltip" data-placement="top"
                title="{% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.dalsiNabidka.label' %}"
                onclick="filtrAkci()">
          <span class="material-icons">add</span>
        </button>
      </div>
      <div class="btn-group" role="group">
        <div class="dropdown-menu" aria-labelledby="others">
          {% if j.show_uprav_pian %}
            <a id="pian-upravit-{{ j.pian_ident_cely }}" class="dropdown-item"
               href="{% url 'arch_z:update-pian' zaznam.ident_cely j.ident_cely j.pian_ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.upravitPian.label' %}
            </a>
          {% endif %}
          {% if j.show_import_pian_change %}
            <button class="dropdown-item" data-toggle="modal" data-target="#importovat_pian" data-action-id="change">
              {% trans "arch_z.templates.arch_z.dj.partials.dj_update.editButtons.importovatPianChange.label" %}
            </button>
          {% endif %}
          {% if j.show_change_katastr %}
            <button id="zmenit-katastr-{{ j.ident_cely }}" class="dropdown-item zmenit-katastr-btn" type="button"
                    name="button" href="{% url 'dj:zmenit-katastr' j.ident_cely %}" )>
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.zmenitKatastr.label' %}
            </button>
          {% endif %}          
          {% if j.show_remove_pian %}
            <button id="pian-odpojit-{{ j.pian_ident_cely }}" class="dropdown-item pian-odpojit-btn" type="button"
                    name="button" href="{% url 'pian:odpojit' j.ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.odpojitPian.label' %}
            </button>
          {% endif %}
          {% if j.show_approve_pian %}
            <button id="pian-potvrdit-{{ j.pian_ident_cely }}" class="dropdown-item pian-potvrdit-btn" type="button"
                    name="button" href="{% url 'pian:potvrdit' j.ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.potvrditPian.label' %}
            </button>
          {% endif %}
          {% if j.pian_ident_cely and show.stahnout_metadata %}
            <a class="dropdown-item"
               href="{% url 'core:stahnout_metadata' 'pian' j.pian_ident_cely %}">{% trans "arch_z.dj.partials.dj_update.download_pian_metadata" %}</a>
          {% endif %}
          {% if j.adb_pk and show.stahnout_metadata %}
            <a class="dropdown-item"
               href="{% url 'core:stahnout_metadata' 'adb' j.adb_ident_cely %}">{% trans "adb.detail.toolbar.MetadataDownload" %}</a>
          {% endif %}
          {% if j.show_remove_adb %}
            <button id="adb-smazat-{{ j.adb_ident_cely }}" class="dropdown-item adb-smazat-btn" type="button"
                    name="button"
                    href="{% url 'adb:smazat' j.adb_ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.smazatADB.label' %}
            </button>
          {% endif %}
          {% if j.show_dj_smazat %}
            <button id="dj-smazat-{{ j.ident_cely }}" class="dropdown-item dj-smazat-btn" type="button" name="button"
                    href="{% url 'dj:smazat' j.ident_cely %}">
              {% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.smazatDJ.label' %}
            </button>
          {% endif %}
        </div>
        <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" rel="tooltip" data-placement="top"
                title="{% trans 'arch_z.templates.arch_z.dj.partials.dj_update.editButtons.dalsiNabidka.label' %}"
                onclick="filtrAkci()">
          <span class="material-icons">more_vert</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    {% if not j.adb_form %}
      <form class="mb-3" method="POST" action="{% url 'dj:detail' 'akce_dj_zakladni' j.ident_cely %}" id="djEditForm"
            onsubmit="editDjSubmitButton.disabled = true; return true;">
        {% crispy j.form %}
        {% if show.editovat %}
          <button type="submit" id="editDjSubmitButton"
                  class="btn btn-primary">{% trans "arch_z.templates.arch_z.dj.partials.dj_update.editButtons.ulozitZmeny.label" %}
          </button>
        {% endif %}
      </form>
    {% endif %}

    {% if j.adb_form %}
      <form class="mb-3" method="POST" action="{% url 'dj:detail' 'akce_dj_zakladni' j.ident_cely %}"
            onsubmit="editDjSubmitButton.disabled = true; return true;">
        {% crispy j.form %}
        <div class="card app-card-form app-card-inner">
          <div class="card-header">
            <div class="app-fx app-left">
              {% trans "arch_z.templates.arch_z.dj.partials.dj_update.editADB.cardHeader.ADB.label" %} {{ j.adb_ident_cely }}
            </div>
          </div>
          <div class="card-body formset-table">
            <input type="hidden" name="adb_detail" value="{{ j.adb_ident_cely }}"/>
            {% crispy j.adb_form %}
            <h5>{% trans "arch_z.templates.arch_z.dj.partials.dj_update.editADB.vyskoveBody.label" %}</h5>
            <input type="hidden" name="adb_zapsat_vyskove_body" value="{{ j.adb_ident_cely }}"/>
            <div class="content-with-table-responsive-container">
              <div class="content-with-table-responsive">
                {% crispy j.vyskovy_bod_formset j.vyskovy_bod_formset_helper %}
              </div>
            </div>
          </div>
        </div>
        {% if show.editovat %}
          <button type="submit" id="editDjSubmitButton"
                  class="btn btn-primary">{% trans "arch_z.templates.arch_z.dj.partials.dj_update.editADB.ulozitZmeny.label" %}
          </button>
        {% endif %}
      </form>
    {% endif %}
  </div>

</div>
{% include "arch_z/dj/partials/dj_show_on_map.html" %}
{% include "pian/importovat_pian_modal.html" %}
<script>
    jQuery(function ($) {
        $('#djEditForm').bind('submit', function () {
            $(this).find('#pian_select').find(':input').prop('disabled', false);
        });
    });
</script>
<script>
    const change_dj_action = (new_action, type, ident) => {
        if (type === "mapa") {
            show_grap_geom_from_map(ident);
            set_pian_by_id(ident, true)
        } else {
            set_pian_by_id(ident, false)
        }
        const string = document.getElementById("djEditForm").action
        const replaced_action = string.replace(/akce_dj_zakladni|akce_pripojit_pian_mapa|akce_pripojit_pian_id/g, new_action)
        document.getElementById("djEditForm").action = replaced_action
    }
    document.addEventListener("DOMContentLoaded", function() {
        if (filtrAkci() === 0) {
            document.getElementById("others").style.display = "none";
        }
    });
</script>
