{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

<div class="card app-card-form" id="detail_komponenta_form_{{ k.ident_cely }}">
  <div class="card-header">
    <div class="app-fx app-left">
      {% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.cardHeader.label" %} {{ k.ident_cely }}
    </div>
    {% if show.komponenta_smazat %}
    <div class="app-fx app-right">
      <div class="btn-group" role="group">
        <div class="dropdown-menu" aria-labelledby="others">
          <button id="komponenta-smazat-{{k.ident_cely}}" class="dropdown-item komponenta-smazat-btn" type="button" name="button" href="{% url 'komponenta:smazat' typ_vazby k.ident_cely %}">
            {% trans 'arch_z.templates.arch_z.dj.partials.komponenta_create.editButtons.smazatKomponentu.label' %}
          </button>
        </div>
        <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'arch_z.templates.arch_z.dj.partials.komponenta_create.menu' %}">
          <span class="material-icons">more_vert</span>
        </button>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="card-body">
    <form class="mb-3 submit-spinner" method="POST" action="{% url 'komponenta:detail' typ_vazby k.ident_cely %}" >
      {% crispy k.form %}

    <div class="card app-card-form app-card-inner">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.editNalezy.cardHeader.label" %}
        </div>
      </div>
      <div class="content-with-table-responsive-container">
        <div class="card-body formset-table content-with-table-responsive">
          <h5>{% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.editNalezy.objekty.label" %}</h5>
            {% if k.form_nalezy_objekty.forms %}
              <input type="hidden" name="nalez_edit_nalez" value="{{ k.ident_cely }}" />
              {% crispy k.form_nalezy_objekty k.helper_objekt %}
            {% else %}
            <div class="app-note">
              <span class="material-icons">info</span>
              {% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.editNalezy.objekty.bezObjektovlabel." %}
            </div>
            {% endif %}
          <h5>{% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.editNalezy.predmety.label" %}</h5>
            {% if k.form_nalezy_predmety.forms %}
            {% crispy k.form_nalezy_predmety k.helper_predmet %}
            {% else %}
            <div class="app-note">
              <span class="material-icons">info</span>
              {% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.editNalezy.predmety.bezPredmetov.label" %}
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    {% if show.editovat %}
      <button type="submit" id="editKompSubmitButton" class="btn btn-primary">{% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.editNalezy.ulozitZmeny.label" %}
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
        style="display: none"></span>
      </button>
    {% endif %}
    </form>
  </div>
</div>

<script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      //show form
        show_form(`detail_komponenta_form_{{ k.ident_cely }}`)
        // fill base on nadrazeni
        url = '{% url "heslar:get-initial-value" %}' + "?nadrazene="
        ident_cely = '{{k.ident_cely}}'
        get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}-areal`,`#id_${ident_cely}-aktivity`,url)
        div_komponenta = document.getElementById(`detail_komponenta_form_${ident_cely}`)
        //objekty = div_komponenta.querySelector('#objekt_table').querySelector('tbody').querySelectorAll('tr');
        //for (let i = 0; i < objekty.length; i++) {
        //  get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}_o-${i}-druh`,`#id_${ident_cely}_o-${i}-specifikace`,url);
        //} objekty not used
        predmety = div_komponenta.querySelector('#predmet_table').querySelector('tbody').querySelectorAll('tr');
        for (let i = 0; i < predmety.length; i++) {
          get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}_p-${i}-druh`,`#id_${ident_cely}_p-${i}-specifikace`,url);
        }
        // smazat nalezy 
        if (document.getElementsByClassName("objekt-smazat-btn")){
          elements = document.getElementsByClassName("objekt-smazat-btn")
          for (let i = 0; i < elements.length; i++){
            var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
            formID: "smazat-objekt-form",
            modalFormID: "#smazat-objekt-form",
            })
            new Modal(options, elements.item(i).id);
          }
        }
    });
</script>

{% include "arch_z/dj/partials/dj_show_on_map.html" %}
