{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

<div class="card app-card-form" id="create_komponenta_form">
  <div class="card-header">
    <div class="app-fx app-left">
      {% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.novaKomponenta.label" %}
    </div>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'komponenta:zapsat' type j.ident_cely %}" id="create_komponenta_form_id" class="submit-spinner">
      <!-- Action is filled using javascript -->
      {% crispy komponenta_form_create %}
      <button type="submit" id="createCompotSubmitButton"
              class="btn btn-primary">{% trans "arch_z.templates.arch_z.dj.partials.komponenta_create.button.vytovritKomponentu.label" %}
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              style="display: none"></span>
      </button>
    </form>
  </div>
</div>
<script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        show_form(`create_komponenta_form`);
        url = '{% url "heslar:get-initial-value" %}' + "?nadrazene="
        get_vychozi_hodnota_podrazeneho("#id_areal","#id_aktivity",url)
    });
</script>

{% include "arch_z/dj/partials/dj_show_on_map.html" %}
