{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

<div class="card app-card-form" id="create_pian_form">
  <div class="card-header">
    <div class="app-fx app-left">
      {% trans "arch_z.templates.arch_z.dj.partials.pian_crate.novyPian.label" %}
    </div>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'pian:create' dj_ident_cely %}" id="create_pian_form_id">
      <!-- Action is filled using javascript -->
      {% crispy pian_form_create %}
      <button type="submit" id="createPianSubmitButton"
              class="btn btn-primary">{% trans "arch_z.templates.arch_z.dj.partials.pian_crate.button.vytvoritPian.label" %}</button>
    </form>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        show_form(`create_pian_form`);
        map_show_edit(true)
    });
    geom={};
    geom.label='{{  geom.label }}';
    geom.geometry='{{  geom.geometry }}';
    geom.epsg='{{  geom.epsg }}';
   
</script>