{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

<div class="card app-card-form" id="detail_pian_form_{{ pian_ident_cely }}">
  <div class="card-header">
    <div class="app-fx app-left">
      {% trans "arch_z.templates.arch_z.dj.partials.pian_update.cardHeader.label" %}  {{ pian_ident_cely }}
    </div>
  </div>
  <div class="card-body">
    <form class="mb-3 submit-spinner" method="POST" action="{% url 'pian:detail' pian_ident_cely %}">
      {% crispy pian_form_update %}
      {% if show.editovat %}
        <input type="hidden" name="dj_ident_cely" value="{{ dj_ident_cely }}">
        <button type="submit" id="editPianButton"
                class="btn btn-primary">{% trans "arch_z.templates.arch_z.dj.partials.pian_update.editButtons.upravitPian.label" %}
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                style="display: none"></span>
        </button>
      {% endif %}
    </form>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById("djMap").scrollIntoView();
                 
                  const currentUrl = window.location.href;
                 arch_select_perspective(
                    currentUrl,
                    document.getElementById("main_cadastre_id").value,
                    '{{ zaznam.ident_cely }}',
                    '{{ dj_ident_cely }}'
                    )
                    map_show_edit(true);  
                  
        //show_form(`detail_pian_form_{{ pian_ident_cely}}`);
      
        global_map_projekt_ident='{{ dj_ident_cely }}';
       // switchMap(true,'{{ pian_ident_cely}}')
    });
    geom={};
    geom.label='{{  geom.label }}';
    geom.geometry='{{  geom.geometry }}';
    geom.epsg='{{  geom.epsg }}';
</script>
