{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "templates.registration.passwordResetComplete.title" %}{% endblock %}
{% block head %}
  <script src="{% static 'js/theme-toggle.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img class="mb-4 app-logo" src="{% static 'img/logo-amcr-cs.svg' %}" alt="{% trans 'templates.registration.passwordResetComplete.logo.alt' %}" class="app-logo">
        <div class="card login-card">
          <div class="card-body">
            <form method="POST">
              <h1 class="h3 mb-3 font-weight-normal">{% trans "templates.registration.passwordResetComplete.header" %}</h1>
              <p class="mt-3 mb-0 text-muted">
                {% trans "templates.registration.passwordResetComplete.nastaveno.text" %} <a href="{% url 'login' %}">{% trans "templates.registration.passwordResetComplete.login" %}</a>
              </p>
            </form>
            <hr/>
            <div class="app-controls">
              <button class="app-control-btn" id="theme-toggle-btn" title="{% trans 'templates.registration.login.toggleTheme.title' %}">
                <span class="material-icons">dark_mode</span>
              </button>
              <div class="app-flags">
                {% get_current_language as LANGUAGE_CODE %}
                <button id="czech" class=" {% if "cs" in LANGUAGE_CODE or "en" not in LANGUAGE_CODE  %}app-active{% endif %}" >
                  <img src="{% static 'img/flag-cs.svg' %}" alt="" class="app-flag" />
                </button>
                <button id="english" class=" {% if "en" in LANGUAGE_CODE %}app-active{% endif %}">
                  <img src="{% static 'img/flag-en.svg' %}" alt="" class="app-flag" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
