{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <h1>{% trans "Reset hesla" %}</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Zapomenuté heslo" class="submit-btn">
  </form>

  <small class="text-muted">
    pokusit se přihlásit znova? <a class="ml-2" href="{% url 'login' %}">LogIn</a>
</small>

{% endblock %}

{% block script %}
{% endblock %}
