{% extends "registration/_auth_base.html" %}
{% load i18n %}

{% block auth_title %}{% trans "templates.registration.passwordResetConfirm.title" %}{% endblock %}

{% block auth_form %}
  {% if validlink %}
    <form method="post">
      <h1 class="h3 mb-3 font-weight-normal">{% trans "templates.registration.passwordResetConfirm.header" %}</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-dark w-100 mt-3" type="submit">{% trans "templates.registration.passwordResetConfirm.confirmButton.nastav" %}</button>
    </form>
  {% else %}
    <p class="mt-0 mb-0 text-muted">
      {% trans "templates.registration.passwordResetConfirm.nevalidniLink.text" %} <a href="{% url 'password_reset' %}" title="{% trans 'templates.registration.passwordResetConfirm.nevalidniLink.linkTitle' %}">{% trans "templates.registration.passwordResetConfirm.nevalidniLink.linkText" %}.</a>
    </p>
  {% endif %}
{% endblock %}
