{% load i18n %}
{% trans "E-U-05.dobrý_den" %},

{% trans "E-U-05.tato_zpráva_slouží_k_nastavení_nového_hesla_používaného_pro_přístup_do_amčr" %}.

{% trans "E-U-05.nové_heslo_nastavíte_kliknutím_na_níže_uvedený_odkaz" %}: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

------------------------------
{% trans "E-U-05.paticka.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
{% trans "E-U-05.paticka.odesláno_z" %} {{ scheme }}://{{ site.domain }}
