{% load i18n %}
{% load template_tags%}
Dobrý den,

tato zpráva slouží k nastavení nového hesla používaného pro přístup do AMČR.

Nové heslo nastavíte kliknutím na tento odkaz: {% get_site_url %}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% language "cs" %}{% include "email_footer.txt" %}{% endlanguage %}
------------------------------------------------------------

Hello,

This message is used to set a new password used to access the AMCR.

To set a new password, click on this link: {% get_site_url %}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% language "en" %}{% include "email_footer.txt" %}{% endlanguage %}