{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  {% if validlink %}
    <h3>{% trans "Změna hesla" %}</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% trans "Nastav heslo" %}</button>
    </form>
  {% else %}
    <p>
      {% trans "Link již není validní. Prosím požádejte o nový reset hesla." %}
    </p>
  {% endif %}
{% endblock %}

{% block script %}
{% endblock %}
