{% load i18n %}
{% load template_tags%}
Dobrý den,

tato zpráva slouží k nastavení nového hesla používaného pro přístup do AMČR.

Nové heslo nastavíte kliknutím na tento odkaz: {% get_site_url %}{% url 'password_reset_confirm' uidb64=uid token=token %}

------------------------------
Toto je automaticky generovaná zpráva systému AMČR. V případě potřeby kontaktujte administrátora ARÚ Praha (amcr@arup.cas.cz) nebo ARÚ Brno (amcr@arub.cz).
Odesláno z: {% get_server_domain %}

------------------------------------------------------------

Hello,

This message is used to set a new password used to access the AMCR.

To set a new password, click on this link: {% get_site_url %}{% url 'password_reset_confirm' uidb64=uid token=token %}

------------------------------
This is automaticly generated message from the AMCR system. In case of need, please contact administrator at IA Prague (amcr@arup.cas.cz) or IA Brno (amcr@arub.cz).
Sent from: {% get_server_domain %}
