{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <div class="row">
      <div class="col-lg-4">
        <img class="mb-4" src="{% static 'logo-amcr-cs.svg' %}" alt="{% trans 'Archeologická mapa České republiky' %}" class="app-logo">
        <div class="card">
          <div class="card-body">
            <h1 class="h3 mb-3 font-weight-normal">{% trans "Reset hesla" %}</h1>
            <form method="POST">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Zapomenuté heslo" class="submit-btn">
              <small class="text-muted">
                  pokusit se přihlásit znova? <a class="ml-2" href="{% url 'login' %}">LogIn</a>
              </small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <h1>{% trans "Reset hesla" %}</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Zapomenuté heslo" class="submit-btn">
  </form>

  <small class="text-muted">
    pokusit se přihlásit znova? <a class="ml-2" href="{% url 'login' %}">LogIn</a>
  </small> -->

{% endblock %}

{% block script %}
{% endblock %}
