{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Reset hesla" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <h1>{% trans "Reset hesla" %}</h1>
  <p>
    {% trans "Návod na nastavení hesla byl odeslán na zadanou e-mailovou adresu, pokud účet s takovou adresou existuje. Měl by za okamžik dorazit. Pokud e-mail neobdržíte, ujistěte se, že zadaná e-mailová adresa je stejná jako ta registrovaná u vašeho účtu a zkontrolujte složku nevyžádané pošty, tzv. spamu." %}
  </p>

{% endblock %}

{% block script %}
{% endblock %}
