{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% trans 'project.emails.opwr.dobrý_den' %},
{% for project in projects %}
    {% trans 'project.emails.opwr.v_aplikaci_is_amčr_byl_právě_zapsán_nový_projekt' %} {{ project.ident_cely }}.
    {% trans 'project.emails.opwr.typ_projektu' %}: {{ project.typ_projektu.heslo }}
    {% trans 'project.emails.opwr.katastr' %}: {{ project.hlavni_katastr.nazev }} ({{ project.hlavni_katastr.okres.nazev }})
    {% trans 'project.emails.opwr.podnět' %}: {{ project.podnet }}
    {% trans 'project.emails.opwr.lokalizace' %}: {{ project.lokalizace }}
    {% trans 'project.emails.opwr.plánované_zahájení' %}: {{ project.planovane_zahajeni_text }}
{% endfor %}

{% trans "project.emails.opwr.detaily_o_projektu_zjistíte_po_přihlášení_do_amčr" %}.

</body>
</html>



