{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}

{% block title %}Smazání projektových souborů{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <h1>{% trans "core.templates.delete_file.header.text" %}{{ soubor.nazev_zkraceny }}?</h1>
  <form method="POST">
    {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.GET.next }}">
      <button type="submit" class="btn btn-primary">{% trans "core.templates.delete_file.submitButton.text" %}</button>
  </form>

{% endblock %}

{% block script %}
{% endblock %}
