{% load i18n %}
{% load template_tags %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}{% endblock %}
<p>
    ------------------------------
    <br>
    Toto je automaticky generovaná zpráva systému AMČR. V případě potřeby kontaktujte administrátora ARÚ Praha (amcr@arup.cas.cz) nebo ARÚ Brno (amcr@arub.cz).
    <br>
    Odesláno z: {% get_server_domain %}
</p>
    ------------------------------------------------------------
    {% block content_en %}{% endblock %}
<p>
    ------------------------------
    <br>
    This is automaticly generated message from the AMCR system. In case of need, please contact administrator at IA Prague (amcr@arup.cas.cz) or IA Brno (amcr@arub.cz).
    <br>
    Sent from: {% get_server_domain %}
</p>
</body>
</html>
