{% load i18n %}
{% load template_tags %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}{% endblock %}
<p>
    {% language "cs" %}{% include "email_footer.txt" with html=True %}{% endlanguage %}
</p>
    ------------------------------------------------------------
    {% block content_en %}{% endblock %}
<p>
    {% language "en" %}{% include "email_footer.txt" with html=True %}{% endlanguage %}
</p>
</body>
</html>
