{% load i18n %}
{% load template_filters %}

<table class="table table-striped table-hover table-sm mb-0">
  <thead>
  <tr>
    <th scope="col">{% trans "core.templates.filetable.columnHeader.nahled.label" %}</th>
    <th scope="col">{% trans "core.templates.filetable.columnHeader.nazev.label" %}</th>
    <th scope="col">{% trans "core.templates.filetable.columnHeader.typ.label" %}</th>
    <th scope="col">{% trans "core.templates.filetable.columnHeader.velikost.label" %}</th>
    <th scope="col">{% trans "core.templates.filetable.columnHeader.Rozsah.label" %}</th>
    <th scope="col">{% trans "core.templates.filetable.columnHeader.historie.label" %}</th>
    {% if show.soubor_stahnout %}
      <th scope="col">{% trans "core.templates.filetable.columnHeader.stahnout.label" %}</th>
    {% endif %}
    {% if allow_replace and show.soubor_nahradit %}
      <th scope="col">{% trans "core.templates.filetable.columnHeader.nahradit.label" %}</th>
    {% endif %}
    {% if show.soubor_smazat %}
      <th scope="col">{% trans "core.templates.filetable.columnHeader.smazat.label" %}</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for soubor in soubory %}
    <tr>
      <td>
        {% if show.soubor_nahled %}
          <img id="soubor-nahled-{{ soubor.id }}" src="{% url 'core:download_thumbnail' vazba_trida ident soubor.id %}"
               class="image-nahled" data-toggle="modal" data-target="#soubor-modal" loading="lazy"
               data-fullsrc="{% url 'core:download_thumbnail_large' vazba_trida ident soubor.id %}"
               style="opacity:0" onload="this.style.opacity=100">
        {% endif %}  
      </td>
      <td>{{ soubor.nazev }}</td>
      <td>{{ soubor.mimetype }}</td>
      <td>{{ soubor.size_mb|floatformat:3 }} MB</td>
      <td>{{ soubor.rozsah|check_if_none }}</td>
      <td>
        <a href="{% url 'historie:soubor' soubor.id %}">
          <span class="material-icons">history</span>
        </a>
      </td>
      {% if show.soubor_stahnout %}
      <td>
        <a href="{% url 'core:download_file' vazba_trida ident soubor.id %}" target="_blank">
          <span class="material-icons">get_app</span>
        </a>
      </td>
      {% endif %}
      {% if allow_replace and show.soubor_nahradit %}
          <td>
            <a href="{% url 'core:update_file' vazba_trida ident soubor.id %}?next={{ next_url }}{{ ident }}">
              <span class="material-icons app-color-danger">upgrade</span>
            </a>
          </td>
      {% endif %}
      {% if show.soubor_smazat %}
        <td>
          <button id="file-smazat-{{soubor.id}}" class="file-smazat-btn" type="button" name="button" href="{% url 'core:delete_file' vazba_trida ident soubor.id %}?next={{ next_url }}{{ ident }}">
            <span class="material-icons app-color-danger">delete_forever</span>
          </button>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% include "soubor_modal.html" %}

<script>
  //script for modal for delete files
  document.addEventListener('DOMContentLoaded', function (event) {
    if (document.getElementsByClassName("file-smazat-btn")){
      elements = document.getElementsByClassName("file-smazat-btn")
      for (let i = 0; i < elements.length; i++){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "smazat-soubor-form",
        modalFormID: "#smazat-soubor-form",
        })
        new Modal(options, elements.item(i).id);
      }
    }
  });
  //Show soubory modal
$('#soubor-modal').on('show.bs.modal', function (event) {
  const button = $(event.relatedTarget)
  const modalImg = document.getElementById("nahled-image");
  modalImg.src = button.data('fullsrc');
})
</script>
