{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}

{% block title %}AMČR Homepage{% endblock %}

{% block content %}
  <div class="row app-entity-cards mb-3">
    <div class="col">
      <a href="/projekt" class="card app-card-entity app-entity-projekt">
        <div class="card-body">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "Projekty" %}
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/knihovna_3d" class="card app-card-entity app-entity-knihovna_3d">
        <div class="card-body">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "Knihovna 3D" %}
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/samostatne_nalezy" class="card app-card-entity app-entity-samostatny_nalez">
        <div class="card-body">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "Samostatné nálezy" %}
        </div>
      </a>
    </div>
  </div>

  <div class="app-collapse-projekt collapse">
    <div class="p-3">
      <h4>{% trans "Projekty" %}</h4>
      <hr />
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <div class="app-collapse-knihovna_3d collapse">
    <div class="p-3">
      <h4>{% trans "Knihovna 3D" %}</h4>
      <hr />
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <div class="app-collapse-samostatny_nalez collapse">
    <div class="p-3">
      <h4>{% trans "Samostatné nálezy" %}</h4>
      <hr />
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

  <script>
    $(".app-entity-projekt").hover(
      function() {
        $('.app-collapse-projekt').collapse('show');
      }, function() {
        $('.app-collapse-projekt').collapse('hide');
      }
    );
    $(".app-entity-knihovna_3d").hover(
      function() {
        $('.app-collapse-knihovna_3d').collapse('show');
      }, function() {
        $('.app-collapse-knihovna_3d').collapse('hide');
      }
    );
    $(".app-entity-samostatny_nalez").hover(
      function() {
        $('.app-collapse-samostatny_nalez').collapse('show');
      }, function() {
        $('.app-collapse-samostatny_nalez').collapse('hide');
      }
    );
  </script>
{% endblock %}
