{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}

{% block title %}AMČR Homepage{% endblock %}

{% block content %}
  <div class="row app-cards-row mb-3">
    <div class="col">
      <div class="card app-card-entity app-entity-projekt" data-toggle="collapse" data-target="#collapseExample">
        <div class="card-body">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "Projekty" %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card app-card-entity app-entity-knihovna_3d">
        <div class="card-body">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "Knihovna 3D" %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card app-card-entity app-entity-samostatny_nalez">
        <div class="card-body">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "Samostatné nálezy" %}
        </div>
      </div>
    </div>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
{% endblock %}
