{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}

{% block title %}AMČR Homepage{% endblock %}

{% block content %}
  <div class="row app-entity-cards mb-3">
    {% if show_projekt %}
    <div class="col">
      <a href="{% url 'projekt:index' %}" class="card app-card-entity app-entity-projekt">
        <div class="card-body card-body-background">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "core.templates.index.cardProjekt.label" %}
        </div>
      </a>
    </div>
    {% endif %}
    <div class="col">
      <a href="{% url 'arch_z:index' %}" class="card app-card-entity app-entity-akce">
        <div class="card-body card-body-background">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "core.templates.index.cardSamostatneAkce.label" %}
        </div>
      </a>
    </div>
    <div class="col">
      <a href="{% url 'lokalita:index' %}" class="card app-card-entity app-entity-lokalita">
        <div class="card-body card-body-background">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "core.templates.index.cardLokality.label" %}
        </div>
      </a>
    </div>
    <div class="col">
      <a href="{% url 'pas:index' %}" class="card app-card-entity app-entity-samostatny_nalez">
        <div class="card-body card-body-background">
          <img src="{% static 'logo-am-mark.png' %}" />
        </div>
        <div class="card-footer">
          {% trans "core.templates.index.cardSamostatneNalezy.label" %}
        </div>
      </a>
    </div>
    <div class="col">
    <a href="{% url 'dokument:index-model-3D' %}" class="card app-card-entity app-entity-knihovna_3d">
      <div class="card-body card-body-background">
        <img src="{% static 'logo-am-mark.png' %}" />
      </div>
      <div class="card-footer">
        {% trans "core.templates.index.cardKnihovna3D.label" %}
      </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'dokument:index' %}" class="card app-card-entity app-entity-dokument">
      <div class="card-body card-body-background">
        <img src="{% static 'logo-am-mark.png' %}" />
      </div>
      <div class="card-footer">
        {% trans "core.templates.index.cardDokumenty.label" %}
      </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'ez:index' %}" class="card app-card-entity app-entity-ext_zdroj">
      <div class="card-body card-body-background">
        <img src="{% static 'logo-am-mark.png' %}" />
      </div>
      <div class="card-footer">
        {% trans "core.templates.index.cardExterniZdroje.label" %}
      </div>
    </a>
  </div>
  </div>

  <div class="app-card-desc-wrapper">
    {% if show_projekt %}
    <div class="app-collapse-projekt app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "core.templates.index.cardProjekt.text.title" %}</h4>
        <hr />
        {% trans "core.templates.index.cardProjekt.text" %}
      </div>
    </div>
    {% endif %}
    
    <div class="app-collapse-akce app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "core.templates.index.cardSamostatnaAkce.text.title" %}</h4>
        <hr />
        {% trans "core.templates.index.cardSamostatnaAkce.text" %}
      </div>
    </div>
    
    <div class="app-collapse-lokalita app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "core.templates.index.cardLokalita.text.title" %}</h4>
        <hr />
        {% trans "core.templates.index.cardLokalita.text" %}
      </div>
    </div>

    <div class="app-collapse-knihovna_3d app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "core.templates.index.cardKnihovna3D.text.title" %}</h4>
        <hr />
        {% trans "core.templates.index.cardKnihovna3D.text" %}
      </div>
    </div>
    
    <div class="app-collapse-dokument app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "core.templates.index.cardDokument.text.title" %}</h4>
        <hr />
        {% trans "core.templates.index.cardDokument.text" %}
      </div>
    </div>
    
    <div class="app-collapse-ext-zdroj app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "core.templates.index.cardExtZdroj.text.title" %}</h4>
        <hr />
        {% trans "core.templates.index.cardExtZdroj.text" %}
      </div>
    </div>

    <div class="app-collapse-samostatny_nalez app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "core.templates.index.cardSamostatneNalezy.text.title" %}</h4>
        <hr />
        {% trans "core.templates.index.cardSamostatneNalezy.text" %}
      </div>
    </div>
  </div>


  <script>
      {% if show_projekt %}
      $(".app-entity-projekt").mouseleave(function(){
        $(".app-collapse-projekt").hide(100);
      });
      $(".app-entity-projekt").mouseover(function(){
        $(".app-collapse-projekt").show(100);
      });
      {% endif %}
      $(".app-entity-akce").mouseleave(function(){
        $(".app-collapse-akce").hide(100);
      });
      $(".app-entity-akce").mouseover(function(){
        $(".app-collapse-akce").show(100);
      });
      $(".app-entity-lokalita").mouseleave(function(){
        $(".app-collapse-lokalita").hide(100);
      });
      $(".app-entity-lokalita").mouseover(function(){
        $(".app-collapse-lokalita").show(100);
      });
      $(".app-entity-knihovna_3d").mouseleave(function(){
        $(".app-collapse-knihovna_3d").hide(100);
      });
      $(".app-entity-knihovna_3d").mouseover(function(){
        $(".app-collapse-knihovna_3d").show(100);
      });
      $(".app-entity-dokument").mouseleave(function(){
        $(".app-collapse-dokument").hide(100);
      });
      $(".app-entity-dokument").mouseover(function(){
        $(".app-collapse-dokument").show(100);
      });
      $(".app-entity-ext_zdroj").mouseleave(function(){
        $(".app-collapse-ext-zdroj").hide(100);
      });
      $(".app-entity-ext_zdroj").mouseover(function(){
        $(".app-collapse-ext-zdroj").show(100);
      });
      $(".app-entity-samostatny_nalez").mouseleave(function(){
        $(".app-collapse-samostatny_nalez").hide(100);
      });
      $(".app-entity-samostatny_nalez").mouseover(function(){
        $(".app-collapse-samostatny_nalez").show(100);
      });
  </script>
{% endblock %}
