{% extends 'admin/change_list.html' %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'core.admin.templates.permissionImportSuccess.home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}core.admin.templates.permissionImportSuccess.add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block search %}{% endblock %}

{% block result_list %}
          
<div class="results">
  <table id="result_list">
  <thead>
  <tr>
    {% with table|first as first %}
    {% for key in first.keys %} 
  <th scope="col">
     <div class="text"><span>{{key}}</span></div>
     <div class="clear"></div>
  </th>
  {% endfor %}
  {% endwith %}
  </tr>
  </thead>
  <tbody>
    {% for record in table %} 
      <tr>{% for value in record.values %} 
        <td>{{ value }}</td> 
        {% endfor %} 
      </tr>
    {% endfor %}
  </tbody>
  </table>
  </div>
          
{% endblock %}

{% block pagination %}{% endblock %}
