{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="POST" id="{{ id_tag }}">
    <div class="modal-header">
      <h5 class="modal-title">{{ title }} {{ object_identification }}{% if question %}?{% endif %}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% if warnings %}
      <div class="alert alert-info" role="alert">
        <ul>
          {% for warning in warnings %}
            <li>{{ warning }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if form %}
      <div class="modal-body">
        {% crispy form %}
      </div>
    {% endif %}
    {% if form_check %}
      {% crispy form_check %}
    {% endif %}
    {% if form == None and form_check == None %}
      {% csrf_token %}
    {% endif %}
    {% if text %}
      <div class="alert alert-info" role="alert">
        {{ text }}
      </div>
    {% endif %}
    <input name="next" type="hidden" value="{{ request.GET.next }}">
    <div class="modal-footer">
      <button type="button" class="btn btn-default"
              data-dismiss="modal">{% translate "core.templates.transakce_modal.closeButton.text" %}</button>
      <button type="submit" class="btn btn-primary" id="submit-btn">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loader-spinner"
              style="display: none"></span>
        {{ button }}
      </button>
    </div>
  </form>
{% endblock %}

