{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load template_tags%}

{% block title %}{% trans "core.templates.upload_file.title" %}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'dropzone.min.css' %}"/>
{% endblock %}

{% block content %}
  <div>
    <form action="{% url 'core:post_upload' %}" class="dropzone mb-0" id="my-awesome-dropzone"
          enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="source-url" value={{request.path}}>
      {% if file_id %}
        <input type="hidden" name="fileID" value={{file_id}}>
      {% endif %}
      <div class="fallback">
        <input name="file" type="file" multiple/>
      </div>
    </form>
    <small class="form-text text-muted">{% trans "core.templates.upload_file.tooltip" %}</small>
    <div class="mt-3">
      <div class="form-group">
        <a class="btn btn-primary app-entity-soubor-btn"
           href="{{ back_url }}">{% trans "core.templates.upload_file.submitButton.text" %}</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'dropzone.min.js' %}"></script>
    {% if file_id %}
        <script>
          var maxFiles = 1;
          var file_id = {{ file_id }};
          var object_id = "{{ ident_cely }}";
          var typ_vazby = "{{ typ_vazby }}";
          var typ_uploadu = "nahradit";
          var addRemoveLinks = false;
      </script>
    {% else %}
        <script>
          var maxFiles = 999;
          var object_id = "{{ ident_cely }}";
          var typ_vazby = "{{ typ_vazby }}";
          var typ_uploadu = "upload";
          var addRemoveLinks = true;
        </script>
    {% endif %}
    <script>
    var reject_dict = {
      "rejected_pas" : "{% get_message 'UPLOADFILE_REJECTED_PAS' %}",
      "rejected_dokument" : "{% get_message 'UPLOADFILE_REJECTED_DOKUMENT' %}",
      "rejected_dokument_model" : "{% get_message 'UPLOADFILE_REJECTED_DOKUMENT_MODEL' %}",
      "rejected_all" : "{% get_message 'UPLOADFILE_REJECTED_ALL' %}",
    };
    var upload_error = "{% get_message 'UPLOADFILE_ERROR' %}";
    const dz_trans = {
      descriptionUpload: '{% trans "core.templates.core.upload_file.dz.descriptionUpload" %}',
      descriptionNahradit: '{% trans "core.templates.core.upload_file.dz.descriptionNahradit" %}',
      cancelUpload: '{% trans "core.templates.core.upload_file.dz.cancelUpload" %}',
      cancelUploadConfirm: '{% trans "core.templates.core.upload_file.dz.cancelUploadConfirm" %}',
      removeFile: '{% trans "core.templates.core.upload_file.dz.removeFile" %}',
      alertsUploadSuccesfullPart1: '{% trans "core.templates.core.upload_file.dz.alertsUploadSuccesfullPart1" %}',
      alertsUploadSuccesfullPart2: '{% trans "core.templates.core.upload_file.dz.alertsUploadSuccesfullPart2" %}',
      alertsUploadRejectPart1: '{% trans "core.templates.core.upload_file.dz.alertsUploadRejectPart1" %}',
      alertsUploadRejectPart2: '{% trans "core.templates.core.upload_file.dz.alertsUploadRejectPart2" %}',
      alertsUploadErrorPart1: '{% trans "core.templates.core.upload_file.dz.alertsUploadErrorPart1" %}',
      alertsUploadErrorPart2: '{% trans "core.templates.core.upload_file.dz.alertsUploadErrorPart2" %}',
      fileTooBig: '{% trans "core.templates.core.upload_file.dz.fileTooBig" %}',
      maxFilesExceeded: '{% trans "core.templates.core.upload_file.dz.maxFilesExceeded" %}',
    }
  </script>
  <script src="{% static 'dz.js' %}"></script>
{% endblock %}
