{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load template_tags%}

{% block title %}Upload souborů{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'dropzone.min.css' %}"/>
{% endblock %}

{% block content %}
  <div>
    <form action="{% url 'core:post_upload' %}" class="dropzone mb-4" id="my-awesome-dropzone"
          enctype="multipart/form-data">
      {% csrf_token %}
      <div class="fallback">
        <input name="file" type="file" multiple/>
      </div>
    </form>
    <div class="mt-3">
      <div class="form-group">
        <a class="btn btn-primary app-entity-soubor-btn"
           href="{{ back_url }}">{% trans "core.tempaltes.upload_file.submitButton.text" %}</a>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#file-upload-modal">{% trans "core.tempaltes.upload_file.help.text" %}</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="file-upload-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% trans "core.tempaltes.upload_file.modal.text" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "core.tempaltes.upload_file.modal.close" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'dropzone.min.js' %}"></script>
    {% if file_id %}
        <script>var maxFiles = 1;</script>
        <script>var file_id = "{{ file_id }}";</script>
        <script>var addRemoveLinks = false;</script>
    {% else %}
        <script>var maxFiles = 999;</script>
        <script>var object_id = "{{ ident_cely }}";</script>
        <script>var addRemoveLinks = true;</script>
    {% endif %}
    <script>
    var reject_dict = {
      "rejected_pas" : "{% get_message 'UPLOADFILE_REJECTED_PAS' %}",
      "rejected_dokument" : "{% get_message 'UPLOADFILE_REJECTED_DOKUMENT' %}",
      "rejected_all" : "{% get_message 'UPLOADFILE_REJECTED_ALL' %}",
    };
    var upload_error = "{% get_message 'UPLOADFILE_ERROR' %}"
  </script>
    <script src="{% static 'dz.js' %}"></script>
{% endblock %}
