{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Vrácení objektu " %} {{ objekt.ident_cely }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <form method="POST" onsubmit="returnSubmitBtn.disabled = true; return true;">
    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Vrácení objektu" %} {{ objekt.ident_cely }}
        </div>
      </div>
      <div class="card-body">
        {% csrf_token %}
        {{ form|crispy }}
      </div>
    </div>
    <button type="submit" id="returnSubmitBtn" class="btn btn-primary mt-3">{% trans "Vrátit" %}</button>
  </form>
{% endblock %}

{% block script %}
{% endblock %}
