{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{% trans 'dokument.emails.da.dobrý_den' %},</p>
<p>{% trans "dokument.emails.da.v_amčr_byl_archivován_vámi_vložený_3d_dokument" %} <b>{{ ident_cely }}</b>.</p>
<p>
    {% trans "dokument.emails.da.detaily_zjistíte_po_přihlášení_do_do_knihovny_3d_v_amčr" %}.
    {% trans "dokument.emails.da.nejpozději_během_následujícího_dne_bude_záznam_zveřejněn_v_digitálním_archivu_amčr" %}.
</p>
<p>
    ------------------------------
    <br>
    {% trans "dokument.emails.da.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
    <br>
    {% trans "dokument.emails.da.odesláno_z" %} {{ server_domain }}
</p>
</body>
</html>
