{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>Dobrý den,</p>
    <p>
        v AMČR byl archivován Vámi vložený 3D dokument <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b>.
    </p>
    <p>
        Detaily zjistíte po přihlášení do do Knihovny 3D v AMČR. Záznam bude během několika dní zveřejněn v Digitálním archivu AMČR.
    </p>
{% endblock %}
{% block content_en %}
  <!-- add English version -->
{% endblock %}
