{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>Dobrý den,</p>
    <p>
        vámi odeslaný dokument <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> byl vrácen do stavu <b>{{ state }}</b>.
    </p>
    <p><b>Zdůvodnění:</b> {{ reason }}</p>
    <p>Detaily zjistíte po přihlášení do AMČR.</p>
{% endblock %}
{% block content_en %}
    <p>Hello,</p>
    <p>
        the document you submitted <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> has been returned to the state <b>{{ state }}</b>.
    </p>
    <p><b>Reason:</b> {{ reason }}</p>
    <p>You can find the details after logging into AMCR.</p>
{% endblock %}
