// --- OZNAMENI ---

&.app-oznameni {
  .container-fluid {
    .app-logo {
      img {
        max-height: 80px;
        margin-bottom: $app-gap-double;
      }
    }

    .jumbotron {
      padding: $app-gap-double;

      h1 {
        @extend .app-heading-thin;
      }

      .collapse {
        p {
          &:last-child {
            @extend .app-clean-mg;
          }
        }
      }
    }

    .bs-stepper {
      .step-trigger {
        cursor: unset;

        &:hover {
          @extend .app-clean-bg;
        }

        &:focus {
          color: currentColor;
        }
      }
    }

    .table {
      tr {
        th {
          max-width: 100px;
        }
      }
    }

    form {
      &.dropzone {
        border-radius: $border-radius;
        border: 1px solid $gray-400;
        background-color: $gray-100;
        min-height: 180px;
        display: flex;

        .dz-message {
          @extend .app-clean-mg;
          flex: 1;
          align-self: center;
        }
      }
    }

    .app-footer {
      .form-check {
        display: inline-block;
        margin-left: $app-gap;
      }

      .app-captcha {
        display: none;
      }
    }
  }
}

.app-modal-podminky {
  h4 {
    @extend .app-heading-thin;
  }
}