// --- PROJEKT---

&.app-projekt {
  .app-content-wrapper {
    .app-entity-projekt {
      height: calc(100% - 108px);

      .app-table-list-wrapper {
        overflow: auto;
        min-height: 100%;
        max-height: 500px;

        .table-container {
          overflow: unset;

          .table {
            @extend .table-hover; // .table-striped

            thead {
              tr {
                th {
                  @extend .border-0;

                  &.asc {
                    .app-orderable-wrapper {
                      &:before {
                        content: 'arrow_upward';
                      }
                    } 
                  }

                  &.desc {
                    .app-orderable-wrapper {
                      &:before {
                        content: 'arrow_downward';
                      }
                    } 
                  }

                  .app-orderable-wrapper {
                    @extend .d-flex;

                    &:before {
                      @extend .mr-1;
                      font-family: "Material Icons";
                      color: $white;
                    }
                  }
                }
              }
            }

            tr {
              td {
                padding: .5rem .75rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                min-width: 100%;
                max-width: 120px;
          
                &.ident_cely {
                
                }

                &.podnet {
                  max-width: 130px;
                }
              }
            }
          }
        }
      }
    }
  }
}