// --- MODAL ---
@import 'app-mixins';
@import 'app-variables';

.app-modal-partneri {
  .app-logos {
    img {
      @extend .mr-4, .mb-4;
    }
  }
}
.app-modal-form {
  .modal-body {
    .bootstrap-select {
      .dropdown-menu{
        max-height: 480px !important;
        .inner{
          max-height: 400px !important;
        }
      }
    }
  }
  .table {
    tbody {
      a {
        color: #5882c4;
        white-space: nowrap;
        span {
          color: #5882c4;
          }
        }
      .badge {
        background-color: #5882c4;
        color: #fff;
      }
      button {
        color: #5882c4;
      }
      td {
        vertical-align: middle;
      }
    }
  }
}

.app-modal-importovat-pian {
  .modal-body-table{
    max-height: calc(100vh - 3.5rem - 180px);
    overflow-y: auto;
  }
}
