// --- VARIABLES ---

// bootstrap rewrite
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #0d47a1 !default;

// gap
$app-gap: 15px !default;
$app-gap-double: 30px !default;
$app-gap-half: 7.5px !default;

// container
$container-max-width-xl: 1140px !default; 

// material blue gray pallete
$blue-gray-50:  #ECEFF1 !default;
$blue-gray-100: #CFD8DC !default;
$blue-gray-200: #B0BEC5 !default;
$blue-gray-300: #90A4AE !default;
$blue-gray-400: #78909C !default;
$blue-gray-500: #607D8B !default;
$blue-gray-600: #546E7A !default;
$blue-gray-700: #455A64 !default;
$blue-gray-800: #37474F !default;
$blue-gray-900: #263238 !default;

// common
$app-flag-width: 27px !default;

// sidebar
$app-sidebar-width: 300px !default;
$app-sidebar-bg: #303641 !default;
$app-sidebar-accordion-color: lighten($app-sidebar-bg, 30) !default;
$app-sidebar-accordion-color-active: $white !default;
$app-sidebar-accordion-border-color: rgba($white, .07) !default;
$app-sidebar-accordion-body-color: rgba($white, .03) !default;

// footer
$app-footer-top-bg: rgba(lighten($app-sidebar-bg, 70), .5) !default;
$app-footer-bottom-bg: lighten($app-sidebar-bg, 70) !default;


// login
$app-login-form-width: 350px !default;

// mq break point
$xxs: 'only screen and (min-width: 400px) and (max-width: 575px)';
$xs: 'only screen and (max-width: 575px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 5000px)';

$lt-sm: 'only screen and (max-width: 575px)';
$lt-md:	'only screen and (max-width: 767px)';
$lt-lg:	'only screen and (max-width: 991px)';
$lt-xl:	'only screen and (max-width: 1199px)';

$gt-xs:	'only screen and (min-width: 576px)';
$gt-sm:	'only screen and (min-width: 768px)';
$gt-md:	'only screen and (min-width: 992px)';
$gt-lg:	'only screen and (min-width: 1200px)';

// breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// map-get($grid-breakpoints, "lg") !default;