// --- VARIABLES ---

// bootstrap rewrite
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #0d47a1 !default;
$secondary: lighten(#303641, 30) !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;

$table-cell-padding-sm: .3rem .75rem;

// entity colors
$entities: (
  "dokument": #5882c4,
  "projekt": #F39225,
  "akce": #247e4b,
  "lokalita": #951E7A,
  "samostatny_nalez": #85140E,
  "knihovna_3d": #778e98,
  "let":  #15968c,
  "ext_zdroj": #E7302A
);

// gap
$app-gap: 15px !default;
$app-gap-double: 30px !default;
$app-gap-half: 7.5px !default;

// content
$app-content-wrapper: $app-gap !default;

// container
$container-max-width-xl: 1140px !default;

// common
$app-flag-width: 27px !default;
$app-form-control-height: auto !default;
$app-form-control-line-height: 1 !default;
$app-form-group-mg-bottom: .8rem !default;
$app-logo-sidebar-height: 50px !default;
$app-logo-nosidebar-height: 60px !default; 

// form card
$app-form-card-header-height: 50px !default;
$app-form-card-header-btn-height: 100% !default;
$app-form-card-header-btn-border-color: $gray-300 !default;

// sidebar
$app-sidebar-width: 300px !default;
$app-sidebar-bg: #303641 !default;
$app-sidebar-accordion-color: lighten($app-sidebar-bg, 30) !default;
$app-sidebar-accordion-color-active: $white !default;
$app-sidebar-accordion-border-color: rgba($white, .07) !default;
$app-sidebar-accordion-body-color: rgba($white, .03) !default;

// footer
$app-footer-top-bg: rgba(lighten($app-sidebar-bg, 70), .5) !default;
$app-footer-bottom-bg: lighten($app-sidebar-bg, 70) !default;

// login
$app-login-gap: $app-gap-double !default;
$app-login-desc-color: lighten($app-sidebar-bg, 50) !default;
$app-login-border-color: rgba($white, .12) !default;
$app-login-news-max-height: 280px !default;

// mq break point
$xxs: 'only screen and (min-width: 400px) and (max-width: 575px)';
$xs: 'only screen and (max-width: 575px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 5000px)';

$lt-sm: 'only screen and (max-width: 575px)';
$lt-md:	'only screen and (max-width: 767px)';
$lt-lg:	'only screen and (max-width: 991px)';
$lt-xl:	'only screen and (max-width: 1199px)';

$gt-xs:	'only screen and (min-width: 576px)';
$gt-sm:	'only screen and (min-width: 768px)';
$gt-md:	'only screen and (min-width: 992px)';
$gt-lg:	'only screen and (min-width: 1200px)';

// breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// map-get($grid-breakpoints, "lg") !default;