// --- ENTITY CARDS ---

.no-background {
    background-image: none !important;
}

/* Use the custom font in your styles */
body {
    font-family: 'Museo', sans-serif;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

@media (pointer: fine) {
    .app-card-collapse-text {
        display: none;
        transition: all 0.4s ease;
    }
}

.app-entity-cards {
  .col {
    @extend .pr-0;
    max-width: 220px;
    min-width: 220px;
    margin-bottom: 1rem;

    .app-card-entity {
      @include setEntityColor("card");
      @extend .h-100, .border-0, .app-card-shadow;
      @media (min-width: 768px) {
        min-height: 400px;
      }
      @media (max-width: 768px) {
        max-height: 200px;
      }
      @media (max-width: 440px) {
        min-width: calc(100vw - 32px);
      }
      @media (min-width: 440px) {
        max-width: 205px;
      }
      margin-bottom: 1rem;
      text-align: center;
      cursor: pointer;

      .card-body {
        position: relative;

        &:after {
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      .card-footer {
        font-size: 18px;
        font-weight: 500;
        font-family: museo;
      }

      .card-body-background {
        background-image: url('/static/static/img/bg-vrstevnice.png');
        background-repeat: no-repeat;
        background-size: 180px;
        background-position: right bottom;
        opacity: .3;
      }

      img {
        margin-top: 50px;
        width: 60px;
        transition: transform .5s ease;
        opacity: 0;
      }

      &:hover {
        text-decoration: none;
        
        img {
          transform: scale(1.4);
          opacity: unset;
        }
      }
    }
  }
}

.app-card-desc-wrapper {
  min-height: 180px;
}