// --- LAYOUT ---

body {
  @import "app-oznameni";

  &.app-login {
    background-color: $app-sidebar-bg;
    background-image: url('/static/static/img/login-bg.svg');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center 50px;
    padding: $app-login-gap $app-gap;

    #app-page-wrapper {
      min-width: auto;

      .container-fluid {
        max-width: $container-max-width-xl;
      }
    }
  }

  &.app-oznameni {
    padding: $app-login-gap $app-gap;
    
    #app-page-wrapper {
      min-width: auto;

      .container-fluid {
        max-width: $container-max-width-xl;
      }
    }
  }
}

#app-wrapper {
  overflow-x: hidden;
}

#app-page-wrapper {
  min-width: 100vh;
  width: 100%;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  @import "app-navbar";
  @import "app-breadcrumb";
  @import 'app-footer';

  .container-fluid {
    @import 'app-login';

    &.app-content-wrapper {
      padding: $app-content-wrapper;
    }
  }
}


#app-wrapper.toggled {
  #app-page-wrapper {
    margin-left: 0;
  }
}
