// --- LOGIN ---

.app-login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-logo {
    width: 348px;
    margin-bottom: 1.5rem;
  }

  .card {
    width: $app-login-form-width;
    text-align: center;
    margin-bottom: 3rem;

    form {
      input {
        &[type="text"], &[type="password"] {
          @extend .form-control;
        }
      }

      .app-flags {
        a {
          text-decoration: unset;

          img {
            width: 27px;
          
            &:not(:hover) {
              filter: grayscale(100%);
              -webkit-filter: grayscale(100%);
              opacity: 50%;
            }
          }

          &:first-child {
            margin-right: .5rem;
          }
        }
      }
    }
  }

  .row {
    .card {
      @extend .app-full-width;
      text-align: left;
      background-color: rgba(black, .3) !important;
    }
  }
}