// --- BS STEPPER ---

// stepper
.bs-stepper {
  .bs-stepper-header {
    align-items: unset;

    .step {
      &.active {
        .bs-stepper-label {
          color: $blue;
          font-weight: 700;
        }
      }

      .stepper-row {
        max-width: 150px;
      }

      .step-trigger {
        cursor: unset;
    
        &:hover {
          @extend .bg-transparent;
        }
    
        &:focus {
          color: currentColor;
        }
        &.historie-link{
          cursor: pointer;
        }
        font-weight: normal;
      }

      .app-stepper-date {
        margin-top: -3px;
        font-weight: normal;
        color: inherit;
        font-size: 13px;
      }
      .app-stepper-date-container {
        line-height: 1;
      }
    }
  }
}

.step-trigger { 
  &.projekt {
  padding: 10px;
  }
}

.line {
  &.projekt{
  flex: 1 0 12px;
  }
}