// --- LAYOUT ---

body {
  @import 'app-login';
  @import "app-oznameni";
  @import "app-projekt";
  @import "app-akce";
  @import "app-modal";
  @import "app-uzivatel";

  overflow-x: hidden;

  &.app-accounts,
  &.app-oznameni {
    &:not(.app-edit) {
      padding: $spacer-3 $spacer-3 $spacer-4 $spacer-3;

      #app-page-wrapper {
        min-width: auto;

        .container-fluid {
          max-width: $container-max-width-xl;
        }
      }
    }
  }
}

.maintenance {
  font-size: 20px;
  background-color: #322348;

}

#app-wrapper {
  overflow-x: hidden;

}

#app-page-wrapper {
  @media (min-width: 768px) {
    min-width: calc(100vh - 300px);
  }

  width: 100%;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  position: relative;

  @import "app-navbar";
  @import "app-toolbar";
  @import "app-bs-stepper";
  @import "app-entity-cards";
  @import 'app-footer';

  .container-fluid {

    &.app-content-wrapper {
      @include setEntityElementsColor();
      @extend .p-3;
      background-color: $gray-100;
    }
  }
}

@include setEntityTransakceColor();

#app-wrapper.toggled {
  #app-page-wrapper {
    margin-left: 0;
  }
}

#app-sidebar-wrapper {
  z-index: 1001;
}

.form-group {
  margin-bottom: 0.15rem !important;
}

.card-body {
  padding: 0.75rem !important;
}

.content-with-table-responsive {
  overflow-x: scroll;
}

.dj-map-div {
  @media (min-width: 574px) {
    padding-left: 0;
  }

  @media (max-width: 574px) {
    padding-top: 1rem;
  }
}

.mt-0 {
  margin: 0.25rem !important;
}

table td {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

table th {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.form-control-sm:not(textarea),
.form-control:not(textarea),
.app-daterangepicker .form-group>div .textinput {
  height: 1.5rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bootstrap-select .dropdown-toggle {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dropdown-toggle {
  //height: 20px!important;
  //line-height: 1!important;
  margin: 0px !important;
}

.app-btn-in-form {
  height: 22px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

td .badge {
  vertical-align: middle;
  flex: 0 0 auto;
}

.btn {
  margin-top: 0.5em;
}

div .app-right .btn-group .btn {
  margin-top: 0 !important;
}

.form-group.map .btn {
  margin-top: 0;
}

.btn .dropdown-toggle .btn-light {
  margin: 2px;
}

.filter-option-inner-inner {
  font-size: 0.875rem;
}

.app-btn-in-form {
  margin-top: 0 !important;
  font-size: 0.5rem !important;
}

.btn.dropdown-toggle.btn-light {
  vertical-align: top;
  height: 100%;
}

.select2-selection__choice {
  margin-top: 0.125rem !important;
  margin-bottom: 0.25rem !important;
}

.modelselect2multiple .select2-selection__rendered {
  height: 1.5rem !important;
  overflow-y: auto !important;
}

.select2-selection__rendered {
  height: 1.5rem !important;
}

.select2-search__field {
  margin-top: 1px !important;
}

.select2-selection__clear {
  margin-top: 0.125rem !important;
}

.modal-body .select2-selection__clear {
  margin-top: 0.125rem !important;
}

#tvar_table.table,
.table.vedouci-table {
  th:first-child {
    width: 16.66667%;
    max-width: 16.66667%;
  }

  td:first-child {
    width: 16.66667%;
    max-width: 16.66667%;
  }

  th.col-2 {
    width: 16.66667%;
    max-width: 16.66667%;
  }

  td.col-2 {
    width: 16.66667%;
    max-width: 16.66667%;
  }

  td.is_readonly {
    small {
      display: none;
    }
  }

  td small {
    grid-column: span 3;
  }
}