// --- GLOBAL ---

// cleaners
.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-border {
  border: none !important;
}

.app-clean-mg {
  margin: 0 !important;
}

.app-clean-pd {
  padding: 0 !important;
}

// common
.app-full-width {
  width: 100%;
}

.app-pipe {
  border-left: 1px solid $gray-500;
  margin: 0 $app-gap-half;

  /* &:last-child {
    display: none;
  } */
}

.app-flag {
  width: $app-flag-width;
}

.app-flag-inactive {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 50%;
}

// material icons behavior in bootstrap elements
.btn,
.nav-link {
  .material-icons {
    @include setIcon($position: bottom);
  }
}