// --- SIDEBAR ---

@import 'app-variables';
@import './bootstrap/bootstrap';
@import 'app-global';
@import 'app-mixins';

#sidebar-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  margin-left: -#{$app-sidebar-width};
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  overflow-y: auto;
  background-color: $app-sidebar-bg;
  width: $app-sidebar-width;

  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  // accordion
  .card {
    @extend .app-clean-bg, .app-clean-border;
    border-top: 1px solid $app-sidebar-accordion-body-color !important;

    .btn-link {
      color: $app-sidebar-accordion-color-active;
      padding: 0;

      &.collapsed {
        @include setLinkColor($app-sidebar-accordion-color);

        .app-icon-expand {
          transition: all 0.4s ease;
          transform: rotateZ(0deg);
        }
      }

      .app-icon-expand {
        transition: all 0.4s ease;
        transform: rotateZ(180deg);
      }

      .material-icons {
        margin-right: 8px;

        &.app-icon-expand {
          float: right;
        }
      }
    }

    .card-body {
      background-color: $app-sidebar-accordion-body-color;
      padding-top: 0.75rem;
      padding-bottom: 0.1rem;

      ul {
        li {
          list-style: none;
          line-height: 32px;

          a {
            color: #8d97ad;
          }
        }
      }
    }
  }
}

#app-wrapper {
  &.toggled {
    #sidebar-wrapper {
      margin-left: 0;
    }
  }  
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #app-wrapper {
    &.toggled {
      #sidebar-wrapper {
        margin-left: -#{$app-sidebar-width};
      }
    }
  }

  #app-page-wrapper {
    margin-left: $app-sidebar-width;
  }
}

@media (max-width: 767px) {
  .navbar {
    margin-left: 0;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  #app-wrapper {
    &.toggled {
      .navbar {
        margin-left: $app-sidebar-width;
      }
    }
  }
}