// --- LOGIN ---

&.app-accounts {
  background-color: $app-sidebar-bg;
  background-image: url('/static/static/img/login-bg.svg');
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: center 50px;

  .app-login-wrapper {
    @extend .d-flex;
    flex-direction: column;
    min-height: calc(100vh - (#{$spacer-4} * 2));
    justify-content: center;

    .app-logo {
      @extend .mb-4, .d-flex;
      width: 100%;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      @extend .text-dark;
      text-align: center;
    }

    .card {
      @extend .border-0;
      text-align: center;

      h1 {
        @extend .app-heading-thin;
      }

      form {
        ul {
          @extend .text-left;
        }

        input {

          &[type="text"],
          &[type="password"],
          &[type="email"] {
            @extend .form-control;
          }
        }

        // in register -> /accounts/register/
        .form-group {
          label {
            font-weight: normal;
            font-size: inherit;
            margin-bottom: .5rem;
          }

          #hint_id_password1,
          #hint_id_password2 {
            @extend .mt-2;

            ul {
              @extend .mb-0;
            }
          }
        }
      }
      .app-flags {
        button {
          text-decoration: unset;
          background: transparent;
          border: 0;
          &:not(.app-active) {
            @extend .app-flag-inactive;
          }

          &:first-child {
            margin-right: .5rem;
          }
        }
      }
    }

    .app-col-desc {
      .app-inner {
        margin-top: 30px;

        @media #{$gt-md} {
          height: 100%;
          border-left: 1px solid $app-login-border-color;
          padding: $spacer-3 $spacer-4;
          margin-top: 0;
        }

        hr {
          border-color: $app-login-border-color;
        }

        .card {
          @extend .bg-transparent, .w-100;
          color: $app-login-desc-color;
          text-align: left;

          &.app-news {
            max-height: $app-login-news-max-height;
            overflow-y: auto;
          }

          .card-body {
            @extend .p-0, .pr-3;

            h3 {
              @extend .app-heading-thin;
              margin-top: 0;
            }

            p {
              &:last-child {
                margin-bottom: 5px;
              }

              .app-pipe {
                border-color: rgba($app-login-desc-color, .4);
              }

              span {
                &:not(.app-pipe) {
                  font-weight: normal;
                  color: rgba($app-login-desc-color, .6);
                }
              }
            }
          }
        }
      }
    }
  }
}