// --- GLOBAL ---

// hidde during development
/* #djDebug #djShowToolBarButton {
  display: none;
} */

// colors
.app-color-success {color: $success !important;}
.app-color-info {color: $info !important;}
.app-color-warning {color: $warning !important;}
.app-color-danger {color: $danger !important;}

// common
.app-row-gap {
  margin-bottom: $app-gap;
}

.app-row-gap-half {
  margin-bottom: $app-gap-half;
}

.app-row-gap-double {
  margin-bottom: $app-gap-double;
}

.app-heading-thin {
  font-weight: 200 !important;
}

.app-pipe {
  border-left: 1px solid $gray-500;
  margin: 0 $app-gap-half;
}

.app-flag {
  width: $app-flag-width;
}

.app-flag-inactive {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 50%;
}

.app-btn-show-more {
  .material-icons {
    transition: all 0.4s ease;
    transform: rotateZ(180deg);
  }

  &.collapsed {
    .material-icons {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }
}

// material icons behavior in bootstrap elements
.btn,
.nav-link {
  .material-icons {
    @include setIcon($position: bottom);
  }

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn {
  @include setEntityColor(button);
}

table {
  font-size: $font-size-sm;

  tr {
    // set behavior of the elements in entity table row
    @include setEntityColor(tableRow);

    th {
      vertical-align: top;
    }

    td {
      &.app-ident {
        .material-icons {
          @include setIcon(18);
        }
      }
    }
  }

  .material-icons {
    @include setIcon($position: bottom);
    color: initial;
  }
}


// select form control fix
.select2-container {
  min-width: unset !important;
  min-height: 31px !important;

  .select2-selection {
    height: 31px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.2rem !important;

    &.form-control {
      @extend .p-0;
      min-height: 31px;
      height: unset !important;

      ul {
        @extend .pr-0;
        line-height: 1;
        margin-top: 1px;
      }
    }
  }  
}

/* // select fix
.select2-container {
  min-width: unset !important;

  .select2-selection {
    height: 31px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.2rem !important;

    .select2-selection__rendered  {
      line-height: unset !important;
    }

    .select2-selection__arrow {
      height: 31px !important;
    }

    .select2-selection__clear {
      margin-top: 0 !important;
    }

    .select2-selection__rendered {
      .select2-selection__choice {
        margin-top: 0 !important;
      }
    }
  }
} */

// bootstrap rewrite
.form-control {
  @extend .form-control-sm;

  &.app-ellipsis {
    text-overflow: ellipsis;
  }
}

.form-group {
  margin-bottom: $app-form-group-mg-bottom;

  label {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: $app-form-label-mg-bottom;
  }

  .input-group-append {
    cursor: pointer;

    .input-group-text {
      @extend .pt-0, .pb-0, .pl-1, .pr-1;

      .material-icons {
        @include setIcon(18);
      }
    }
  }
}


.card {
  &.app-card-form {
    //@extend .shadow;
    margin-bottom: $app-gap;

    .card-header {
      @extend .d-flex;
      width: 100%;
      padding: 0 0 0 1.25rem;
      font-weight: 300;
      height: $app-form-card-header-height;


      .app-fx {
        @extend .d-flex;
        align-items: center;

        &.app-left {
          flex: 1;
        }

        &.app-right {

        }

        .btn-group {
          height: $app-form-card-header-btn-height;

          a {
            &.btn {
              @extend .d-flex;
              align-items: center;
            }
          }

          .btn {
            @include setEntityColor(buttonFormHeader);
            border-radius: 0;
            border: 0;
            border-left: 1px solid $app-form-card-header-btn-border-color;

            &:last-child {
              border-top-right-radius: $btn-border-radius;
            }
          }
        }
      }
    }

    .card-body {
      .app-note {
        @extend .text-center, .mt-3;
        color: $info;

        .material-icons {
          @include setIcon($position: bottom);
        }
      }

      #projectMap {
        @extend .w-100, .rounded, .h-100;
      }
    }
  }
}
