// --- LAYOUT ---

body {
  &.app-login {
    background-color: $app-sidebar-bg;
    background-image: url('/static/static/img/login-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: $app-gap-double;

    .container-fluid {
      max-width: $container-max-width-xl;
    }
  }
}

#app-wrapper {
  overflow-x: hidden;
}

#app-page-wrapper {
  /* min-width: 100vw; */
  width: 100%;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  @import "app-navbar";
  @import 'app-footer';

  .container-fluid {
    @import 'app-login';
  }
}


#app-wrapper.toggled {
  #app-page-wrapper {
    margin-left: 0;
  }
}


// test footer always on bottom page
html, body, #app-wrapper {
  height: 100%;
}

#app-page-wrapper {
  display: flex;
  flex-direction: column;

  .container-fluid {
    flex: 1 0 auto;
    //background: green;
  }
}