// --- MIXINS ---

// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }
  
}

// set entity color
@mixin setEntityColor($type) {
  @each $entity, $color in $entities {
    @if ($type == buttonFormHeader) {
      &.app-entity-#{$entity} {
        &:hover {
          background-color: $color !important;
          color: $white;
        }
      }    
    } @else if ($type == button) {
      &.app-entity-#{$entity}-btn {
        @extend .border-0;
        background-color: $color;
        color: $white;

        &:hover {
          background-color: darken($color, 10);
        }
      }    
    } @else if ($type == stepper) {
      &.app-entity-#{$entity} {
        .bs-stepper-circle {
          background-color: $color;
        }

        .bs-stepper-label {
          color: $color;
        }
      } 
    } @else if ($type == toolbar) {
      &.app-entity-#{$entity} {
        background-color: rgba($color, .1);

        .app-left {
          .app-entity-title {
            background-color: $color;
  
            &:after {
              border-left-color: $color;
            }
          }

          .app-entity-item {
            color: $color;
          }
        }

        .app-right {
          .btn {
            color: $color;
            border-left-color: rgba($color, .3) !important;
  
            &:hover {
              background-color: $color;
              color: $white;
            } 
          }
        }
      } 
    } @else if ($type == tableRow) {
      &.app-entity-#{$entity} {
        td {
          a {
            color: $color !important;

            .material-icons {
              color: $color;
            }
          }

          .badge {
            background-color: $color;
            color: $white;
          }
        }
      } 
    }
  }
}

// set entity color for all defined elements inside
@mixin setEntityElementsColor() {
  @each $entity, $color in $entities {
    .app-entity-#{$entity} {
      // toolbar
      .app-toolbar {
        background-color: rgba($color, .1);

        .app-left {
          .app-entity-title {
            background-color: $color;
  
            &:after {
              border-left-color: $color;
            }
          }

          .app-entity-item {
            color: $color;
          }
        }

        .app-right {
          .btn {
            color: $color;
            border-left-color: rgba($color, .3) !important;
  
            &:hover {
              background-color: $color;
              color: $white;
            } 
          }
        }
      }

      // stepper
      .bs-stepper {
        .step {
          &.active {
            .bs-stepper-circle {
              background-color: $color;
            }
    
            .bs-stepper-label {
              color: $color;
            }
          }
        }
      }

      // card header button
      .card {
        &.app-card-form  {
          .card-header {
            .btn-group {
              .btn {
                &:hover {
                  background-color: $color !important;
                  color: $white;
                }
              }
            }
          }
        }
      }

      // button color
      .btn-primary {
        @extend .border-0;
        background-color: $color;
      }

      // check box color
      .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $color;
        background-color: $color;
      }
    }
  }
}


// set link color
@mixin setLinkColor($color, $shade: none, $val: none, $colorH: none) {
  color: $color;

  &:hover {
    @if ($shade == 'd') {
      color: darken($color, $val);
    } @else if ($shade == 'l') {
      color: lighten($color, $val);
    } @else if ($shade == none) {
      color: $colorH;
    }
  }
}