// --- GLOBAL ---

// hidde during development
/* #djDebug #djShowToolBarButton {
  display: none;
} */

.tooltip {
  pointer-events: none;
}

// colors
.app-color-success {
  color: $success !important;
}

.app-color-info {
  color: $info !important;
}

.app-color-warning {
  color: $warning !important;
}

.app-color-danger {
  color: $danger !important;
}

// common
.app-heading-thin {
  font-weight: 200 !important;
}

.app-pipe {
  border-left: 1px solid $gray-500;
  margin: 0 $spacer-2;
}

.app-flag {
  width: $app-flag-width;
}

.app-flag-inactive {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 50%;
}

.app-btn-show-more {
  .material-icons {
    transition: all 0.4s ease;
    transform: rotateZ(180deg);
  }

  &.collapsed {
    .material-icons {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }
}

.app-card-shadow {
  box-shadow: $app-card-shadow;

  &:hover {
    box-shadow: $app-card-shadow-hover;
  }
}

.app-font-museo {
  font-family: museo;
}

.app-divider-label {
  @extend .pb-1, .mt-3;
  display: inline-block;
  color: $gray-600;
  font-weight: 500;
}

// material icons behavior in bootstrap elements
.btn,
.nav-link {
  .material-icons {
    @include setIcon($position: bottom);
  }

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn {
  &.collapsed {
    .app-icon-expand {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }

  .app-icon-expand {
    transition: all 0.4s ease;
    transform: rotateZ(180deg);
  }

  &.app-btn-in-form {
    @extend .btn-primary, .btn-sm;
    margin-left: 0rem !important;
  }
}

.btn-prolong {
  background: transparent;
  padding: 0;
}

.input-osoba .form-group .input-group-append .input-group-text {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  border: 0px solid #ced4da;
}

.input-osoba .input-group-append .input-group-text {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  border: 0px solid #ced4da;
}

table {
  font-size: $font-size-sm;

  tr {
    $app-ident-cely: 150px;

    th {
      vertical-align: top !important;
    }

    td {
      &.app-ident-cely {
        width: $app-ident-cely;

        .material-icons {
          @include setIcon($size: 18, $position: sub);
        }
      }

      .app-card-dokument & {
        &.app-ident-cely {
          width: 200px;
        }
      }

      button {
        border: none;
        background: none;
      }

      .btn-spoluprace-vyber {
        padding: 0rem !important;
      }
    }
  }

  .material-icons {
    @include setIcon($position: bottom);
    color: initial;
  }
}

.formset-table form table tbody tr div small {

  display: none
}

.formset-table form table tbody tr:last-child div small {

  display: inherit
}

.formset-table table tbody tr div small {

  display: none
}

.formset-table table tbody tr:last-child div small {

  display: inherit
}

.formset-table .filter-option {
  margin-right: -25px;
}

// select form control fix
.select2-container {
  //min-width: unset !important; commented because there was bug, which sent Juraj by skype
  min-width: 100% !important;
  max-width: 100% !important;

  .select2-selection--multiple {
    height: $app-form-control-fix-height !important;
    min-height: $app-form-control-fix-height !important;
  }

  .select2-selection {
    border: 1px solid #ced4da !important;
    border-radius: 0.2rem !important;

    &.form-control {
      @extend .p-0;

      ul {
        @extend .pr-0;
        line-height: 1;
        margin-top: 1px;
      }
    }
  }
}

//select2-selection select2-selection--multiple modelselect2multiple form-control
//.select2-container .select2-selection--multiple

// select bootstrap fix
.bootstrap-select {
  .dropdown-toggle {
    height: 1.23rem;
    padding: 0 0.5rem;
  }

  .dropdown-menu .dropdown-menu.inner {
    float: inline-end;
  }
}

.column-table-selector {
  max-height: 80vh;
  overflow-x: scroll;
}

// date range picker
.app-daterangepicker {
  .form-group {
    &>div {
      @extend .d-flex;
      font-size: 0;

      .textinput {
        @extend .flex-fill, .form-control;

        &:first-child {
          margin-right: 15px;
        }

        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }
}

// multiple upload form
form {
  &.dropzone {
    @extend .d-flex;
    border-radius: $border-radius;
    border: 1px solid $gray-400;
    background-color: $gray-100;
    min-height: 180px;
    display: block !important;

    .dz-message {
      @extend .m-0;
      flex: 1;
      align-self: center;
    }
  }
}

// bootstrap rewrite
.form-control {
  @extend .form-control-sm;

  &.app-ellipsis {
    text-overflow: ellipsis;
  }
}

.form-group {
  margin-bottom: $app-form-group-mg-bottom;

  label {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: $app-form-label-mg-bottom;
  }

  .form-check-label {
    font-weight: normal;
  }

  .input-group-append {
    cursor: pointer;

    .input-group-text {
      @extend .pt-0, .pb-0, .pl-1, .pr-1;

      .material-icons {
        @include setIcon(18);
      }
    }
  }

  &.inline-checkbox small {
    left: -1.5rem;
    position: inherit;
  }

  textarea[disabled] {
    padding-top: 0;
    padding-bottom: 0;
  }

  textarea[disabled].textarea {
    padding-top: 0;
    padding-bottom: 0;
  }

  textarea.textarea.form-control {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// card
.card {
  &.app-card-form {
    @extend .mb-3;
    //@extend .shadow;

    &:last-of-type {
      @extend .mb-0;
    }

    .card-header {
      @extend .d-flex;
      width: 100%;
      padding: 0 0 0 1.25rem;
      font-weight: 300;
      height: $app-card-form-header-height;


      .app-fx {
        @extend .d-flex;
        align-items: center;

        &.app-left {
          flex: 1;
        }

        &.app-right {}

        .btn-group {
          height: $app-card-form-header-btn-height;

          a {
            &.btn {
              @extend .d-flex;
              align-items: center;
            }
          }

          .btn {
            border-radius: 0;
            border: 0;
            border-left: 1px solid $app-card-form-header-btn-border-color;

            &:last-child {
              border-top-right-radius: $btn-border-radius;
            }
          }
        }
      }
    }

    .card-body {
      .app-note {
        @extend .text-center, .mt-3;
        color: $info;

        .material-icons {
          @include setIcon($position: bottom);
        }
      }

      #projectMap {
        @extend .w-100, .rounded, .h-100;

        @media (max-width: 768px) {
          min-height: 70vh;
        }
      }
    }

    &:not(.app-card-inner) {
      box-shadow: $app-card-shadow;

      &:hover {
        box-shadow: $app-card-shadow-hover;
      }
    }

    &.app-card-in-clean-shadow {
      .app-card-form {
        @extend .shadow-none;
      }
    }
  }

  // dokumentacni jednotka
  &.app-card-dokumentacni-jednotka {
    min-height: 300px;

    .card-body {
      overflow-y: auto;
    }
  }

  &.app-card-casti-dokumentu {
    min-height: 300px;

    .card-body {
      max-height: 300px;
      overflow-y: auto;

      .cast-dokumentu-part1 {
        flex: 1;
      }
    }
  }
}

a.dropdown-item span.text {
  max-width: 100%!important;
  white-space: normal!important;
}

a.dropdown-item {
   max-width: 100%!important;
}

.dropdown-menu li {
  max-width: 100%!important;
}

.bootstrap-select {
  max-width: 100%!important;
}

.app-card-cast-dokumentu {
  @media (min-width: 576px) {
    padding-left: 0!important;
  }
}

.search-sum-text {
  @media (max-width: 576px) {
    display: none;
  }
}

.bootstrap-table-button-hint {
  @media (max-width: 720px) {
    display: none;
  }
}

.pagination.per-page.settings {
  @media (max-width: 768px) {
    display: none;
  }
}

.leaflet-left.leaflet-top {
  z-index: 990;
}

.pagination-range {
  @media (max-width: 780px) {
    display: none;
  }
}

// list group
.list-group {
  .list-group-item {
    .material-icons {
      @include setIcon(20);
    }

    .app-pian {
      @include setPianStateColor();
    }

    .app-list-group-in {
      margin-left: 5px;

      li {
        font-size: .9rem;
      }
    }
  }
}

// alert
.alert {
  &.app-alert-floating {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    border-color: initial;
    position: fixed;
    //top: 50%;
    top: 15px;
    //transform: translateY(-50%);
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for the element's width */
    z-index: 1000;
  }

  ul {
    @extend .m-0, .p-0;
    list-style-position: inside;
  }
}

.alert {
  &.app-alert-floating-file-upload {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    border-color: initial;
    position: fixed;
    top: 15px;
    @media (min-width: 768px) {
      left: calc(300px + 15%);
      width: calc(70% - 300px);
    }
    @media (max-width: 768px) {
      left: calc(300px + 5%);
      width: calc(90% - 300px);
    }
    z-index: 1000;

    text-align: center;
  }

  &.app-alert-floating-file-upload-no-left-bar {
    @media (min-width: 768px) {
      left: 15%;
      width: 70%;
    }
    @media (max-width: 768px) {
      left: 5%;
      width: 90%;
    }
  }

  ul {
    @extend .m-0, .p-0;
    list-style-position: inside;
  }
}

.app-alert-floating-file-upload-oznameni {
  @extend .app-alert-floating-file-upload;
  left: 15%;
  width: 70%;
}

.app-alert-floating-import-pian {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  border-color: initial;
  position: fixed;
  top: 15px;
  left: calc(300px + 15%);
  z-index: 10000;
  width: calc(70% - 300px);
  text-align: center;
}

// tooltip
.tooltip {
  a {
    color: $white;
  }
}

// table list
.app-table-list-container {
  @extend .d-flex, .flex-column, .h-100;

  &.app-entity-historie {
    //height: 92% !important;
  }

  &.app-entity-historie.app-entity-soubor {
    //height: 85% !important;
    padding-bottom: 59px;
  }

  &.app-entity-soubor {
    .app-toolbar {
      margin: 0rem -1rem 1rem -1rem !important;
    }
  }

  #filter {
    .btn {
      .material-icons {
        color: $white;
      }
    }
  }

  .app-card-form {
    .material-icons {
      @include setIcon($size: 18, $position: sub);
      color: $gray-600;
    }
  }

  .app-table-list-wrapper {
    flex: 1 0 auto; //
    position: relative;

    &.add-pian-table {
      table thead tr th {
        color: #ffffff;
      }
    }

    .app-table-list-inner {
      position: absolute; //
      height: 100%; //
      width: 100%;
      overflow: auto;

      #UzivatelSpolupraceTable {
        td {
          max-width: 20%;
        }
      }

      .table-responsive {
        overflow: unset;

        .table {
          @extend .table-hover; // .table-striped
          @media (min-width: 992px) {
            table-layout: fixed;
          }

          thead {
            tr {
              th {
                @extend .border-0;
                padding: .5rem .5rem;

                span {
                  justify-content: left;
                }

                &.asc {
                  .app-orderable-wrapper {
                    &:before {
                      content: 'arrow_upward';
                    }
                  }
                }

                &.desc {
                  .app-orderable-wrapper {
                    &:before {
                      content: 'arrow_downward';
                    }
                  }
                }

                .app-orderable-wrapper {
                  @extend .d-flex;

                  &:before {
                    @extend .mr-1;
                    font-family: "Material Icons";
                    color: $white;
                  }
                }
              }
            }
          }

          tr {
            td {
              @extend .border-top-0, .border-bottom;
              padding: .4rem .5rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              min-width: 100%;
              max-width: 120px;
              vertical-align: middle;

              &.ident_cely {
                min-width: 130px;
              }

              &.podnet {
                max-width: 130px;
              }

              &.spoluprace {
                max-width: 20%;
              }
            }
          }
        }
      }
    }
  }

  .table {
    td {
      vertical-align: middle;

      .image-nahled {
        max-height: 100px;
        max-width: 100%;
        border-radius: 5px;
        width: auto;
      }
    }
  }

  .table-navigation {
    display: flex;
    padding-top: 15px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0;
      /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
      -moz-appearance: textfield;
      /* Firefox */
    }

    .pagination.settings {
      padding-top: 1px;

      form {
        min-width: 100%;

        label {
          overflow: clip;
        }
      }

      .form-group {
        justify-content: flex-start;

        .input {
          min-width: 150px;
        }
      }

      .form-control {
        line-height: $pagination-line-height;
        height: calc(1.5em + 0.5rem + 5px) !important;
        max-width: 100px;
      }

      .btn {
        line-height: $pagination-line-height;
        max-width: 50px;
      }
    }

    .pagination.jump-page {
      padding-left: 1rem;

      .form-group {
        justify-content: flex-start;
        margin-left: 0;

        .input-group {
          justify-content: flex-start;

          .btn {
            max-width: fit-content;
          }
        }
      }
    }

    .pagination.go-to-page {
      justify-content: center;

      span {
        padding: 0px 5px 0px 5px;
      }
    }

    .pagination.per-page {
      margin-left: auto;

      .form-group {
        justify-content: flex-end;
        margin-right: 0;

        .input-group {
          justify-content: flex-end;

          .btn {
            max-width: fit-content;
          }
        }
      }
    }
  }

  #soubor-nahled {
    cursor: pointer;
    transition: 0.3s;
  }

  #soubor-nahled:hover {
    opacity: 0.7;
  }

  .image-nahled {
    cursor: pointer;
    transition: 0.3s;
  }

  .image-nahled:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content-xxl {
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: block;
    max-width: 1200px;
  }

  .modal-content {
    background-color: rgb(0, 0, 0);
  }


  /* The Close Button */
  .close {
    position: absolute;
    top: -50px;
    right: 5px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
}

.form-control {
  &.required-next {
    &:not(:focus) {
      border: 1px solid !important;
      border-color: #ffc107 !important;
    }
  }
}

// line height for select2
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit !important;
}
.select2multiple .select2-selection__rendered {
  height: 1.5rem !important;
  overflow-y: auto !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  white-space: break-spaces !important;
}

.select2-selection__rendered li:first-of-type {
  max-width: 92%;
}

#pes_table tbody tr:not(:last-child) .select2-selection__clear {
  display: none;
}

// test
/* .app-table-list-container {
  @extend .d-flex, .flex-column, .h-100;

  .app-table-list-wrapper-test {
    flex: 1 0 auto;
    position: relative;

    .app-table-list-inner {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: auto;
      background-color: red;
    }
  }
} */
.bi-geo-alt.btn-outline-dark:hover {
  background-color: $gray-400;
  color: $gray-800;

  &.btn-readonly {
    background-color: $gray-200
  }
}

.badge-span {
  display: flex;
}

span.badge-span .badge {
  flex: 0 0 auto;
}

.select2-input {
  .input-group {
    .select2-container {
      grid-column: 2 / span 1;
    }

    ;
    display: grid;
    grid-template-columns: 0 auto 15%;

    .input-group-append {
      position: relative;
      grid-column: 3;

      .btn {
        height: 100% !important;
      }
    }
  }
}

#dj_list_card_body {
  max-height: 500px;
}

.table.table-striped.table-sm.table-fixed {
  table-layout: fixed;
}

.btn-group:has(.dropdown-menu):first-child:not(:has(.dropdown-item)) {
  #others.btn {
    display: none;
  }
}

h6 {
  margin-top: 1rem;
}
