// --- LOGIN ---

.app-login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-logo {
    width: 348px;
    margin-bottom: $app-gap-double;
  }

  .card {
    width: $app-login-form-width;
    text-align: center;

    form {
      input {
        &[type="text"], &[type="password"] {
          @extend .form-control;
        }
      }

      .app-flags {
        a {
          text-decoration: unset;

          img {
            width: 27px;
          
            &:not(:hover) {
              filter: grayscale(100%);
              -webkit-filter: grayscale(100%);
              opacity: 50%;
            }
          }

          &:first-child {
            margin-right: .5rem;
          }
        }
      }
    }
  }

  .row {
    margin-top: $app-gap-double;

    .app-left {
      @media #{$lt-sm} {
        margin-bottom: $app-gap-double;
      }
    }

    .app-right {
      @media #{$lt-sm} {
        .app-sroll-inner {
          position: relative !important;
          width: auto !important;
          height: auto !important;
          max-height: 300px;
        }
      }
    }
    
    
    .card {
      @extend .app-full-width;
      text-align: left;
      background-color: rgba(black, .3) !important;
      height: 100%;
      
      .card-header {
        border-bottom-color: rgba($white, .1);
        font-size: 1.25rem;
        color: rgba($white, .6);
      }

      .card-body {
        position: relative;

        .app-sroll-inner {
          position: absolute;
          width: calc(100% - 2.5rem);
          height: calc(100% - 2.5rem);
          overflow-y: auto;
          padding-right: 1.5rem;

          strong {
            color: rgba($white, .6);
          }

          .app-pipe {
            border-color: rgba($white, .4);
          }
        }
      }
    }
  }
}