// --- PROJEKT---

&.app-projekt {
  .app-content-wrapper {
    .app-entity-projekt {

    }
  }
}

#id-modal-content {
    .dropdown-menu {
      &.inner {
        &.show {
          width: 100%;
        }
      }
    }
}
