// --- MODAL ---

.app-modal-partneri {
  .app-logos {
    img {
      @extend .mr-4, .mb-4;
      max-height: 40px;
    }
  }
}
.app-modal-form {
  .modal-body {
    .bootstrap-select {
      .dropdown-menu{
        max-height: 480px !important;
        .inner{
          max-height: 400px !important;
        }
      }
    }
  }
}