// --- FOOTER ---

footer {
  .app-footer-wrapper {
    background-color: $app-footer-bottom-bg;
    color: $gray-600;

    a {
      @include setLinkColor($gray-800, d, 20);
      font-size: .8rem;
    }
  }
}