// --- LOGIN ---

.app-login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    width: 400px;
    text-align: center;

    form {
      input {
        &[type="text"], &[type="password"] {
          @extend .form-control;
        }
      }
    }
  }
}