// --- OZNAMENI ---

&.app-oznameni {
  .container-fluid {
    .app-header {
      margin-bottom: $app-gap-double;

      .app-left {
        img {
          max-height: $app-logo-nosidebar-height;
        }
      }

      .app-right {
        @extend .d-flex, .justify-content-end, .align-items-center;

        a {
          &:first-child {
            margin-right: $app-gap-double;

            &:not(:hover) {
              img {
                opacity: .5;
              }
            }  
          }

          img {
            max-height: calc(#{$app-logo-nosidebar-height} - 20px);
          }

          &:not(:hover) {
            img {
              filter: grayscale(100%);
            }
          }
        }
      } 
    }

    .jumbotron {
      padding: $app-gap-double;

      h1 {
        @extend .app-heading-thin;
      }

      .collapse {
        p {
          &:last-child {
            @extend .m-0;
          }
        }
      }
    }

    .table {
      tr {
        th {
          max-width: 100px;
        }
      }
    }

    form {
      &.dropzone {
        @extend .d-flex;
        border-radius: $border-radius;
        border: 1px solid $gray-400;
        background-color: $gray-100;
        min-height: 180px;

        .dz-message {
          @extend .m-0;
          flex: 1;
          align-self: center;
        }
      }
    }

    .app-footer {
      .form-check {
        display: inline-block;
        margin-left: $app-gap;
      }

      .app-captcha {
        display: none;
      }
    }
  }
}

.app-modal-podminky {
  h4 {
    @extend .app-heading-thin;
  }
}