// --- LAYOUT ---

body {
  @import 'app-login';
  @import "app-oznameni";
  @import "app-projekt";

  &.app-login,
  &.app-oznameni {
    padding: $app-login-gap $app-gap;

    #app-page-wrapper {
      min-width: auto;

      .container-fluid {
        max-width: $container-max-width-xl;
      }
    }
  }
}

#app-wrapper {
  overflow-x: hidden;
}

#app-page-wrapper {
  min-width: 100vh;
  width: 100%;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  @import "app-navbar";
  @import "app-toolbar";
  @import "app-bs-stepper";
  @import 'app-footer';

  .container-fluid {

    &.app-content-wrapper {
      padding: $app-content-wrapper;
      //background-color: $gray-100;
    }
  }
}

#app-wrapper.toggled {
  #app-page-wrapper {
    margin-left: 0;
  }
}
