// --- MIXINS ---

// set border
@mixin set-border($position, $height, $style, $color) {
  @if ($position == "top") {
    border-width: #{$height}px 0 0 0; 
    border-style: solid;
    border-color: $color;
  }
  @else if ($position == "right") {
    border-width: 0 #{$height}px 0 0; 
    border-style: solid;
    border-color: $color;
  }
  @else if ($position == "bottom") {
    border-width: 0 0 #{$height}px 0; 
    border-style: solid;
    border-color: $color;
  }
  @else if ($position == "left") {
    border-width: 0 0 0 #{$height}px; 
    border-style: solid;
    border-color: $color;	
  }
  @else if ($position == "right-left-bottom") {
    border-width: 0 #{$height}px #{$height}px #{$height}px; 
    border-style: solid;
    border-color: $color;	
  }
  @else if ($position == "right-bottom") {
    border-width: 0 #{$height}px #{$height}px 0; 
    border-style: solid;
    border-color: $color;	
  }
  @else {
    border-width: #{$height}px #{$height}px #{$height}px #{$height}px; 
    border-style: solid;
    border-color: $color;
  }
}


// set icon size
@mixin setIcon($size: null, $color: null, $position: null) {
  @if ($size != null) {
    font-size: #{$size}px;
    height: #{$size}px;
    width: #{$size}px;  
  }
  @if ($color != null) {
    color: $color !important;
  }
  @if ($position != null) {
    vertical-align: $position !important;  
  }
  
}


// clearfix
@mixin cleanfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// set entity color
@mixin setEntityColor($type) {
  @each $entity, $color in $entities {
    @if ($type == buttonFormHeader) {
      &.app-entity-#{$entity} {
        &:hover {
          background-color: $color !important;
          color: $white;
        }
      }    
    } @else if ($type == stepper) {
      &.app-entity-#{$entity} {
        .bs-stepper-circle {
          background-color: $color;
        }

        .bs-stepper-label {
          color: $color;
        }
      } 
    } @else if ($type == toolbar) {
      &.app-entity-#{$entity} {
        background-color: rgba($color, .1);
        /* border-top: 1px solid rgba($color, .2);
        border-bottom: 1px solid rgba($color, .2); */

        .app-left {
          .app-entity-title {
            background-color: $color;
  
            &:after {
              border-left-color: $color;
            }
          }

          .app-entity-item {
            color: $color;
          }
        }

        .app-right {
          .btn {
            color: $color;
            border-left-color: rgba($color, .3) !important;
  
            &:hover {
              background-color: $color;
              color: $white;
            } 
          }
        }
      } 
    }
  }
}


// set link color
@mixin setLinkColor($color, $shade: none, $val: none, $colorH: none) {
  color: $color;

  &:hover {
    @if ($shade == 'd') {
      color: darken($color, $val);
    } @else if ($shade == 'l') {
      color: lighten($color, $val);
    } @else if ($shade == none) {
      color: $colorH;
    }
  }
}