// --- GLOBAL ---

// cleaners
.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-border {
  border: none !important;
}

// common
.app-full-width {
  width: 100%;
}

.app-pipe {
  border-left: 1px solid $gray-600;
  margin: 0 $app-gap-half;

  /* &:last-child {
    display: none;
  } */
}

// material icons behavior in bootstrap elements
.btn {
  .material-icons {
    vertical-align: bottom;
  }
}

/* .card {
  .btn {
    .material-icons {
      vertical-align: middle;
    }
  }
} */