// --- GLOBAL ---

// cleaners
.app-clean-bg {
  background-color: transparent !important;
}

.app-clean-border {
  border: none !important;
}

.app-clean-mg {
  margin: 0 !important;
}

.app-clean-pd {
  padding: 0 !important;
}

// common
.app-full-width {
  width: 100%;
}

.app-row-gap {
  margin-bottom: $app-gap;
}

.app-row-gap-half {
  margin-bottom: $app-gap-half;
}

.app-row-gap-double {
  margin-bottom: $app-gap-double;
}

.app-heading-thin {
  font-weight: 200 !important;
}

.app-pipe {
  border-left: 1px solid $gray-500;
  margin: 0 $app-gap-half;
}

.app-flag {
  width: $app-flag-width;
}

.app-flag-inactive {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 50%;
}

.app-btn-show-more {
  .material-icons {
    transition: all 0.4s ease;
    transform: rotateZ(180deg);
  }

  &.collapsed {
    .material-icons {
      transition: all 0.4s ease;
      transform: rotateZ(0deg);
    }
  }
}

// material icons behavior in bootstrap elements
.btn,
.nav-link {
  .material-icons {
    @include setIcon($position: bottom);
  }

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

// stepper
.bs-stepper {
  .bs-stepper-header {
    align-items: unset;

    .step {
      &.active {
        .bs-stepper-label {
          color: #007BF8;
        }
      }
     
      .step-trigger {
        cursor: unset;
    
        &:hover {
          @extend .app-clean-bg;
        }
    
        &:focus {
          color: currentColor;
        }
      }

      .app-stepper-date {
        display: block;
        margin-top: -3px;
        font-weight: normal;
        color: inherit;
        font-size: 13px;
      }
    }
  }
}

// bootstrap rewrite
.form-control {
  height: $app-form-control-height;
  line-height: $app-form-control-line-height;
}

.form-group {
  margin-bottom: $app-form-group-mg-bottom;
}