// --- PROJEKT---

&.app-projekt {
  .app-content-wrapper {
    /* .app-content-header {
      .app-controls {
        .btn-group {
          &:last-child {
            margin-left: $app-gap-half;
          }

          .btn {
            &:not(.dropdown-toggle) {
              @extend .btn-secondary;
            }
            
            @include setEntityColor(button);
          }
        } 
      }
    } */
  }
}