global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: monitoring
    metrics_path: /metrics
    static_configs:
      - targets:
        - web:8000
  - job_name: 'fcrepo'
    scrape_interval: 30s
    metrics_path: /prometheus
    static_configs:
    - targets:
      - '192.168.1.1:8080'
    basic_auth:
      username: username
      password: password
