{% extends "lokalita/lokalita_detail.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block dj_form %}
<div class="card app-card-form" id="detail_dj_form_{{ j.ident_cely }}">
  <div class="card-header">
    <div class="app-fx app-left">
      {% trans "lokalita.templates.dj.djUpdate.cardHeader.dokumentacniJednotka" %} {{ j.ident_cely }}
    </div>
    <div class="app-fx app-right">
      {% if show.editovat %}
      <div class="btn-group" role="group">
        <div class="dropdown-menu" aria-labelledby="others">
          {% if j.show_add_komponenta %}
          <a class="dropdown-item" href="{% url 'lokalita:create-komponenta' zaznam.ident_cely j.ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.pridatKomponentu.label' %}
          </a>
          {% endif %}
          {% if j.show_add_pian %}
          <a id="show_menu_pian_new_id" class="dropdown-item" href="{% url 'lokalita:create-pian' zaznam.ident_cely j.ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.pridatNovyPian.label' %}
          </a>
          {% endif %}
          {% if j.show_add_pian %}
                    <a id="show_menu_ku_from_map_id"  class="dropdown-item" href="#"
                       onclick="show_grap_geom_from_map('ku:{{ j.ident_cely}}')">
                      {% trans 'lokalita.templates.dj.djUpdate.moreActions.nastavKatastralniUzemiZMapy.label' %}
                    </a>
          {% endif %}
          {% if j.show_add_pian %}
          <a id="show_menu_pian_from_map_id" class="dropdown-item" href="#"
             onclick="show_grap_geom_from_map('{{ j.ident_cely}}')">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.pripojPianZMapy.label' %}
          </a>
          {% endif %}
          {% if j.show_import_pian_new %}
            <button class="dropdown-item" data-toggle="modal" data-target="#importovat_pian">
              {% trans "lokalita.templates.lokalita.dj.partials.dj_update.editButtons.importovatPianNew.label" %}
            </button>
          {% endif %}
          {% if j.show_approve_pian %}
          <button id="pian-potvrdit-{{j.pian_ident_cely}}" class="dropdown-item pian-potvrdit-btn" type="button"
                  name="button" href="{% url 'pian:potvrdit' j.ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.potvrditPian.label' %}
          </button>
          {% endif %}
          {% if j.pian_ident_cely and show.stahnout_metadata %}
            <a class="dropdown-item" href="{% url 'core:stahnout_metadata' 'pian' j.pian_ident_cely %}">{% trans "lokalita.templates.dj.djUpdate.moreActions.downloadPianMetadata.label" %}</a>
          {% endif %}
          {% if j.show_uprav_pian and j.pian_ident_cely %}
          <a id="pian-upravit-{{j.pian_ident_cely}}" class="dropdown-item" href="{% url 'lokalita:update-pian' zaznam.ident_cely j.ident_cely j.pian_ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.upravitPian.label' %}
          </a>
          {% endif %}
          {% if j.show_import_pian_change %}
            <button class="dropdown-item" data-toggle="modal" data-target="#importovat_pian" data-action-id="change">
              {% trans "lokalita.templates.lokalita.dj.partials.dj_update.editButtons.importovatPianChange.label" %}
            </button>
          {% endif %}
          {% if j.show_remove_pian %}
          <button id="pian-odpojit-{{j.pian_ident_cely}}" class="dropdown-item pian-odpojit-btn" type="button"
                  name="button" href="{% url 'pian:odpojit' j.ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.odpojitPian.label' %}
          </button>
          {% endif %}
          {% if j.show_add_adb %}
          <a class="dropdown-item" href="{% url 'lokalita:create-adb' zaznam.ident_cely j.ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.pridatAdb.label' %}
          </a>
          {% endif %}
          {% if j.show_remove_adb %}
          <button id="adb-smazat-{{j.adb_ident_cely}}" class="dropdown-item adb-smazat-btn" type="button" name="button"
                  href="{% url 'adb:smazat' j.adb_ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.smazatAdb.label' %}
          </button>
          {% endif %}
          {% if j.adb_pk and show.stahnout_metadata %}
            <a class="dropdown-item" href="{% url 'core:stahnout_metadata' 'adb' j.adb_ident_cely %}">{% trans "lokalita.templates.dj.djUpdate.moreActions.downloadAdbMetadata.label" %}</a>
          {% endif %}
          <button id="dj-smazat-{{j.ident_cely}}" class="dropdown-item dj-smazat-btn" type="button" name="button"
                  href="{% url 'dj:smazat' j.ident_cely %}">
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.smazatDj.label' %}
          </button>
          {% if j.show_pripojit_pian %}
          <button id="pian-pripojit-{{j.pian_ident_cely}}" class="dropdown-item pian-pripojit-btn" type="button"
                  name="button" onclick="set_pian_by_id('{{j.ident_cely}}')")>
            {% trans 'lokalita.templates.dj.djUpdate.moreActions.pripojitPianPodleId.label' %}
          </button>
          {% endif %}
        </div>
        <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'lokalita.templates.dj.djUpdate.moreActions.label' %}"
                onclick="filtrAkci()">
          <span class="material-icons">more_vert</span>
        </button>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    {% if not j.adb_form %}
    <form class="mb-3" method="POST" action="{% url 'dj:detail' j.ident_cely %}"
          onsubmit="editDjSubmitButton.disabled = true; return true;">
      {% crispy j.form %}
      {% if show.editovat %}
      <button type="submit" id="editDjSubmitButton"
              class="btn btn-primary">{% trans "lokalita.templates.dj.djUpdate.submitButton" %}
      </button>
      {% endif %}
    </form>
    {% endif %}

    {% if j.adb_form %}
    <form class="mb-3" method="POST" action="{% url 'dj:detail' j.ident_cely %}"
          onsubmit="editDjSubmitButton.disabled = true; return true;">
      {% crispy j.form %}
      <div class="card app-card-form app-card-inner">
        <div class="card-header">
          <div class="app-fx app-left">
            {% trans "lokalita.templates.dj.djUpdate.cardheader.Adb" %} {{ j.adb_ident_cely }}
          </div>
        </div>
        <div class="card-body formset-table">
          <input type="hidden" name="adb_detail" value="{{ j.adb_ident_cely }}"/>
          {% crispy j.adb_form %}
          <h5>{% trans "lokalita.templates.dj.djUpdate.Adb.VyskoveBody.label" %}</h5>
          <input type="hidden" name="adb_zapsat_vyskove_body" value="{{ j.adb_ident_cely }}"/>
          {% crispy j.vyskovy_bod_formset j.vyskovy_bod_formset_helper %}
        </div>
      </div>
      {% if show.editovat %}
      <button type="submit" id="editDjSubmitButton"
              class="btn btn-primary">{% trans "lokalita.templates.dj.djUpdate.Adb.submitButton" %}
      </button>
      {% endif %}
      {% endif %}
    </form>
  </div>

  {% include "pian/importovat_pian_modal.html" %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        show_form(`detail_dj_form_{{j.ident_cely}}`);
    });
</script>
<script>
  function show_grap_geom_from_map(dj){
        global_map_can_grab_geom_from_map=dj;
        map_show_edit(false)
      }
  var getFiltrType=()=>{
    return document.forms[0].querySelector('[data-id="dj_typ_id"]').title
  }

  var getFiltrTypeIsKuSafe=()=>{
    try{
      return getFiltrType().includes("Katastrální území")
    } catch(e){
      return false;
    }
  }

  var filtrAkci =()=>{
    var positive= getFiltrTypeIsKuSafe()? 'none' : '';
    var negative= positive===''? 'none' : '';

    ["show_menu_pian_from_map_id","show_menu_pian_new_id","pian-pripojit-"+'{{j.pian_ident_cely }}',"pian-upravit-"+'{{j.pian_ident_cely }}',"pian-potvrdit-"+'{{j.pian_ident_cely }}']
    .forEach(element => {
      if(document.getElementById(element)!=null){
        document.getElementById(element).style.display = positive;
      }
     });

     ["show_menu_ku_from_map_id"]
    .forEach(element => {
      if(document.getElementById(element)!=null){
          document.getElementById(element).style.display = negative;
      }
     });
    }
</script>
<script>
  var set_pian_by_id = function (dj_ident) {
    id = "#id_" + dj_ident + "-pian"
    $(id).prop('disabled', false);
    document.getElementById("pian_text").style.display = "none";
    document.getElementById("pian_select").style.display = "block";
    //$(id).prop('disabled', true);
  };
</script>
{% endblock %}
