{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{% trans "historie.templates.historieList.title" %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
  <div class="app-entity-historie app-entity-{{entity}} app-table-list-container">
    <div class="app-toolbar mb-2">
      <div class="app-left">
        <div class="app-entity-title">
          {% if typ == "projekt" %}
            <a href="{% url 'projekt:detail' ident_cely %}"><span class="material-icons">dynamic_feed</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.projekt.cardHeader" %}</span></a>
          {% elif typ == "akce" %}
            <a href="{% url 'arch_z:detail' ident_cely %}"><span class="material-icons">brush</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.akce.cardHeader" %}</span></a>
          {% elif typ == "lokalita" %}
            <a href="{% url 'lokalita:detail' ident_cely %}"><span class="material-icons">tour</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.lokalita.cardHeader" %}</span></a>
          {% elif typ == "knihovna_3d" %}
            <a href="{% url 'dokument:detail-model-3D' ident_cely %}"><span class="material-icons">3d_rotation</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.model3D.cardHeader" %}</span></a>
          {% elif typ == "dokument" %}
            <a href="{% url 'dokument:detail' ident_cely %}"><span class="material-icons">description</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.dokument.cardHeader" %}</span></a>
          {% elif typ == "samostatny_nalez" %}
            <a href="{% url 'pas:detail' ident_cely %}"><span class="material-icons">location_on</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.sn.cardHeader" %}</span></a>
          {% elif typ == "spoluprace" %}
            <a href="{% url 'pas:spoluprace_list' %}"><span class="material-icons">location_on</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.spoluprace.cardHeader" %}</span></a>
          {% elif typ == "ext_zdroj" %}
            <a href="{% url 'ez:detail' ident_cely %}"><span class="material-icons">menu_book</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.ext_zdroj.cardHeader" %}</span></a>
          {% elif typ == "soubor" %}
            <a href="/"><span class="material-icons">save</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.soubor.cardHeader" %}</span></a>
          {% elif typ == "uzivatel" %}
            <a href="/"><span class="material-icons">person</span><span class="app-controls-button-text">{% trans "historie.templates.historieList.uzivatele.cardHeader" %}</span></a>
          {% endif %}
        </div>
        <div id="id-app-entity-item" class="app-entity-item">
          {{ident_cely}}
        </div>
      </div>
    </div>
    <form method="get">
      <div class="mb-1 d-flex flex-row align-items-center justify-content-between" style="height: 2.875rem;">
        <div class="app-middle text-muted">
          {% trans "historie.templates.historieList.pocetZaznamu.text" %}<strong>{{ table.rows|length }}</strong>
        </div>
        <div class="app-right">
          <div class="btn-group" role="group">
            <div class="btn-group" role="group">
              <button id="btnGroupDropTable" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'historie.templates.historieList.zobrazeniSloupcu.label' %}">
                <span class="material-icons">table_chart</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDropTable">
                {% for column in table.columns %}
                  {% if column.attrs.td.class in table.get_column_default_show %}
                    <a class="btn-shift-column dropdown-item"
                        data-td-class="{{ column.attrs.td.class }}"
                        data-state="on"
                        {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {% endif %}
                        data-table-class-container="{{ table.uniq_table_class_name }}">
                      <img
                          src="{% static "django_tables2_column_shifter/img/check.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; opacity:0.7;"
                          class="ico check"
                          id="ico_check_{{ column.name }}"
                      />
                      <img
                          src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; display: none; opacity:0.7;"
                          class="ico uncheck"
                          id="ico_uncheck_{{ column.name }}"
                      />
                      {{ column.header }}
                    </a>
                  {% else %}
                    <a class="btn-shift-column dropdown-item"
                        data-td-class="{{ column.attrs.td.class }}"
                        data-state="off"
                        {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {% endif %}
                        data-table-class-container="{{ table.uniq_table_class_name }}">
                      <img
                          src="{% static "django_tables2_column_shifter/img/check.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; display:none; opacity:0.7;"
                          class="ico check"
                          id="ico_check_{{ column.name }}"
                      />
                      <img
                          src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; opacity:0.7;"
                          class="ico uncheck"
                          id="ico_uncheck_{{ column.name }}"
                      />
                      {{ column.header }}
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="btn-group" role="group">
              <button id="btnGroupDropDownload" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'historie.templates.historieList.exportMuzeTrvat.text' %}">
                <span class="material-icons">download</span>
              </button>
              <div class="dropdown-menu" style="z-index:1500;" aria-labelledby="btnGroupDropDownload">
                {% for format in export_formats %}
                  <a href="{% export_url format %}" class="dropdown-item">
                    {% trans "historie.templates.historieList.stahnout.label" %} <code>.{{ format }}</code>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% render_table table 'bootstrap4_table.html' %}
    <nav aria-label="Table navigation" class="table-navigation row">
      <ul class="pagination  jump-page settings col-3">
        {% if typ == "projekt" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'projekt:detail' ident_cely %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "akce" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'arch_z:detail' ident_cely %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "knihovna_3d" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'dokument:detail-model-3D' ident_cely %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "dokument" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'dokument:detail' ident_cely %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "samostatny_nalez" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'pas:detail' ident_cely %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "spoluprace" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'pas:spoluprace_list' %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "ext_zdroj" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'ez:detail' ident_cely %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "lokalita" %}
          <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'lokalita:detail' ident_cely %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
        {% elif typ == "soubor" %}
          {% if back_model %}
            {% if back_model == "Projekt" %}
              <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'projekt:detail' back_ident %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
            {% elif back_model == "DokumentModel3D" %}
              <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'dokument:detail-model-3D' back_ident %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
            {% elif back_model == "Dokument" %}
              <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'dokument:detail' back_ident %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
            {% elif back_model == "SamostatnyNalez" %}
              <a type="button" class="btn btn-secondary" style="max-width: fit-content;" href="{% url 'pas:detail' back_ident %}">{% trans "historie.templates.historieList.zpet.label" %}</a>
            {% endif %}
          {% endif %}
        {% elif typ == "uzivatel" %}

        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}

{% block script %}
<script
      type="text/javascript"
      src="{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.min.js" %}">
  </script>
{% endblock %}
