{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Historie" %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
  {% if metadata_form %}
    {% crispy metadata_form %}
  {% endif %}

  <div class="app-entity-historie app-entity-{{entity}} app-table-list-container">
    <div class="app-toolbar mb-2">
      <div class="app-left">
        <div class="app-entity-title">
          {% if typ == "projekt" %}
          <a href="{% url 'projekt:detail' ident_cely %}"><span class="material-icons">dynamic_feed</span>{% trans "Historie projektu" %}</a>
          {% elif typ == "akce" %}
          <a href="{% url 'arch_z:detail' ident_cely %}"><span class="material-icons">dynamic_feed</span>{% trans "Historie akce" %}</a>
          {% elif typ == "knihovna_3d" %}
          <a href="{% url 'dokument:detail-model-3D' ident_cely %}"><span class="material-icons">dynamic_feed</span>{% trans "Historie modelu" %}</a>
          {% elif typ == "dokument" %}
          <a href="{% url 'dokument:detail' ident_cely %}"><span class="material-icons">dynamic_feed</span>{% trans "Historie dokumentu" %}</a>
          {% elif typ == "samostatny_nalez" %}
          <a href="{% url 'pas:detail' ident_cely %}"><span class="material-icons">dynamic_feed</span>{% trans "Historie samostatneho nalezu" %}</a>
          {% elif typ == "spoluprace" %}
          <a href="{% url 'pas:spoluprace_list' %}"><span class="material-icons">dynamic_feed</span>{% trans "Historie spoluprace" %}</a>
          {% elif typ == "soubor" %}
          <a href="/"><span class="material-icons">dynamic_feed</span>{% trans "Historie souboru" %}</a>
          {% elif typ == "uzivatel" %}
          <a href="/"><span class="material-icons">dynamic_feed</span>{% trans "Historie uživatele" %}</a>
          {% endif %}
        </div>
        <div id="id-app-entity-item" class="app-entity-item">
          {{ident_cely}}
          {% if typ == "soubor" and projekt %}
            <a class="app-entity-color font-weight-normal" href="{% url 'projekt:detail' projekt.ident_cely %}">Zpět na detail projektu</a>
          {% endif %}
        </div>
      </div>
    </div>
    <form method="get">
      <div class="mb-1 d-flex flex-row align-items-center justify-content-between" style="height: 2.875rem;">
        <div class="app-middle text-muted">
          {% trans "Počet nalezených záznamů: " %}<strong>{{ table.rows|length }}</strong>
        </div>
        <div class="app-right">
          <div class="btn-group" role="group">
            <div class="btn-group" role="group">
              <button id="btnGroupDropTable" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Zobrazení sloupců' %}">
                <span class="material-icons">table_chart</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDropTable">
                {% for column in table.columns %}
                  {% if column.attrs.td.class in table.get_column_default_show %}
                    <a class="btn-shift-column dropdown-item"
                        data-td-class="{{ column.attrs.td.class }}"
                        data-state="on"
                        {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {% endif %}
                        data-table-class-container="{{ table.uniq_table_class_name }}">
                      <img
                          src="{% static "django_tables2_column_shifter/img/check.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; opacity:0.7;"
                          class="ico check"
                          id="ico_check_{{ column.name }}"
                      />
                      <img
                          src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; display: none; opacity:0.7;"
                          class="ico uncheck"
                          id="ico_uncheck_{{ column.name }}"
                      />
                      {{ column.header }}
                    </a>
                  {% else %}
                    <a class="btn-shift-column dropdown-item"
                        data-td-class="{{ column.attrs.td.class }}"
                        data-state="off"
                        {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {% endif %}
                        data-table-class-container="{{ table.uniq_table_class_name }}">
                      <img
                          src="{% static "django_tables2_column_shifter/img/check.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; display:none; opacity:0.7;"
                          class="ico check"
                          id="ico_check_{{ column.name }}"
                      />
                      <img
                          src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                          alt="loader"
                          style="width:20px; height:20px; margin-right:5px; opacity:0.7;"
                          class="ico uncheck"
                          id="ico_uncheck_{{ column.name }}"
                      />
                      {{ column.header }}
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="btn-group" role="group">
              <button id="btnGroupDropDownload" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Export výběru (při výběru většího množství záznamů může trvat delší dobu)' %}">
                <span class="material-icons">download</span>
              </button>
              <div class="dropdown-menu" style="z-index:1500;" aria-labelledby="btnGroupDropDownload">
                {% for format in export_formats %}
                  <a href="{% export_url format %}" class="dropdown-item">
                    {% trans "Stáhnout" %} <code>.{{ format }}</code>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% render_table table 'bootstrap4_table.html' %}
  <button type="button" class="btn btn-secondary" style="width: 55px;" onclick="goBack();">{% trans "Zpět" %}</button>
  </div>
{% endblock %}

{% block script %}
<script
      type="text/javascript"
      src="{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.min.js" %}">
  </script>
{% endblock %}
