{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Přidání osoby" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <!-- <h1>{% trans "Přidání osoby" %}</h1> -->

  <form method="POST">
    {% crispy form %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit" name="save" id="submit-id-save" class="btn btn-primary mt-3">{% translate 'Přidat osobu' %}</button>
  </form>

{% endblock %}

{% block script %}
{% endblock %}
