{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

  <!-- <h1>{% trans "uzivatel.templates.createOsoba.heading" %}</h1> -->

  <form method="POST" id="create-osoba-form">
    <div class="modal-header">
      <h5 class="modal-title">{% trans "uzivatel.templates.createOsoba.title" %}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% crispy form %}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "uzivatel.templates.createOsoba.closeButton.text" %}</button>
      <button type="submit" class="btn btn-primary">{% trans 'uzivatel.templates.createOsoba.submitButton.text' %}</button>
    </div>
  </form>





