{% load i18n %}
{% trans "uzivatel.templates.notifikace.E-U-01" %}
{% trans "uzivatel.templates.notifikace.E-U-02" %}
{% trans "uzivatel.templates.notifikace.E-U-03" %}
{% trans "uzivatel.templates.notifikace.E-U-04" %}
{% trans "uzivatel.templates.notifikace.E-U-06" %}
{% trans "uzivatel.templates.notifikace.E-NZ-01" %}
{% trans "uzivatel.templates.notifikace.E-NZ-02" %}
{% trans "uzivatel.templates.notifikace.E-V-01" %}
{% trans "uzivatel.templates.notifikace.E-A-01" %}
{% trans "uzivatel.templates.notifikace.E-A-02" %}
{% trans "uzivatel.templates.notifikace.E-O-01" %}
{% trans "uzivatel.templates.notifikace.E-O-02" %}
{% trans "uzivatel.templates.notifikace.E-P-01a" %}
{% trans "uzivatel.templates.notifikace.E-P-01b" %}
{% trans "uzivatel.templates.notifikace.E-P-02" %}
{% trans "uzivatel.templates.notifikace.E-P-03a" %}
{% trans "uzivatel.templates.notifikace.E-P-03b" %}
{% trans "uzivatel.templates.notifikace.E-P-07" %}
{% trans "uzivatel.templates.notifikace.E-P-04" %}
{% trans "uzivatel.templates.notifikace.E-P-05" %}
{% trans "uzivatel.templates.notifikace.E-P-06a" %}
{% trans "uzivatel.templates.notifikace.E-P-06b" %}
{% trans "uzivatel.templates.notifikace.E-N-01" %}
{% trans "uzivatel.templates.notifikace.E-N-02" %}
{% trans "uzivatel.templates.notifikace.E-N-03" %}
{% trans "uzivatel.templates.notifikace.E-N-04" %}
{% trans "uzivatel.templates.notifikace.E-N-05" %}
{% trans "uzivatel.templates.notifikace.E-N-06" %}
{% trans "uzivatel.templates.notifikace.E-K-01" %}
{% trans "uzivatel.templates.notifikace.E-K-02" %}
{% trans "uzivatel.templates.notifikace.S-E-A-XX" %}
{% trans "uzivatel.templates.notifikace.S-E-N-01" %}
{% trans "uzivatel.templates.notifikace.S-E-N-02" %}
{% trans "uzivatel.templates.notifikace.S-E-N-05" %}
{% trans "uzivatel.templates.notifikace.S-E-K-01" %}
