<p>
  <strong>14.2.2021</strong><span class="app-pipe"></span>Tisíce leteckých fotek online. V průběhu posledního týdne
  došlo ke zveřejnění zásadního souboru dokumentace, kterým je kompletní letecký archiv snímků pořízených Martinem
  Gojdou, předním odborníkem na leteckou archeologii. Sbírka čítá téměř 16 tisíc snímků, které nyní můžete snadno
  procházet v Digitálním archivu AMČR!
</p>
<p>
  <strong>14.2.2021</strong><span class="app-pipe"></span>Tisíce leteckých fotek online. V průběhu posledního týdne
  došlo ke zveřejnění zásadního souboru dokumentace, kterým je kompletní letecký archiv snímků pořízených Martinem
  Gojdou, předním odborníkem na leteckou archeologii. Sbírka čítá téměř 16 tisíc snímků, které nyní můžete snadno
  procházet v Digitálním archivu AMČR!
</p>
