{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}

{% block title %}{% trans "uzivatel.templates.updateUser.title" %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <div class="card app-card-form">
        <form method="post" action="{% url 'uzivatel:update-uzivatel' %}" class="submit-spinner">
            <div class="card-header">
                <div class="app-fx app-left">
                    {% trans "uzivatel.templates.updateUser.header" %}
                </div>
            </div>
            <div class="card-body formset-table">
                {% crispy form_read_only %}
                {% crispy form %}
                <h6>{% trans "uzivatel.templates.updateUser.zmenaHesla" %}</h6>
                <hr class="mt-0"/>
                {% crispy form_password %}
                <h6>{% trans "uzivatel.templates.updateUser.historiePrihlaseni" %}</h6>
                <hr class="mt-0"/>
                <ul>
                    {% for item in sign_in_history %}
                        <li style="color: #6c757d;" class="small">{{ item.prihlaseni_datum_cas }}
                          ({% trans "uzivatel.templates.updateUser.ip_address" %} {{ item.ip_adresa }})
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" id="actionSubmitBtn" class="btn btn-primary mt-3">{% trans "uzivatel.templates.updateUser.submitButton" %}
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    style="display: none"></span>
                </button>
                <a class="btn btn-secondary mt-3" href="{% url 'historie:uzivatel' user.ident_cely %}">{% trans "uzivatel.templates.updateUser.historieUzivatele" %}</a>
            </div>
        </form>
    </div>
    <div class="card app-card-form" id="user_notifications_settings_card">
        <div class="card-header">
            <div class="app-fx app-left">
                {% trans "uzivatel.templates.updateUser.nastaveniNotifikace" %}
                {% if show_edit_notifikace %}
                <a href="{% url "notifikace_projekty:list" %}" class="ml-3">{% trans "uzivatel.templates.updateUser.nastaveniNotifikace.link" %}</a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="{% url 'uzivatel:update-notifications' %}" class="submit-spinner">
                        {% csrf_token %}
                        {{ form_notifications|crispy }}
                        <button type="submit" class="btn btn-primary mt-2">{% trans 'uzivatel.templates.updateUser.submitButton.notifikace' %}
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            style="display: none"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
