{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}

{% block title %}{% trans "uzivatel.uprava_uctu.uprava_uzivatelskeho_uctu" %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <div class="card app-card-form">
        <form method="post" onsubmit="actionSubmitBtn.disabled = true; return true;"
              action="{% url 'uzivatel:update-uzivatel' %}">
            <div class="card-header">
                <div class="app-fx app-left">
                    {% trans "uzivatel.uprava_uctu.nastaveni_uzivatelskeho_uctu" %}
                </div>
            </div>
            <div class="card-body formset-table">
                {% crispy form_read_only %}
                {% crispy form %}
                <h6>{% trans "uzivatel.uprava_uctu.zmena_hesla" %}</h6>
                <hr class="mt-0"/>
                {% crispy form_password %}
                <h6>{% trans "uzivatel.uprava_uctu.historie_prihlaseni" %}</h6>
                <hr class="mt-0"/>
                <ul>
                    {% for item in sign_in_history %}
                        <li style="color: #6c757d;" class="small">{{ item.last_login }}</li>
                    {% endfor %}
                </ul>
                <button type="submit" id="actionSubmitBtn" class="btn btn-primary mt-3">{% trans "uzivatel.uprava_uctu.ulozit" %}</button>
                <a class="btn btn-secondary mt-3" href="{% url 'historie:uzivatel' user.ident_cely %}">{% trans "uzivatel.uprava_uctu.historie_uzivatele" %}</a>
            </div>
        </form>
    </div>
    <div class="card app-card-form" id="user_notifications_settings_card">
        <div class="card-header">
            <div class="app-fx app-left">
                {% trans "uzivatel.uprava_uctu.nastaveni_notifikace" %}
                <a href="{% url "notifikace_projekty:list" %}" class="ml-3">{% trans "uzivatel.uprava_uctu.hlidaci_psi" %}</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" action="{% url 'uzivatel:update-notifications' %}">
                        {% csrf_token %}
                        {{ form_notifications|crispy }}
                        <input type="submit" value="{% trans 'uzivatel.uprava_uctu.ulozit' %}" class="btn btn-primary mt-2">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
