{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block head %}
<!-- Map imports -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="">
</script>
<!--Leaflet FullScreen-->
<script src="https://unpkg.com/lerc@1.0.1/LercDecode.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
    rel='stylesheet' />
<!-- static leaflet additional import-->
<link rel="stylesheet" href="{% static 'leaflet.measure.css' %}"/>
<script src="{% static 'leaflet.measure.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>
{% endblock %}

{% block content %}

<div style="display: none;">
  {{ formCoor.coordinate_system|as_crispy_field }}
  {{ formCoor.coordinate_wgs84_x|as_crispy_field }}
  {{ formCoor.coordinate_wgs84_y|as_crispy_field }}
  {{ formCoor.coordinate_sjtsk_x|as_crispy_field }}
  {{ formCoor.coordinate_sjtsk_y|as_crispy_field }}
</div>
<div class="row">
    <div class="form-group col-sm-4 row">
      <div class="form-group col-sm-6">
      {{ form.projekt|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.katastr|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.nalezce|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.datum_nalezu|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.okolnosti|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.hloubka|as_crispy_field }}
      </div>
      <div>

      </div>
      <div class="form-group col-sm-6">
        <!-- Koordinaty-->
        <div class="form-group">
            <label for="detector_system_coordinates">{{ formCoor.detector_system_coordinates.label }}</label>
            <label for="detector_system_cordinates">{% trans "Souř. S." %}</label>
            {% if global_map_can_edit %}
            {% render_field formCoor.detector_system_coordinates class="form-control form-control-sm sysCord" id="detector_system_coordinates" onchange="switch_coordinate_system()" %}
            <small class="form-text text-muted" id="hint_id_detector_system_coordinates">{% trans "pas.form.createSamostatnyNalez.detector_system_coordinates.tooltip" %}</small>
            {% else %}
            {% render_field formCoor.detector_system_coordinates|append_attr:"readonly:readonly" class="form-control form-control-sm sysCord" id="detector_system_coordinates" onchange="switch_coordinate_system()" %}
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-6">
          <!-- Current Location -->
        <div class="form-group map">
            <label for="detector_coordinates_y">{% trans "Poloha" %}</label>
            {% if global_map_can_edit %}
            <button type="button" data-toggle="tooltip" data-placement="top" title="{% trans "Současná poloha" %}" class="btn btn-amcr btn-primary btn-sm form-control form-control-sm" onclick="getLocation()" id="currentLocation">
              <i class="bi bi-geo-alt" style="font-size: 1rem;"></i>
            </button>
            <small class="form-text text-muted" id="hint_id_currentLocation">{% trans "pas.form.createSamostatnyNalez.currentLocation.tooltip" %}</small>
            {% else %}
            <button type="button" data-toggle="tooltip" data-placement="top" title="{% trans "Současná poloha" %}" readonly class="btn btn-amcr btn-sm form-control form-control-sm" onclick="getLocation()" id="currentLocation">
              <i class="bi bi-geo-alt btn-outline-dark btn-readonly" style="font-size: 1rem;"></i>
            </button>
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-6">
        <!-- Koordinaty X -->
        <div class="form-group">
            <label for="detector_coordinates_x">{{ formCoor.detector_coordinates_x.label }}</label>
            {% if global_map_can_edit %}
            {% render_field formCoor.detector_coordinates_x class="form-control form-control-sm float" id="detector_coordinates_x" %}
            <small class="form-text text-muted" id="hint_id_detector_coordinates_x">{% trans "pas.form.createSamostatnyNalez.detector_coordinates_x.tooltip" %}</small>
            {% else %}
            {% render_field formCoor.detector_coordinates_x|append_attr:"readonly:readonly" class="form-control form-control-sm float" id="detector_coordinates_x"%}
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-6">
        <!-- Koordinaty Y -->
        <div class="form-group">
            <label for="detector_coordinates_y">{{ formCoor.detector_coordinates_y.label }}</label>
            {% if global_map_can_edit %}
            {% render_field formCoor.detector_coordinates_y class="form-control form-control-sm float"  id="detector_coordinates_y" %}
            <small class="form-text text-muted" id="hint_id_detector_coordinates_z">{% trans "pas.form.createSamostatnyNalez.detector_coordinates_y.tooltip" %}</small>
            {% else %}
            {% render_field formCoor.detector_coordinates_y|append_attr:"readonly:readonly" class="form-control form-control-sm float" id="detector_coordinates_y"%}
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-12">
        {{ form.lokalizace|as_crispy_field }}
      </div>
    </div>
    <div class="col-sm-8">
        {% include "map.html" %}
    </div>
    <div class="col-sm-12">
      <span class="app-divider-label">{% trans "pas.template.nalezDivider.text" %}</span>
      <hr class="mt-0" />
    </div>
    <div class="col-sm-4 row">
      <div class="form-group col-sm-6">
      {{ form.obdobi|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.presna_datace|as_crispy_field }}
      </div>
    </div>
    <div class="col-sm-8 row">
      <div class="form-group col-sm-3">
        {{ form.druh_nalezu|as_crispy_field }}
      </div>
      <div class="form-group col-sm-3">
        {{ form.specifikace|as_crispy_field }}
      </div>
      <div class="form-group col-sm-3">
        {{ form.pocet|as_crispy_field }}
      </div>
    </div>
    <div class="form-group col-sm-12">
      {{ form.poznamka|as_crispy_field }}
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
    var global_csrftoken = '{{ csrf_token }}';
</script>
<script >
    var static_url = "{% get_static_prefix %}";
</script>
<script src="{% static 'mapa_pins.js' %}"></script>
<script src="{% static 'coor_precision.js' %}"></script>
<script src="{% static 'mapa_basic_grey.js' %}"></script>
<script src="{% static 'convertToJTSK.js' %}"></script>
<script src="{% static 'mapa_pas.js' %}"></script>
    <script>
        $(document).ready(function () {
                       //console.log("canConfirm"+canConfirm)
            //console.log("canEdit"+canEdit)
            $('[readonly]').prop("disabled", true);
            //$('form').submit(function () { $('[readonly]').removeAttr('disabled'); switch_coor_system(1) })

            /*if($("#detector_coordinates_x").val()){
                let [corX, corY] = amcr_static_coordinate_precision_wgs84(
                    [
                    $("#detector_coordinates_x").val(), $("#detector_coordinates_y").val()
                ]);
                {% if global_map_can_edit %}
                addUniquePointToPoiLayer(corX,corY)
                {% else  %}
                global_map_can_edit=false
                addReadOnlyUniquePointToPoiLayer(corX,corY)
                {% endif %}
            }*/
            $('input.float').on('input', function () {
                if(document.getElementById('detector_system_coordinates').value == 1){
                    this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
                    set_numeric_coordinates()
                } else if(document.getElementById('detector_system_coordinates').value == 2){
                    this.value = this.value.replace(/-[^0-9.]/g, '').replace(/-(\..*)\./g, '$1');
                    set_numeric_coordinates()
                }
            });

                })
    </script>
{% endblock %}
