{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}
{% load crispy_forms_field %}
{% load template_tags %}

{% block head %}
<!-- Map imports -->
<script>
  {% autoescape off %}
    var settings_heatmap_options = {% get_settings "heatmap_options" "pas_heatmap_options" %};
  {% endautoescape %}
</script>
<link rel="stylesheet" href="{% static 'js/Leaflet1.9.4/leaflet.css' %}"/>
<script src="{% static 'js/Leaflet1.9.4/leaflet.js' %}"></script>
</script>
<script src="{% static 'leaflet.markercluster-src.js' %}"></script>
<link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />
<script src="{% static 'heatmap/heatmap.js' %}"></script>
<script src="{% static 'heatmap/leaflet-heatmap.js' %}"></script>

<!--Leaflet FullScreen-->
<script src='{% static 'js/Leaflet.fullscreen1.0.1/Leaflet.fullscreen.min.js' %}'></script>
<link href='{% static 'js/Leaflet.fullscreen1.0.1/leaflet.fullscreen.css' %}'rel='stylesheet'/>
<!-- static leaflet additional import-->
<link rel="stylesheet" href="{% static 'leaflet.measure.css' %}"/>
<script src="{% static 'leaflet.measure.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>

<link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
<script src="{% static 'leaflet-search.js' %}"></script>
{% if readonly %}
{% else %}
<!-- Autocomplete media files -->
<link href="/static/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/static/admin/css/autocomplete.css" media="screen" rel="stylesheet" type="text/css">
<link href="/static/static/autocomplete_light/select2.css" media="screen" rel="stylesheet" type="text/css">
<script src="/static/static/admin/js/vendor/select2/select2.full.js"></script>
<script src="/static/static/autocomplete_light/autocomplete_light.js"></script>
<script src="/static/static/autocomplete_light/select2.js"></script>
<script src="/static/static/autocomplete_light/i18n/cs.js"></script>
{% endif %}
{% endblock %}

{% block content %}

<div style="display: none;">
  {{ formCoor.coordinate_system|as_crispy_field }}
  {{ formCoor.coordinate_wgs84_x1|as_crispy_field }}
  {{ formCoor.coordinate_wgs84_x2|as_crispy_field }}
  {{ formCoor.coordinate_sjtsk_x1|as_crispy_field }}
  {{ formCoor.coordinate_sjtsk_x2|as_crispy_field }}
</div>
<div class="row">
    <div class="form-group col-sm-4">
      <div class="row">
      <div class="form-group col-sm-6">
      {{ form.projekt|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.katastr|as_crispy_field }}
      </div>
      {% if readonly %}
      <div class="form-group col-sm-6">
      {{ form.nalezce|as_crispy_field }}
      {% else %}
      <div class="form-group col-sm-6 input-osoba select2-input">
        {% crispy_addon form.nalezce append='<button id="create-nalezce-osoba" class="btn btn-sm app-btn-in-form" type="button" name="button"><span class="material-icons">add</span></button>' %}
      {% endif %}
      </div>
      <div class="form-group col-sm-6">
      {{ form.datum_nalezu|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.okolnosti|as_crispy_field }}
      </div>
      <div class="form-group col-sm-6">
      {{ form.hloubka|as_crispy_field }}
      </div>
      <div>

      </div>
      <div class="form-group col-sm-6">
        <!-- Koordinaty-->
        <div class="form-group">
            <label for="visible_ss_combo">{{ formCoor.visible_ss_combo.label }}</label>
            {% if global_map_can_edit %}
            {% render_field formCoor.visible_ss_combo class="form-control form-control-sm sysCord" id="visible_ss_combo" onchange="switch_coordinate_system()" %}
            <small class="form-text text-muted" id="hint_id_visible_ss_combo">{% trans "pas.templates.coor.sourSystem.tooltip" %}</small>
            {% else %}
            {% render_field formCoor.visible_ss_combo|append_attr:"readonly:readonly" class="form-control form-control-sm sysCord" id="visible_ss_combo" onchange="switch_coordinate_system()" %}
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-6">
          <!-- Current Location -->
        <div class="form-group map">
            <label for="visible_x2">{% trans "pas.templates.coor.poloha.label" %}</label>
            {% if global_map_can_edit %}
            <button type="button" data-toggle="tooltip" data-placement="top" title="{% trans "pas.templates.coor.soucasnaPloha.label" %}" class="btn btn-amcr btn-primary btn-sm form-control form-control-sm" onclick="getLocation()" id="currentLocation">
              <i class="bi bi-geo-alt" style="font-size: 1rem;"></i>
            </button>
            <small class="form-text text-muted" id="hint_id_currentLocation">{% trans "pas.templates.coor.soucasnaPloha.tooltip" %}</small>
            {% else %}
            <button type="button" data-toggle="tooltip" data-placement="top" title="{% trans "pas.templates.coor.soucasnaPloha.label" %}" readonly class="btn btn-amcr btn-sm form-control form-control-sm" onclick="getLocation()" id="currentLocation">
              <i class="bi bi-geo-alt btn-outline-dark btn-readonly" style="font-size: 1rem;"></i>
            </button>
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-6">
        <!-- Koordinaty X -->
        <div class="form-group">
            <label for="visible_x1">{{ formCoor.visible_x1.label }}</label>
            {% if global_map_can_edit %}
            {% render_field formCoor.visible_x1 class="form-control form-control-sm float required-next" id="visible_x1" %}
            <small class="form-text text-muted" id="hint_id_visible_x1">{% trans "pas.templates.coor.visible_x1.tooltip" %}</small>
            {% else %}
            {% render_field formCoor.visible_x1|append_attr:"readonly:readonly" class="form-control form-control-sm float" id="visible_x1" lang="cs-CZ" %}
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-6">
        <!-- Koordinaty Y -->
        <div class="form-group">
            <label for="visible_x2">{{ formCoor.visible_x2.label }}</label>
            {% if global_map_can_edit %}
            {% render_field formCoor.visible_x2 class="form-control form-control-sm float required-next"  id="visible_x2" %}
            <small class="form-text text-muted" id="hint_id_visible_x2">{% trans "pas.templates.coor.visible_x2.tooltip" %}</small>
            {% else %}
            {% render_field formCoor.visible_x2|append_attr:"readonly:readonly" class="form-control form-control-sm float" id="visible_x2" %}
            {% endif %}
        </div>
      </div>
      <div class="form-group col-sm-12">
        {{ form.lokalizace|as_crispy_field }}
      </div>
    </div>
    </div>
    <div class="col-sm-8">
        {% include "map.html" %}
    </div>
    <div class="col-sm-12">
      <span class="app-divider-label">{% trans "pas.templates.pas.nalezDivider.text" %}</span>
      <hr class="mt-0" />
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="form-group col-sm-6">
        {{ form.obdobi|as_crispy_field }}
        </div>
        <div class="form-group col-sm-6">
        {{ form.presna_datace|as_crispy_field }}
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="form-group col-sm-3">
          {{ form.druh_nalezu|as_crispy_field }}
        </div>
        <div class="form-group col-sm-3">
          {{ form.specifikace|as_crispy_field }}
        </div>
        <div class="form-group col-sm-3">
          {{ form.pocet|as_crispy_field }}
        </div>
      </div>
    </div>
    <div class="form-group col-sm-12">
      {{ form.poznamka|as_crispy_field }}
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
    var global_csrftoken = '{{ csrf_token }}';
</script>
<script >
    var static_url = "{% get_static_prefix %}";
</script>
<script>
    var map_translations = {
      CurrentLocationError: '{% trans "mapa.CurrentLocationError" %}',
      cuzkKatastralniMapa: '{% trans "mapa.cuzkKatastralniMapa" %}',
      cuzkKatastralniUzemi: '{% trans "mapa.cuzkKatastralniUzemi" %}',
      cuzkOrtofotomapa: '{% trans "mapa.cuzkOrtofotomapa" %}',
      cuzkStinovanyeelief5G: '{% trans "mapa.cuzkStinovanyeelief5G" %}',
      cuzkzakladniMapyCr: '{% trans "mapa.cuzkzakladniMapyCr" %}',
      npuPamatkovaOchrana: '{% trans "mapa.npuPamatkovaOchrana" %}',
      lokalizacePAS: '{% trans "mapa.lokalizacePAS" %}',
      FindLocation: '{% trans "mapa.FindLocation" %}',
      FullscreenTitle: '{% trans "mapa.FullscreenTitle" %}',
      FullscreenTitleClose: '{% trans "mapa.FullscreenTitleClose" %}',
      MeasureTitle: '{% trans "mapa.MeasureTitle" %}',
      openStreetMap: '{% trans "mapa.openStreetMap" %}',
      openStreetMapSeda: '{% trans "mapa.openStreetMapSeda" %}',
      pian: '{% trans "mapa.pian" %}',
      samostatneNalezy: '{% trans "mapa.samostatneNalezy" %}',
      SearchText: '{% trans "mapa.SearchText" %}',
      SearchTextCancel: '{% trans "mapa.SearchTextCancel" %}',
      SearchTextError: '{% trans "mapa.SearchTextError" %}',
      SetLocation: '{% trans "mapa.SetLocation" %}',
      zoomInTitle: '{% trans "mapa.zoomInTitle" %}',
      zoomOutTitle: '{% trans "mapa.zoomOutTitle" %}'
    };
</script>
<script src="{% static 'mapa_pins.js' %}"></script>
<script src="{% static 'coor_precision.js' %}"></script>
<script src="{% static 'mapa_basic_grey.js' %}"></script>
<script src="{% static 'coordTransform.js' %}"></script>
<script src="{% static 'leaflet_subgroup.js' %}"></script>
<script src="{% static 'spin/spin.min.js' %}"></script>
<script src="{% static 'leaflet.spin.min.js' %}"></script>
<script src="{% static 'mapa_pas.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('[readonly]').addClass("disabled");
            switch_coordinate_system();

            $('input').on('input', function () {

              this.value = this.value.replace(".",",")

              if(this.id=="visible_x1" || this.id=="visible_x2"){
                var res_system="4326";
                var re  = new RegExp("^(-?[1-9][0-9]{0,1})$|^(-?[1-9][0-9]{0,1},[0-9]{0,7})$");
                var re1 = new RegExp("^(-?[1-9][0-9]{0,1}),?");
                var re2 = new RegExp("^(-?[1-9][0-9]{0,1},[0-9]{0,8})$");
                var re3 = new RegExp("^(-?[1-9][0-9]{0,1}),$");
                var pos=this.selectionStart;
                if(document.getElementById('visible_ss_combo').value == 2){
                  res_system="5514";
                  re  = new RegExp("^(-[1]{0,1}[0-9][0-9]{0,5})$|^(-[1]{0,1}[0-9][0-9]{0,5},[0-9]{0,2})$");
                  re1 = new RegExp("^(-[1]{0,1}[0-9][0-9]{0,5}),?");
                  re2 = new RegExp("^(-[1]{0,1}[0-9][0-9]{0,5},[0-9]{0,3})$");
                  re3 = new RegExp("^(-[1]{0,1}[0-9][0-9]{0,5}),$");
                  if(this.value.length>0 && this.value[0]!='-'){
                    this.value='-'+this.value;
                  }
                }
                debugText("CS: "+res_system);

                if (re.test(this.value)) {//Valid coorinate
                  mem[this.id]=this.value;
                  debugText("+1")
                }else if (!re1.test(this.value)) {//Coordinate on way

                  debugText("+0: "+this.value+ " "+re1)
                }else if (re2.test(this.value)) {//Overwriting coordinates
                  this.value=this.value.slice(0,-1)
                  mem[this.id]=this.value;
                  this.setSelectionRange(pos,pos);
                  debugText("+2")
                }
                else { //roll to previous value
                  debugText("+3: " +this.value)
                  debugText("mem: "+mem[this.id])
                  this.value=mem[this.id];
                }
                set_numeric_coordinates(true,re3.test(this.value))
              }})
            })
            ;
    </script>
    <script type="text/javascript">
      // create osoba scripts
      var successFunction = function(settings, response) {
        var newOption = new Option(response.text, response.value, true, true);
        $('#id_nalezce').append(newOption).trigger('change');
        $('#id_nalezce').trigger({
          type: 'select2:select',
          params: {
              data: [response.text, response.value, true, true]
          }
        });
        $(settings.modalIDD).modal("hide");
      };

      document.addEventListener('DOMContentLoaded', function (event) {
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'heslar:create_osoba' %}",
        formID: "create-osoba-form",
        modalFormID: "#create-osoba-form",
        modalIDD : "#modal-form",
        successFunc:successFunction,
      })
      new Modal(options, "create-nalezce-osoba");

    });
      </script>
{% endblock %}
