{% extends "base_logged_in.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
 {% endblock %}

{% block content %}
  <div class="app-entity-samostatny_nalez">
    {% include "toolbar_pas.html" %}
    <form method="post" class="submit-spinner">
      {% csrf_token %}
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {{ header }}
          </div>
        </div>
        <div class="card-body">
          {% include "pas/coor.html" %} 
        </div>  
      </div>
      <button type="submit" id="newEntitySubmitBtn" class="btn btn-primary mt-3">{% trans "pas.templates.create.submitButton" %}
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
        style="display: none"></span>
      </button>
      <a type="button" class="btn btn-secondary mt-3" href="{% url 'pas:index' %}">{% trans "pas.templates.create.zpetButton" %}</a>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
      $(document).ready(function () {
          document.getElementById("id-app-entity-item").innerHTML = "{% trans "pas.templates.create.toolbar.title" %}"
      })
  </script>
  <script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
  <script>
    url = '{% url "heslar:get-initial-value" %}' + "?nadrazene="
    get_vychozi_hodnota_podrazeneho("#id_druh_nalezu","#id_specifikace",url)
  </script>
{% endblock %}
