{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
 {% endblock %}

{% block content %}
  <div class="app-entity-samostatny_nalez">
    {% include "toolbar_pas.html" %}
    <form method="post" onsubmit="newEntitySubmitBtn.disabled = true; return true;">
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {{ header }}
          </div>
        </div>
        <div class="card-body">
          {% crispy form %}
          
        </div>
        {% include "pas/coor_pas.html" %}
      </div>
      <div class="card-body">
      </div>
      <button type="submit" id="newEntitySubmitBtn" class="btn btn-primary mt-3">{% trans "Uložit" %}</button>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
      $(document).ready(function () {
          document.getElementById("id-app-entity-item").innerHTML = "Zapsat nový samostatný nález"
      })
  </script>
  <script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
  <script>
    url = '{% url "heslar:get-initial-value" %}' + "?nadrazene="
    get_vychozi_hodnota_podrazeneho("#id_druh_nalezu","#id_specifikace",url)
  </script>
{% endblock %}
