{% extends "base_logged_in.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{% trans "Detail samostatného nálezu" %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}"/>
{% endblock %}

{% block content %}
  <div class="app-entity-samostatny_nalez">
    {% include "toolbar_pas.html" with sn=sn  showcontrols=True %}
    {% include "pas/state_component_pas.html" with sn=sn %}

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Fotografie" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn app-entity-dokument" href="{% url 'core:upload_file_pas' sn.ident_cely %}"
               rel="tooltip"
               data-placement="top" title="{% trans 'Nahrát soubory' %}">
              <span class="material-icons">publish</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        {% if soubory %}
          {% include "core/filetable.html" with soubory=soubory next_url='/pas/detail/' ident=sn.ident_cely allow_replace=True vazba_trida="pas" %}
        {% else %}
          <div class="app-note">
            <span class="material-icons">info</span>
            {% trans "Samostatný nález zatím neobsahuje žádné fotografie." %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Detail" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn" href="{% url 'pas:edit' sn.ident_cely %}" rel="tooltip"
               data-placement="top" title="{% trans 'Upravit' %}">
              <span class="material-icons">edit</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        {% if warnings %}
        <div class="alert alert-info" role="alert">
          <ul>
            {% for warning in warnings %}
              <li>{{ warning }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% include "pas/coor.html" %}
      </div>
    </div>

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Uložení" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <button id="pas-edit-ulozeni" class="btn" type="button" name="button" rel="tooltip"data-placement="top">
              <span class="material-icons">edit</span>
            </button>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        <form>
          {% crispy ulozeni_form %}
        </form>
      </div>
    </div>

    
  </div>

{% endblock %}

{% block script %}
<script>
  //modal scripts
  document.addEventListener('DOMContentLoaded', function (event) {
    if ("{{show.odeslat_link}}" != "False"){
    var options = Object.assign(defaults, {modalID: "modal-form",
      formURL: "{% url 'pas:odeslat' sn.ident_cely %}?sent_stav={{sn.stav}}",
      formID: "odeslat-pas-form",
      modalFormID: "#odeslat-pas-form",
    })
    odeslat_akci_modal = new Modal(options, "pas-odeslat");
    };
    if ("{{show.vratit_link}}" != "False"){
    var options = Object.assign(defaults, {modalID: "modal-form",
      formURL: "{% url 'pas:vratit' sn.ident_cely %}?sent_stav={{sn.stav}}",
      formID: "vratit-pas-form",
      modalFormID: "#vratit-pas-form",
    })
    vratit_akci_modal = new Modal(options, "pas-vratit");
    }
    if ("{{show.archivovat_link}}" != "False"){
      var options = Object.assign(defaults, {modalID: "modal-form",
        formURL: "{% url 'pas:archivovat' sn.ident_cely %}?sent_stav={{sn.stav}}",
        formID: "archivovat-pas-form",
        modalFormID: "#archivovat-pas-form",
      })
    archivovat_akci_modal = new Modal(options, "pas-archivovat");
    }
    if ("{{show.potvrdit_link}}" != "False"){
      var options = Object.assign(defaults, {modalID: "modal-form",
        formURL: "{% url 'pas:potvrdit' sn.ident_cely %}?sent_stav={{sn.stav}}",
        formID: "potvrdit-pas-form",
        modalFormID: "#potvrdit-pas-form",
      })
      potvrdit_akci_modal = new Modal(options, "pas-potvrdit");
    }
    if ("{{show.editovat}}" != "False"){
      var options = Object.assign(defaults, {modalID: "modal-form",
        formURL: "{% url 'pas:edit_ulozeni' sn.ident_cely %}?sent_stav={{sn.stav}}",
        formID: "edit-ulozeni-pas-form",
        modalFormID: "#edit-ulozeni-pas-form",
      })
      potvrdit_akci_modal = new Modal(options, "pas-edit-ulozeni");
    }
    var options = Object.assign(defaults, {modalID: "modal-form",
      formURL: "{% url 'pas:smazat' sn.ident_cely %}?sent_stav={{sn.stav}}",
      formID: "smazat-pas-form",
      modalFormID: "#smazat-pas-form",
    })
    smazat_akci_modal = new Modal(options, "pas-smazat");
});

</script>
{% endblock %}
