{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "pas.templates.index.title"%}{% endblock %}

{% block content %}
  <div class="app-entity-samostatny_nalez">
    {% include "toolbar_pas.html" %}

    <div class="row app-entity-cards mb-3">
      <div class="col">
        <a href="{% url 'pas:spoluprace_list' %}?sort=organizace_vedouci&sort=spolupracovnik" class="card app-card-entity app-card-spoluprace">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "pas.templates.index.cardSpoluprace.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'pas:create' %}" class="card app-card-entity app-card-zapsat-nalez">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "pas.templates.index.cardZapsatNalez.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'pas:list' %}?sort=katastr&sort=ident_cely" class="card app-card-entity app-card-vybrat">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "pas.templates.index.cardVybrat.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'pas:list' %}?historie_typ_zmeny=SN01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" class="card app-card-entity app-card-moje-nalezy">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "pas.templates.index.cardMojeNalezy.label" %}
          </div>
        </a>
      </div>
      {% if show_pas_nase %}
        <div class="col">
          <a href="{% url 'pas:list' %}?projekt_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" class="card app-card-entity app-card-nase-nalezy">
            <div class="card-body card-body-background">
              <img src="{% static 'logo-am-mark.png' %}" />
            </div>
            <div class="card-footer">
              {% trans "pas.templates.index.cardNaseNalezy.label" %}
            </div>
          </a>
        </div>
      {% endif %}
      {% if show_pas_potvrdit %}
        <div class="col">
          <a href="{% url 'pas:list' %}?stav=2&predano_organizace={{ user.organizace.id }}&sort=nalezce&sort=datum_nalezu&sort=ident_cely" class="card app-card-entity app-card-potvrdit">
            <div class="card-body card-body-background">
              <img src="{% static 'logo-am-mark.png' %}" />
            </div>
            <div class="card-footer">
              {% trans "pas.templates.index.cardPotvrdit.label" %}
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="app-card-desc-wrapper">
    <div class="app-collapse-zapsat-nalez app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "pas.templates.index.cardZapsatNalez.title" %}</h4>
        <hr />
        {% trans "pas.templates.index.cardZapsatNalez.text" %}
      </div>
    </div>
    <div class="app-collapse-moje-nalezy app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "pas.templates.index.cardMojeNalezy.title" %}</h4>
        <hr />
        {% trans "pas.templates.index.cardMojeNalezy.text" %}
      </div>
    </div>
    {% if show_pas_nase %}
      <div class="app-collapse-nase-nalezy app-card-collapse-text">
        <div class="p-3">
          <h4>{% trans "pas.templates.index.cardNaseNalezy.title" %}</h4>
          <hr />
          {% trans "pas.templates.index.cardNaseNalezy.text" %}
        </div>
      </div>
    {% endif %}
    <div class="app-collapse-vybrat app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "pas.templates.index.cardVybrat.title" %}</h4>
        <hr />
        {% trans "pas.templates.index.cardVybrat.text" %}
      </div>
    </div>
  <div class="app-collapse-spoluprace app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "pas.templates.index.cardSpolupraceNalez.title" %}</h4>
        <hr />
        {% trans "pas.templates.index.cardSpolupraceNalez.text" %}
      </div>
    </div>
    {% if show_pas_potvrdit %}
  <div class="app-collapse-potvrdit app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "pas.templates.index.cardPotvrdit.title" %}</h4>
        <hr />
        {% trans "pas.templates.index.cardPotvrdit.text" %}
      </div>
    </div>
    {% endif %}
  </div>

  <script>
    // show / hide card description
    $(".app-card-zapsat-nalez").mouseleave(function(){
      $(".app-collapse-zapsat-nalez").hide(100);
    });
    $(".app-card-zapsat-nalez").mouseover(function(){
      $(".app-collapse-zapsat-nalez").show(100);
    });
    $(".app-card-moje-nalezy").mouseleave(function(){
      $(".app-collapse-moje-nalezy").hide(100);
    });
    $(".app-card-moje-nalezy").mouseover(function(){
      $(".app-collapse-moje-nalezy").show(100);
    });
    {% if show_pas_nase %}
      $(".app-card-nase-nalezy").mouseleave(function(){
        $(".app-collapse-nase-nalezy").hide(100);
      });
      $(".app-card-nase-nalezy").mouseover(function(){
        $(".app-collapse-nase-nalezy").show(100);
      });
    {% endif %}
    $(".app-card-vybrat").mouseleave(function(){
      $(".app-collapse-vybrat").hide(100);
    });
    $(".app-card-vybrat").mouseover(function(){
      $(".app-collapse-vybrat").show(100);
    });
    $(".app-card-spoluprace").mouseleave(function(){
      $(".app-collapse-spoluprace").hide(100);
    });
    $(".app-card-spoluprace").mouseover(function(){
      $(".app-collapse-spoluprace").show(100);
    });
    {% if show_pas_potvrdit %}
    $(".app-card-potvrdit").mouseleave(function(){
      $(".app-collapse-potvrdit").hide(100);
    });
    $(".app-card-potvrdit").mouseover(function(){
      $(".app-collapse-potvrdit").show(100);
    });
    {% endif %}
</script>
{% endblock %}

{% block script %}
{% endblock %}
