{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Potvrzení nálezu " %}{{ sn.ident_cely }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-entity-samostatny_nalez">
    {% include "toolbar_pas.html" %}
    <form method="POST">
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {% trans "Potvrzení nálezu" %}
          </div>
        </div>
        <div class="card-body">
          {% crispy form %}
          <div class="mt-3">
            <button type="submit" name="save" class="btn btn-primary mr-1"
                    id="submit-id-save">{% translate 'Potvrdit nález' %}</button>
            <button type="button" class="btn btn-secondary"
                    onclick="window.history.back();">{% trans "Zpět" %}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
