{% extends "search_list.html" %}

{% block script2 %}
  <script>
      $(document).ready(function () {
          const STAV_OZNAMENY = '2'
          const STAV_POTVRZENY = '3'

          setPageHeader();

          function setHeader(header) {
              document.getElementById('id-app-entity-item').innerHTML = header;
          }

          function listMatch(required, actual) {
              if (actual.length === required.length && actual.every(function (value, index) {
                  return value === required[index]
              })) {
                  return true;
              } else {
                  return false;
              }
          }

          function hasOnlyVybrat(actualParams, actualValues) {
              if (listMatch([], actualParams) && listMatch([], actualValues)) {
                  setHeader("{{hasOnlyVybrat_header}}")
                  return true
              } else {
                  return false
              }
          }

          function hasOnlyVlastnik(actualParams, actualValues) {
              if (listMatch(['vlastnik'], actualParams) && listMatch(['{{ user.id }}'], actualValues)) {
                  setHeader("{{hasOnlyVlastnik_header}}")
                  return true
              } else {
                  return false
              }
          }

          function hasOnlyArchive(actualParams, actualValues) {
              if (listMatch(['stav'], actualParams) && listMatch([STAV_POTVRZENY], actualValues)) {
                  setHeader("{{hasOnlyArchive_header}}")
                  return true
              } else {
                  return false
              }
          }

          function hasOnlyPotvrdit(actualParams, actualValues) {
              if (listMatch(['stav', 'predano_organizace'], actualParams) && listMatch([STAV_OZNAMENY], actualValues)) {
                setHeader("{{hasOnlyPotvrdit_header}}")
                  return true
              } else {
                  return false
              }
          }

          function setPageHeader() {
              const queryString = window.location.search;
              const urlParams = new URLSearchParams(queryString);
              const keys = Array.from(urlParams.keys());
              const values = Array.from(urlParams.values());
              if (!(hasOnlyVlastnik(keys, values) ||
                    hasOnlyArchive(keys, values) ||
                    hasOnlyPotvrdit(keys, [urlParams.get('stav')]) ||
                    hasOnlyVybrat(keys, values)
              )) {
                setHeader("{{default_header}}")
              }
          }
      });
  </script>
{% endblock %}
