{% extends "search_list.html" %}
{% load template_filters %}

{% block script2 %}
  <script>
      $(document).ready(function () {
          const STAV_ODESLANY = '{% get_value_from_heslar "samostatny_nalez_stav" "odeslany" %}';
          const STAV_POTVRZENY = '{% get_value_from_heslar "samostatny_nalez_stav" "potvrzeny" %}';

          setPageHeader();

          function setHeader(header) {
              document.getElementById('id-app-entity-item').innerHTML = header;
          }

          function listMatch(required, actual) {
              if (actual.length === required.length && actual.every(function (value, index) {
                  return value === required[index]
              })) {
                  return true;
              } else {
                  return false;
              }
          }

          function hasOnlyVybrat(actualParams, actualValues) {
              if (listMatch([], actualParams) && listMatch([], actualValues)) {
                  setHeader("{{hasOnlyVybrat_header}}")
                  return true
              } else {
                  return false
              }
          }

          function hasOnlyVlastnik(actualParams, actualValues) {
              if (listMatch(['historie_typ_zmeny','historie_uzivatel'], actualParams) && listMatch(['SN01','{{ user.id }}'], actualValues)) {
                  setHeader("{{hasOnlyVlastnik_header}}")
                  return true
              } else {
                  return false
              }
          }

          function hasOnlyArchive(actualParams, actualValues) {
              if (listMatch(['stav'], actualParams) && listMatch([STAV_POTVRZENY], actualValues)) {
                  setHeader("{{hasOnlyArchive_header}}")
                  return true
              } else {
                  return false
              }
          }

          function hasOnlyPotvrdit(actualParams, actualValues) {
              if (listMatch(['stav', 'predano_organizace'], actualParams) && listMatch([STAV_ODESLANY], actualValues)) {
                setHeader("{{hasOnlyPotvrdit_header}}")
                  return true
              } else {
                  return false
              }
          }

          function hasOnlyNase(actualParams, actualValues) {
            if (listMatch(['projekt_organizace'], actualParams) && listMatch(['{{ user.organizace.id }}'], actualValues))
             {
                setHeader("{{hasOnlyNase_header}}")
                return true
            } else {
                return false
            }
        }

          function setPageHeader() {
              const queryString = window.location.search;
              const urlParams = new URLSearchParams(queryString);
              urlParams.delete('sort');
              const keys = Array.from(urlParams.keys());
              const values = Array.from(urlParams.values());
              if (!(hasOnlyVlastnik(keys, values) ||
                    hasOnlyArchive(keys, values) ||
                    hasOnlyPotvrdit(keys, [urlParams.get('stav')]) ||
                    hasOnlyNase(keys, values) ||
                    hasOnlyVybrat(keys, values)
              )) {
                setHeader("{{default_header}}")
              }
          }
      });
      document.getElementById("filter-form").addEventListener("submit", (event) => {
          const selects = document.querySelectorAll('.selectpicker');
          selects.forEach(function (select) {
              if (select.value === "") {
                  select.removeAttribute("name");
              }
          });
      });
  </script>
{% endblock %}
