{% load i18n %}

<div class="bs-stepper">
  <div class="bs-stepper-header">
    <div class="step {% if sn.stav == 1 %}active{% endif %}">
      <button type="button" class="btn step-trigger historie-link"
              onclick="location.href='{% url 'historie:pas' sn.ident_cely %}';">
        <span class="bs-stepper-circle">1</span>
        <div class="row stepper-row">
          <div class="col-12 {% if not history_dates.datum_zapsani %}pl-0{% endif %}">
            <span class="bs-stepper-label">
                {% trans "pas.templates.state_component_pas.rozepsany" %}
            </span>
          </div>
          <div class="col-12 app-stepper-date-container">
            <span class="app-stepper-date" rel="tooltip" data-placement="bottom"
                  title="{{ history_dates.datum_zapsani.uzivatel }}">
                {{ history_dates.datum_zapsani.datum|date:'Y-m-d'|default_if_none:"" }}
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="line"></div>
    <div class="step {% if sn.stav == 2 %}active{% endif %}">
      <button type="button" class="btn step-trigger historie-link"
              onclick="location.href='{% url 'historie:pas' sn.ident_cely %}';">
        <span class="bs-stepper-circle">2</span>
        <div class="row stepper-row">
          <div class="col-12 {% if not history_dates.datum_odeslani %}pl-0{% endif %}">
            <span class="bs-stepper-label">
                {% trans "pas.templates.state_component_pas.odeslany" %}
            </span>
          </div>
          <div class="col-12 app-stepper-date-container">
            <span class="app-stepper-date" rel="tooltip" data-placement="bottom"
                  title="{{ history_dates.datum_odeslani.uzivatel }}">
                {{ history_dates.datum_odeslani.datum|date:'Y-m-d'|default_if_none:"" }}
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="line"></div>
    <div class="step {% if sn.stav == 3 %}active{% endif %}">
      <button type="button" class="btn step-trigger historie-link"
              onclick="location.href='{% url 'historie:pas' sn.ident_cely %}';">
        <span class="bs-stepper-circle">3</span>
        <div class="row stepper-row">
          <div class="col-12 {% if not history_dates.datum_potvrzeni %}pl-0{% endif %}">
            <span class="bs-stepper-label">
                {% trans "pas.templates.state_component_pas.potvrzeny" %}
            </span>
          </div>
          <div class="col-12 app-stepper-date-container">
            <span class="app-stepper-date" rel="tooltip" data-placement="bottom"
                  title="{{ history_dates.datum_potvrzeni.uzivatel }}">
                {{ history_dates.datum_potvrzeni.datum|date:'Y-m-d'|default_if_none:"" }}
            </span>
          </div>
        </div>
      </button>
    </div>
    <div class="line"></div>
    <div class="step {% if sn.stav == 4 %}active{% endif %}">
      <button type="button" class="btn step-trigger historie-link"
              onclick="location.href='{% url 'historie:pas' sn.ident_cely %}';">
        <span class="bs-stepper-circle">4</span>
        <div class="row stepper-row">
          <div class="col-12 {% if not history_dates.datum_potvrzeni %}pl-0{% endif %}">
            <span class="bs-stepper-label">
              {% trans "pas.templates.state_component_pas.archivovany" %}
            </span>
          </div>
          <div class="col-12 app-stepper-date-container">
            <span class="app-stepper-date" rel="tooltip" data-placement="bottom"
                  title="{{ history_dates.datum_archivace.uzivatel }}">
                {{ history_dates.datum_archivace.datum|date:'Y-m-d'|default_if_none:"" }}
              </span>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
