{% extends "search_list.html" %}

{% block script2 %}
  <script>
    //modal scripts
    document.addEventListener('DOMContentLoaded', function (event) {
      if (document.getElementsByClassName("spoluprace-aktivovat-btn")){
        elements = document.getElementsByClassName("spoluprace-aktivovat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "aktivace-spoluprace-form",
          modalFormID: "#aktivace-spoluprace-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("spoluprace-deaktivovat-btn")){
        elements = document.getElementsByClassName("spoluprace-deaktivovat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "deaktivace-spoluprace-form",
          modalFormID: "#deaktivace-spoluprace-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("spoluprace-smazat-btn")){
        elements = document.getElementsByClassName("spoluprace-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "smazani-spoluprace-form",
          modalFormID: "#smazani-spoluprace-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      $("tbody tr").each(function() {
        var item = $(this).find(".aktivace.spoluprace ");
        item.attr('data-original-title' , item.children().text());
        var item_smazani = $(this).find(".smazani.spoluprace ");
        item_smazani.attr('data-original-title' , item_smazani.children().text());
      });

      const add_tooltips = (element_selector, tooltip_list) => {
        const elements = document.querySelectorAll(element_selector);
        elements.forEach((td) => {
          const originalTitle = td.getAttribute('data-original-title');
          if (originalTitle) {
            tooltip_list.forEach((item) => {
              if (originalTitle.includes(item)) {
                td.setAttribute('data-original-title', item + " " + originalTitle);
              }
            })
          }
        });
      }
      add_tooltips("td.aktivace", ["{{ trans_deaktivovat }}", "{{ trans_aktivovat }}"]);
      add_tooltips("td.smazani", ["{{ trans_smazat }}"]);
  });
  </script>
{% endblock %}
