{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-entity-samostatny_nalez">
    <form method="post" class="submit-spinner">
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {{ header }}
          </div>
        </div>
        <div class="card-body">
          {% crispy form %}
        </div>
      </div>
      <div>
        <button type="submit" id="newEntitySubmitBtn" class="btn btn-primary mt-3">{% trans "pas.templates.zadost.submitButton" %}
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
          style="display: none"></span>
        </button>
        <a type="button" class="btn btn-secondary mt-3" href="{% url 'pas:spoluprace_list' %}">{% trans "pas.templates.zadost.backButton" %}</a>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
      $(document).ready(function () {
          document.getElementById("id-app-entity-item").innerHTML = "Žádost o spolupráci"
      })
  </script>
{% endblock %}
