{% load i18n %}
{% load template_filters %}

<div class="card app-card-form app-card-ext_zdroj app-table-list-container">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "ez.templates.azEzOdakzytable.table.cardHeader" %}
      </div>
      {% if show.pripojit_eo %}
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <button class="btn" id="eo-pripojit-do-az" type="button" type="button" rel="tooltip" data-placement="top" title="{% trans "ez.templates.azEzOdakzytable.pridat.label" %}" name="button" href="{% url 'ez:pripojit_eo_do_az' zaznam.ident_cely %}">
            <span class="material-icons">add</span>
          </button>
        </div>
      </div>
      {% endif %}
    </div>
        <div class="card-body content-with-table-responsive">
    {% if externi_odkazy %}
    {%include "ez/az_ez_odkazy_table_only.html"%}
    {% else %}
    <div class="app-note">
      <span class="material-icons">info</span>
      {% trans "ez.templates.azEzOdakzytable.tableNoOdkaz.text" %}
    </div>
    {% endif %}
  </div>
</div>
<script>
  //modal scripts
  document.addEventListener('DOMContentLoaded', function (event) {
    if ("{{show.pripojit_eo}}"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "pripojit-eo-doaz-form",
        modalFormID: "#pripojit-eo-doaz-form",
      })
      dokument_pripojit_modal = new Modal(options, "eo-pripojit-do-az");
    };
    $('#modal-form').on('shown.bs.modal', function(event) {
        $(document).off('focusin.modal');
    });
});

</script>