{% extends "base_logged_in.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}
 {% endblock %}

{% block content %}
  <div class="app-entity-ext_zdroj">
    {% include "toolbar_externi_zdroj.html" with name=toolbar_name %}
    <form method="post" onsubmit="newEntitySubmitBtn.disabled = true; return true;">
      {% csrf_token %}
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {{ header }}
          </div>
        </div>
        <div class="card-body">
          {% crispy form %}
        </div>  
      </div>
      <div class="mt-3">
        <div class="form-group">
          <button type="submit" id="newEntitySubmitBtn" class="btn btn-primary">{% trans "ez.templates.create.ulozitButton.label" %}</button>
          {% if zaznam and zaznam.ident_cely %}
            <a type="button" class="btn btn-secondary" href="{% url 'ez:detail' zaznam.ident_cely %}">{% trans "ez.templates.create.backButton.label" %}</a>
          {% else %}
            <a type="button" class="btn btn-secondary" href="{% url 'ez:index' %}">{% trans "ez.templates.create.backButton.label" %}</a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/form_fields_disabling.js' %}"></script>
  <script>
      window.addEventListener("DOMContentLoaded", function() {
        var checked_field = document.getElementById("id_typ");
        var fields = new Map()
        fields.set("id_editori", "")
        fields.set("id_casopis_denik_nazev", "")
        fields.set("id_casopis_rocnik", "")
        fields.set("id_datum_rd", "")
        fields.set("id_paginace_titulu", "")
        fields.set("id_sbornik_nazev", "")
        fields.set("id_edice_rada", "")
        fields.set("id_misto", "")
        fields.set("id_vydavatel", "")
        fields.set("id_isbn", "")
        fields.set("id_issn", "")
        fields.set("id_typ_dokumentu", "")
        fields.set("id_organizace", "")
        var required = new Map();
        required.set("{% get_value_from_heslar "externi_zdroj_typ" "kniha" %}", ["id_misto"]);
        required.set("{% get_value_from_heslar "externi_zdroj_typ" "cast_knihy" %}", ["id_editori","id_paginace_titulu","id_sbornik_nazev","id_misto"]);
        required.set("{% get_value_from_heslar "externi_zdroj_typ" "clanek_v_casopise" %}", ["id_casopis_denik_nazev", "id_casopis_rocnik","id_paginace_titulu"]);
        required.set("{% get_value_from_heslar "externi_zdroj_typ" "clanek_v_novinach" %}", ["id_casopis_denik_nazev", "id_datum_rd", "id_paginace_titulu"]);
        required.set("{% get_value_from_heslar "externi_zdroj_typ" "nepublikovana_zprava" %}", []);
        var allowed = new Map();
        allowed.set("{% get_value_from_heslar "externi_zdroj_typ" "kniha" %}", ["id_edice_rada", "id_vydavatel","id_isbn","id_misto"]);
        allowed.set("{% get_value_from_heslar "externi_zdroj_typ" "cast_knihy" %}", ["id_editori", "id_misto","id_paginace_titulu","id_sbornik_nazev","id_edice_rada","id_vydavatel","id_isbn"]);
        allowed.set("{% get_value_from_heslar "externi_zdroj_typ" "clanek_v_casopise" %}", ["id_casopis_denik_nazev", "id_casopis_rocnik", "id_paginace_titulu","id_issn"]);
        allowed.set("{% get_value_from_heslar "externi_zdroj_typ" "clanek_v_novinach" %}", ["id_casopis_denik_nazev", "id_datum_rd", "id_paginace_titulu"]);
        allowed.set("{% get_value_from_heslar "externi_zdroj_typ" "nepublikovana_zprava" %}", ["id_typ_dokumentu", "id_organizace"]);

        setTimeout(() => {
          //Delayed for 1 second. Give select2 chance to load and init
          changeFields(checked_field, fields,allowed,required);
        }, "1000")
        checked_field.addEventListener("change", changeFields.bind(event, checked_field, fields,allowed,required));
      })
    </script>
    <script type="text/javascript" id="js-id-create-osoba">
      //var create autor and editor
      var successFunctionAutor = function(settings, response) {
        var newOption = new Option(response.text, response.value, true, true);
        $('#id_autori').append(newOption).trigger('change');
        $('#id_autori').trigger({
        type: 'select2:select',
        params: {
          data: [response.text, response.value, true, true]
      }
    })
    $(settings.modalIDD).modal("hide");
      };
      var successFunctionEditor = function(settings, response) {
        var newOption = new Option(response.text, response.value, true, true);
        $('#id_editori').append(newOption).trigger('change');
        $('#id_editori').trigger({
          type: 'select2:select',
          params: {
              data: [response.text, response.value, true, true]
          }
        });
        $(settings.modalIDD).modal("hide");
      };
      window.addEventListener("DOMContentLoaded", function() {
        var options = Object.assign(Object.create(defaults), {
          modalID: "modal-form",
          formURL: "{% url 'heslar:create_osoba' %}",
          formID: "create-osoba-form",
          modalFormID: "#create-osoba-form",
          modalIDD : "#modal-form",
          successFunc: successFunctionAutor,
        })
        new Modal(options, "create-autor");
        var options = Object.assign(Object.create(defaults), {
          modalID: "modal-form",
          formURL: "{% url 'heslar:create_osoba' %}",
          formID: "create-osoba-form",
          modalFormID: "#create-osoba-form",
          modalIDD : "#modal-form",
          successFunc: successFunctionEditor,
        })
        new Modal(options, "create-editor");  
      });
    </script>
{% endblock %}
