{% extends "base_logged_in.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{{page_title}}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bs-stepper.min.css' %}"/>
<!-- Autocomplete media files -->
 <link href="{% static 'admin/css/vendor/select2/select2.css' %}" media="screen" rel="stylesheet" type="text/css">
 <link href="{% static 'admin/css/autocomplete.css' %}" media="screen" rel="stylesheet" type="text/css">
 <link href="{% static 'autocomplete_light/select2.css' %}" media="screen" rel="stylesheet" type="text/css">
 <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
 <script src="{% static 'autocomplete_light/autocomplete_light.js' %}"></script>
 <script src="{% static 'autocomplete_light/select2.js' %}"></script>
 <script src="{% static 'autocomplete_light/i18n/cs.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="app-entity-ext_zdroj">
    {% include "toolbar_externi_zdroj.html" with showcontrols=True %}
    {% include "ez/stepper.html" %}

    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "ez.templates.detail.cardHeader" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn" href="{% url 'ez:edit' zaznam.ident_cely %}" rel="tooltip"
               data-bs-placement="top" title="{% trans 'ez.templates.detail.upravit.tooltip' %}">
              <span id="edit-btn" class="material-icons">edit</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        {% if warnings %}
        <div class="alert alert-info" role="alert">
          <ul>
            {% for warning in warnings %}
              <li>{{ warning }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <form>
        {% crispy form %}
      </form>
      </div>
    </div>
    {% if show.ez_odkazy %}
    {% trans "ez.templates.detail.odkazy.pridatAkci.label" as pridatLabel %}
    {% trans "ez.templates.detail.odkazy.tableAkce.label" as tableLabel %}
    {% trans "ez.templates.detail.odkazy.zadnaAkce.text" as tabletext %}
    {% include "ez/ez_odkazy_table.html" with zaznamy=ez_akce type="arch_z" card_type="akce"%}

    {% trans "ez.templates.detail.odkazy.pridatLokalitu.label" as pridatLabel %}
    {% trans "ez.templates.detail.odkazy.tableLokalitu.label" as tableLabel %}
    {% trans "ez.templates.detail.odkazy.zadnaLokalitu.text" as tabletext %}
    {% include "ez/ez_odkazy_table.html" with zaznamy=ez_lokality type="lokalita" card_type="lokalita"%}
    {% endif %}
  </div>

{% endblock %}

{% block script %}
<script>
  //modal scripts
  document.addEventListener('DOMContentLoaded', function (event) {
    if ("{{show.odeslat_link}}" != "False"){
    const options = Object.assign(Object.create(defaults), {modalID: "modal-form",
      formURL: "{% url 'ez:odeslat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
      formID: "odeslat-ez-form",
      modalFormID: "#odeslat-ez-form",
    })
    new Modal(options, "ez-odeslat");
    };
    if ("{{show.vratit_link}}" != "False"){
    const options = Object.assign(Object.create(defaults), {modalID: "modal-form",
      formURL: "{% url 'ez:vratit' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
      formID: "vratit-ez-form",
      modalFormID: "#vratit-ez-form",
    })
    new Modal(options, "ez-vratit");
    }
    if ("{{show.potvrdit_link}}" != "False"){
      const options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'ez:potvrdit' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "potvrdit-ez-form",
        modalFormID: "#potvrdit-ez-form",
      })
      new Modal(options, "ez-potvrdit");
    }
    if ("{{show.smazat}}" != "False"){
    const options = Object.assign(Object.create(defaults), {modalID: "modal-form",
      formURL: "{% url 'ez:smazat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
      formID: "smazat-ez-form",
      modalFormID: "#smazat-ez-form",
    })
    new Modal(options, "ez-smazat");
    };
});

</script>
{% endblock %}
