{% load i18n %}
<table class="table table-striped table-hover table-sm mb-0">
    <thead>
    <tr>
      <th>{% trans "ez.templates.ezOdkazyTableOnly.Id.label" %}</th>
      <th>{% trans "ez.templates.ezOdkazyTableOnly.katastr.label" %}</th>
      {% if card_type == "akce" %}
      <th>{% trans "ez.templates.ezOdkazyTableOnly.vedouci.label" %}</th>
      <th>{% trans "ez.templates.ezOdkazyTableOnly.datum.label" %}</th>
      {% elif card_type == "lokalita" %}
      <th>{% trans "ez.templates.ezOdkazyTableOnly.druh.label" %}</th>
      <th>{% trans "ez.templates.ezOdkazyTableOnly.nazev.label" %}</th>
      {% endif %}
      {% if show.paginace %}
      <th>{% trans "ez.templates.ezOdkazyTableOnly.paginace.label" %}</th>
      {% endif %}
      {% if show.odpojit %}
      <th>{% trans "ez.templates.ezOdkazyTableOnly.odpojit.label" %}</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for z in zaznamy %}
        {% include "ez/ez_odkazy_table_row.html" with arch_z=z.archeologicky_zaznam %}
    {% endfor %}
    </tbody>
  </table>