{% load template_filters %}
<tr>
    <td class="app-ident-cely">
      <a href="{% url type|add:':detail' arch_z.ident_cely %}">
        <span class="material-icons">location_on</span>
        {{ arch_z.ident_cely }}
      </a>
    </td>
    <td>{{ arch_z.hlavni_katastr }}</td>
    {% if card_type == "akce" %}
    <td>{{ arch_z.akce.hlavni_vedouci }}</td>
    <td>{{ arch_z.akce.datum_zahajeni|date:'Y-m-d' }} - {{ arch_z.akce.datum_ukonceni|date:'Y-m-d' }}</td>
    {% elif card_type == "lokalita" %}
    <td>{{ arch_z.lokalita.druh }}</td>
    <td>{{ arch_z.lokalita.nazev }}</td>
    {% endif %}
    {% if show.paginace %}
    <td >{{ z.paginace|check_if_none }}
      <button  id="ez-change-{{z.id}}" class="ez-change-btn" type="button" name="button" href="{% url 'ez:zmenit_eo' z.id %}">
        <span class="material-icons app-color-warning">edit</span>
      </button>
    </td>
    {% endif %}
    {% if show.odpojit %}
    <td>
      <button id="ez-odpojit-{{z.id}}" class="ez-odpojit-btn" type="button" name="button" href="{% url 'ez:odpojit_eo' zaznam.ident_cely z.id %}">
        <span class="material-icons app-color-danger">delete_forever</span>
      </button>
    </td>
    {% endif %}
</tr>