{% load i18n %}
<table class="table table-striped table-hover table-sm mb-0">
    <thead>
    <tr>
      <th>{% trans "externiZdroj.odkazyTable.ID.header" %}</th>
      <th>{% trans "externiZdroj.odkazyTable.katastr.header" %}</th>
      {% if card_type == "akce" %}
      <th>{% trans "externiZdroj.odkazyTable.vedouci.header" %}</th>
      <th>{% trans "externiZdroj.odkazyTable.datum.header" %}</th>
      {% elif card_type == "lokalita" %}
      <th>{% trans "externiZdroj.odkazyTable.druh.header" %}</th>
      <th>{% trans "externiZdroj.odkazyTable.nazev.header" %}</th>
      {% endif %}
      {% if show.paginace %}
      <th>{% trans "externiZdroj.odkazyTable.paginace.header" %}</th>
      {% endif %}
      {% if show.editovat %}
      <th>{% trans "externiZdroj.odkazyTable.odpojit.header" %}</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for z in zaznamy %}
        {% include "ez/ez_odkazy_table_row.html" with arch_z=z.archeologicky_zaznam %}
    {% endfor %}
    </tbody>
  </table>