{% load i18n %}

<div class="bs-stepper">
  <div class="bs-stepper-header">
    <div class="step {% if zaznam.stav == 1 %}active{% endif %}">
      <button type="button" class="btn step-trigger historie-link" onclick="location.href='{% url 'historie:ez' zaznam.ident_cely %}';">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">
              {% trans "Zapsaný" %}
              <span class="app-stepper-date" rel="tooltip" data-placement="bottom"
                    title="{{ history_dates.datum_zapsani.uzivatel }}">
                {{ history_dates.datum_zapsani.datum|date:'Y-m-d'|default_if_none:"" }}
              </span>
            </span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step {% if zaznam.stav == 2 %}active{% endif %}">
      <button type="button" class="btn step-trigger historie-link" onclick="location.href='{% url 'historie:ez' zaznam.ident_cely %}';">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">
              {% trans "Odeslaný" %}
              <span class="app-stepper-date" rel="tooltip" data-placement="bottom"
                    title="{{ history_dates.datum_odeslani.uzivatel }}">
                {{ history_dates.datum_odeslani.datum|date:'Y-m-d'|default_if_none:"" }}
              </span>
            </span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step {% if zaznam.stav == 3 %}active{% endif %}">
      <button type="button" class="btn step-trigger historie-link" onclick="location.href='{% url 'historie:ez' zaznam.ident_cely %}';">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">
              {% trans "Potvrzený" %}
              <span class="app-stepper-date" rel="tooltip" data-placement="bottom"
                    title="{{ history_dates.datum_potvrzeni.uzivatel }}">
                {{ history_dates.datum_potvrzeni.datum|date:'Y-m-d'|default_if_none:"" }}
              </span>
            </span>
      </button>
    </div>
  </div>
</div>
