
{% load i18n %}
<div class="under-header">
    {% if section.igsn.value %}
    <div class="row">
        <div class="label"><strong>{{section.igsn.label}}:</strong></div>
        <div class="content"> {{section.igsn.value}}</div>
    </div>
    {%endif%}
    {% if section.obdobi.value %}
    <div class="row">
        <div class="label"><strong>{{section.obdobi.label}}:</strong></div>
        <div class="content"> {{section.obdobi.value}}{% if section.presna_datace.value %} ({{section.presna_datace.value}}){%endif%}</div>
    </div>
    {%endif%}
    {% if section.druh_nalezu.value %}
    <div class="row">
        <div class="label"><strong>{{section.druh_nalezu.label}}:</strong></div>
        <div class="content"> {{section.druh_nalezu.value}}{% if section.specifikace.value %} ({{section.specifikace.value}}){%endif%}</div>
    </div>
    {%endif%}
    {% if section.katastr.value %}
    <div class="row">
        <div class="label"><strong>{{section.katastr.label}}:</strong></div>
        <div class="content"> {{section.katastr.value}}</div>
    </div>
    {%endif%}
</div>