{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>{% trans 'pas.emails.pws.dobrý_den' %},</p>
{% trans "pas.emails.pws.v_amčr-pas_byly_dnes_archivovány_vámi_přidaný_nálezy:" %}:
<ul style="list-style: none">
    {% for id in ids %}
        <li>{{ id }}</li>
    {% endfor %}
</ul>
<p>{% trans "pas.emails.pws.detaily_zjistíte_po_přihlášení_do_amčr-pas" %}.</p>
<p>
    ------------------------------
    <br>
    {% trans "pas.emails.pws.toto_je_automaticky_generovaná_zpráva_systému_amčr_v_případě_potřeby_kontaktujte_administrátora_arú_praha_amcr@arup_cas_cz_nebo_arú_brno_amcr@arub_cz" %}
    <br>
    {% trans "pas.emails.pws.odesláno_z" %} {{ server_domain }}
</p>
</body>
</html>
