{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Editace oznamovatele" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-entity-projekt">
    {% include "toolbar_projekt.html" with projekt=oznameni.projekt %}
    <form method="post">
      {% crispy form %}
      <input type="submit" name="save" value="{% translate 'Uložit změny' %}" class="btn btn-primary mt-3" id="submit-id-save">
    </form>
  </div> 
{% endblock %}

{% block script %}
{% endblock %}
