{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Editace oznamovatele" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  {% include "toolbar_projekt.html" with showcontrols="false" projekt=projekt %}
  <form method="post">
    {% crispy form %}
    <input type="submit" name="save" value="{% translate 'Upravit' %}" class="btn btn-primary" id="submit-id-save">
  </form>
{% endblock %}

{% block script %}
{% endblock %}
