{% load i18n %}
{% load static %}

<div class="app-header row">
  <div class="col-12 col-md-4 app-left mt-3">
    <a href="#" title="{% trans 'oznameni.templates.oznameni.header.img.mapa.title' %}">
      <img src="{% static 'logo-am-colored-cs.png' %}" alt=""/>
    </a>
  </div>
  <div class="col-12 col-md-8 app-right">
    <div class="row">
      <div class="col mt-3">
        <a href="{{ ARU_PRAHA }}" title="{% trans 'oznameni.templates.oznameni.header.img.praha.title' %}"
           target="_blank" rel="noopener noreferrer">
          <img src="{% static 'logo-arup-cs.png' %}" alt=""/>
        </a>
      </div>
      <div class="col mt-3">
        <a href="{{ ARU_BRNO }}" title="{% trans 'oznameni.templates.oznameni.header.img.brno.title' %}" target="_blank"
           rel="noopener noreferrer">
          <img src="{% static 'logo-arub-cs.png' %}" alt=""/>
        </a>
      </div>
    </div>
  </div>
</div>
