{% load i18n %}
{% load static %}

<div class="app-header row">
  <div class="col-sm-4 app-left">
    <a href="#" title="{% trans 'Archeologická mapa České republiky' %}">
      <img src="{% static 'logo-am-colored-cs.png' %}" alt="" />
    </a>
  </div>
  <div class="col-sm-8 app-right">
    <a href="{{ARU_PRAHA}}" title="{% trans 'Archeologický ústav AV ČR Praha' %}" target="_blank" rel="noopener noreferrer">
      <img src="{% static 'logo-arup-cs.png' %}" alt="" />
    </a>
    <a href="{{ARU_BRNO}}" title="{% trans 'Archeologický ústav AV ČR Brno' %}" target="_blank" rel="noopener noreferrer">
      <img src="{% static 'logo-arub-cs.png' %}" alt="" />
    </a>
  </div>
</div>
