{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "oznameni.templates.oznameni.index.title" %}{% endblock %}

{% block head %}
  <script>
      var global_csrftoken = '{{ csrf_token }}';
  </script>
  <!-- Map imports -->
  <link rel="stylesheet" href="{% static 'js/Leaflet1.9.4/leaflet.css' %}"/>
        <script src="{% static 'js/Leaflet1.9.4/leaflet.js' %}"></script>
  </script>
  <!--Leaflet FullScreen-->
  <script src='{% static 'js/Leaflet.fullscreen1.0.1/Leaflet.fullscreen.min.js' %}'></script>
  <link href='{% static 'js/Leaflet.fullscreen1.0.1/leaflet.fullscreen.css' %}'rel='stylesheet'/>
  <!-- Date picker imports -->
  <script>
    var drp_translations = {
	cancelLabel: '{% trans "drp.cancelLabel" %}',
	applyLabel: '{% trans "drp.applyLabel" %}'
    }
  </script>  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js" integrity="sha512-NOqkPURPEeHGvb+6NAzb8hfxqUh9XvuaCDP+FevWSPM5a9yD8eLTVCwDzHh0G+mDRXH044rGtMKxyaDncAW4cw==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}" />
  <!-- static leaflet additional import-->
  <link rel="stylesheet" href="{% static 'leaflet.measure.css' %}?v2"/>
  <script src="{% static 'leaflet.measure.js' %}?v1"></script>
  <script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'daterangepicker.css' %}"/>

  <link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
  <script src="{% static 'leaflet-search.js' %}"></script>
{% endblock %}

{% block content %}

  {% include "oznameni/header.html" %}
  {% include "components/uvod.html" %}

  <div class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step active">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.index.stepper.vytvoreniOznameni" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.index.stepper.uploadProjDokumentace" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.index.stepper.oznameno" %}</span>
        </button>
      </div>
    </div>
  </div>

  <form method="post" class="submit-spinner">
    <div class="row mb-4">
      <div class="col-sm-12">
        {% crispy form_oznamovatel %}
      </div>

    </div>
    <div class="row mb-4">
      <div class="col-sm-6">
        {% crispy form_projekt %}
      </div>
      <div class="col-sm-6">
        <small id="hint_id_map"class="form-text text-muted">{% trans "oznameni.templates.oznameni.index.kliknutieMapa" %}</small>
        {% include "map.html" %}
      </div>
    </div>
    <div class="row mb-4 app-footer">
      <div class="col-sm-9">
        <button type="button" class="btn btn-secondary mt-0" data-toggle="modal" data-target="#precistPodminky">
          {% trans "oznameni.templates.oznameni.index.precistPodminky" %} <span class="material-icons">info</span>
        </button>
        <div class="form-check" id="div_id_souhlas" style="top: 3px;">
          <input class="form-check-input" type="checkbox" value="" id="id_souhlas" required="" name="souhlas">
          <label class="form-check-label requiredField" for="id_souhlas" for="defaultCheck1">
            {% trans "oznameni.templates.oznameni.index.souhlasSPodminkami" %}
            <span class="asteriskField">*</span>
          </label>
        </div>
        <div class="modal fade app-modal-podminky" id="precistPodminky" tabindex="-1" aria-labelledby="precistPodminkylLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans "oznameni.templates.oznameni.index.informaceGDPR" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% include "oznameni/podminky.html" %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "oznameni.templates.oznameni.index.zavritPodminky" %}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <button type="submit" name="save" id="submit-id-save" class="btn btn-primary mt-0">
          {% trans 'oznameni.templates.oznameni.index.dalsiKrok' %} <span class="material-icons submit-remove">arrow_forward</span>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
          style="display: none"></span>
        </button>
      </div>
    </div>
    {% if form_captcha %}
      <div class="app-captcha">
        {{ form_captcha }}
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block script %}
  <script >
    var static_url = "{% get_static_prefix %}";
  </script>
  <script>
    var map_translations = {
      CurrentLocationError: '{% trans "mapa.CurrentLocationError" %}',
      cuzkKatastralniMapa: '{% trans "mapa.cuzkKatastralniMapa" %}',
      cuzkKatastralniUzemi: '{% trans "mapa.cuzkKatastralniUzemi" %}',
      cuzkOrtofotomapa: '{% trans "mapa.cuzkOrtofotomapa" %}',
      cuzkStinovanyeelief5G: '{% trans "mapa.cuzkStinovanyeelief5G" %}',
      cuzkzakladniMapyCr: '{% trans "mapa.cuzkzakladniMapyCr" %}',
      npuPamatkovaOchrana: '{% trans "mapa.npuPamatkovaOchrana" %}',
      DefaultTitle: '{% trans "mapa.DefaultTitle" %}',
      EditTurnOff: '{% trans "mapa.EditTurnOff" %}',
      EditTurnOn: '{% trans "mapa.EditTurnOn" %}',
      FullscreenTitle: '{% trans "mapa.FullscreenTitle" %}',
      FullscreenTitleClose: '{% trans "mapa.FullscreenTitleClose" %}',
      lokalizaceProjektu: '{% trans "mapa.lokalizaceProjektu" %}',
      lokalizace: '{% trans "mapa.lokalizaceOznameni" %}',
      MeasureTitle: '{% trans "mapa.MeasureTitle" %}',
      openStreetMap: '{% trans "mapa.openStreetMap" %}',
      openStreetMapSeda: '{% trans "mapa.openStreetMapSeda" %}',
      SelectedLocation: '{% trans "mapa.SelectedLocation" %}',
      zoomInTitle: '{% trans "mapa.zoomInTitle" %}',
      zoomOutTitle: '{% trans "mapa.zoomOutTitle" %}',
      lokalizaceZamer: '{% trans "mapa.lokalizaceZamer" %}',
      mimoCR: '{% trans "mapa.mimoCR" %}'
    };

    var leaflet_search_translations = {
      KatastralniUzemi: '{% trans "leaflet_search.KatastralniUzemi" %}',
      Okres: '{% trans "leaflet_search.Okres" %}',
      Obec: '{% trans "leaflet_search.Obec" %}',
      Adresa: '{% trans "leaflet_search.Adresa" %}',
      Ulice: '{% trans "leaflet_search.Ulice" %}',
      Geonames: '{% trans "leaflet_search.Geonames" %}',
      Parcela: '{% trans "leaflet_search.Parcela" %}',
      Stavebni: '{% trans "leaflet_search.Stavebni" %}',
      Pozemkova: '{% trans "leaflet_search.Pozemkova" %}',
      SearchTextCancel: '{% trans "leaflet_search.SearchTextCancel" %}',
      SearchTextError: '{% trans "leaflet_search.SearchTextError" %}'
  };

  </script>
  <script src="{% static 'coor_precision.js' %}"></script>
  <script src="{% static 'coordTransform.js' %}"></script>
  <script src="{% static 'mapa_basic_grey.js' %}"></script>
  <script src="{% static 'mapa_pins.js' %}"></script>
  <script src="{% static 'mapa_oznameni.js' %}"></script>
  <script src="{% static 'daterangepicker.js' %}"></script>
  <script>
    window.onload = function (){
      load_daterangepicker("div_id_planovane_zahajeni")
      var addPointToPoiLayer = (point_leaf, text) => {
            L.marker(point_leaf,{icon: pinIconRedProject}).bindPopup(text).addTo(poi);
        }
      x1=document.getElementById('id_coordinate_x1').value;
      x2=document.getElementById('id_coordinate_x2').value;
      if(x1>0 ){
        addPointToPoiLayer([x2, x1], 'Vámi vybraná poloha záměru');
      }
    };

  </script>
{% endblock %}
