{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Oznámení o stavebním či jiném záměru{% endblock %}

{% block head %}
  <script>
      var global_csrftoken = '{{ csrf_token }}';
  </script>
  <!-- Map imports -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="">
  </script>
  <!-- Date picker imports -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

  <!-- stepper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
{% endblock %}

{% block content %}

  {% include "components/uvod.html" %}

  <div class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step active" data-target="#test-l-1">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">{% trans "Vytvoření oznámení" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">{% trans "Upload projektové dokumentace" %}</span>
        </button>
      </div>
    </div>
  </div>

  <form method="post">
    <div class="row app-row-gap-double">
      <div class="col-sm-12">
        {% crispy form_oznamovatel %}
      </div>
    </div>
    <div class="row app-row-gap-double">
      <div class="col-sm-6">
        {% crispy form_projekt %}
      </div>
      <div class="col-sm-6">
        <small id="hint_id_map"class="form-text text-muted">{% trans "Kliknutím do mapy prosím lokalizujte záměr." %}</small>
        {% include "map.html" %}
      </div>
    </div>
    <div class="row app-row-gap-double app-footer">
      <div class="col-sm-9">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#precistPodminky">
          {% trans "Přečíst podmínky" %} <span class="material-icons">info</span>
        </button>
        <div class="form-check" id="div_id_souhlas">
          <input class="form-check-input" type="checkbox" value="" id="id_souhlas" required="" name="souhlas">
          <label class="form-check-label requiredField" for="id_souhlas" for="defaultCheck1">
            {% translate "Souhlasím s podmínkami o zpracování osobních údajů" %}
            <span class="asteriskField">*</span>
          </label>
        </div>
        <div class="modal fade app-modal-podminky" id="precistPodminky" tabindex="-1" aria-labelledby="precistPodminkylLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans "Informace o zpracování osobních údajů" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% include "oznameni/podminky.html" %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Zavřít" %}</button>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="col-sm-3 text-right">
        <div class="app-captcha">
          {{ form_captcha }}
        </div>
        <!-- <input type="submit" name="save" value="{% translate 'Přejít na další krok' %}" class="btn btn-primary" id="submit-id-save"> -->
        <button type="submit" name="save" id="submit-id-save" class="btn btn-primary">
          {% translate 'Přejít na další krok' %} <span class="material-icons">arrow_forward</span>
        </button>
      </div>
    </div>
  </form>
{% endblock %}

{% block script %}
  <script src="{% static 'map.js' %}"></script>
  <script src="{% static 'daterangepicker.js' %}"></script>
{% endblock %}
