{% load i18n %}

<!-- <h1>Informace o zpracování osobních údajů</h1> -->
<h3>{% trans "oznameni.templates.oznameni.podminky.header" %}</h3>
<hr />
<h4>{% trans "oznameni.templates.oznameni.index.uvodniInformace.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.uvodniInformace.text" %}</p>

<h4>{% trans "oznameni.templates.oznameni.index.spravce.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.spravce.text" %}</p>

<h4>{% trans "oznameni.templates.oznameni.index.obecne.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.obecne.text" %}</p>

<h4>{% trans "oznameni.templates.oznameni.index.ucel.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.ucel.text" %}</p>

<h4>{% trans "oznameni.templates.oznameni.index.rozsah.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.rozsah.text" %}</p>

<ul>
  <li>{% trans "oznameni.templates.oznameni.index.rozsah.jmeno" %}</li>
  <li>{% trans "oznameni.templates.oznameni.index.rozsah.prijmeni" %}</li>
  <li>{% trans "oznameni.templates.oznameni.index.rozsah.adresa" %}</li>
  <li>{% trans "oznameni.templates.oznameni.index.rozsah.telefon" %}</li>
  <li>{% trans "oznameni.templates.oznameni.index.rozsah.email" %}</li>
  <li>{% trans "oznameni.templates.oznameni.index.rozsah.udaje" %}</li>
</ul>

<h4>{% trans "oznameni.templates.oznameni.index.doba.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.doba.text" %}</p>

<h4>{% trans "oznameni.templates.oznameni.index.dalsiInformace.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.dalsiInformace.text" %}</p>

<h4>{% trans "oznameni.templates.oznameni.index.pouceni.title" %}</h4>
<p>{% trans "oznameni.templates.oznameni.index.pouceni.text1" %}</p>

<p>{% trans "oznameni.templates.oznameni.index.datum" %}</p>
