{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "oznameni.templates.oznameni.sucess.title" %}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}" />
{% endblock %}

{% block content %}

  {% include "oznameni/header.html" %}

  <div class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.sucess.stepper.vytvoreniOznameni" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.sucess.stepper.uploadProjDokumentace" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step active">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.sucess.stepper.oznameno" %}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="jumbotron mb-0">
    <h1 class="display-4">{% trans "oznameni.templates.oznameni.sucess.dakujemeText1" %}</h1>
    <p class="lead">{% trans "oznameni.templates.oznameni.sucess.dakujemeText2" %}</p>
    <p class="lead">{% trans "oznameni.templates.oznameni.sucess.dakujemeText3" %}<a
        href="http://www.archeologickamapa.cz/">{% trans "oznameni.templates.oznameni.sucess.archMapaCr" %}
      </a>{% trans "oznameni.templates.oznameni.sucess.dakujemeText4" %}<a
        href="https://www.mkcr.cz/seznam-organizaci-opravnenych-k-provadeni-archeologickych-vyzkumu-278.html">{% trans "oznameni.templates.oznameni.sucess.opravnenychorg" %}
      </a>{% trans "oznameni.templates.oznameni.sucess.dakujemeText5" %}</p>
    <p class="lead">{% trans "oznameni.templates.oznameni.sucess.dakujemeText6" %}</p>
    <p class="lead">{% trans "oznameni.templates.oznameni.sucess.dakujemeText7" %}<a
        href="https://www.zakonyprolidi.cz/cs/1987-20#cast3">{% trans "oznameni.templates.oznameni.sucess.zakon" %}
      </a>{% trans "oznameni.templates.oznameni.sucess.dakujemeText8" %}
    </p>
    <hr class="my-4">
    <div
        class="alert alert-success">{% trans "oznameni.templates.oznameni.sucess.dakujemeText9" %} {{ ident_cely }}.
    </div>
    <p class="lead">{% trans "oznameni.templates.oznameni.sucess.dakujemeText10" %}</p>
    <p class="lead">{% trans "oznameni.templates.oznameni.sucess.dakujemeText11" %}</p>
    <p class="lead">{% trans "oznameni.templates.oznameni.sucess.dakujemeText12" %}</p>
    <a class="btn btn-primary" href="{% url 'oznameni:index' %}" role="button">{% trans "oznameni.templates.oznameni.sucess.oznamitDalsiProjekt" %}</a>
  </div>

{% endblock content %}
