{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "oznameni.templates.oznameni.sucess.title" %}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}" />
{% endblock %}

{% block content %}

  {% include "oznameni/header.html" %}

  <div class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.sucess.stepper.vytvoreniOznameni" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.sucess.stepper.uploadProjDokumentace" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step active">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">{% trans "oznameni.templates.oznameni.sucess.stepper.oznameno" %}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="jumbotron mb-0">
    <h1 class="display-4">{% trans "oznameni.templates.oznameni.sucess.dakujemeText1" %}</h1>
    {% trans "oznameni.templates.oznameni.sucess.dakujemeText2" %}
    <hr class="my-4">
    <div
        class="alert alert-success">{% trans "oznameni.templates.oznameni.sucess.dakujemeText9" %} {{ ident_cely }}.
    </div>
    {% trans "oznameni.templates.oznameni.sucess.dakujemeText10" %}
    <a class="btn btn-primary" href="{% url 'oznameni:index' %}" role="button">{% trans "oznameni.templates.oznameni.sucess.oznamitDalsiProjekt" %}</a>
  </div>

{% endblock content %}
