{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Oznámení o stavebním či jiném záměru{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}" />  
{% endblock %}

{% block content %}
  <div class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">{% trans "Vytvoření oznámení" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">{% trans "Upload projektové dokumentace" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step active">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">{% trans "Oznámeno" %}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">{% translate "Děkujeme za provedení zápisu" %}</h1>
    <p class="lead">{% translate "vašeho stavebního či jiného záměru na území s archeologickými nálezy a splnění povinnosti uložené zákonem č. 20/1987 Sb. o státní památkové péči v platném znění." %}</p>
    <p class="lead">{% translate "Vaše oznámení bylo vloženo do informačního systému " %}<a
        href="http://www.archeologickamapa.cz/">Archeologická mapa
      ČR</a>{% translate ", který využívají organizace oprávněné provádět archeologické výzkumy. V blízké budoucnosti můžete očekávat, že budete osloveni některou z " %}<a
        href="https://www.mkcr.cz/seznam-organizaci-opravnenych-k-provadeni-archeologickych-vyzkumu-278.html">oprávněných
      organizací</a>{% translate " s žádostí o uzavření dohody o provedení záchranného archeologického výzkumu." %}</p>
    <p class="lead">{% translate "V případech, kdy nebudete osloveni oprávněnou organizací ve věci uzavření dohody o provedení záchranného archeologického výzkumu, nic nebrání zahájení zemních prací." %}</p>
    <p class="lead">{% translate "Dovolujeme si však upozornit, že v případě objevení náhodného archeologického nálezu je nadále vaší povinností podle " %}<a
        href="https://www.zakonyprolidi.cz/cs/1987-20#cast3">§ 176 zákona č. 183/2006
      Sb.</a>{% translate " o územním plánování a stavebním řádu oznámit tuto skutečnost neprodleně stavebnímu úřadu a orgánu státní památkové péče a také Archeologickému ústavu nebo nejbližšími muzeu podle § 23 odst. 2 zákona č. 20/1987 Sb. o státní památkové péči v platném znění." %}
    </p>
    <hr class="my-4">
    <div
        class="alert alert-success">{% translate "Oznámený projekt byl úspěšně uložen pod identifikátorem" %} {{ ident_cely }}.
    </div>
    <p class="lead">{% translate "Na zadaném emailu naleznete rekapitulaci Vašeho oznámení. Potvrzení o oznámení Vám bude odesláno na Vámi zadaný email po kontrole a schválení oznámení Archeologickým ústavem." %}</p>
    <p class="lead">{% translate "V případě zadání chybných údajů nás neváhejte kontaktovat na oznameni@arup.cas.cz (Čechy), nebo oznameni@arub.cz (Morava a Slezsko)." %}</p>
    <p class="lead">{% translate "Nyní můžete tuto stránku zavřít nebo oznámit další projekt." %}</p>
    <a class="btn btn-primary" href="{% url 'oznameni:index' %}" role="button">{% translate "Oznámit další projekt" %}</a>
  </div>

{% endblock content %}
