body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    overflow-x: hidden;
    display: block;
}

body.app-error {
    padding: 1.5rem 1rem;
    background-color: #303641;
    background-image: url(/static/static/img/login-bg.svg?57cf2e20da6a);
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center 50px;
}

body.app-error.oznameni {
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.d-flex{
    display: flex!important;
}

#app-page-wrapper {
    min-width: 100vh;
    width: 100%;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: relative;
}

body.app-error #app-page-wrapper .container-fluid {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.app-header {
    margin-bottom: 1.5rem!important;
}

.app-left a img {
    max-height: 60px;
}

body.app-error .app-login-wrapper {
    flex-direction: column;
    min-height: calc(100vh - (1.5rem * 2));
    justify-content: center;
    display: flex!important;
}

.app-right {
    align-items: center!important;
    justify-content: flex-end!important;
    display: flex!important;
}

.app-right a img {
    opacity: .5;
    filter: grayscale(100%);
    max-height: calc(60px - 20px);
    vertical-align: middle;
    border-style: none;
}

.jumbotron {
    padding: 1.5rem!important;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

.jumbotron h1 {
    font-weight: 200!important;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 3.5rem;
        margin-top: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 576px){
.col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
}

@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}

.col-lg-4, .col-lg-2, .col-lg-8, .col-sm-4 ,.col-sm-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px){
.col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}

.mb-4{
    margin-bottom: 1.5rem!important;
}

img {
    vertical-align: middle;
    border-style: none;
}

@media (min-width: 992px){
.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
}

@media (min-width: 992px){
.col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
}

.mb-0 {
    margin-bottom: 0!important;
}

h1, .h1 {
    font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    text-align: center;
}

div {}