{% extends "rosetta/base.html" %}
{% load i18n static %}
{% load compress %}

{% block header %}
    {{block.super}}
    <div id="user-tools" class="app-restart">
            <form action="{% url 'core:application-restart' %}" id="app-restart-form" method="post">
                {% csrf_token %}
                <button type="submit" class="nav-link">
                   {% trans "templates.rosetta.filelist.restart.text" %} 
                </button>
              </form>
    </div>
    <script type="text/javascript">
    </script>

{% endblock %}

{% block pagetitle %}{{block.super}} - {% trans "Language selection" %}{% endblock %}

{% block extra_styles %}
<link type="text/css" href="{% static 'css/rosetta_extend.css' %}" rel="stylesheet" media="screen">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<script src="{% static '/js/modal_forms_class.js' %}"></script>          
{% compress css %}
<link type="text/x-scss" href="{% static 'scss/_app_rosetta_modal.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}
{% endblock %}

{% block breadcumbs %}
    <div><a href="{% url 'rosetta-file-list' po_filter=po_filter %}">{% trans "Home" %}</a> &rsaquo; {% trans "Language selection" %}</div>
    {% if do_session_warn %}<p class="errornote session-warn">{% trans "Couldn't load the specified language file. This usually happens when using the Encrypted Cookies Session Storage backend on Django 1.4 or higher.<br/>Setting ROSETTA_STORAGE_CLASS = 'rosetta.storage.CacheRosettaStorage' in your settings file should fix this." %}</p>{% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="{{message.tags}}note save-conflict">
                <p class="{{message.tags}}">{{ message|linebreaks }}</p>
            </div>
            {% endfor %}
    {% endif %}
{% endblock %}

{% block main %}
    <h1>&nbsp;</h1>
    <ul class="object-tools">
        <li class="nobubble">{% trans "Filter" %}:</li>
        <li{% if po_filter == 'project' %} class="active"{% endif %}><a href="{% url 'rosetta-file-list' po_filter='project' %}">{% trans "Project" %}</a></li>
        <li{% if po_filter == 'third-party' %} class="active"{% endif %}><a href="{% url 'rosetta-file-list' po_filter='third-party' %}">{% trans "Third party" %}</a></li>
        <li{% if po_filter == 'django' %} class="active"{% endif %}><a href="{% url 'rosetta-file-list' po_filter='django' %}">Django</a></li>
        <li{% if po_filter == 'all' %} class="active"{% endif %}><a href="{% url 'rosetta-file-list' po_filter='all' %}">{% trans "All" %}</a></li>
    </ul>

    {% if has_pos %}

    {% for lid,language,pos in languages %}
    {% if pos %}

        <div class="module">
            <h2>{{language}}</h2>
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th>{% trans "Application" %}</th>
                        <th class="r">{% trans "Progress"%}</th>
                        <th class="r">{% trans "Messages" %}</th>
                        <th class="r">{% trans "Translated" %}</th>
                        <th class="info-tip r" title="{% trans "Fuzzy entries call for revision by the translator." %}">{% trans "Fuzzy"%}</th>
                        <th class="r">{% trans "Obsolete"%}</th>
                        <th>{% trans "File" %}</th>
                        <th>{% trans "templates.rosetta.file-list.odstranit.text" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app,path,po in pos %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        {% with forloop.counter0 as new_id %}
                        <td><a href="{% url 'rosetta-form' po_filter=po_filter lang_id=lid idx=new_id %}">{{ app|title }}</a></td>
                        <td class="ch-progress r">{{po.percent_translated}}%</td>
                        {% with po.untranslated_entries|length as len_untranslated_entries %}
                        <td class="ch-messages r">{{po.translated_entries|length|add:len_untranslated_entries}}</td>
                        {% endwith %}
                        <td class="ch-translated r">{{po.translated_entries|length}}</td>
                        <td class="ch-fuzzy r">{{po.fuzzy_entries|length}}</td>
                        <td class="ch-obsolete r">{{po.obsolete_entries|length}}</td>
                        <td class="hint">{{ path }}</td>
                        <td class="" >
                            {% if '_backup_' in path %}
                            <button id="objekt-smazat-{{lid}}-{{ new_id }}" class="objekt-smazat-btn" type="button" name="button"
                                href="{% url 'core:rosetta-smazat-file' po_filter lid new_id %}">
                            <span class="material-icons app-color-danger">delete_forever</span>
                            </button>
                            {% endif %}
                        </td>
                        {% endwith %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal fade app-modal-form" tabindex="-1" role="dialog" id="modal-form">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content form" id="id-modal-content"></div>
            </div>
          </div>
    {% endif %}
    {% endfor %}

    {% else %}
    <h1>{% trans "Nothing to translate!" %}</h1>
    <p>{% trans "You haven't specified any languages in your settings file, or haven't yet generated a batch of translation catalogs." %}</p>
    <p>{% blocktrans with "http://docs.djangoproject.com/en/dev/topics/i18n/#topics-i18n" as i18n_doc_link  %}Please refer to <a href="{{i18n_doc_link}}">Django's I18N documentation</a> for a guide on how to set up internationalization for your project.{% endblocktrans %}</p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js" 
          integrity="sha512-CJXg3iK9v7yyWvjk2npXkQjNQ4C1UES1rQaNB7d7ZgEVX2a8/2BmtDmtTclW4ial1wQ41cU34XPxOw+6xJBmTQ==" 
          crossorigin="anonymous"></script>
    <script src="{% static '/js/selectpicker-cs.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
          integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
          crossorigin="anonymous"></script>
  <script src="{% static '/js/datepicker-cs.js' %}"></script>
    <script>
        
        document.addEventListener('DOMContentLoaded', function (event) {
            if (document.getElementsByClassName("objekt-smazat-btn")){
                elements = document.getElementsByClassName("objekt-smazat-btn")
                for (let i = 0; i < elements.length; i++){
                  var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
                  formID: "smazat-translation-form",
                  modalFormID: "#smazat-translation-form",
                  })
                  console.log(elements.item(i).id)
                  new Modal(options, elements.item(i).id);
                }
              }
            })
    </script>
{% endblock %}
