{% extends 'admin/change_list.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
  <style>
      .form-group {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
      }

      .form-label {
          width: 300px;
          margin-right: 10px;
      }
  </style>
{% endblock %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans "core.templates.admin.import_data.home_link" %}</a>
    {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
  </div>
{% endblock %}

<h2>{% trans "core.templates.admin.import_data.heading" %}</h2>

{% block content %}
  <div id="content-main">
    {% if not request.user.is_superuser %}
      <p>{% trans "core.templates.admin.import_data.not_superuser" %}</p>
      {% elif not maintenance %}
      <p>{% trans "core.templates.admin.import_data.not_maintenance" %}</p>
      {% elif validation_results %}
      <div class="submit-row">
        <input type="submit" id="stopRequests" class="default"
               value="{% trans "core.templates.admin.import_data.stop_request" %}">
      </div>
      <p id="processFinishedParagraph" style="display: none">
        <strong>{% trans "core.templates.admin.import_data.finished" %}</strong>
      </p>
      <div id="progressBarBox" style="margin-bottom: 1rem">
        <div id="progressBar"></div>
      </div>
      {% if invalid_records %}
        <p>
          <strong>{% trans "core.templates.admin.import_data.invalid_records" %}</strong>: {{ invalid_records }}
        </p>
      {% endif %}
      <table id="result_list" class="table table-bordered table-striped">
        <tr>
          <th>{% trans "core.templates.admin.import_data.id" %}</th>
          <th>{% trans "core.templates.admin.validation_result" %}</th>
          <th>{% trans "core.templates.admin.status" %}</th>
        </tr>
        {% for result in validation_results %}
          <tr>
            <td>{{ forloop.counter0 }} ({{ result.0 }})</td>
            <td>{{ result.1 }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <form method="post" enctype="multipart/form-data">
        <div>
          <fieldset class="module aligned">
            {{ update_metadata_file_form.non_field_errors }}
            {% csrf_token %}
            <div class="form-group">
              <label for="id_performed_action" class="form-label">
                {{ form.performed_action.label }}
              </label>
              {{ form.performed_action }}
            </div>
            <div class="form-group">
              <label for="id_ident_list_file" class="form-label">
                {{ form.data_file.label }}
              </label>
              <input type="file" id="id_data_file" name="data_file" required accept=".zip">
            </div>
          </fieldset>
          <div class="submit-row">
            <input type="submit" value="{% trans 'Save' %}" class="default" name="_save">
          </div>
        </div>
      </form>
    {% endif %}
  </div>

  <script>
      let stopRequests = {% if stop_request is True %}true{% else %}false{% endif %};
      document.getElementById("stopRequests").addEventListener("click", () => {
          stopRequests = true;
      });

      const requestUrl = "{{ url }}";

      async function sendRequest(url) {
          try {
              if (stopRequests) {
                  return -1;
              }

              const response = await fetch(url);
              if (!response.ok) {
                  throw new Error(`HTTP error! status: ${response.status}`);
              }

              const data = await response.json();

              const progressBar = document.getElementById("progressBar");
              progressBar.style.width = data.progress + "%"

              const table = document.getElementById("result_list");
              for (let i = 0; i < data.finished_record_count; i++) {
                  const row = table.rows[i + 1];
                  row.cells[2].innerText = data.serialized_results[i];
              }

              if (data.status === "finished") {
                  document.getElementById("stopRequests").disabled = true;
                  stopRequests = true;
              }

          } catch (error) {
              console.error("Error fetching data:", error);
              return 0;
          }

      }

      async function process() {
          do {
              await sendRequest(requestUrl);
              await new Promise(resolve => setTimeout(resolve, 1000));
          } while (stopRequests === false);
      }

      process();
  </script>
{% endblock content %}
