{% extends "arch_z/detail_common.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{% trans "arch_z.templates.arch_z.arch_z_detail.detailAkce.title" %}{% endblock %}


    {% block zaznam_detail %}
    <div class="app-entity-akce">
    {% translate "arch_z.templates.arch_z.arch_z_detail.toolbar.dalsiVolby.title" as toolbar_name%}
    {% trans "arch_z.templates.arch_z.arch_z_detail.toolbar.dalsiVolby.digiArchivLink.label" as digi_archiv_label %}
    {% trans "arch_z.templates.arch_z.arch_z_detail.toolbar.dalsiVolby.oaiapi.label" as oaiapi_label %}
    {% include "toolbar_akce.html" with showcontrols=True type="akce" name=toolbar_name %}

    <!-- stepper -->
    {% include "arch_z/arch_z_stepper.html" with type="akce" %}

    <!-- detail -->
    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "arch_z.templates.arch_z.arch_z_detail.cardHeader.detail.label" %}
        </div>
        {% if show.editovat %}
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn" href="{% url 'arch_z:edit' zaznam.ident_cely %}" rel="tooltip"
               data-placement="top" title="{% trans 'arch_z.templates.arch_z.arch_z_detail.editButtons.upravit.label' %}">
              <span class="material-icons">edit</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="card-body formset-table">
        {% if warnings %}
        <div class="alert alert-info" role="alert">
          <ul>
            {% for warning in warnings %}
              <li>{{ warning }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
        <div class="row">
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.hlavniKatastr.label" %}</label>
              <input id="main_cadastre_id" class="form-control" type="text" value="{{ zaznam.hlavni_katastr|check_if_none }}"
                     readonly>
            </div>
          </div>
          <div class="col-md-8 col-lg-4">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.dalsiKatastry.label" %}</label>
              <input id="other_cadastre_id" class="form-control" type="text" value="{{ zaznam.katastry.all|katastry_to_list|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.hlavniVedouci.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.hlavni_vedouci|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.organizace.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.organizace|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.uzivatelskeOznaceni.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.uzivatelske_oznaceni|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.hlavniTyp.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.hlavni_typ|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.vedlejsiTyp.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.vedlejsi_typ|check_if_none }}" readonly>
            </div>
          </div>
          <div class="form-group col-md-2">
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.specifikaceData.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.specifikace_data|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.datumZahajeni.label" %}</label>
              {% if presna_specifikace %}
              <input class="form-control" type="text" value="{{ zaznam.akce.datum_zahajeni|date:'j.n.Y'|check_if_none }}"
                     readonly>
              {% else %}
              <input class="form-control" type="text" value="{{ zaznam.akce.datum_zahajeni|date:'Y'|check_if_none }}"
                     readonly>
              {% endif %}
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.datumUkonceni.label" %}</label>
              {% if presna_specifikace %}
              <input class="form-control" type="text" value="{{ zaznam.akce.datum_ukonceni|date:'j.n.Y'|check_if_none }}"
                     readonly>
              {% else %}
              <input class="form-control" type="text" value="{{ zaznam.akce.datum_ukonceni|date:'Y'|check_if_none }}"
                     readonly>
              {% endif %}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.lokalizaceOkolnosti.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.lokalizace_okolnosti|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.poznamka.label" %}</label>
              <textarea class="textarea form-control" cols="40" rows="4" placeholder="{{ zaznam.akce.souhrn_upresneni|check_if_none }}"
                        readonly>{{ zaznam.akce.souhrn_upresneni|check_if_none }}</textarea>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.ulozeniNalezu.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.ulozeni_nalezu|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.ulozeniDokumentace.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.ulozeni_dokumentace|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.pristupnost.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.pristupnost|check_if_none }}" readonly>
            </div>
          </div>
          <div class="col-sm-2 je_nz">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.odeslatZaaJakoNz.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.je_nz|true_false }}" readonly>
            </div>
          </div>
          {% if not zaznam.akce.projekt %}
          <div class="col-sm-2">
            <div class="form-group">
              <label>{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.odlozenaNz.label" %}</label>
              <input class="form-control" type="text" value="{{ zaznam.akce.odlozena_nz|true_false }}" readonly>
            </div>
          </div>
          {% endif %}
        </div>
        {% if ostatni_vedouci_objekt_formset.forms %}
          <div class="row">
            <div class="col-sm-12">
              <span class="app-divider-label">{% trans "arch_z.templates.arch_z.arch_z_detail.detailForm.vytvorDalsihoVedouci.label" %}</span>
              <hr class="mt-0"/>
            </div>
          </div>
          {% crispy ostatni_vedouci_objekt_formset ostatni_vedouci_objekt_formset_helper %}
        {% else %}

        {% endif %}
      </div>
    </div>

{% endblock %}

{% block arch_projekt %}
  {% if arch_projekt_link %}
    <button id="archive_projekt" hidden class="dropdown-item archive_projekt" type="button" name="button">
    </button>
  {% endif %}
  {% if arch_projekt_link_uzavrit %}
    <button id="uzavri_projekt" hidden class="dropdown-item uzavri_projekt" type="button" name="button">
    </button>
  {% endif %}
{% endblock %}

{% block script_detail %}
    <script>
    document.addEventListener('DOMContentLoaded', function (event) {
        {% for row in akce_zaznam_ostatni_vedouci %}
            i = {{ forloop.counter0 }};
            vedouci_filed = document.getElementById(`id_akcevedouci_set-${i}-vedouci`);
            vedouci_filed.value = "{{ row.0 }}";
            organizace_field = document.getElementById(`id_akcevedouci_set-${i}-organizace`);
            organizace_field.value = "{{ row.1 }}";
        {% endfor %}
      })
  </script>
  <script>
    var global_map_projekt_ident='{{zaznam.akce.projekt.ident_cely}}';
    if(global_map_projekt_ident.length==0){
      global_map_projekt_ident=document.getElementById("id-app-entity-item").textContent.trim().split("Zpět")[0];
    }
    //console.log("zaznam "+global_map_projekt_ident)
    //modal scripts
    document.addEventListener('DOMContentLoaded', function (event) {
      {% if arch_projekt_link and arch_projekt_link.0 %}
        if ("{{arch_projekt_link}}" !== "None"){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'projekt:projekt_archivovat' zaznam.akce.projekt.ident_cely %}?sent_stav={{projekt.stav}}&from_arch=true",
          formID: "archivovat-form",
          modalFormID: "#archivovat-form",
          })
          try {
            arch_projekt = new Modal(options, "archive_projekt");
            document.getElementById("archive_projekt").click();
          } catch (e) {
            console.log(e);
          }
        };
      {% endif %}
      {% if arch_projekt_link_uzavrit and arch_projekt_link_uzavrit.0 %}
        if ("{{arch_projekt_link_uzavrit}}" !== "None"){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'projekt:projekt_uzavrit' zaznam.akce.projekt.ident_cely %}?sent_stav={{projekt.stav}}&from_arch=true",
          formID: "uzavrit-form",
          modalFormID: "#uzavrit-form",
          })
          try {
            arch_projekt = new Modal(options, "uzavri_projekt");
            document.getElementById("uzavri_projekt").click();
          } catch (e) {
            console.log(e);
          }
        };
      {% endif %}
      if ("{{show.odeslat_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:odeslat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "odeslat-akci-form",
        modalFormID: "#odeslat-akci-form",
      })
      odeslat_akci_modal = new Modal(options, "akce-odeslat");
      };
      if ("{{show.vratit_link}}" != "False"){
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:vratit' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "vratit-akci-form",
        modalFormID: "#vratit-akci-form",
      })
      vratit_akci_modal = new Modal(options, "akce-vratit");
      }
      if ("{{show.archivovat_link}}" != "False"){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'arch_z:archivovat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
          formID: "archivovat-akci-form",
          modalFormID: "#archivovat-akci-form",
        })
      archivovat_akci_modal = new Modal(options, "akce-archivovat");
      }
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formURL: "{% url 'arch_z:smazat' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
        formID: "smazat-akci-form",
        modalFormID: "#smazat-akci-form",
      })
      smazat_akci_modal = new Modal(options, "akce-smazat");
      if ("{{show.zmenit_proj_akci}}" != "False"){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'arch_z:zmenit-proj-akci' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
          formID: "zmenit-akci-form",
          modalFormID: "#zmenit-akci-form",
        })
        new Modal(options, "arch_z-proj-akce-change");
      }
      if ("{{show.zmenit_sam_akci}}" != "False"){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formURL: "{% url 'arch_z:zmenit-sam-akci' zaznam.ident_cely %}?sent_stav={{zaznam.stav}}",
          formID: "zmenit-akci-form",
          modalFormID: "#zmenit-akci-form",
        })
        new Modal(options, "arch_z-sam-akce-change");
      }
      if (document.getElementById("main_cadastre_id")!==null) {
              const currentUrl = window.location.href;
              const urlParams = new URLSearchParams(window.location.search);
              if(urlParams.get('geometry') ==null && !currentUrl.includes("/dj/")){
                arch_select_perspective(
                  currentUrl,
                  document.getElementById("main_cadastre_id").value,
                  '{{ zaznam.ident_cely }}',
                  ""
                )
              }
        }
    });
  </script>
{% endblock %}
