{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Nová projektová akce" %}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-entity-akce">
    {% include "toolbar_akce.html" with showcontrols="false" %}
    <form method="post">
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {% trans "Nová projektová akce" %}
          </div>
        </div>
        <div class="card-body">
          {% crispy formAZ %}
          {% crispy formAkce %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">{% trans "Vytovřit akci" %}</button>
    </form>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
