{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
<script>
    var global_csrftoken = '{{ csrf_token }}';
</script>
 <!-- Autocomplete media files -->
 <link href="/static/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet" type="text/css">
 <link href="/static/static/admin/css/autocomplete.css" media="screen" rel="stylesheet" type="text/css">
 <link href="/static/static/autocomplete_light/select2.css" media="screen" rel="stylesheet" type="text/css">
 <script src="/static/static/admin/js/vendor/select2/select2.full.js"></script>
 <script src="/static/static/autocomplete_light/autocomplete_light.js"></script>
 <script src="/static/static/autocomplete_light/select2.js"></script>
 <script src="/static/static/autocomplete_light/i18n/cs.js"></script>
 {% endblock %}

{% block content %}
<div class="app-entity-akce">
  {% include "toolbar_akce.html" with type="akce" %}
  <form method="post" onsubmit="actionSubmitBtn.disabled = true; return true;">
    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {{ header }}
        </div>
      </div>
      <div class="card-body formset-table">
        {{ formAZ|as_crispy_errors }}
        {{ formAkce|as_crispy_errors }}
        <div class="row">
          {% if create_akce %}
          <div class="form-group col-sm-2" >
            {{ formAZ.hlavni_katastr|as_crispy_field }}
          </div>
          {% else %}
          <div class="form-group col-sm-2" style="display:none">
            {{ formAZ.hlavni_katastr|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAZ.hlavni_katastr_show|as_crispy_field }}
          </div>
          {% endif %}
          {% if katastry_edit %}
          <div class="form-group col-sm-4" >
            {{ formAZ.katastry|as_crispy_field }}
          </div>
          {% else %}
          <div class="form-group col-sm-4">
            {{ formAZ.katastry_show|as_crispy_field }}
          </div>
          {% endif %}
          <div class="input-osoba form-group col-sm-2 select2-input">
            {% crispy_addon formAkce.hlavni_vedouci append='<button id="create-osoba" class="btn btn-sm app-btn-in-form" type="button" name="button"><span class="material-icons">add</span></button>' %}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.organizace|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAZ.uzivatelske_oznaceni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.hlavni_typ|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.vedlejsi_typ|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.specifikace_data|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.datum_zahajeni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.datum_ukonceni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-12">
            {{ formAkce.lokalizace_okolnosti|as_crispy_field }}
          </div>
          <div class="form-group col-sm-12">
            {{ formAkce.souhrn_upresneni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4">
            {{ formAkce.ulozeni_nalezu|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4">
            {{ formAkce.ulozeni_dokumentace|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAZ.pristupnost|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.je_nz|as_crispy_field }}
          </div>
          {% if  sam_akce %}
          <div class="form-group col-sm-2">
            {{ formAkce.odlozena_nz|as_crispy_field }}
          </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span class="app-divider-label">{% trans "arch_z.templates.arch_z.create.detailForm.vytvorDalsihoVedouci.label" %}</span>
            <hr class="mt-0"/>
          </div>
        </div>
        <div class="content-with-table-responsive-container">
          <div class="content-with-table-responsive">
            {% crispy ostatni_vedouci_objekt_formset ostatni_vedouci_objekt_formset_helper %}
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="form-group">
        <button type="submit" id="actionSubmitBtn" class="btn btn-primary">{{ button }}</button>
          {% if zaznam %}
            <a type="button" class="btn btn-secondary" href="{% url 'arch_z:detail' zaznam.ident_cely %}">{% trans "arch_z.templates.arch_z.create.detailForm.button.zpet.label" %}</a>
          {% else %}
            {% if sam_akce %}
              <a type="button" class="btn btn-secondary" href="{% url 'arch_z:index' %}">{% trans "arch_z.templates.arch_z.create.detailForm.button.zpet.label" %}</a>
            {% else %}
              <a type="button" class="btn btn-secondary" href="{% url 'projekt:detail' projekt_ident_cely %}">{% trans "arch_z.templates.arch_z.create.detailForm.button.zpet.label" %}</a>
            {% endif %}
          {% endif %}
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  var successFunction = function(settings, response) {
    var newOption = new Option(response.text, response.value, true, true);
      $('#id_hlavni_vedouci').append(newOption).trigger('change');
      $('#id_hlavni_vedouci').trigger({
        type: 'select2:select',
        params: {
            data: [response.text, response.value, true, true]
        }
      });
      $(settings.modalIDD).modal("hide");
    };

  document.addEventListener('DOMContentLoaded', function (event) {
    var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
    formURL: "{% url 'heslar:create_osoba' %}",
    formID: "create-osoba-form",
    modalFormID: "#create-osoba-form",
    modalIDD : "#modal-form",
    successFunc:successFunction,
  })
  create_osoba_modal = new Modal(options, "create-osoba");

  elements = document.getElementsByClassName("objekt-smazat-btn")
  for (let i = 0; i < elements.length; i++){
    var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
    formID: "smazat-objekt-form",
    modalFormID: "#smazat-objekt-form",
    })
    new Modal(options, elements.item(i).id);
  }

  if (document.getElementsByClassName("create-vedouci")){
    elements = document.getElementsByClassName("create-vedouci")
    for (let i = 0; i < elements.length; i++){
      console.log(elements.item(i).getAttribute("ref"))
      var successFunctionVedouci = function(settings, response, elements) {
        var newOption = new Option(response.text, response.value, true, true);
          id_ref= this.button.getAttribute("ref")
          $('#'+id_ref).append(newOption).trigger('change');
          $('#'+id_ref).trigger({
            type: 'select2:select',
            params: {
                data: [response.text, response.value, true, true]
            }
          });
          $(settings.modalIDD).modal("hide");
        };
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
      formURL: "{% url 'heslar:create_osoba' %}",
      formID: "create-osoba-form",
      modalFormID: "#create-osoba-form",
      modalIDD : "#modal-form",
      successFunc:successFunctionVedouci,
      })
      new Modal(options, elements.item(i).id);
    }
  };

  datum_zahajeni = document.getElementById("id_datum_zahajeni")
  datum_ukonceni = document.getElementById("id_datum_ukonceni")

  var specifikace = document.getElementById("id_specifikace_data");
  if (specifikace.value == {{ heslar_specifikace_v_letech_presne }} || specifikace.value == {{ heslar_specifikace_v_letech_priblizne }}){
    $(".dateinput").datepicker('destroy')
    $(".dateinput").datepicker({
      format: "yyyy",
      viewMode: "years",
        minViewMode: "years",
      language: 'cs',
      todayHighlight: true,
      endDate: new Date(2100,12,31)
  })
  datum_zahajeni.value = datum_zahajeni.value.slice(-4)
  datum_ukonceni.value = datum_ukonceni.value.slice(-4)} 

  specifikace.addEventListener('change', function (event) {
    if (specifikace.value == {{ heslar_specifikace_v_letech_presne }} || specifikace.value == {{ heslar_specifikace_v_letech_priblizne }}){
      $(".dateinput").datepicker('destroy')
      $(".dateinput").datepicker({
        format: "yyyy",
        viewMode: "years",
          minViewMode: "years",
        language: 'cs',
        todayHighlight: true,
        endDate: new Date(2100,12,31)
    })
    datum_zahajeni.value = datum_zahajeni.value.slice(-4)
    datum_ukonceni.value = datum_ukonceni.value.slice(-4)
    }
    else {
      $(".dateinput").datepicker('destroy')
      $(".dateinput").datepicker({
          format: "d.m.yyyy",
          viewMode: "days",
          minViewMode: "days",
      })
      datum_zahajeni.value = "1.1." + datum_zahajeni.value.slice(-4)
      datum_ukonceni.value = "31.12." + datum_ukonceni.value.slice(-4)
    }
  })
})
</script>
{% endblock %}
