{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<div class="app-entity-akce">
  {% include "toolbar_akce.html" %}
  <form method="post" onsubmit="actionSubmitBtn.disabled = true; return true;">
    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {{ header }}
        </div>
      </div>
      <div class="card-body">
        {{ formAZ|as_crispy_errors }}
        {{ formAkce|as_crispy_errors }}
        <div class="row">
          <div class="form-group col-sm-2">
            {{ formAZ.hlavni_katastr|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4">
            {{ formAZ.katastry|as_crispy_field }}
          </div>
          <div class="input-osoba form-group col-sm-2">
            {% crispy_addon formAkce.hlavni_vedouci append='<button id="create-osoba" class="btn btn-sm app-btn-in-form" type="button" name="button"><span class="material-icons">add</span></button>' %}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.organizace|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAZ.uzivatelske_oznaceni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.hlavni_typ|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.vedlejsi_typ|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.specifikace_data|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.datum_zahajeni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.datum_ukonceni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-12">
            {{ formAkce.lokalizace_okolnosti|as_crispy_field }}
          </div>
          <div class="form-group col-sm-12">
            {{ formAkce.souhrn_upresneni|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4">
            {{ formAkce.ulozeni_nalezu|as_crispy_field }}
          </div>
          <div class="form-group col-sm-4">
            {{ formAkce.ulozeni_dokumentace|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAZ.pristupnost|as_crispy_field }}
          </div>
          <div class="form-group col-sm-2">
            {{ formAkce.je_nz|as_crispy_field }}
          </div>
        </div>
        <div class="row formset-table">
          {% crispy ostatni_vedouci_objekt_formset ostatni_vedouci_objekt_formset_helper %}
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="form-group">
        <button type="submit" id="actionSubmitBtn" class="btn btn-primary">{{ button }}</button>
        <button type="button" class="btn btn-secondary" onclick="goBack();">{% trans "Zpět" %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  var successFunction = function(settings, response) {
    let dropdown = document.getElementById('id_hlavni_vedouci');
    let newOption = document.createElement('option');
    newOption.text = response.text;
    newOption.value = response.value;

    dropdown.add(newOption);
    
    $('#id_hlavni_vedouci').selectpicker('refresh');
    $('#id_hlavni_vedouci').selectpicker('val', response.value);
    dropdown.value = response.value;
    $(settings.modalIDD).modal("hide");
  };

  document.addEventListener('DOMContentLoaded', function (event) {
    var options = Object.assign(defaults, {modalID: "modal-form",
    formURL: "{% url 'heslar:create_osoba' %}",
    formID: "create-osoba-form",
    modalFormID: "#create-osoba-form",
    modalIDD : "#modal-form",
    successFunc:successFunction,
  })
  create_osoba_modal = new Modal(options, "create-osoba"); 
  });
</script>
{% endblock %}
