{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{% trans "Detail archeologického záznamu - akce" %}{% endblock %}
{% block head %}
  <!-- Map imports -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="">
  </script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col">
      <h1>{% trans "Archeologický záznam - Akce" %} <span class="badge badge-info">{{ zaznam.get_stav_display }}</span>
      </h1>
      <a href="{% url 'projekt:detail' zaznam.akce.projekt.ident_cely %}">Parent</a>
      <a href="{% url 'arch_z:smazat' zaznam.id %}">Smazat</a>
    </div>
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        {% if show.vratit_link %}
          <a href="{% url 'arch_z:vratit' zaznam.ident_cely %}"
             class="btn btn-warning">{% trans "Vrátit" %}</a>
        {% endif %}
        {% if show.odeslat_link %}
          <a href="{% url 'arch_z:odeslat' zaznam.ident_cely %}"
             class="btn btn-primary">{% trans "Odeslat akci" %}</a>
        {% endif %}
        {% if show.archivovat_link %}
          <a href="{% url 'arch_z:archivovat' zaznam.ident_cely %}"
             class="btn btn-primary">{% trans "Archivovat akci" %}</a>
        {% endif %}
      </div>
    </div>
    <div class="col">
      <a href="{% url 'arch_z:smazat' zaznam.id %}">{% trans 'Smazat' %}</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      {% trans "Detail" %}
      <a href="{% url 'arch_z:edit' zaznam.ident_cely %}" rel="tooltip" data-placement="top"
         title="{% trans 'Upravit' %}">
        <span class="material-icons">edit</span>
      </a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">{{ zaznam.akce.hlavni_typ }} {{ zaznam.akce.vedlejsi_typ }}</div>
        <div class="col">{{ zaznam.pristupnost }}</div>
        <div class="col">{{ zaznam.akce.datum_zahajeni|date:'Y/m/d' }}
          - {{ zaznam.akce.datum_ukonceni|date:'Y/m/d' }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.hlavni_katastr }}</div>
        <div class="col">{{ zaznam.katastry.all|katastry_to_list }}</div>
        <div class="col">{{ zaznam.akce.hlavni_vedouci }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.uzivatelske_oznaceni }}</div>
        <div class="col">{{ zaznam.akce.lokalizace_okolnosti }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.poznamka }}</div>
        <div class="col">{{ zaznam.akce.je_nz }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.akce.ulozeni_nalezu }}</div>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-header">{% trans "Dokumentační jednotky" %}<a href="{% url 'dj:zapsat' zaznam.ident_cely %}">+</a></div>
    <div class="card-body">
      {% for j in dokumentacni_jednotky %}
        <div class="row">
          <div class="col"><a href="{% url 'dj:detail' j.ident_cely %}">Ident: {{ j.ident_cely }}</a></div>
          <div class="col">Typ: {{ j.typ }}</div>
          <div class="col">Negativni: {{ j.negativni_jednotka }}</div>
          <div class="col">Pian: {{ j.pian.ident_cely }}</div>
        </div>
          Komponenty:
          {% for k in j.komponenty.komponenty.all %}
            <div class="row">
              <div class="col">Ident komponenty: {{ k.ident_cely }}</div>
              <div class="col">Obdobi: {{ k.obdobi }}</div>
              <div class="col">Areal: {{ k.areal }}</div>
            </div>
          {% endfor %}
        <hr/>
      {% endfor %}
    </div>
  </div>

  <div class="card">
    <div class="card-header">{% trans "Dokumenty" %}</div>
    <div class="card-body">
      {% for d in dokumenty %}
        <div class="row">
          <div class="col">
            <a href="{% url 'dokument:detail' d.ident_cely %}">{{ d.ident_cely }}</a></div>
          <div class="col">
            <span class="badge badge-light">{{ d.get_stav_display }}</span>
          </div>
          <div class="col">{{ d.typ_dokumentu }}</div>
          <div clasd="col">{{ d.soubory.soubory|length }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block script %}
{% endblock %}
