{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}
{% load template_tags %}

{% block title %}{% endblock %}
{% block head %}
  <script>
    {% autoescape off %}
      var settings_heatmap_options = {% get_settings "heatmap_options" "arch_z_heatmap_options" %};
    {% endautoescape %}
  </script>
  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">-->

  <!-- Leaflet imports -->
  <link rel="stylesheet" href="{% static 'js/Leaflet1.9.4/leaflet.css' %}"/>
  <script src="{% static 'js/Leaflet1.9.4/leaflet.js' %}"></script>
  <!--contextmenu-->
  <script src="{% static 'js/Leaflet.contextmenu1.5.1/leaflet.contextmenu.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/Leaflet.contextmenu1.5.1/leaflet.contextmenu.min.css' %}"/>
  <!--Leaflet Buttons-->
  <link rel="stylesheet" href="{% static 'js/Leaflet.EasyButton2.4.0/easy-button.css' %}">
  <script src="{% static 'js/Leaflet.EasyButton2.4.0/easy-button.js' %}"></script>
  <!--Leaflet Draw-->
  <script src="{% static 'js/Leaflet.draw1.0.4/leaflet.draw-src.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/Leaflet.draw1.0.4/leaflet.draw.css' %}">

  <!--Leaflet FullScreen-->
  <script src='{% static 'js/Leaflet.fullscreen1.0.1/Leaflet.fullscreen.min.js' %}'></script>
  <link href='{% static 'js/Leaflet.fullscreen1.0.1/leaflet.fullscreen.css' %}'rel='stylesheet'/>

  <!--Leaflet MessageBox-->
  <script src='{% static 'js/Leaflet.messagebox/leaflet-messagebox.js' %}'></script>
  <link href='{% static 'js/Leaflet.messagebox/leaflet-messagebox.css' %}'rel='stylesheet'/>

  <!--Mark Cluster-->


  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}"/>

  <!-- Autocomplete media files -->
  <link href="/static/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/static/static/admin/css/autocomplete.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/static/static/autocomplete_light/select2.css" media="screen" rel="stylesheet" type="text/css">
  <script src="/static/static/admin/js/vendor/select2/select2.full.js"></script>
  <script src="/static/static/autocomplete_light/autocomplete_light.js"></script>
  <script src="/static/static/autocomplete_light/select2.js"></script>
  <script src="/static/static/autocomplete_light/i18n/cs.js"></script>


  <script src="{% static 'coordTransform.js' %}"></script>
  <script src="{% static 'heatmap/heatmap.js' %}"></script>
  <script src="{% static 'heatmap/leaflet-heatmap.js' %}"></script>
  <script src="{% static 'leaflet.markercluster-src.js' %}"></script>
  <link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
  <link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />
  <script src="{% static 'leaflet_subgroup.js' %}"></script>


  <script>
      var global_csrftoken = '{{ csrf_token }}';
  </script>
  <!-- static leaflet additional import-->
  <link rel="stylesheet" href="{% static 'leaflet.measure.css' %}?v2"/>
  <script src="{% static 'leaflet.measure.js' %}?v1"></script>
  <script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>

  <link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
  <script src="{% static 'leaflet-search.js' %}"></script>
{% endblock %}

{% block content %}



      {% block zaznam_detail %}
      {% endblock %}

    <!-- dokumentacni jednotka / mapa -->
    <div class="row mb-3">
      <div class="col-sm-4 col-12">
        <div class="card app-card-form app-card-dokumentacni-jednotka">
          <div class="card-header" id="dj_list_card_header">
            <div class="app-fx app-left">
              {% trans "arch_z.templates.arch_z.detail_common.cardDJ.header.DJ.label" %}
            </div>
            {% if show.editovat and show.add_dj %}
            <div class="app-fx app-right">
              <div class="btn-group" role="group">
                <a id="button-add-dj" class="btn" href="{% if app == 'akce' or app == 'pr' %}{% url 'arch_z:create-dj' zaznam.ident_cely %}{% else %}{% url 'lokalita:create-dj' zaznam.ident_cely %}{% endif %}"
                        rel="tooltip" data-placement="top"
                        title="{% trans 'arch_z.templates.arch_z.detail_common.cardDJ.pridatDJ.label' %}">
                  <span class="material-icons">add</span>
                </a>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="card-body p-0" id="dj_list_card_body">
            <ul class="list-group list-group-flush">
              {% for j in dokumentacni_jednotky %}
                <li class="list-group-item">
                  <div class="d-flex align-items-center" id="el_div_dokumentacni_jednotka_{{ j.ident_cely_safe }}" {% if j.ident_cely == active_dj_ident and not active_komp_ident %}style="background-color: rgba(36, 126, 75, 0.1)"{% endif %}>
                    {% if j.pian.stav == 2 %} <!-- POTVRZENY JE 2 -->
                      <a href="{% if app == 'akce' or app == 'pr' %}{% url 'arch_z:detail-dj' zaznam.ident_cely  j.ident_cely %}{% else %}{% url 'lokalita:detail-dj' zaznam.ident_cely  j.ident_cely %}{% endif %}" class="d-flex mr-2 text-decoration-none app-pian app-confirmed" rel="tooltip"
                         data-placement="top" title="{% trans 'arch_z.templates.arch_z.detail_common.cardDJ.potvrzeniPian.tooltip' %}">
                        <span class="material-icons">my_location</span>
                      </a>
                    {% elif j.pian.stav == 1 %} <!-- NEPOTVRZENY JE 1 -->
                      <a href="{% if app == 'akce' or app == 'pr' %}{% url 'arch_z:detail-dj' zaznam.ident_cely  j.ident_cely %}{% else %}{% url 'lokalita:detail-dj' zaznam.ident_cely  j.ident_cely %}{% endif %}" class="d-flex mr-2 text-decoration-none app-pian app-notconfirmed" rel="tooltip"
                         data-placement="top" title="{% trans 'arch_z.templates.arch_z.detail_common.cardDJ.nepotvrzeniPian.tooltip' %}">
                        <span class="material-icons">my_location</span>
                      </a>
                    {% else %}
                      <span class="material-icons mr-2 text-decoration-none app-pian app-disabled" rel="tooltip"
                            data-placement="top" title="{% trans 'arch_z.templates.arch_z.detail_common.cardDJ.nemaPian.tooltip' %}">location_disabled</span>
                    {% endif %}
                    <a href="{% if app == 'akce' or app == 'pr' %}{% url 'arch_z:detail-dj' zaznam.ident_cely  j.ident_cely %}{% else %}{% url 'lokalita:detail-dj' zaznam.ident_cely  j.ident_cely %}{% endif %}" class="flex-fill app-entity-color" id="el_dokumentacni_jednotka_{{ j.ident_cely_safe }}">
                      <strong>{{ j.ident_cely|last_x_letters:3 }} ({{ j.typ }})</strong>
                      {% if j.adb %}- {{ j.adb.ident_cely }}{% endif %}
                    </a>
                  </div>
                  {% if j.komponenty.komponenty.all %}
                    <ul class="app-list-group-in">
                      {% for k in j.komponenty.komponenty.all %}
                        <li id="el_li_komponenta_{{ k.ident_cely_safe }}">
                          <div class="d-flex align-items-baseline" {% if k.ident_cely == active_komp_ident %}style="background-color: rgba(36, 126, 75, 0.1)"{% endif %}>
                            <a href="{% if app == 'akce' or app == 'pr' %}{% url 'arch_z:update-komponenta' zaznam.ident_cely j.ident_cely k.ident_cely %}{% else %}{% url 'lokalita:update-komponenta' zaznam.ident_cely j.ident_cely k.ident_cely %}{% endif %}" class="flex-fill mr-2 app-entity-color"
                               id="el_komponenta_{{ k.ident_cely_safe }}">
                              {{ k.ident_cely|last_x_letters:4 }} ({{ k.obdobi }} - {{ k.areal }})
                            </a>
                            <span class="badge badge-primary badge-pill">{{ k.pocet_nalezu }}</span>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
                {% empty %}
                  <div class="app-note">
                    <span class="material-icons">info</span>
                    {% trans "arch_z.templates.arch_z.detail_common.cardDJ.nemaDJ.label" %}
                  </div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-12 dj-map-div">
        <style>
            #djMap {
                width: 100%;
                max-height: 473px;
                min-height: 400px;
                height: 100%;
                border-radius: 5px;
            }
        </style>
        <div id="djMap" class="app-card-shadow"></div>
      </div>
    </div>

    <!-- forms -->
    <div id="dj_forms" class="mb-3">
      {% block dj_form %}
      {% endblock %}
    </div>

    <!-- dokumenty -->

      {% include "dokument/dokument_table.html" with type="arch_z"%}

    <!-- externe odkazy -->

    {% include "ez/az_ez_odkazy_table.html"%}

  </div>
  {% block arch_projekt %}
  {% endblock %}
  <style>
    .pian_disabled .select2-selection__rendered {
        overflow: hidden!important;
        margin-top: -0.125rem;
        padding-left: 8px!important;
        padding-right: 8px!important;
        width: 100%!important;
    }
    .pian_disabled .select2-selection__arrow {
        display: none;
    }
  </style>
{% endblock %}

{% block script %}
  <script >
    var static_url = "{% get_static_prefix %}";
  </script>
  <script>
    var map_translations = {
      ActionsCancelText: '{% trans "mapa.ActionsCancelText" %}',
      ActionsCancelTitle: '{% trans "mapa.ActionsCancelTitle" %}',
      ActionsClearText: '{% trans "mapa.ActionsClearText" %}',
      ActionsClearTitle: '{% trans "mapa.ActionsClearTitle" %}',
      ActionsSaveText: '{% trans "mapa.ActionsSaveText" %}',
      ActionsSaveTitle: '{% trans "mapa.ActionsSaveTitle" %}',
      CurrentLocationError: '{% trans "mapa.CurrentLocationError" %}',
      cuzkKatastralniMapa: '{% trans "mapa.cuzkKatastralniMapa" %}',
      cuzkKatastralniUzemi: '{% trans "mapa.cuzkKatastralniUzemi" %}',
      cuzkOrtofotomapa: '{% trans "mapa.cuzkOrtofotomapa" %}',
      cuzkStinovanyeelief5G: '{% trans "mapa.cuzkStinovanyeelief5G" %}',
      cuzkzakladniMapyCr: '{% trans "mapa.cuzkzakladniMapyCr" %}',
      npuPamatkovaOchrana: '{% trans "mapa.npuPamatkovaOchrana" %}',
      DefaultTitle: '{% trans "mapa.DefaultTitle" %}',
      DrawError: '{% trans "mapa.DrawError" %}',
      EditAddCircle: '{% trans "mapa.EditAddCircle" %}',
      EditAddCirclemarker: '{% trans "mapa.EditAddCirclemarker" %}',
      EditAddMarker: '{% trans "mapa.EditAddMarker" %}',
      EditAddPolygon: '{% trans "mapa.EditAddPolygon" %}',
      EditAddPolyline: '{% trans "mapa.EditAddPolyline" %}',
      EditAddRectangle: '{% trans "mapa.EditAddRectangle" %}',
      EditBackText: '{% trans "mapa.EditBackText" %}',
      EditBackTitle: '{% trans "mapa.EditBackTitle" %}',
      EditCancelText: '{% trans "mapa.EditCancelText" %}',
      EditCancelTitle: '{% trans "mapa.EditCancelTitle" %}',
      EditCirclemarkerTooltip: '{% trans "mapa.EditCirclemarkerTooltip" %}',
      EditCircleTooltip: '{% trans "mapa.EditCircleTooltip" %}',
      EditDisabled: '{% trans "mapa.EditDisabled" %}',
      EditFinishText: '{% trans "mapa.EditFinishText" %}',
      EditFinishTitle: '{% trans "mapa.EditFinishTitle" %}',
      EditMarkerTooltip: '{% trans "mapa.EditMarkerTooltip" %}',
      EditPolygonStart: '{% trans "mapa.EditPolygonStart" %}',
      EditPolygonTooltipCont: '{% trans "mapa.EditPolygonTooltipCont" %}',
      EditPolygonTooltipEnd: '{% trans "mapa.EditPolygonTooltipEnd" %}',
      EditPolylineCont: '{% trans "mapa.EditPolylineCont" %}',
      EditPolylineEnd: '{% trans "mapa.EditPolylineEnd" %}',
      EditPolylineError: '{% trans "mapa.EditPolylineError" %}',
      EditPolylineStart: '{% trans "mapa.EditPolylineStart" %}',
      EditRadius: '{% trans "mapa.EditRadius" %}',
      EditRectangleStart: '{% trans "mapa.EditRectangleStart" %}',
      EditSimpleshapeTooltip: '{% trans "mapa.EditSimpleshapeTooltip" %}',
      EditTitle: '{% trans "mapa.EditTitle" %}',
      EditTooltipSubtext: '{% trans "mapa.EditTooltipSubtext" %}',
      EditTooltipText: '{% trans "mapa.EditTooltipText" %}',
      FullscreenTitle: '{% trans "mapa.FullscreenTitle" %}',
      FullscreenTitleClose: '{% trans "mapa.FullscreenTitleClose" %}',
      currentlyEditedPian: '{% trans "mapa.currentlyEditedPian" %}',
      lokalizaceProjektu: '{% trans "mapa.lokalizaceProjektu" %}',
      MeasureTitle: '{% trans "mapa.MeasureTitle" %}',
      MessageMultipleElements: '{% trans "mapa.MessageMultipleElements" %}',
      MoveFront: '{% trans "mapa.MoveFront" %}',
      openStreetMap: '{% trans "mapa.openStreetMap" %}',
      openStreetMapSeda: '{% trans "mapa.openStreetMapSeda" %}',
      pian: '{% trans "mapa.pian" %}',
      pianZazamu: '{% trans "mapa.pianZazamu" %}',
      RemoveDisabled: '{% trans "mapa.RemoveDisabled" %}',
      RemoveTitle: '{% trans "mapa.RemoveTitle" %}',
      RemoveTooltipText: '{% trans "mapa.RemoveTooltipText" %}',
      samostatneNalezy: '{% trans "mapa.samostatneNalezy" %}',
      TempPIAN: '{% trans "mapa.TempPIAN" %}',
      zoomInTitle: '{% trans "mapa.zoomInTitle" %}',
      zoomOutTitle: '{% trans "mapa.zoomOutTitle" %}'
    };

    var leaflet_search_translations = {
      KatastralniUzemi: '{% trans "leaflet_search.KatastralniUzemi" %}',
      Okres: '{% trans "leaflet_search.Okres" %}',
      Obec: '{% trans "leaflet_search.Obec" %}',
      Adresa: '{% trans "leaflet_search.Adresa" %}',
      Ulice: '{% trans "leaflet_search.Ulice" %}',
      Geonames: '{% trans "leaflet_search.Geonames" %}',
      Parcela: '{% trans "leaflet_search.Parcela" %}',
      Stavebni: '{% trans "leaflet_search.Stavebni" %}',
      Pozemkova: '{% trans "leaflet_search.Pozemkova" %}',
      SearchTextCancel: '{% trans "leaflet_search.SearchTextCancel" %}',
      SearchTextError: '{% trans "leaflet_search.SearchTextError" %}'
    };
  </script>
  <script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
  <script src="{% static 'mapa_pins.js' %}"></script>
  <script src="{% static 'coor_precision.js' %}"></script>
  <script src="{% static 'spin/spin.min.js' %}"></script>
  <script src="{% static 'leaflet.spin.min.js' %}"></script>
  <script src="{% static 'arch_z_detail_map.js' %}"></script>
  <script>
      function get_create_pain_form_action(selected_dj_ident) {
          const url = "/pian/zapsat/1";
          url.replace("1", selected_dj_ident);
          document.getElementById("create_pian_form_id").action = url;
      }

      let shown_form_id = "";
      let ask_only_once=true;

      const btw_add_dj = document.getElementById("button-add-dj");
      if (btw_add_dj){
        btw_add_dj.addEventListener("click", () => {
            if (el_div_currently_selected) {
                el_div_currently_selected.style.backgroundColor = null;
            }
        });
      }
      function setCookie(name, value, path) {
          const cookieString = name + '=' + value + ';path=' + path
          document.cookie = cookieString
      }

      function getCookie(name) {
          const v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
          return v ? v[2] : null;
      }

      function show_form(form_id, form_to_show_next) {
        //clearUnfinishedEditGeometry()
          let form = document.getElementById(form_id);
          if (form) {
            if (form.style.display === "none") {
                // hide the form what was shown
                if (shown_form_id !== "") {
                    document.getElementById(shown_form_id).style.display = "none"
                }
                // Show desired form
                form.style.display = "block";
                shown_form_id = form_id
                if (form_to_show_next == null) {
                    form_to_show_next = form_id;
                }
                setCookie("detail-id-shown", form_to_show_next, "/arch-z/detail/")
            }
          }
          const currentUrl = window.location.href;
          if (form_id.includes("detail_dj_form_") || currentUrl.includes("/zapsat")) {
            arch_select_perspective(
              currentUrl,
              document.getElementById("main_cadastre_id").value,
              '{{ zaznam.ident_cely }}',
             '{{ dj_ident_cely }}'
              )
          }
          try {document.getElementById("dj_list_card_header").scrollIntoView();}
            catch (e) {
              console.log(e);
            }
      }
      // Na rozdil od show_form je potreba priradit akci formam ktere vytvari child element komponenty
      function show_create_child_form(url, form_id, form_to_show_next) {
          //clearUnfinishedEditGeometry()

          show_form(form_id, form_to_show_next);
          let forma = document.getElementById(form_id + "_id");
          forma.action = url;
          if (form_id === "create_pian_form") {
              map_show_edit(true, false)
          }
      }
      function show_grap_geom_from_map(dj){
        global_map_can_grab_geom_from_map=dj;
        map_show_edit(false)
      }

    </script>
      {% block script_detail %}
      {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', function (event) {
          // Focus on detail set by the cookie and display it
          let detail_to_show = getCookie("detail-id-shown")
          const show_form_cookie = getCookie("show-form");
          const set_active_cookie = getCookie("set-active");
          let element_of_the_detail = document.getElementById(detail_to_show);
          if (set_active_cookie) {
              const new_el = document.getElementById(set_active_cookie);
              change_active_element(new_el);
              setCookie("set-active", "", "/");
          }
          if (show_form_cookie) {
              show_form(show_form_cookie);
              setCookie("show-form", "", "/");
          } else if (detail_to_show != null && element_of_the_detail != null) {
              show_form(detail_to_show)
              document.getElementById("karta-dokumentacni-jednotky").scrollIntoView();
          }
          let i = 0;
          let vedouci_filed = null;
          let organizace_field = null;
          {% for row in akce_zaznam_ostatni_vedouci %}
              i = {{ forloop.counter0 }};
              vedouci_filed = document.getElementById(`id_akcevedouci_set-${i}-vedouci`);
              vedouci_filed.value = "{{ row.0 }}";
              organizace_field = document.getElementById(`id_akcevedouci_set-${i}-organizace`);
              organizace_field.value = "{{ row.1 }}";
          {% endfor %}
          const dj_element = document.getElementById("djMap");
          if (dj_element) {
              const dj_element_card_body = document.getElementById("dj_list_card_body");
              const dj_element_card_header = document.getElementById("dj_list_card_header");
              dj_element_card_body.style.height = `${dj_element.clientHeight  - dj_element_card_header.clientHeight}px`;
          }
      })

      const div_komponenta_click = (data) => {
          const {ident_cely, ident_cely_safe} = data;
          show_form(`detail_komponenta_form_${ident_cely}`);
          const el_li_komponenta
              = document.getElementById(`el_li_komponenta_${ident_cely_safe}`);
          change_active_element(el_li_komponenta);
      }

      const div_dokumentacni_jednotka_click = (data) => {
          const {ident_cely, ident_cely_safe} = data;
          show_form(`detail_dj_form_${ident_cely}`);
          get_create_pain_form_action(ident_cely);
          const el_div_dokumentacni_jednotka
              = document.getElementById(`el_div_dokumentacni_jednotka_${ident_cely_safe}`);
          change_active_element(el_div_dokumentacni_jednotka);
          document.getElementById("karta-dokumentacni-jednotky").scrollIntoView();
      };

      const change_active_element = (new_el) => {
          if (el_div_currently_selected) {
              el_div_currently_selected.style.backgroundColor = null;
          }
          el_div_currently_selected = new_el;
          new_el.style.backgroundColor = "rgba(36, 126, 75, 0.1)";
      }
      let el_div_currently_selected = null;
  </script>
  <script>
    //modal scripts
    document.addEventListener('DOMContentLoaded', function (event) {
      if (document.getElementsByClassName("adb-smazat-btn")){
        elements = document.getElementsByClassName("adb-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "smazat-adb-form",
          modalFormID: "#smazat-adb-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("dj-smazat-btn")){
        elements = document.getElementsByClassName("dj-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "smazat-dj-form",
          modalFormID: "#smazat-dj-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("komponenta-smazat-btn")){
        elements = document.getElementsByClassName("komponenta-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "smazat-komponenta-form",
          modalFormID: "#smazat-komponenta-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("pian-odpojit-btn")){
        elements = document.getElementsByClassName("pian-odpojit-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "odpojit-pian-form",
          modalFormID: "#odpojit-pian-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("pian-potvrdit-btn")){
        elements = document.getElementsByClassName("pian-potvrdit-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "potvrdit-pian-form",
          modalFormID: "#potvrdit-pian-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("objekt-smazat-btn")){
        elements = document.getElementsByClassName("objekt-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "smazat-objekt-form",
          modalFormID: "#smazat-objekt-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("vb-smazat-btn")){
        elements = document.getElementsByClassName("vb-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
          formID: "smazat-vb-form",
          modalFormID: "#smazat-vb-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      var successFunctionAutorPopisu = function(settings, response) {
        var newOption = new Option(response.text, response.value, true, true);
        console.log("test")
        $('#id_autor_popisu').append(newOption).trigger('change');
        $('#id_autor_popisu').trigger({
          type: 'select2:select',
          params: {
              data: [response.text, response.value, true, true]
          }
        });
        $(settings.modalIDD).modal("hide");
      };
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
      formURL: "{% url 'heslar:create_osoba' %}",
      formID: "create-osoba-form",
      modalFormID: "#create-osoba-form",
      modalIDD : "#modal-form",
      successFunc:successFunctionAutorPopisu,
    })
    try {
     create_autor_popisu_modal = new Modal(options, "create-autor-popisu");
    } catch (e) {
      console.log(e);
    }
    var successFunctionAutorRevize = function(settings, response) {
      var newOption = new Option(response.text, response.value, true, true);
      $('#id_autor_revize').append(newOption).trigger('change');
      $('#id_autor_revize').trigger({
        type: 'select2:select',
        params: {
            data: [response.text, response.value, true, true]
        }
      });
      $(settings.modalIDD).modal("hide");
    };
    var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
      formURL: "{% url 'heslar:create_osoba' %}",
      formID: "create-osoba-form",
      modalFormID: "#create-osoba-form",
      modalIDD : "#modal-form",
      successFunc:successFunctionAutorRevize,
    })
    try {
     create_autor_revize_modal = new Modal(options, "create-autor-revize");
    } catch (e) {
      console.log(e);
    }
    if (document.getElementsByClassName("ez-odpojit-btn")){
      elements = document.getElementsByClassName("ez-odpojit-btn")
      for (let i = 0; i < elements.length; i++){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "odpojit-az-form",
        modalFormID: "#odpojit-az-form",
        })
        new Modal(options, elements.item(i).id);
      }
    }
    if (document.getElementsByClassName("ez-change-btn")){
      elements = document.getElementsByClassName("ez-change-btn")
      for (let i = 0; i < elements.length; i++){
        var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "zmenit-eo-form",
        modalFormID: "#zmenit-eo-form",
        })
        new Modal(options, elements.item(i).id);
      }
    }
    if (document.getElementsByClassName("zmenit-katastr-btn")){
      const elements = document.getElementsByClassName("zmenit-katastr-btn")
      for (let i = 0; i < elements.length; i++){
        const options = Object.assign(Object.create(defaults), {modalID: "modal-form",
        formID: "zmenit-katastr-form",
        modalFormID: "#zmenit-katastr-form",
        })
        new Modal(options, elements.item(i).id);
      }
    }
  });
</script>
{% endblock %}
