{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{% trans "Detail archeologického záznamu" %}{% endblock %}
{% block head %}
  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">-->

  <!-- Leaflet imports -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="">
  </script>
  <!--contextmenu-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-contextmenu/1.4.0/leaflet.contextmenu.min.js" integrity="sha512-8sfQf8cr0KjCeN32YPfjvLU2cMvyY1lhCXTMfpTZ16CvwIzeVQtwtKlxeSqFs/TpXjKhp1Dcv77LQmn1VFaOZg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-contextmenu/1.4.0/leaflet.contextmenu.min.css" integrity="sha512-AiWBM2PiPZkogKBj8Jss3MahJ+bRbSMebXUBwZMg+83vJTnZT/FXoxZrmpL+x9GbAYLWRuBZDqzhDt0Dk73qhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--Leaflet Buttons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
  <!--Leaflet Draw-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">

  <!--Leaflet FullScreen-->
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
        rel='stylesheet'/>

  <!--Mark Cluster-->


  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}"/>

  <!-- Autocomplete media files -->
  <link href="/static/static/admin/css/vendor/select2/select2.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/static/static/admin/css/autocomplete.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/static/static/autocomplete_light/select2.css" media="screen" rel="stylesheet" type="text/css">
  <script src="/static/static/admin/js/vendor/select2/select2.full.js"></script>
  <script src="/static/static/autocomplete_light/autocomplete_light.js"></script>
  <script src="/static/static/autocomplete_light/select2.js"></script>
  <script src="/static/static/autocomplete_light/i18n/cs.js"></script>


  <script src="{% static 'convertToJTSK.js' %}"></script>
  <script src="{% static 'simpleheat.js' %}"></script>
  <script src="{% static 'HeatLayer.js' %}"></script>
  <script src="{% static 'leaflet.markercluster-src.js' %}"></script>
  <link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
  <link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />


  <script>
      var global_csrftoken = '{{ csrf_token }}';
  </script>
  <!-- static leaflet additional import-->
  <link rel="stylesheet" href="{% static 'leaflet.measure.css' %}"/>
  <script src="{% static 'leaflet.measure.js' %}"></script>
  <script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>

  <link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
  <script src="{% static 'leaflet-search.js' %}"></script>
{% endblock %}

{% block content %}

    

      {% block zaznam_detail %}
      {% endblock %}

    <!-- dokumentacni jednotka / mapa -->
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card app-card-form app-card-dokumentacni-jednotka">
          <div id="karta-dokumentacni-jednotky" class="card-header">
            <div class="app-fx app-left">
              {% trans "Dokumentační jednotky" %}
            </div>
            {% if show.editovat and show.add_dj %}
            <div class="app-fx app-right">
              <div class="btn-group" role="group">
                <a id="button-add-dj" class="btn" href="{% url 'arch_z:create-dj' zaznam.ident_cely %}"
                        rel="tooltip" data-placement="top"
                        title="{% trans 'Přidat dokumentační jednotku' %}">
                  <span class="material-icons">add</span>
                </a>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="card-body p-0">
            <ul class="list-group list-group-flush">
              {% for j in dokumentacni_jednotky %}
                <li class="list-group-item">
                  <div class="d-flex align-items-center" id="el_div_dokumentacni_jednotka_{{ j.ident_cely_safe }}" {% if j.ident_cely == active_dj_ident %}style="background-color: rgba(36, 126, 75, 0.1)"{% endif %}>
                    {% if j.pian.stav == 2 %} <!-- POTVRZENY JE 2 -->
                      <a href="{% url 'arch_z:detail-dj' zaznam.ident_cely  j.ident_cely %}" class="d-flex mr-2 text-decoration-none app-pian app-confirmed" rel="tooltip"
                         data-placement="top" title="{% trans 'DJ má potvrzený pian' %}">
                        <span class="material-icons">my_location</span>
                      </a>
                    {% elif j.pian.stav == 1 %} <!-- NEPOTVRZENY JE 1 -->
                      <a href="{% url 'arch_z:detail-dj' zaznam.ident_cely  j.ident_cely %}" class="d-flex mr-2 text-decoration-none app-pian app-notconfirmed" rel="tooltip"
                         data-placement="top" title="{% trans 'DJ má nepotvrzený pian' %}">
                        <span class="material-icons">my_location</span>
                      </a>
                    {% else %}
                      <span class="material-icons mr-2 text-decoration-none app-pian app-disabled" rel="tooltip"
                            data-placement="top" title="{% trans 'DJ nemá pian' %}">location_disabled</span>
                    {% endif %}
                    <a href="{% url 'arch_z:detail-dj' zaznam.ident_cely  j.ident_cely %}" class="flex-fill app-entity-color" id="el_dokumentacni_jednotka_{{ j.ident_cely_safe }}">
                      <strong>{{ j.ident_cely|last_x_letters:3 }} ({{ j.typ }})</strong>
                      {% if j.adb %}- {{ j.adb.ident_cely }}{% endif %}
                    </a>
                  </div>
                  {% if j.komponenty.komponenty.all %}
                    <ul class="app-list-group-in">
                      {% for k in j.komponenty.komponenty.all %}
                        <li id="el_li_komponenta_{{ k.ident_cely_safe }}">
                          <div class="d-flex align-items-baseline" {% if k.ident_cely == active_komp_ident %}style="background-color: rgba(36, 126, 75, 0.1)"{% endif %}>
                            <a href="{% url 'arch_z:update-komponenta' zaznam.ident_cely j.ident_cely k.ident_cely %}" class="flex-fill mr-2 app-entity-color"
                               id="el_komponenta_{{ k.ident_cely_safe }}">
                              {{ k.ident_cely|last_x_letters:4 }} ({{ k.obdobi }} - {{ k.areal }})
                            </a>
                            <span class="badge badge-primary badge-pill">{{ k.pocet_nalezu }}</span>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% empty %}
                  <div class="app-note">
                    <span class="material-icons">info</span>
                    {% trans "Akce nemá žádné dokumentační jednotky." %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8 pl-0">
        <style>
            #djMap {
                width: 100%;
                /* height: 473px; */
                min-height: 400px;
                height: 100%;
                border-radius: 5px;
                padding-top: 75%;
            }
        </style>
        <div id="djMap" class="app-card-shadow"></div>
      </div>
    </div>

    <!-- forms -->
    <div id="dj_forms" class="mb-3">
      {% block dj_form %}
      {% endblock %}

    <!-- dokumenty -->

      {% include "dokument/dokument_table.html" with type="arch_z"%}

  </div>
  {% block arch_projekt %}
  {% endblock %}
  <style>
    .pian_disabled .select2-selection__rendered {
        overflow: hidden!important;
        margin-top: -0.125rem;
        padding-left: 8px!important;
        padding-right: 8px!important;
        width: 100%!important;
    }
    .pian_disabled .select2-selection__arrow {
        display: none;
    }
  </style>
{% endblock %}

{% block script %}
  <script >
    var static_url = "{% get_static_prefix %}";
  </script>
  <script src="{% static '/js/get_vychozi_hodnota_podrazeneho.js' %}"></script>
  <script src="{% static 'mapa_pins.js' %}"></script>
  <script src="{% static 'coor_precision.js' %}"></script>
  <script src="{% static 'spin/spin.min.js' %}"></script>
  <script src="{% static 'leaflet.spin.min.js' %}"></script>
  <script src="{% static 'arch_z_detail_map.js' %}"></script>
  <script>
      function get_create_pain_form_action(selected_dj_ident) {
          const url = "/pian/create/1";
          url.replace("1", selected_dj_ident);
          document.getElementById("create_pian_form_id").action = url;
      }

      let shown_form_id = "";
      let ask_only_once=true;

      const btw_add_dj = document.getElementById("button-add-dj");
      if (btw_add_dj){
        btw_add_dj.addEventListener("click", () => {
            if (el_div_currently_selected) {
                el_div_currently_selected.style.backgroundColor = null;
            }
        });
      }
      function setCookie(name, value, path) {
          var cookieString = name + '=' + value + ';path=' + path
          document.cookie = cookieString
      }

      function getCookie(name) {
          var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
          return v ? v[2] : null;
      }

      function show_form(form_id, form_to_show_next) {
        clearUnfinishedEditGeometry()
          let form = document.getElementById(form_id);
          if (form.style.display === "none") {
              // hide the form what was shown
              if (shown_form_id !== "") {
                  document.getElementById(shown_form_id).style.display = "none"
              }
              // Show desired form
              form.style.display = "block";
              shown_form_id = form_id
              if (form_to_show_next == null) {
                  form_to_show_next = form_id;
              }
              setCookie("detail-id-shown", form_to_show_next, "/arch-z/detail/")
          }
          if (form_id.includes("detail_dj_form_")) {
              pian_id = form_id.replace("detail_dj_form_", "")
              let xhr = new XMLHttpRequest();
              xhr.open('POST', '/arch-z/akce-zjisti-katastr');
              xhr.setRequestHeader('Content-type', 'application/json');
              if (typeof global_csrftoken !== 'undefined') {
                  xhr.setRequestHeader('X-CSRFToken', global_csrftoken);
              } else {
                  console.log("neni X-CSRFToken token")
              }
              xhr.onload = function () {
                  rs = JSON.parse(this.responseText)
                  if(rs.lat>0){
                    map.setView([rs.lat, rs.lng], rs.zoom)
                  }
                  if (rs.zoom == 17) {
                      drawnItems.clearLayers();
                      addPointToPoiLayerWithForce([rs.lat, rs.lng],  drawnItems,pian_id,rs.geom)
                  }
              };
              xhr.send(JSON.stringify(
                  {
                      'cadastre': document.getElementById("main_cadastre_id").value,
                      'pian': pian_id,
                  }))

          }else if (form_id.includes("detail_pian_form_")){
            map_show_edit(true, false)
            loadGeomToEdit(form_id.replace("detail_pian_form_",""))
          }
          document.getElementById("karta-dokumentacni-jednotky").scrollIntoView();
      }

      // Na rozdil od show_form je potreba priradit akci formam ktere vytvari child element komponenty
      function show_create_child_form(url, form_id, form_to_show_next) {
          clearUnfinishedEditGeometry()

          show_form(form_id, form_to_show_next);
          let forma = document.getElementById(form_id + "_id");
          forma.action = url;
          if (form_id === "create_pian_form") {
              map_show_edit(true, false)
          }
      }

      function show_grap_geom_from_map(dj){
        global_map_can_grab_geom_from_map=dj;
        map_show_edit(false)
      }

    </script>
      {% block script_detail %}
      {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', function (event) {
          // Focus on detail set by the cookie and display it
          get_vychozi_hodnota_podrazeneho("#id_areal","#id_aktivity",url)
          let detail_to_show = getCookie("detail-id-shown")
          const show_form_cookie = getCookie("show-form");
          const set_active_cookie = getCookie("set-active");
          let element_of_the_detail = document.getElementById(detail_to_show);
          if (set_active_cookie) {
              const new_el = document.getElementById(set_active_cookie);
              change_active_element(new_el);
              setCookie("set-active", "", "/");
          }
          if (show_form_cookie) {
              show_form(show_form_cookie);
              setCookie("show-form", "", "/");
              get_create_pain_form_action(show_form);
          } else if (detail_to_show != null && element_of_the_detail != null) {
              show_form(detail_to_show)
              document.getElementById("karta-dokumentacni-jednotky").scrollIntoView();
          } else {
              let xhr3 = new XMLHttpRequest();
              xhr3.open('POST', '/arch-z/akce-zjisti-katastr');
              xhr3.setRequestHeader('Content-type', 'application/json');
              if (typeof global_csrftoken !== 'undefined') {
                  xhr3.setRequestHeader('X-CSRFToken', global_csrftoken);
              } else {
                  console.log("neni X-CSRFToken token")
              }
              xhr3.onload = function () {
                  rs = JSON.parse(this.responseText)
                  if(rs.lat>0){
                    map.setView([rs.lat, rs.lng], rs.zoom)
                  }
              };
              xhr3.send(JSON.stringify(
                  {
                      'cadastre': document.getElementById("main_cadastre_id").value,
                      'pian': '',
                  }))
          }
          let i = 0;
          let vedouci_filed = null;
          let organizace_field = null;
          {% for row in akce_zaznam_ostatni_vedouci %}
              i = {{ forloop.counter0 }};
              vedouci_filed = document.getElementById(`id_akcevedouci_set-${i}-vedouci`);
              vedouci_filed.value = "{{ row.0 }}";
              organizace_field = document.getElementById(`id_akcevedouci_set-${i}-organizace`);
              organizace_field.value = "{{ row.1 }}";
          {% endfor %}
      })

      const div_komponenta_click = (data) => {
          const {ident_cely, ident_cely_safe} = data;
          show_form(`detail_komponenta_form_${ident_cely}`);
          const el_li_komponenta
              = document.getElementById(`el_li_komponenta_${ident_cely_safe}`);
          change_active_element(el_li_komponenta);
          div_komponenta = document.getElementById(`detail_komponenta_form_${ident_cely}`)
          document.getElementById("karta-dokumentacni-jednotky").scrollIntoView();
          get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}-areal`,`#id_${ident_cely}-aktivity`,url);
          objekty = div_komponenta.querySelector('#objekt_table').querySelector('tbody').querySelectorAll('tr');
          for (let i = 0; i < objekty.length; i++) {
            get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}_o-${i}-druh`,`#id_${ident_cely}_o-${i}-specifikace`,url);
          }
          predmety = div_komponenta.querySelector('#predmet_table').querySelector('tbody').querySelectorAll('tr');
          for (let i = 0; i < predmety.length; i++) {
            get_vychozi_hodnota_podrazeneho(`#id_${ident_cely}_p-${i}-druh`,`#id_${ident_cely}_p-${i}-specifikace`,url);
          }
      }

      const div_dokumentacni_jednotka_click = (data) => {
          const {ident_cely, ident_cely_safe} = data;
          show_form(`detail_dj_form_${ident_cely}`);
          get_create_pain_form_action(ident_cely);
          const el_div_dokumentacni_jednotka
              = document.getElementById(`el_div_dokumentacni_jednotka_${ident_cely_safe}`);
          change_active_element(el_div_dokumentacni_jednotka);
          document.getElementById("karta-dokumentacni-jednotky").scrollIntoView();
      };

      const change_active_element = (new_el) => {
          if (el_div_currently_selected) {
              el_div_currently_selected.style.backgroundColor = null;
          }
          el_div_currently_selected = new_el;
          new_el.style.backgroundColor = "rgba(36, 126, 75, 0.1)";
      }
      let el_div_currently_selected = null;
      const url = '{% url "heslar:get-initial-value" %}' + "?nadrazene="
  </script>
  <script>
    //modal scripts
    document.addEventListener('DOMContentLoaded', function (event) {
      if (document.getElementsByClassName("adb-smazat-btn")){
        elements = document.getElementsByClassName("adb-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(defaults, {modalID: "modal-form",
          formID: "smazat-adb-form",
          modalFormID: "#smazat-adb-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("dj-smazat-btn")){
        elements = document.getElementsByClassName("dj-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(defaults, {modalID: "modal-form",
          formID: "smazat-dj-form",
          modalFormID: "#smazat-dj-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("komponenta-smazat-btn")){
        elements = document.getElementsByClassName("komponenta-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(defaults, {modalID: "modal-form",
          formID: "smazat-komponenta-form",
          modalFormID: "#smazat-komponenta-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("pian-odpojit-btn")){
        elements = document.getElementsByClassName("pian-odpojit-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(defaults, {modalID: "modal-form",
          formID: "odpojit-pian-form",
          modalFormID: "#odpojit-pian-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("pian-potvrdit-btn")){
        elements = document.getElementsByClassName("pian-potvrdit-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(defaults, {modalID: "modal-form",
          formID: "potvrdit-pian-form",
          modalFormID: "#potvrdit-pian-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("objekt-smazat-btn")){
        elements = document.getElementsByClassName("objekt-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(defaults, {modalID: "modal-form",
          formID: "smazat-objekt-form",
          modalFormID: "#smazat-objekt-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      if (document.getElementsByClassName("vb-smazat-btn")){
        elements = document.getElementsByClassName("vb-smazat-btn")
        for (let i = 0; i < elements.length; i++){
          var options = Object.assign(defaults, {modalID: "modal-form",
          formID: "smazat-vb-form",
          modalFormID: "#smazat-vb-form",
          })
          new Modal(options, elements.item(i).id);
        }
      }
      var options = Object.assign(defaults, {modalID: "modal-form",
      formURL: "{% url 'heslar:create_osoba' %}",
      formID: "create-osoba-form",
      modalFormID: "#create-osoba-form",
      modalIDD : "#modal-form",
    })
    create_autor_popisu_modal = new Modal(options, "create-autor-popisu");
    var options = Object.assign(defaults, {modalID: "modal-form",
      formURL: "{% url 'heslar:create_osoba' %}",
      formID: "create-osoba-form",
      modalFormID: "#create-osoba-form",
      modalIDD : "#modal-form",
    })
    create_autor_revize_modal = new Modal(options, "create-autor-revize");
  });
    const show_uprav_pian_click = (pian_ident_cely, dj_ident_cely) => {
        show_form(`detail_pian_form_${pian_ident_cely}`, `detail_pian_form_${pian_ident_cely}`);
        const el_detail_pian_dj_indent = document.getElementById(`detail_pian_dj_indent_${ pian_ident_cely }`);
        el_detail_pian_dj_indent.value = dj_ident_cely;
    }

</script>
<script>
    var update_pian = function (dj_ident) {
      id = "#id_" + dj_ident + "-pian"
        console.log("najdene")
        $(id).prop('disabled', false);
    };
</script>
{% endblock %}
