{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

{% block title %}{% trans "Detail archeologického záznamu - akce" %}{% endblock %}
{% block head %}
  <!-- Map imports -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="">
  </script>

  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}" />
{% endblock %}

{% block content %}
<div class="app-entity-akce">
  {% include "toolbar_akce.html" with zaznam=zaznam  showbackdetail=True showcontrols=True %}

  <!-- stepper -->
  <div class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step {% if zaznam.stav == 1 %}active{% endif %}">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">
            {% trans "Rozepsaná" %}
            <span class="app-stepper-date">{{ history_dates.datum_zapsani|date:'Y/m/d'|default_if_none:"" }}</span>
          </span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step {% if zaznam.stav == 2 %}active{% endif %}">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">
            {% trans "Odeslaná" %}
            <span class="app-stepper-date">{{ history_dates.datum_odeslani|date:'Y/m/d'|default_if_none:"" }}</span>
          </span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step {% if zaznam.stav == 3 %}active{% endif %}">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">
            {% trans "Archivovaná" %}
            <span class="app-stepper-date">{{ history_dates.datum_archivace|date:'Y/m/d'|default_if_none:"" }}</span>
          </span>
        </button>
      </div>
    </div>
  </div>

  <!-- detail -->
  <div class="card app-card-form">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "Detail" %}
      </div>
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <div class="dropdown-menu" aria-labelledby="others">
            <a class="dropdown-item" href="{% url 'arch_z:smazat' zaznam.ident_cely %}">{% trans "Smazat akci" %}</a>
          </div>
          <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Další nabídka' %}">
            <span class="material-icons">more_vert</span>
          </button>
          <a class="btn" href="{% url 'arch_z:edit' zaznam.ident_cely %}" rel="tooltip"
             data-placement="top" title="{% trans 'Upravit' %}">
            <span class="material-icons">edit</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>{% trans "Hlavní katastr" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.hlavni_katastr }}" readonly>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{% trans "Přístupnost" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.pristupnost }}" readonly>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{% trans "Další katastry" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.katastry.all|katastry_to_list }}" readonly>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>{% trans "Uživatelské označení" %}</label>
            <textarea class="textarea form-control" cols="40" rows="2" placeholder="{{ zaznam.uzivatelske_oznaceni }}"
                      readonly></textarea>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{% trans "Hlavní vedoucí" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.akce.hlavni_vedouci }}" readonly>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{% trans "Datum zahájení" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.akce.datum_zahajeni|date:'Y/m/d' }}"
                   readonly>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{% trans "Datum ukončení" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.akce.datum_ukonceni|date:'Y/m/d' }}"
                   readonly>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>{% trans "Lokalizace okolností" %}</label>
            <textarea class="textarea form-control" cols="40" rows="2"
                      placeholder="{{ zaznam.akce.lokalizace_okolnosti }}" readonly></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>{% trans "Uložení nálezu" %}</label>
            <textarea class="textarea form-control" cols="40" rows="2" placeholder="{{ zaznam.akce.ulozeni_nalezu }}"
                      readonly></textarea>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>{% trans "Hlavní typ" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.akce.hlavni_typ }}" readonly>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>{% trans "Vedlejší typ" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.akce.vedlejsi_typ }}" readonly>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>{% trans "Poznámka" %}</label>
            <input class="form-control" type="text" placeholder="{{ zaznam.poznamka }}" readonly>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>{% trans "Odeslat ZAA jako NZ" %}</label>
            <input class="form-control" type="text"
                   placeholder="{% if zaznam.akce.je_nz == True %}Ano{% endif %} {% if zaznam.akce.je_nz == False %}Ne{% endif %}"
                   readonly>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- dokumentacni jednotka / mapa -->
  <div class="row mb-3">
    <div class="col-sm-4">
      <div class="card app-card-form app-card-dokumentacni-jednotka">
        <div id="karta-dokumentacni-jednotky" class="card-header">
          <div class="app-fx app-left">
            {% trans "Dokumentační jednotky" %}
          </div>
          <div class="app-fx app-right">
            <div class="btn-group" role="group">
              <button class="btn" onclick="show_form('create_dj_form')" rel="tooltip" data-placement="top" title="{% trans 'Přidat dokumentační jednotku' %}">
                <span class="material-icons">add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            {% for j in dokumentacni_jednotky %}
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  {% if j.pian.stav == 2 %} <!-- POTVRZENY JE 2 -->
                    <a href="#" class="d-flex mr-2 text-decoration-none app-pian app-confirmed" rel="tooltip" data-placement="top" title="{% trans 'DJ má potvrzený pian' %}">
                      <span class="material-icons">my_location</span>
                    </a>
                  {% elif j.pian.stav == 1 %} <!-- NEPOTVRZENY JE 1 -->
                    <a href="#" class="d-flex mr-2 text-decoration-none app-pian app-notconfirmed" rel="tooltip" data-placement="top" title="{% trans 'DJ má nepotvrzený pian' %}">
                      <span class="material-icons">my_location</span>
                    </a>
                  {% else %}
                    <span class="material-icons mr-2 text-decoration-none app-pian app-disabled" rel="tooltip" data-placement="top" title="{% trans 'DJ nemá pian' %}">location_disabled</span>
                  {% endif %}
                  <a href="#" class="flex-fill app-entity-color" onclick="show_form('detail_dj_form_{{ j.ident_cely }}')">
                    <strong>{{ j.ident_cely|last_x_letters:3 }} ({{ j.typ }})</strong>
                  </a>
                </div>
                {% if j.komponenty.komponenty.all %}
                  <ul class="app-list-group-in">
                    {% for k in j.komponenty.komponenty.all %}
                      <li>
                        <div class="d-flex align-items-baseline">
                          <a href="#" class="flex-fill mr-2 app-entity-color" onclick="show_form('detail_komponenta_form_{{ k.ident_cely }}')">
                            {{ k.ident_cely|last_x_letters:4 }} ({{ k.obdobi }} - {{ k.areal }})
                          </a>
                          <span class="badge badge-primary badge-pill">{{ k.pocet_nalezu }}</span>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <style>
          #djMap {
              width: 100%;
              /* height: 473px; */
              min-height: 300px;
              height: 100%;
              border-radius: 5px;
          }
      </style>
      <div id="djMap"></div>
    </div>
  </div>

  <!-- forms -->
  <div id="dj_forms" class="mb-3">
    <!-- dok jednotka -->
    <div class="card app-card-form" id="create_dj_form" style="display: none;">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Nová dokumentační jednotka" %}
        </div>
      </div>
      <div class="card-body">
        <form method="POST" action="{% url 'dj:zapsat' zaznam.ident_cely %}" onsubmit="newDjSubmitButton.disabled = true; return true;">
          {% crispy dj_form_create %}
          <button type="submit" id="newDjSubmitButton" class="btn btn-primary">{% trans "Vytovřit jednotku" %}</button>
        </form>
      </div>
    </div>
    {% for j in dj_forms_detail %}
      <div class="card app-card-form" id="detail_dj_form_{{ j.ident_cely }}" style="display: none;">
        <div class="card-header">
          <div class="app-fx app-left">
            {% trans "Dokumentační jednotka" %} {{ j.ident_cely }}
          </div>
          <div class="app-fx app-right">
            <div class="btn-group" role="group">
              <div class="dropdown-menu" aria-labelledby="others">
                {% if j.show_add_komponenta %}
                <a class="dropdown-item" href="#" onclick="show_create_child_form('{% url 'komponenta:zapsat' j.ident_cely %}', 'create_komponenta_form')">
                  {% trans 'Přidat komponentu' %}
                </a>
                {% endif %}
                {% if j.show_add_adb %}
                  <a class="dropdown-item" href="#" onclick="show_create_child_form('{% url 'adb:zapsat' j.ident_cely %}', 'create_adb_form', 'detail_dj_form_{{ j.ident_cely }}')">
                    {% trans 'Přidat ADB' %}
                  </a>
                {% endif %}
                {% if j.show_remove_adb %}
                  <a class="dropdown-item" href="{% url 'adb:smazat' j.adb_ident_cely %}">
                    {% trans 'Smazat ADB' %}
                  </a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'dj:smazat' j.ident_cely %}">
                  {% trans 'Smazat DJ' %}
                </a>
              </div>
              <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Další nabídka' %}">
                <span class="material-icons">more_vert</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="mb-3" method="POST" action="{% url 'dj:detail' j.ident_cely %}" onsubmit="{{ j.ident_cely }}_editDjSubmitButton.disabled = true; return true;">
            {% crispy j.form %}
            <button type="submit" id="{{ j.ident_cely }}_editDjSubmitButton" class="btn btn-primary" >{% trans "Upravit jednotku" %}</button>
          </form>

          {% if j.adb_form %}
            <div class="card app-card-form">
              <div class="card-header">
                <div class="app-fx app-left">
                  {% trans "Archeologický dokumentační bod" %} {{ j.adb_ident_cely }}
                </div>
              </div>
              <div class="card-body">
                <form method="POST" action="{% url 'adb:detail' j.ident_cely %}" onsubmit="{{ j.ident_cely }}_editAdbSubmitButton.disabled = true; return true;">
                  {% crispy j.adb_form %}
                  <button type="submit" id="{{ j.ident_cely }}_editAdbSubmitButton" class="btn btn-primary">{% trans "Upravit ADB" %}</button>
                </form>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <!-- kopmonenta -->
    <div class="card app-card-form" id="create_komponenta_form" style="display: none;">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Nová komponenta" %}
        </div>
      </div>
      <div class="card-body">
        <form method="POST" action="#" id="create_komponenta_form_id"> <!-- Action is filled using javascript -->
          {% crispy komponenta_form_create %}
          <button type="submit" class="btn btn-primary">{% trans "Vytovřit komponentu" %}</button>
        </form>
      </div>
    </div>

    <div class="card app-card-form" id="create_adb_form" style="display: none;">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Nový archeologický dokumentační bod" %}
        </div>
      </div>
      <div class="card-body">
        <form method="POST" action="#" id="create_adb_form_id"> <!-- Action is filled using javascript -->
          {% crispy adb_form_create %}
          <button type="submit" class="btn btn-primary">{% trans "Vytovřit ADB" %}</button>
        </form>
      </div>
    </div>

    <!-- dev -->
    {% for k in komponenta_forms_detail %}
      <div class="card app-card-form" id="detail_komponenta_form_{{ k.ident_cely }}" style="display: none;">
        <div class="card-header">
          <div class="app-fx app-left">
            {% trans "Komponenta" %} {{ k.ident_cely }}
          </div>
          <div class="app-fx app-right">
            <div class="btn-group" role="group">
              <div class="dropdown-menu" aria-labelledby="others">
                  <a class="dropdown-item" href="{% url 'komponenta:smazat' k.ident_cely %}">
                    {% trans 'Smazat komponentu' %}
                  </a>
              </div>
              <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Další nabídka' %}">
                <span class="material-icons">more_vert</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="mb-3" method="POST" action="{% url 'komponenta:detail' k.ident_cely %}" onsubmit="{{ k.ident_cely }}_editKompSubmitButton.disabled = true; return true;">
            {% crispy k.form %}
            <button type="submit" id="{{ k.ident_cely }}_editKompSubmitButton" class="btn btn-primary">{% trans "Upravit komponentu" %}</button>
          </form>

          <div class="card app-card-form">
            <div class="card-header">
              <div class="app-fx app-left">
                {% trans "Nálezy" %}
              </div>
            </div>
            <div class="card-body">
              <h5>{% trans "Objekty" %}</h5>
              <form class="mb-3" method="POST" action="{% url 'nalez:edit_objekt' k.ident_cely %}" onsubmit="{{ k.ident_cely }}_editNalezOSubmitButton.disabled = true; return true;">
                {% crispy k.form_nalezy_objekty k.helper %}
                <button type="submit" id="{{ k.ident_cely }}_editNalezOSubmitButton" class="btn btn-primary">{% trans "Upravit objekty" %}</button>
              </form>
              <h5>{% trans "Předměty" %}</h5>
              <form method="POST" action="{% url 'nalez:edit_predmet' k.ident_cely %}" onsubmit="{{ k.ident_cely }}_editNalezPSubmitButton.disabled = true; return true;">
                {% crispy k.form_nalezy_predmety k.helper %}
                <button type="submit" id="{{ k.ident_cely }}_editNalezPSubmitButton" class="btn btn-primary">{% trans "Upravit predmety" %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- dokumenty -->
  <div class="card app-card-form app-card-dokument">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "Dokumenty" %}
      </div>
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <button class="btn" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Další nabídka' %}">
            <span class="material-icons">more_vert</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="others">
            <a class="dropdown-item" href="{% url 'arch_z:pripojit_dokument' zaznam.ident_cely %}">{% trans "Připojit existující dokument" %}</a>
            <a class="dropdown-item" href="{% url 'arch_z:pripojit_dokument' zaznam.ident_cely zaznam.akce.projekt.ident_cely %}">{% trans "Připojit existující projektový dokument" %}</a>
          </div>
          <a class="btn app-entity-projekt" href="{% url 'dokument:zapsat' zaznam.ident_cely %}" rel="tooltip" data-placement="top" title="{% trans 'Přidat dokument' %}">
            <span class="material-icons">add</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover table-sm mb-0">
        <thead>
          <tr>
            <th>{% trans "Identifikátor" %}</th>
            <th>{% trans "Stav" %}</th>
            <th>{% trans "Typ dokumentu" %}</th>
            <th>{% trans "Počet souborů" %}</th>
            <th>{% trans "Odpojit dokument" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for d in dokumenty %}
            <tr>
              <td class="app-ident-cely">
                <a href="{% url 'dokument:detail' d.ident_cely %}">
                  <span class="material-icons">description</span>
                  {{ d.ident_cely }}
                </a>
              </td>
              <td><div class="badge">{{ d.get_stav_display }}</div></td>
              <td>{{ d.typ_dokumentu }}</td>
              <td>{{ d.soubory.soubory.all|length }}</td>
              <td>
                <a href="{% url 'arch_z:odpojit_dokument' d.ident_cely zaznam.ident_cely %}">
                  <span class="material-icons app-color-danger">delete_forever</span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'arch_z_detail_map.js' %}"></script>
  <script>

      let shown_form_id = "";

      function setCookie(name, value, path) {
          var cookieString = name + '=' + value + ';path=' + path
          document.cookie = cookieString
      }

      function getCookie(name) {
          var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
          return v ? v[2] : null;
      }

      function show_form(form_id, form_to_show_next) {
          let form = document.getElementById(form_id);
          if (form.style.display === "none") {
              // hide the form what was shown
              if (shown_form_id !== "") {
                  document.getElementById(shown_form_id).style.display = "none"
              }
              // Show desired form
              form.style.display = "block";
              shown_form_id = form_id
              if (form_to_show_next == null){
                form_to_show_next = form_id;
              }
              setCookie("detail-id-shown", form_to_show_next, "/arch_z/detail/")
          }
      }

      // Na rozdil od show_form je potreba priradit akci formam ktere vytvari child element komponenty
      function show_create_child_form(url, form_id, form_to_show_next) {
          show_form(form_id, form_to_show_next);
          let forma = document.getElementById(form_id+"_id");
          forma.action = url;
      }

      document.addEventListener('DOMContentLoaded', function (event) {
          // Focus on detail set by the cookie and display it
          let detail_to_show = getCookie("detail-id-shown")
          let element_of_the_detail = document.getElementById(detail_to_show)
          if (detail_to_show != null && element_of_the_detail != null) {
              show_form(detail_to_show)
              document.getElementById(detail_to_show).scrollIntoView()
          }
      })

  </script>
{% endblock %}
