{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Detail archeologického záznamu" %}{% endblock %}
{% block head %}
  <!-- Map imports -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin="">
  </script>
{% endblock %}

{% block content %}

  <h1>{% trans "Archeologický záznam" %} <span class="badge badge-info">{{ zaznam.get_stav_display }}</span></h1>

  <div class="card">
    <div class="card-header">{% trans "Detail" %}</div>
    <div class="card-body">
      <div class="row">
        <div class="col">{{ zaznam.akce.hlavni_typ }} {{ zaznam.akce.vedlejsi_typ }}</div>
        <div class="col">{{ zaznam.pristupnost }}</div>
        <div class="col">{{ zaznam.akce.datum_zahajeni|date:'Y/m/d' }} - {{ zaznam.akce.datum_ukonceni|date:'Y/m/d' }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.hlavni_katastr }}</div>
        <div class="col">{{ zaznam.akce.hlavni_vedouci }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.uzivatelske_oznaceni }}</div>
        <div class="col">{{ zaznam.akce.lokalizace_okolnosti }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.poznamka }}</div>
        <div class="col">{{ zaznam.akce.je_nz }}</div>
      </div>
      <div class="row">
        <div class="col">{{ zaznam.akce.ulozeni_nalezu }}</div>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-header">{% trans "Dokumentační jednotky" %}</div>
    <div class="card-body">
      {% for j in dokumentacni_jednotky %}
        <div class="row">
          <div class="col">{{ j.ident_cely }}</div>
          <div class="col">{{ j.typ }}</div>
          <div class="col">{{ j.nazev }}</div>
        </div>
        Komponenty:
        <hr/>
        {% for k in j.komponenty.komponenta_set.all %}
          <div class="row">
            <div class="col">{{ k.ident_cely }}</div>
            <div class="col">{{ k.obdobi }}</div>
            <div class="col">{{ k.areal }}</div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="card">
    <div class="card-header">{% trans "Dokumenty" %}</div>
    <div class="card-body">
      {% for d in dokumenty %}
        <div class="row">
          <div class="col">{{ d.ident_cely }}</div>
          <div class="col">
            <span class="badge badge-light">{{ d.get_stav_display }}</span>
          </div>
          <div class="col">{{ d.typ_dokumentu }}</div>
          <div clasd="col">{{ d.soubory.soubor_set|length }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block script %}
{% endblock %}
