{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Editace archeologického záznamu" %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="app-entity-akce">
  {% include "toolbar_akce.html" %}

    <form method="post">
      <div class="card app-card-form">
        <div class="card-header">
          <div class="app-fx app-left">
            {% trans "Archeologický záznam" %}
            <span class="badge badge-info">{{ zaznam.get_stav_display }}</span>
          </div>
        </div>
        <div class="card-body">
          {% crispy formAZ %}
          {% crispy formAkce %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">{% trans "Uložit změny" %}</button>
    </form>

  </div>
{% endblock %}

{% block script %}
{% endblock %}
