{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}

{% block title %}{%trans akce.template.index.Title%}{% endblock %}

{% block content %}
  <div class="app-entity-akce">
    {% include "toolbar_akce.html" %}

    <div class="row app-entity-cards mb-3">
      <div class="col">
        <a href="{% url 'arch_z:zapsat-akci' %}" class="card app-card-entity app-card-zapsat-akce">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Zapsat Samostatnou Akci" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'arch_z:list' %}?vlastnik={{ user.id }}" class="card app-card-entity app-card-moje-akce">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Moje Akce" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'arch_z:list' %}" class="card app-card-entity app-card-vybrat">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Vybrat" %}
          </div>
        </a>
      </div>
      
      <div class="col">
        <a href="{% url 'arch_z:list' %}?stav=3" class="card app-card-entity app-card-archivovat">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Archivovat" %}
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="app-card-desc-wrapper">
    <div class="app-collapse-zapsat-akce collapse">
      <div class="p-3">
        <h4>{% trans "Zapsat Samostatnou Akci" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
    <div class="app-collapse-moje-akce collapse">
      <div class="p-3">
        <h4>{% trans "Moje Akce" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
    <div class="app-collapse-vybrat collapse">
      <div class="p-3">
        <h4>{% trans "Vybrat" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  <div class="app-collapse-archivovat collapse">
      <div class="p-3">
        <h4>{% trans "Archivovat" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>

  <script>
    // show / hide card description
    $(".app-card-zapsat-akce").mouseleave(function(){
      $(".app-collapse-zapsat-akce").hide(100);
    });
    $(".app-card-zapsat-akce").mouseover(function(){
      $(".app-collapse-zapsat-akce").show(100);
    });
    $(".app-card-moje-akce").mouseleave(function(){
      $(".app-collapse-moje-akce").hide(100);
    });
    $(".app-card-moje-akce").mouseover(function(){
      $(".app-collapse-moje-akce").show(100);
    });
    $(".app-card-vybrat").mouseleave(function(){
      $(".app-collapse-vybrat").hide(100);
    });
    $(".app-card-vybrat").mouseover(function(){
      $(".app-collapse-vybrat").show(100);
    });
    $(".app-card-archivovat").mouseleave(function(){
      $(".app-collapse-archivovat").hide(100);
    });
    $(".app-card-archivovat").mouseover(function(){
      $(".app-collapse-archivovat").show(100);
    });
</script>
{% endblock %}

{% block script %}
{% endblock %}
