{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "arch_z.templates.arch_z.index.title" %}{% endblock %}

{% block content %}
  <div class="app-entity-akce">
    {% include "toolbar_akce.html" with type="akce" %}
    <div class="row app-entity-cards mb-3">
      <div class="col">
        <a href="{% url 'arch_z:zapsat-akci' %}" class="card app-card-entity app-card-zapsat-akce">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "arch_z.templates.arch_z.index.cardZapsatSamostatnouAkci.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'arch_z:list' %}?zahrnout_projektove=False&sort=hlavni_katastr&sort=ident_cely" class="card app-card-entity app-card-vybrat">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "arch_z.templates.arch_z.index.cardVybrat.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'arch_z:list' %}?zahrnout_projektove=False&historie_typ_zmeny=AZ01&historie_uzivatel={{ user.id }}&sort=stav&sort=ident_cely" class="card app-card-entity app-card-moje-akce">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "arch_z.templates.arch_z.index.cardMojeAkce.label" %}
          </div>
        </a>
      </div>
      {% if user.can_see_ours_item %}
        <div class="col">
          <a href="{% url 'arch_z:list' %}?zahrnout_projektove=False&historie_typ_zmeny=AZ01&historie_uzivatel_organizace={{ user.organizace.id }}&sort=stav&sort=ident_cely" class="card app-card-entity app-card-nase-akce">
            <div class="card-body card-body-background">
              <img src="{% static 'logo-am-mark.png' %}" />
            </div>
            <div class="card-footer">
              {% trans "arch_z.templates.arch_z.index.cardNaseAkce.label" %}
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="app-card-desc-wrapper">
    <div class="app-collapse-zapsat-akce app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "arch_z.templates.arch_z.index.cardZapsatSamostatnouAkci.text.title" %}</h4>
        <hr />
        {% trans "arch_z.templates.arch_z.index.cardZapsatSamostatnouAkci.text" %}
      </div>
    </div>
    <div class="app-collapse-moje-akce app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "arch_z.templates.arch_z.index.cardMojeAkce.text.title" %}</h4>
        <hr />
        {% trans "arch_z.templates.arch_z.index.cardMojeAkce.text" %}
      </div>
    </div>
    {% if user.can_see_ours_item %}
      <div class="app-collapse-nase-akce app-card-collapse-text">
        <div class="p-3">
          <h4>{% trans "arch_z.templates.arch_z.index.cardNaseAkce.text.title" %}</h4>
          <hr />
          {% trans "arch_z.templates.arch_z.index.cardNaseAkce.text" %}
        </div>
      </div>
    {% endif %}
    <div class="app-collapse-vybrat app-card-collapse-text">
      <div class="p-3">
        <h4>{% trans "arch_z.templates.arch_z.index.cardVybrat.text.title" %}</h4>
        <hr />
        {% trans "arch_z.templates.arch_z.index.cardVybrat.text" %}
      </div>
    </div>
  </div>


  <script>
    // show / hide card description
    $(".app-card-zapsat-akce").mouseleave(function(){
      $(".app-collapse-zapsat-akce").hide(100);
    });
    $(".app-card-zapsat-akce").mouseover(function(){
      $(".app-collapse-zapsat-akce").show(100);
    });
    $(".app-card-moje-akce").mouseleave(function(){
      $(".app-collapse-moje-akce").hide(100);
    });
    $(".app-card-moje-akce").mouseover(function(){
      $(".app-collapse-moje-akce").show(100);
    });
    {% if user.can_see_ours_item %}
      $(".app-card-nase-akce").mouseleave(function(){
        $(".app-collapse-nase-akce").hide(100);
      });
      $(".app-card-nase-akce").mouseover(function(){
        $(".app-collapse-nase-akce").show(100);
      });
    {% endif %}
    $(".app-card-vybrat").mouseleave(function(){
      $(".app-collapse-vybrat").hide(100);
    });
    $(".app-card-vybrat").mouseover(function(){
      $(".app-collapse-vybrat").show(100);
    });
</script>
{% endblock %}

{% block script %}
{% endblock %}
