{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "pian.templates.detail.title" %}{% endblock %}
{% block head %}
<!-- Map imports -->
<script>
    var map_translations = {
      ActionsCancelText: '{% trans "mapa.ActionsCancelText" %}',
      ActionsCancelTitle: '{% trans "mapa.ActionsCancelTitle" %}',
      ActionsClearText: '{% trans "mapa.ActionsClearText" %}',
      ActionsClearTitle: '{% trans "mapa.ActionsClearTitle" %}',
      ActionsSaveText: '{% trans "mapa.ActionsSaveText" %}',
      ActionsSaveTitle: '{% trans "mapa.ActionsSaveTitle" %}',
      CurrentLocationError: '{% trans "mapa.CurrentLocationError" %}',
      cuzkKatastralniMapa: '{% trans "mapa.cuzkKatastralniMapa" %}',
      cuzkKatastralniUzemi: '{% trans "mapa.cuzkKatastralniUzemi" %}',
      cuzkOrtofotomapa: '{% trans "mapa.cuzkOrtofotomapa" %}',
      cuzkStinovanyeelief5G: '{% trans "mapa.cuzkStinovanyeelief5G" %}',
      cuzkzakladniMapyCr: '{% trans "mapa.cuzkzakladniMapyCr" %}',
      npuPamatkovaOchrana: '{% trans "mapa.npuPamatkovaOchrana" %}',
      DefaultTitle: '{% trans "mapa.DefaultTitle" %}',
      DrawError: '{% trans "mapa.DrawError" %}',
      EditAddCircle: '{% trans "mapa.EditAddCircle" %}',
      EditAddCirclemarker: '{% trans "mapa.EditAddCirclemarker" %}',
      EditAddMarker: '{% trans "mapa.EditAddMarker" %}',
      EditAddPolygon: '{% trans "mapa.EditAddPolygon" %}',
      EditAddPolyline: '{% trans "mapa.EditAddPolyline" %}',
      EditAddRectangle: '{% trans "mapa.EditAddRectangle" %}',
      EditBackText: '{% trans "mapa.EditBackText" %}',
      EditBackTitle: '{% trans "mapa.EditBackTitle" %}',
      EditCancelText: '{% trans "mapa.EditCancelText" %}',
      EditCancelTitle: '{% trans "mapa.EditCancelTitle" %}',
      EditCirclemarkerTooltip: '{% trans "mapa.EditCirclemarkerTooltip" %}',
      EditCircleTooltip: '{% trans "mapa.EditCircleTooltip" %}',
      EditDisabled: '{% trans "mapa.EditDisabled" %}',
      EditFinishText: '{% trans "mapa.EditFinishText" %}',
      EditFinishTitle: '{% trans "mapa.EditFinishTitle" %}',
      EditMarkerTooltip: '{% trans "mapa.EditMarkerTooltip" %}',
      EditPolygonStart: '{% trans "mapa.EditPolygonStart" %}',
      EditPolygonTooltipCont: '{% trans "mapa.EditPolygonTooltipCont" %}',
      EditPolygonTooltipEnd: '{% trans "mapa.EditPolygonTooltipEnd" %}',
      EditPolylineCont: '{% trans "mapa.EditPolylineCont" %}',
      EditPolylineEnd: '{% trans "mapa.EditPolylineEnd" %}',
      EditPolylineError: '{% trans "mapa.EditPolylineError" %}',
      EditPolylineStart: '{% trans "mapa.EditPolylineStart" %}',
      EditRadius: '{% trans "mapa.EditRadius" %}',
      EditRectangleStart: '{% trans "mapa.EditRectangleStart" %}',
      EditSimpleshapeTooltip: '{% trans "mapa.EditSimpleshapeTooltip" %}',
      EditTitle: '{% trans "mapa.EditTitle" %}',
      EditTooltipSubtext: '{% trans "mapa.EditTooltipSubtext" %}',
      EditTooltipText: '{% trans "mapa.EditTooltipText" %}',
      FullscreenTitle: '{% trans "mapa.FullscreenTitle" %}',
      FullscreenTitleClose: '{% trans "mapa.FullscreenTitleClose" %}',
      lokalizaceProjektu: '{% trans "mapa.lokalizaceProjektu" %}',
      MeasureTitle: '{% trans "mapa.MeasureTitle" %}',
      MoveFront: '{% trans "mapa.MoveFront" %}',
      openStreetMap: '{% trans "mapa.openStreetMap" %}',
      openStreetMapSeda: '{% trans "mapa.openStreetMapSeda" %}',
      pian: '{% trans "mapa.pian" %}',
      pianZazamu: '{% trans "mapa.pianZazamu" %}',
      RemoveDisabled: '{% trans "mapa.RemoveDisabled" %}',
      RemoveTitle: '{% trans "mapa.RemoveTitle" %}',
      RemoveTooltipText: '{% trans "mapa.RemoveTooltipText" %}',
      samostatneNalezy: '{% trans "mapa.samostatneNalezy" %}',
      SearchText: '{% trans "mapa.SearchText" %}',
      SearchTextCancel: '{% trans "mapa.SearchTextCancel" %}',
      SearchTextError: '{% trans "mapa.SearchTextError" %}',
      TempPIAN: '{% trans "mapa.TempPIAN" %}',
      zoomInTitle: '{% trans "mapa.zoomInTitle" %}',
      zoomOutTitle: '{% trans "mapa.zoomOutTitle" %}',
      lokalizaceZamer: '{% trans "mapa.lokalizaceZamer" %}'
    };
</script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="">
  </script>

<script>
  var global_csrftoken = '{{ csrf_token }}';
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js" integrity="sha512-nMxgrgYu7vo/LNe5NFHZOIkwbodaU13UdYiDoDCuo3P2sryEyffrk1R3c2tFGbZ83AqaMbO19yhKnVgHztuqAw==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">


<script src='{% static 'js/Leaflet.fullscreen1.0.1/Leaflet.fullscreen.min.js' %}'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
  rel='stylesheet' />


  <script src="{% static 'coordTransform.js' %}"></script>
  <script src="{% static 'heatmap/heatmap.js' %}"></script>
  <script src="{% static 'heatmap/leaflet-heatmap.js' %}"></script>
  <script src="{% static 'leaflet.markercluster-src.js' %}"></script>
  <link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
  <link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />

<!-- static leaflet additional import-->
<link rel="stylesheet" href="{% static 'leaflet.measure.css' %}" />
<script src="{% static 'leaflet.measure.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.coor.css' %}" />

<link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
<script src="{% static 'leaflet-search.js' %}"></script>
{% endblock %}

{% block content %}

<div>
  <style>
    #projectMap {
      width: 100%;
      height: 473px;
      border-radius: 5px;
    }

    .leaflet-right .leaflet-control {
      margin-right: 5px;
    }

    .leaflet-bottom .leaflet-control {
      margin-bottom: 5px;
    }

    #findbox {
		background: #eee;
		border-radius:.125em;
		border:2px solid #1978cf;
		box-shadow: 0 0 8px #999;
		margin-bottom: 10px;
		padding: 2px 0;
		width: 600px;
		height: 26px;
	}
	.search-tooltip {
		width: 200px;
	}
	.leaflet-control-search .search-cancel {
		position: static;
		float: left;
		margin-left: -22px;
	}
  </style>
  <div id="projectMap"></div>
</div>

<form method="post" onsubmit="submitBtn.disabled = true; return true;">
  <div class="card app-card-form">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "pian.templates.detail.cardHeader" %}
      </div>
    </div>
    <div class="card-body">
      {% crispy form %}
    </div>
  </div>
  <button type="submit" id="submitBtn" class="btn btn-primary mt-3">{% trans "pian.templates.detail.submitButton.text" %}</button>
</form>

{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="{% static 'mapa_akce.js' %}"></script>
{% endblock %}
