
{% load i18n %}
<div class="under-header">
    {% if section.doi.value %}
    <div class="row">
        <div class="label"><strong>{{section.doi.label}}:</strong></div>
        <div class="content"> {{section.doi.value}}</div>
    </div>
    {%endif%}
    {% if section.organizace.value %}
    <div class="row">
        <div class="label"><strong>{{section.organizace.label}}:</strong></div>
        <div class="content"> {{section.organizace.value}}</div>
    </div>
    {%endif%}
    {% if section.obdobi.value %}
    <div class="row">
        <div class="label"><strong>{{section.obdobi.label}}:</strong></div>
        <div class="content"> {{section.obdobi.value}}{% if section.presna_datace.value %} ({{section.presna_datace.value}}){%endif%}</div>
    </div>
    {%endif%}
    {% if section.areal.value %}
    <div class="row">
        <div class="label"><strong>{{section.areal.label}}:</strong></div>
        <div class="content"> {{section.areal.value}} {% if section.aktivity.value %}({{section.aktivity.value}}){% endif %}</div>
    </div>
    {%endif%}
    {% if section.odkaz.value %}
    <div class="row">
        <div class="label"><strong>{{section.odkaz.label}}:</strong></div>
        <div class="content"> <a href="{{section.odkaz.value}}" target="_blank">{{section.odkaz.value}}</a></div>
    </div>    
    {%endif%}
    {% if section.popis.value %}
    <div class="row">
        <div class="label"><strong>{{section.popis.label}}:</strong></div>
        <div class="content"> {{section.popis.value}}</div>
    </div>
    {%endif%}
</div>
