
{% load i18n %}
<div class="under-header">
<div class="row"><strong>{{section.obdobi.label}}:</strong> {{section.obdobi.value}} {% if section.presna_datace.value %}({{section.presna_datace.value}}){%endif%} |
<strong>{{section.areal.label}}:</strong> {{section.areal.value}}</div>
{% if section.odkaz.value %}<div class="row"><strong>{{section.odkaz.label}}:</strong> {{section.odkaz.value}}</div>{%endif%}
<div class="row"><strong>{{section.popis.label}}:</strong> {{section.popis.value}}</div>
</div>
