{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
{% trans "uzivatel.emails.aar.dobrý_den" %},

{% trans "uzivatel.emails.aar.nový_uživatel_žádá_o_přístup_do_AMČR." %}:
<ul style="list-style: none">
    <li>ID: {{ id }}</li>
    <li>{% trans "uzivatel.emails.aar.jméno" %}: {{ name }}</li>
    <li>{% trans "uzivatel.emails.aar.příjmení" %}: {{ surname }}</li>
    <li>{% trans "uzivatel.emails.aar.organizace" %}: {{ organization }}</li>
    <li>{% trans "uzivatel.emails.aar.email" %}: {{ email }}</li>
    <li>{% trans "uzivatel.emails.aar.telefon" %}: {{ phone }}</li>
    {% trans "uzivatel.emails.aar.uživatelský_účet_aktivujete_v_administraci_amčr_nebo_kliknutím_na_tento_odkaz:" %}
</ul>
</body>
</html>