<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
{% trans "uzivatel.emails.ar.dobrý_den" %},
{% trans "uzivatel.emails.ar.váš_uživatelský_účet_pro_přístup_do_AMČR_byl_deaktivován_nebo_zrušen_pro_více_informací_se_obraťte_na_správce_systému" %}
</body>
</html>