{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

{% trans "uzivatel.emails.awu.dobrý_den" %},

{% trans "uzivatel.emails.awu.vašemu_účtu_byla_v_AMČR_změněna_uživatelská_role_či_upraveno_oprávnění." %}{% trans "uzivatel.emails.awu.platné_údaje" %}:
<ul style="list-style: none">
    <li>{% trans "uzivatel.emails.awu.user_role" %}: {{ role }}</li>
</ul>
<p>
    {% trans "uzivatel.emails.awu.změny_se_projeví_po_přihlášení_do_systému."%}
</p>
</body>
</html>