{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>
        {% trans "E-U-04.dobrý_den" %},
    </p>
    <p>
        {% trans "E-U-04.nový_uživatel_žádá_o_přístup_do_AMČR." %}
    </p>
    <ul style="list-style: none">
        <li><b>{% trans "E-U-04.id" %}:</b> {{ id }}</li>
        <li><b>{% trans "E-U-04.jméno" %}:</b> {{ name }}</li>
        <li><b>{% trans "E-U-04.příjmení" %}:</b> {{ surname }}</li>
        <li><b>{% trans "E-U-04.organizace" %}:</b> {{ organization }}</li>
        <li><b>{% trans "E-U-04.email" %}:</b> {{ email }}</li>
        <li><b>{% trans "E-U-04.telefon" %}:</b> {{ phone }}</li>
    </ul>
    <p>{% trans "E-U-04.uživatelský_účet_aktivujete_v_administraci_amčr" %}</p>
{% endblock %}
