{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>
        Dobrý den,
    </p>
    <p>
        vašemu účtu byla v AMČR změněna uživatelská role či upraveno oprávnění. Platné údaje: {{ roles }}
    </p>
    <p>
        Změny se projeví po přihlášení do systému.
    </p>
{% endblock %}
{% block content_en %}
    <p>
        Hello,
    </p>
    <p>
        your user account in AMCR has had its user role changed or permissions updated. Valid details: {{ roles }}
    </p>
    <p>
        Changes will take effect after logging into the system.
    </p>
{% endblock %}
