{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>
        Dobrý den,
    </p>
    <p>
        nový uživatel žádá o přístup do AMČR:
    </p>
    <ul style="list-style: none">
        <li><b>ID:</b> {{ id }}</li>
        <li><b>Jméno:</b> {{ name }}</li>
        <li><b>Příjmení:</b> {{ surname }}</li>
        <li><b>Organizace:</b> {{ organization }}</li>
        <li><b>Email:</b> {{ email }}</li>
        <li><b>Telefon:</b> {{ phone }}</li>
    </ul>
    <p>Uživatelský účet aktivujete v administraci AMČR: <a href="{% get_site_url %}{{ admin_link }}">{% get_site_url %}{{ admin_link }}</a></p>
{% endblock %}
{% block content_en %}
  <!-- add English version -->
{% endblock %}
