{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>
        {% trans "E-U-02.dobry_den" %},
    </p>
    <p>
        {% trans "E-U-02.pro_tuto_emailovou_adresu_byl_registrován_nový_uživatelský_účet_do_AMČR_s_následujícími_údaji" %}:
    </p>
    <ul style="list-style: none">
        <li><b>{% trans "E-U-02.id" %}:</b> <a href="{{ site_url }}{% url 'core:redirect_ident' id %}">{{ id }}</a></li>
        <li><b>{% trans "E-U-02.jméno" %}:</b> {{ name }}</li>
        <li><b>{% trans "E-U-02.příjmení" %}:</b> {{ surname }}</li>
        <li><b>{% trans "E-U-02.organizace" %}:</b> {{ organization }}</li>
        <li><b>{% trans "E-U-02.email" %}:</b> {{ email }}</li>
        <li><b>{% trans "E-U-02.telefon" %}:</b> {{ phone }}</li>
        <li><b>{% trans "E-U-02.heslo" %}:</b> <i>{% trans "E-U-02.heslo_vámi_zvolené_heslo" %}</i>
        </li>
        <li><b>{% trans "E-U-02.user_role" %}:</b> {{ role }}</li>
    </ul>
    <p>
        {% trans "E-U-02.vyčkejte_na_aktivaci_účtu_administrátorem_která_vám_bude_potvrzena_na_tento_email_obvykle_nejbližší_pracovní_den_v_běžné_pracovní_době." %}
    </p>
    <p>
        {% trans "E-U-02.upozornění_registrace_v_amčr_uživatele_neopravňuje_k_provádění_archeologických_výzkumů_na_území_české_republiky_a_to_vč_vyhledávání_archeologických_nálezů" %}
        {% trans "E-U-02.tuto_činnost_mohu_vykonávat_pouze_oprávněné_archeologické_organizace_a_jejich_oficiální_spolupracovníci" %} {% trans "E-U-02.k_možnostem_spolupráce_více_viz_https://amcr-info.aiscr.cz/pas." %}
    </p>
{% endblock %}
