{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>
        {% trans "uzivatel.templates.E-U-02.title" %}
    </p>
    <p>
        {% trans "uzivatel.templates.E-U-02.part1" %}
    </p>
    <ul style="list-style: none">
        <li><b>{% trans "uzivatel.templates.E-U-02.id" %}</b> {{ id }}</li>
        <li><b>{% trans "uzivatel.templates.E-U-02.jmeno" %}</b> {{ name }}</li>
        <li><b>{% trans "uzivatel.templates.E-U-02.prijmeni" %}</b> {{ surname }}</li>
        <li><b>{% trans "uzivatel.templates.E-U-02.organizace" %}</b> {{ organization }}</li>
        <li><b>{% trans "uzivatel.templates.E-U-02.email" %}</b> {{ email }}</li>
        <li><b>{% trans "uzivatel.templates.E-U-02.telefon" %}</b> {{ phone }}</li>
        <li><b>{% trans "uzivatel.templates.E-U-02.heslo" %}</b> <i>{% trans "uzivatel.templates.E-U-02.heslo.zvolene" %}</i>
        </li>
        <li><b>{% trans "uzivatel.templates.E-U-02.user_role" %}</b> {{ role }}</li>
    </ul>
    <p>
        {% trans "uzivatel.templates.E-U-02.part2" %}
    </p>
    <p>
        {% trans "uzivatel.templates.E-U-02.part3" %}
    </p>
    <p>
        {% trans "uzivatel.templates.E-U-02.part4" %} <a href="{% trans "uzivatel.templates.E-U-02.link" %}">{% trans "uzivatel.templates.E-U-02.link.text" %}</a>
    </p>
{% endblock %}
