{% extends "registration/_auth_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block auth_title %}{% trans "templates.djangoRegistration.activationForm.title" %}{% endblock %}

{% block auth_form %}
  <form method="post" class="form-group submit-spinner mb-0">
    {{ errors }}
    {{ form.activation_key|as_crispy_field }}
    {% csrf_token %}
    <small id="hint_id_activation_key" class="form-text text-muted">{% trans 'templates.djangoRegistration.activationKey.tooltip' %}</small>
    <input type="submit" id="submit-btn" class="btn btn-dark" value="{% trans 'templates.djangoRegistration.activationForm.submit' %}">
  </form>
{% endblock %}
