{% extends "registration/_auth_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block auth_title %}{% trans "templates.djangoRegistration.registrationForm.title" %}{% endblock %}

{% block auth_form %}
  <form method="POST" class="form-group form-login submit-spinner mb-0">
    {% crispy form %}
    {{ form.captcha }}
    <button id="registerSumbitButton" type="submit" class="btn btn-dark w-100">{% trans "templates.djangoRegistration.registrationForm.submitButton.text" %}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
      style="display: none"></span>
    </button>
  </form>
{% endblock %}

{% block auth_sidebar %}
  <div class="col-md-12 col-lg-8 login-col-info">
    <h3 class="login-welcome-heading">{% trans "templates.djangoRegistration.registrationForm.cardHeader.registrace" %}</h3>
    <div class="login-info-card">
      <div>{% trans "templates.djangoRegistration.registrationForm.registrace.part1" %}</div>
    </div>
    <h3 class="login-welcome-heading mt-4">{% trans "templates.djangoRegistration.registrationForm.cardHeader.prubeh" %}</h3>
    <div class="login-info-card">
      <div>
        <ul>
          {% trans "templates.djangoRegistration.registrationForm.prubeh.part1" %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block auth_script %}
  <script>
    document.getElementById("id_email").addEventListener("change", function () {
      this.value = this.value.toLowerCase();
    });
  </script>
  <script>
    const togglePassword1 = document.querySelector("#togglePassword1");
    const password1 = document.querySelector("#id_password1");
    const togglePassword2 = document.querySelector("#togglePassword2");
    const password2 = document.querySelector("#id_password2");

    togglePassword1.addEventListener("click", function () {
        const type = password1.getAttribute("type") === "password" ? "text" : "password";
        password1.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });

    togglePassword2.addEventListener("click", function () {
      const type = password2.getAttribute("type") === "password" ? "text" : "password";
      password2.setAttribute("type", type);
      this.classList.toggle("bi-eye");
  });
  </script>
{% endblock %}
