:root {
  --mermaid-font-size: 20px;
}

.mermaid,
.mermaid svg {
  font-size: var(--mermaid-font-size);
}

.mermaid * {
  font-size: var(--mermaid-font-size) !important;
}

table td .line-block,
table th .line-block {
  margin-bottom: 0 !important;
}
