{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_tags %}
{% load template_filters %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
  <script>
  {% autoescape off %}
    var settings_heatmap_options = {% get_settings "heatmap_options" "projekty_heatmap_options" %};
    {% endautoescape %}
		var global_csrftoken = '{{ csrf_token }}';
		global_map_can_edit=false;
	</script>
		<!-- Map imports -->
    <link rel="stylesheet" href="{% static 'js/Leaflet1.9.4/leaflet.css' %}"/>
    <script src="{% static 'js/Leaflet1.9.4/leaflet.js' %}"></script>
	</script>
  <script src="{% static 'js/Leaflet.EasyButton2.4.0/easy-button.js' %}"></script>
  <script src="{% static 'coordTransform.js' %}"></script>
  <script src="{% static 'heatmap/heatmap.js' %}"></script>
  <script src="{% static 'heatmap/leaflet-heatmap.js' %}"></script>
  <script src="{% static 'leaflet.markercluster-src.js' %}"></script>
  <link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
  <link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />
  <!--Leaflet FullScreen-->
  <script src='{% static 'js/Leaflet.fullscreen1.0.1/Leaflet.fullscreen.min.js' %}'></script>
  <link href='{% static 'js/Leaflet.fullscreen1.0.1/leaflet.fullscreen.css' %}'rel='stylesheet'/>
  <link rel="stylesheet" href="{% static 'js/Leaflet.EasyButton2.4.0/easy-button.css' %}">
	<!-- Date picker imports --> 
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js" integrity="sha512-NOqkPURPEeHGvb+6NAzb8hfxqUh9XvuaCDP+FevWSPM5a9yD8eLTVCwDzHh0G+mDRXH044rGtMKxyaDncAW4cw==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
  <!-- static leaflet additional import-->
<link rel="stylesheet" href="{% static 'leaflet.measure.css' %}?v2"/>
<script src="{% static 'leaflet.measure.js' %}?v1"></script>
<script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker.css' %}"/>
<link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
<script src="{% static 'leaflet-search.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="app-entity-projekt">
    {% include "toolbar_projekt.html" %}
    <form method="post" action="{% url 'projekt:create' %}" class="submit-spinner">
      <div class="card app-card-form app-card-in-clean-shadow">
        <div class="card-header">
          <div class="app-fx app-left">
            {{ header }}
          </div>
        </div>
        <div class="card-body">
          {% crispy form_projekt %}
          <div id="id_oznamvatel_form">
            {% crispy form_oznamovatel %}
          </div>
        </div>
      </div>
      <button type="submit" id="actionSubmitBtn" class="btn btn-primary mt-3">{{ button }}
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
        style="display: none"></span>
      </button>
      <a class="btn btn-secondary mt-3" href="{% url 'projekt:index' %}">{% trans "projekt.templates.create.backButton.text" %}</a>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script >
    var static_url = "{% get_static_prefix %}";
  </script>
  <script>
    var map_translations = {
      CurrentLocationError: '{% trans "mapa.CurrentLocationError" %}',
      cuzkKatastralniMapa: '{% trans "mapa.cuzkKatastralniMapa" %}',
      cuzkKatastralniUzemi: '{% trans "mapa.cuzkKatastralniUzemi" %}',
      cuzkOrtofotomapa: '{% trans "mapa.cuzkOrtofotomapa" %}',
      cuzkStinovanyeelief5G: '{% trans "mapa.cuzkStinovanyeelief5G" %}',
      cuzkzakladniMapyCr: '{% trans "mapa.cuzkzakladniMapyCr" %}',
      npuPamatkovaOchrana: '{% trans "mapa.npuPamatkovaOchrana" %}',
      DefaultTitle: '{% trans "mapa.DefaultTitle" %}',
      EditTurnOff: '{% trans "mapa.EditTurnOff" %}',
      EditTurnOn: '{% trans "mapa.EditTurnOn" %}',
      FullscreenTitle: '{% trans "mapa.FullscreenTitle" %}',
      FullscreenTitleClose: '{% trans "mapa.FullscreenTitleClose" %}',
      lokalizaceProjektu: '{% trans "mapa.lokalizaceProjektu" %}',
      MeasureTitle: '{% trans "mapa.MeasureTitle" %}',
      openStreetMap: '{% trans "mapa.openStreetMap" %}',
      openStreetMapSeda: '{% trans "mapa.openStreetMapSeda" %}',
      projektyP1: '{% trans "mapa.projektyP1" %}',
      projektyP2: '{% trans "mapa.projektyP2" %}',
      projektyP3: '{% trans "mapa.projektyP3" %}',
      projektyP46: '{% trans "mapa.projektyP46" %}',
      projektyP78: '{% trans "mapa.projektyP78" %}',
      projektyPAS: '{% trans "mapa.projektyPAS" %}',
      projektyPIAN: '{% trans "mapa.projektyPIAN" %}',
      SelectedLocation: '{% trans "mapa.SelectedLocation" %}',
      zoomInTitle: '{% trans "mapa.zoomInTitle" %}',
      zoomOutTitle: '{% trans "mapa.zoomOutTitle" %}'
    };

    var leaflet_search_translations = {
      KatastralniUzemi: '{% trans "leaflet_search.KatastralniUzemi" %}',
      Okres: '{% trans "leaflet_search.Okres" %}',
      Obec: '{% trans "leaflet_search.Obec" %}',
      Adresa: '{% trans "leaflet_search.Adresa" %}',
      Ulice: '{% trans "leaflet_search.Ulice" %}',
      Geonames: '{% trans "leaflet_search.Geonames" %}',
      Parcela: '{% trans "leaflet_search.Parcela" %}',
      Stavebni: '{% trans "leaflet_search.Stavebni" %}',
      Pozemkova: '{% trans "leaflet_search.Pozemkova" %}',
      SearchTextCancel: '{% trans "leaflet_search.SearchTextCancel" %}',
      SearchTextError: '{% trans "leaflet_search.SearchTextError" %}'
  };
  </script>
  <script src="{% static 'mapa_pins.js' %}"></script>
  <script src="{% static 'coor_precision.js' %}"></script>
  <script src="{% static 'coordTransform.js' %}"></script>
  <script src="{% static 'mapa_basic_grey.js' %}"></script>
  <script src="{% static 'spin/spin.min.js' %}"></script>
  <script src="{% static 'leaflet.spin.min.js' %}"></script>
  <script src="{% static 'leaflet_subgroup.js' %}"></script>
  <script src="{% static 'mapa_projekty.js' %}"></script>
  <script>var object_id = "{{ confirm.ident_cely }}";</script>
  <script>
      global_map_can_edit = true;
  </script>
  <script>
      $(document).ready(function () {
          const selectElement = document.getElementById('id_typ_projektu');
          const ZACHRANNY_OPTION = '{% get_value_from_heslar "projekt_typ" "zachranny" %}';
          function makeFieldDisabled(field, disabled, start){
              $(field).prop('readonly', disabled);
              if (field !='#id_oznaceni_stavby' && field != '#id_poznamka'){
                $(field).prop('required', !disabled);
                console.log($(field))
                if (disabled){
                  $(field)[0].classList.remove("required-next")
                }
                else{
                  $(field)[0].classList.add("required-next")
                }
              }
              if (!start){
                $(field).val("");
              };
          }

          function makeOznamovatelDisabled(disabled, start){
              makeFieldDisabled('#id_odpovedna_osoba', disabled, start)
              makeFieldDisabled('#id_oznamovatel', disabled, start)
              makeFieldDisabled('#id_adresa', disabled, start)
              makeFieldDisabled('#id_telefon', disabled, start)
              makeFieldDisabled('#id_email', disabled, start)
              makeFieldDisabled('#id_oznaceni_stavby', disabled, start)
              makeFieldDisabled('#id_poznamka', disabled, start)
              const form_card = document.querySelectorAll(".oznamovatel-form-card")[0];
              const elements = form_card.querySelectorAll(".asteriskField");
              if (disabled) {
                for (const element of elements) {
                    element.innerHTML = "";
                }
              } else {
                 for (const element of elements) {
                    element.innerHTML = "*";
                }
              }
          }
          if (selectElement.value != ZACHRANNY_OPTION) {
            makeOznamovatelDisabled(true, false)
          } else {
            makeOznamovatelDisabled(false, true)
          }

          // On change pak podle toho co je vybrano
          $(selectElement).on('changed.bs.select', function (e, clickedIndex) {
              if (selectElement.value != ZACHRANNY_OPTION) {
                  makeOznamovatelDisabled(true, false)
              } else {
                  makeOznamovatelDisabled(false ,false)
              }
              $('.selectpicker').selectpicker('refresh');
          });

          document.getElementById("id-app-entity-item").innerHTML = '{% trans "projekt.templates.create.toolbar.title" %}';
      })
  </script>
  <script>
    var drp_translations = {
      cancelLabel: '{% trans "drp.cancelLabel" %}',
      applyLabel: '{% trans "drp.applyLabel" %}'
    }
  </script>
  <script src="{% static 'daterangepicker.js' %}"></script>
  <script>
    $(document).ready(function () {
        var sel = document.getElementById('id_katastry');
        if (sel && "options" in sel) {
          for(var i = 0; i < sel.options.length; i++){
            if(sel.options[i].value === ""){
            sel.remove(i--);//decrease i to preserve future index references after removal
            }
          }
        }
        switchMap(false);
    })
  </script>
  <script>
    window.onload = function (){
      load_daterangepicker("#div_id_planovane_zahajeni")
    };
  </script>
{% endblock %}
