{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Detail projektu" %}{% endblock %}
{% block head %}
  <!-- Map imports -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>

    <script>
    var global_csrftoken = '{{ csrf_token }}';
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> -->
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1>{% trans "Projekt" %} <span class="badge badge-info">{{ projekt.get_stav_display }}</span></h1>
    </div>
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        {% if show.vratit_link %}
          <a href="{% url 'projekt:projekt_vratit' projekt.ident_cely %}"
             class="btn btn-secondary">{% trans "Vrátit" %}</a>
        {% endif %}
        {% if show.znovu_zapsat_link %}
          <a href="{% url 'projekt:projekt_vratit_navrh_zruseni' projekt.ident_cely %}"
             class="btn btn-primary">{% trans "Vrátit do stavu zapsán" %}</a>
        {% endif %}
        {% if show.navrhnout_zruseni_link %}
        <a href="{% url 'projekt:projekt_navrhnout_ke_zruseni' projekt.ident_cely %}" class="btn btn-warning">{% trans "Navrhnout zrušení" %}</a>
        {% endif %}
        {% if show.zrusit_link %}
          <a href="{% url 'projekt:projekt_zrusit' projekt.ident_cely %}"
             class="btn btn-warning">{% trans "Zrušit" %}</a>
        {% endif %}
        {% if show.schvalit_link %}
          <a href="{% url 'projekt:projekt_schvalit' projekt.ident_cely %}"
             class="btn btn-secondary">{% trans "Schválit" %}</a>
        {% endif %}
        {% if show.prihlasit_link %}
          <a href="{% url 'projekt:projekt_prihlasit' projekt.ident_cely %}"
             class="btn btn-primary">{% trans "Přihlásit" %}</a>
        {% endif %}
        {% if show.zahajit_teren_link %}
          <a href="{% url 'projekt:projekt_zahajit_v_terenu' projekt.ident_cely %}"
             class="btn btn-primary">{% trans "Zahájit výzkum" %}</a>
        {% endif %}
        {% if show.ukoncit_teren_link %}
          <a href="{% url 'projekt:projekt_ukoncit_v_terenu' projekt.ident_cely %}"
             class="btn btn-primary">{% trans "Ukončit výzkum" %}</a>
        {% endif %}
        {% if show.uzavrit_link %}
          <a href="{% url 'projekt:projekt_uzavrit' projekt.ident_cely %}"
             class="btn btn-primary">{% trans "Uzavřít" %}</a>
        {% endif %}
        {% if show.archivovat_link %}
          <a href="{% url 'projekt:projekt_archivovat' projekt.ident_cely %}"
             class="btn btn-primary">{% trans "Archivovat" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      {% trans "Detail" %}
      <div class="float-md-right"><a
          href="{% url 'projekt:projekt_edit' projekt.ident_cely %}">{% trans "Upravit" %}</a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">{{ projekt.typ_projektu }}</div>
        <div class="col">{{ projekt.planovane_zahajeni }}</div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">{{ katastry }}</div>
        <div class="col">{{ projekt.podnet }}</div>
      </div>
      <div class="row">
        <div class="col">{{ projekt.lokalizace }}</div>
        <div class="col">{{ projekt.parcelni_cislo }}</div>
      </div>
      <hr/>
      <h2>{% trans "Přihlášení" %}</h2>
      <div class="row">
        <div class="col">{{ projekt.organizace }}</div>
        <div class="col">{{ projekt.kulturni_pamatka }}</div>
      </div>
      <div class="row">
        <div class="col">{{ projekt.vedouci_projektu }}</div>
        <div class="col">{{ projekt.kulturni_pamatka_cislo }}</div>
      </div>
      <div class="row">
        <div class="col">{{ projekt.uzivatelske_oznaceni }}</div>
        <div class="col">{{ projekt.kulturni_pamatka_popis }}</div>
      </div>
      <hr/>
      <h2>{% trans "Výzkum" %}</h2>
      <div class="row">
        <div class="col">{{ projekt.datum_zahajeni|date:'Y/m/d' }}</div>
        <div class="col">{{ projekt.datum_ukonceni|date:'Y/m/d' }}</div>
      </div>
    </div>
  </div>
  {% if show.oznamovatel %}
    <div class="card mt-2">
      <div class="card-header">
        {% trans "Oznámení" %}
        <div class="float-md-right"><a
            href="{% url 'oznameni:oznameni_edit' projekt.oznamovatel.id %}">{% trans "Upravit" %}</a></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">{{ oznamovatel.oznamovatel }}</div>
          <div class="col">{{ oznamovatel.odpovedna_osoba }}</div>
        </div>
        <div class="row">
          <div class="col">{{ oznamovatel.email }}</div>
          <div class="col">{{ oznamovatel.telefon }}</div>
        </div>
        <div class="row">
          <div class="col">{{ oznamovatel.adresa }}</div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="card mt-2">
    <div class="card-header">
      {% trans "Projektová dokumentace" %}
      <a href="{% url 'projekt:upload_file' projekt.ident_cely %}">Upload</a>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Název</th>
          <th scope="col">Typ</th>
          <th scope="col">Velikost</th>
          <th scope="col">Datum vytvoření</th>
          <th scope="col">Smazat</th>
          <th scope="col">Stáhnout</th>
        </tr>
        </thead>
        <tbody>
        {% for soubor in soubory %}
          <tr>
            <td>{{ soubor.nazev }}</td>
            <td>{{ soubor.mimetype }}</td>
            <td>{{ soubor.size_bytes }}</td>
            <td>{{ soubor.vytvoreno|date:'Y/m/d' }}</td>
            <td><a href="{% url 'projekt:delete_file' soubor.id %}">Smazat</a></td>
            <td><a href="{% url 'projekt:download_file' soubor.id %}">Stáhnout</a></td>

          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      {% trans "Archeologické akce" %}
      <div class="float-md-right"><a
          href="{% url 'arch_z:zapsat' projekt.ident_cely %}">{% trans "+" %}</a>
      </div>
    </div>
    <div class="card-body">
      {% for a in akce %}
        <div class="row">
          <div class="col">
            <a href="{% url 'arch_z:detail' a.archeologicky_zaznam.ident_cely %}">
              {{ a.archeologicky_zaznam.ident_cely }}
            </a>
          </div>
          <div class="col">
            <span class="badge badge-light">{{ a.archeologicky_zaznam.get_stav_display }}</span>
          </div>
          <div class="col">{{ a.archeologicky_zaznam.pristupnost }}</div>
        </div>
        <div class="row">
          <div class="col">{{ a.archeologicky_zaznam.katasty }}</div>
          <div class="col">{{ a.vedouci }}</div>
        </div>
        <div class="row">
          <div class="col">
            {{ a.datum_zahajeni_v|date:'Y/m/d' }} - {{ a.datum_ukonceni_v|date:'Y/m/d' }}
          </div>
          <div class="col">
            {{ a.hlavni_typ }} {{ a.vedlejsi_typ }}
          </div>
        </div>
        <div class="row">
          <div class="col">{{ a.archeologicky_zaznam.uzivatelske_oznaceni }}</div>
        </div>
      {% endfor %}
    </div>
    <div class="container">
        <style>
            #projectMap {
                width: 100%;
                height: 473px;
                border-radius: 5px;
            }
        </style>
        <div id="projectMap"></div>
        <script src="{% static 'mapa.js' %}"></script>
        <script>
            global_map_can_edit=false;
            button_map_lock.disable();
            let coordinates='{{ projekt.geom.coords}}'.slice(1, -1).split(',');
            console.log(coordinates)
            if(coordinates && coordinates.length>1){
              addPointOnLoad(coordinates[1],coordinates[0],"Uživatelem zadaná poloha záměru");
            }
        </script>

    </div>
  </div>

{% endblock %}

{% block script %}
{% endblock %}
