{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Detail projektu" %}{% endblock %}
{% block head %}
  <!-- Map imports -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin="">
  </script>

  <script>
  var global_csrftoken = '{{ csrf_token }}';
  </script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'bs-stepper.min.css' %}" />
{% endblock %}

{% block content %}
  {% include "toolbar.html" with pagestyle="projekt" header="Projekt" %}

<!--   <div class="row app-content-header">
    <div class="col-sm-12 text-right app-controls">
      <div class="btn-group" role="group" aria-label="Stavy">
        {% if show.vratit_link %}
          <a href="{% url 'projekt:projekt_vratit' projekt.ident_cely %}" class="btn">
            <span class="material-icons">arrow_back</span>
            {% trans "Vrátit" %}
          </a>
        {% endif %}
        {% if show.znovu_zapsat_link %}
          <a href="{% url 'projekt:projekt_vratit_navrh_zruseni' projekt.ident_cely %}" class="btn">
            <span class="material-icons">wrap_text</span>
            {% trans "Vrátit do stavu zapsán" %}
          </a>
        {% endif %}
        {% if show.navrhnout_zruseni_link %}
        <a href="{% url 'projekt:projekt_navrhnout_ke_zruseni' projekt.ident_cely %}" class="btn">
          <span class="material-icons">shuffle</span>
          {% trans "Navrhnout zrušení" %}
        </a>
        {% endif %}
        {% if show.zrusit_link %}
          <a href="{% url 'projekt:projekt_zrusit' projekt.ident_cely %}" class="btn">
            <span class="material-icons">block</span>
            {% trans "Zrušit" %}
          </a>
        {% endif %}
        {% if show.schvalit_link %}
          <a href="{% url 'projekt:projekt_schvalit' projekt.ident_cely %}" class="btn">
            <span class="material-icons">done</span>
            {% trans "Schválit" %}
          </a>
        {% endif %}
        {% if show.prihlasit_link %}
          <a href="{% url 'projekt:projekt_prihlasit' projekt.ident_cely %}" class="btn">
            <span class="material-icons">login</span>
            {% trans "Přihlásit" %}
          </a>
        {% endif %}
        {% if show.zahajit_teren_link %}
          <a href="{% url 'projekt:projekt_zahajit_v_terenu' projekt.ident_cely %}" class="btn">
            <span class="material-icons">outlined_flag</span>
            {% trans "Zahájit výzkum" %}
          </a>
        {% endif %}
        {% if show.ukoncit_teren_link %}
          <a href="{% url 'projekt:projekt_ukoncit_v_terenu' projekt.ident_cely %}" class="btn">
            <span class="material-icons">highlight_off</span>
            {% trans "Ukončit výzkum" %}
          </a>
        {% endif %}
        {% if show.uzavrit_link %}
          <a href="{% url 'projekt:projekt_uzavrit' projekt.ident_cely %}" class="btn">
            <span class="material-icons">arrow_forward</span>
            {% trans "Uzavřít" %}
          </a>
        {% endif %}
        {% if show.archivovat_link %}
          <a href="{% url 'projekt:projekt_archivovat' projekt.ident_cely %}" class="btn">
            <span class="material-icons">archive</span>
            {% trans "Archivovat" %}
          </a>
        {% endif %}
      </div>
      <div class="btn-group" role="group" aria-label="{% trans 'Další volby' %}">
        <button id="otherOptions" type="button" class="btn dropdown-toggle app-entity-projekt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Další volby" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="otherOptions">
          <a class="dropdown-item" href="#">{% trans "Smazat projekt" %}</a>
          <a class="dropdown-item" href="#">{% trans "Tisková sestava" %}</a>
          <a class="dropdown-item" href="#">{% trans "Expertní list" %}</a>
          <a class="dropdown-item" href="#">{% trans "Odeslat nové potvrzení" %}</a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="bs-stepper app-entity-projekt">
    <div class="bs-stepper-header">
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">{% trans "Oznámený" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">
            {% trans "Zapsaný" %}
            <span class="app-stepper-date">29.06.2020</span>
          </span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">
            {% trans "Přihlášený" %}
            <span class="app-stepper-date">29.07.2020</span>
          </span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step active app-entity-projekt">
        <button type="button" class="btn step-trigger">
          <span class="bs-stepper-circle">4</span>
          <span class="bs-stepper-label">
            {% trans "Zahájen v terénu" %}
            <span class="app-stepper-date" data-toggle="tooltip" data-placement="bottom" title="Zobrazit vice informaci v tooltipu">29.09.2020</span>
          </span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">5</span>
          <span class="bs-stepper-label">{% trans "Ukončen v terénu" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">6</span>
          <span class="bs-stepper-label">{% trans "Uzavřený" %}</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step">
        <button type="button" class="btn step-trigger" disabled="disabled">
          <span class="bs-stepper-circle">7</span>
          <span class="bs-stepper-label">{% trans "Archivovaný" %}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="card app-card-form">
    <div class="card-header"> 
      <div class="app-fx app-left">
        {% trans "Detail" %}
      </div>
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <div class="dropdown-menu" aria-labelledby="others">
            <a class="dropdown-item" href="#">{% trans "Smazat projekt" %}</a>
            <a class="dropdown-item" href="#">{% trans "Tisková sestava" %}</a>
            <a class="dropdown-item" href="#">{% trans "Expertní list" %}</a>
            <a class="dropdown-item" href="#">{% trans "Odeslat nové potvrzení" %}</a>
          </div>
          <button class="btn app-entity-projekt" type="button" rel="tooltip" data-placement="top" title="{% trans 'Nastavení' %}">
            <span class="material-icons">settings</span>
          </button>
          <button class="btn app-entity-projekt" type="button" id="others" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="tooltip" data-placement="top" title="{% trans 'Další nabídka' %}">
            <span class="material-icons">more_vert</span>
          </button>
          <a class="btn app-entity-projekt" href="{% url 'projekt:projekt_edit' projekt.ident_cely %}" rel="tooltip" data-placement="top" title="{% trans 'Upravit' %}">
            <span class="material-icons">edit</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Typ projektu" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.typ_projektu }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Hlavní katastr" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.hlavni_katastr }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Katastry" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.katastry }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Plánované zahájení prací" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.planovane_zahajeni }}" readonly> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Podnět" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.podnet }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Lokalizace" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.lokalizace }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Parcelní číslo" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.parcelni_cislo }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Označení stavby" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.uzivatelske_oznaceni }}" readonly> 
          </div>
        </div>
      </div>
      <div class="row">  
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Datum zahájení výzkumu" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.datum_zahajeni|date:'Y/m/d' }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Datum ukončení výzkumu" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.datum_ukonceni|date:'Y/m/d' }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Organizace" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.organizace}}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Památková ochrana" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.pamatkova_ochrana }}" readonly> 
          </div>
        </div>
      </div>
      <div class="row">  
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Rejstříkové číslo USKP" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.kulturni_pamatka_cislo }}" readonly> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="formGroupExampleInput">{% trans "Název památky" %}</label>
            <input class="form-control" type="text" placeholder="{{ projekt.nazev_pamatky }}" readonly> 
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col">{{ projekt.typ_projektu }}</div>
        <div class="col">{{ projekt.planovane_zahajeni }}</div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">{{ katastry }}</div>
        <div class="col">{{ projekt.podnet }}</div>
      </div>
      <div class="row">
        <div class="col">{{ projekt.lokalizace }}</div>
        <div class="col">{{ projekt.parcelni_cislo }}</div>
      </div>
      <hr/>
      <h2>{% trans "Přihlášení" %}</h2>
      <div class="row">
        <div class="col">{{ projekt.organizace }}</div>
        <div class="col">{{ projekt.kulturni_pamatka }}</div>
      </div>
      <div class="row">
        <div class="col">{{ projekt.vedouci_projektu }}</div>
        <div class="col">{{ projekt.kulturni_pamatka_cislo }}</div>
      </div>
      <div class="row">
        <div class="col">{{ projekt.uzivatelske_oznaceni }}</div>
        <div class="col">{{ projekt.kulturni_pamatka_popis }}</div>
      </div>
      <hr/>
      <h2>{% trans "Výzkum" %}</h2>
      <div class="row">
        <div class="col">{{ projekt.datum_zahajeni|date:'Y/m/d' }}</div>
        <div class="col">{{ projekt.datum_ukonceni|date:'Y/m/d' }}</div>
      </div> -->
    </div>
  </div>
  {% if show.oznamovatel %}
    <div class="card app-card-form">
      <div class="card-header">
        <div class="app-fx app-left">
          {% trans "Oznámení" %}
        </div>
        <div class="app-fx app-right">
          <div class="btn-group" role="group">
            <a class="btn app-entity-projekt" href="{% url 'oznameni:oznameni_edit' projekt.oznamovatel.id %}" rel="tooltip" data-placement="top" title="{% trans 'Upravit' %}">
              <span class="material-icons">edit</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">  
          <div class="col-sm-3">
            <div class="form-group">
              <label for="formGroupExampleInput">{% trans "Oznamovatel" %}</label>
              <input class="form-control" type="text" placeholder="{{ oznamovatel.oznamovatel }}" readonly> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="formGroupExampleInput">{% trans "Zástupce oznamovatele" %}</label>
              <input class="form-control" type="text" placeholder="{{ oznamovatel.odpovedna_osoba }}" readonly> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="formGroupExampleInput">{% trans "Adresa oznamovatele" %}</label>
              <input class="form-control" type="text" placeholder="{{ oznamovatel.adresa }}" readonly> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="formGroupExampleInput">{% trans "Telefon" %}</label>
              <input class="form-control" type="text" placeholder="{{ oznamovatel.telefon }}" readonly> 
            </div>
          </div>
        </div>
        <div class="row">  
          <div class="col-sm-3">
            <div class="form-group">
              <label for="formGroupExampleInput">{% trans "Email" %}</label>
              <input class="form-control" type="text" placeholder="{{ oznamovatel.email }}" readonly> 
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="card app-card-form">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "Projektová dokumentace" %}
      </div>
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <a class="btn app-entity-projekt" href="{% url 'projekt:upload_file' projekt.ident_cely %}" rel="tooltip" data-placement="top" title="{% trans 'Nahrát dokumentaci' %}">
            <span class="material-icons">publish</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      {% if soubory %}
      <table class="table table-striped table-hover table-sm mb-0">
        <thead>
          <tr>
            <th scope="col">{% trans "Název" %}</th>
            <th scope="col">{% trans "Typ" %}</th>
            <th scope="col">{% trans "Velikost" %}</th>
            <th scope="col">{% trans "Datum vytvoření" %}</th>
            <th scope="col">{% trans "Smazat" %}</th>
            <th scope="col">{% trans "Stáhnout" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for soubor in soubory %}
          <tr>
            <td>{{ soubor.nazev }}</td>
            <td>{{ soubor.mimetype }}</td>
            <td>{{ soubor.size_bytes }}</td>
            <td>{{ soubor.vytvoreno|date:'Y/m/d' }}</td>
            <td>
              <a href="{% url 'projekt:delete_file' soubor.id %}">
                <span class="material-icons app-color-danger">delete_forever</span>
              </a>
            </td>
            <td>
              <a href="{% url 'projekt:download_file' soubor.id %}">
                <span class="material-icons">get_app</span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div class="app-note">
          <span class="material-icons">info</span>
          {% trans "Projekt zatím neobsahuje žádnou projektovou dokumentaci." %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="card app-card-form">
    <div class="card-header">
      <div class="app-fx app-left">
        {% trans "Archeologické akce" %}
      </div>
      <div class="app-fx app-right">
        <div class="btn-group" role="group">
          <a class="btn app-entity-projekt" href="{% url 'arch_z:zapsat' projekt.ident_cely %}" rel="tooltip" data-placement="top" title="{% trans 'Vložit další akci' %}">
            <span class="material-icons">add</span>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      {% if akce %}
      <table class="table table-striped table-hover table-sm mb-0">
        <thead>
          <tr>
            <th>{% trans "Ident cely" %}</th>
            <th>{% trans "Přístupnost" %}</th>
            <th>{% trans "Katastry" %}</th>
            <th>{% trans "Vedoucí" %}</th>
            <th>{% trans "Datum" %}</th>
            <th>{% trans "Typ" %}</th>
            <th>{% trans "Uživatelské označení" %}</th>
            <th>{% trans "Stav" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for a in akce %}
            <tr>
              <td> <a href="{% url 'arch_z:detail' a.archeologicky_zaznam.ident_cely %}">{{ a.archeologicky_zaznam.ident_cely }}</a></td>
              <td>{{ a.archeologicky_zaznam.pristupnost }}</td>
              <td>{{ a.archeologicky_zaznam.katasty }}</td>
              <td>{{ a.vedouci }}</td>
              <td>{{ a.datum_zahajeni|date:'Y/m/d' }} - {{ a.datum_ukonceni|date:'Y/m/d' }}</td>
              <td>{{ a.hlavni_typ }}, {{ a.vedlejsi_typ }}</td>
              <td>{{ a.archeologicky_zaznam.uzivatelske_oznaceni }}</td>
              <td><div class="badge badge-primary">{{ a.archeologicky_zaznam.get_stav_display }}</div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div class="app-note">
          <span class="material-icons">info</span>
          {% trans "Projekt zatím neobsahuje žádné projektové akce." %}
        </div>
      {% endif %}

      <!-- {% for a in akce %}
        <div class="row">
          <div class="col">
            <a href="{% url 'arch_z:detail' a.archeologicky_zaznam.ident_cely %}">
              {{ a.archeologicky_zaznam.ident_cely }}
            </a>
          </div>
          <div class="col">
            <span class="badge badge-light">{{ a.archeologicky_zaznam.get_stav_display }}</span>
          </div>
          <div class="col">{{ a.archeologicky_zaznam.pristupnost }}</div>
        </div>
        <div class="row">
          <div class="col">{{ a.archeologicky_zaznam.katasty }}</div>
          <div class="col">{{ a.vedouci }}</div>
        </div>
        <div class="row">
          <div class="col">
            {{ a.datum_zahajeni|date:'Y/m/d' }} - {{ a.datum_ukonceni|date:'Y/m/d' }}
          </div>
          <div class="col">
            {{ a.hlavni_typ }} {{ a.vedlejsi_typ }}
          </div>
        </div>
        <div class="row">
          <div class="col">{{ a.archeologicky_zaznam.uzivatelske_oznaceni }}</div>
        </div>
      {% empty %}
        {% trans "Projekt zatím neobsahuje žádné projektové akce." %}
      {% endfor %} -->
    </div>
    <!-- <div class="container">
        <style>
            #projectMap {
                width: 100%;
                height: 473px;
                border-radius: 5px;
            }
        </style>
        <div id="projectMap"></div>
        <script src="{% static 'mapa.js' %}"></script>
        <script>
            global_map_can_edit=false;
            button_map_lock.disable();
            let coordinates='{{ projekt.geom.coords}}'.slice(1, -1).split(',');
            console.log(coordinates)
            if(coordinates && coordinates.length>1){
              addPointOnLoad(coordinates[1],coordinates[0],"Uživatelem zadaná poloha záměru");
            }
        </script>

    </div> -->
  </div>

{% endblock %}

{% block script %}
{% endblock %}
