{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}
{% load template_tags %}

{% block title %}{% trans "projekt.templates.edit.title" %}{% endblock %}

{% block head %}
	<script>
    {% autoescape off %}
      var settings_heatmap_options = {% get_settings "heatmap_options" "projekty_heatmap_options" %};
    {% endautoescape %}
		var global_csrftoken = '{{ csrf_token }}';
		global_map_can_edit=false;
	</script>
	<!-- Leaflet imports -->
  <link rel="stylesheet" href="{% static 'js/Leaflet1.9.4/leaflet.css' %}"/>
    <script src="{% static 'js/Leaflet1.9.4/leaflet.js' %}"></script>
	</script>

  <script src="{% static 'coordTransform.js' %}"></script>
  <script src="{% static 'heatmap/heatmap.js' %}"></script>
  <script src="{% static 'heatmap/leaflet-heatmap.js' %}"></script>
  <script src="{% static 'leaflet.markercluster-src.js' %}"></script>
  <link rel="stylesheet" href="{% static 'MarkerCluster.css' %}" />
  <link rel="stylesheet" href="{% static 'MarkerCluster.Default.css' %}" />
	<!--Leaflet FullScreen-->
  <script src='{% static 'js/Leaflet.fullscreen1.0.1/Leaflet.fullscreen.min.js' %}'></script>
  <link href='{% static 'js/Leaflet.fullscreen1.0.1/leaflet.fullscreen.css' %}'rel='stylesheet'/>
  <script src="{% static 'js/Leaflet.EasyButton2.4.0/easy-button.js' %}"></script>

  <link rel="stylesheet" href="{% static 'js/Leaflet.EasyButton2.4.0/easy-button.css' %}">
	<!-- Date picker imports -->
	<script>
    		var drp_translations = {
			cancelLabel: '{% trans "drp.cancelLabel" %}',
			applyLabel: '{% trans "drp.applyLabel" %}'
    		}
  	</script> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js" integrity="sha512-NOqkPURPEeHGvb+6NAzb8hfxqUh9XvuaCDP+FevWSPM5a9yD8eLTVCwDzHh0G+mDRXH044rGtMKxyaDncAW4cw==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
	<!-- static leaflet additional import-->
<link rel="stylesheet" href="{% static 'leaflet.measure.css' %}"/>
<script src="{% static 'leaflet.measure.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet.coor.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.coor.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'daterangepicker.css' %}"/>
<link rel="stylesheet" href="{% static 'leaflet-search.css' %}"/>
<script src="{% static 'leaflet-search.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="app-entity-projekt">
		{% include "toolbar_projekt.html" with projekt=projekt %}
		<form method="post">
			{% crispy form_projekt %}
      <div class="mt-3">
        <div class="form-group">
          <input type="submit" name="save" value="{% trans 'projekt.templates.edit.submitButton.text' %}"
                 class="btn btn-primary app-entity-projekt-btn" id="submit-id-save">
          <a type="button" class="btn btn-secondary" href="{% url 'projekt:detail' projekt.ident_cely %}">{% trans "projekt.templates.edit.backButton.text" %}</a>
        </div>
      </div>
		</form>
	</div>
{% endblock %}


{% block script %}
  <script>
    var map_translations = {
      	CurrentLocationError: '{% trans "mapa.CurrentLocationError" %}',
	cuzkKatastralniMapa: '{% trans "mapa.cuzkKatastralniMapa" %}',
	cuzkKatastralniUzemi: '{% trans "mapa.cuzkKatastralniUzemi" %}',
	cuzkOrtofotomapa: '{% trans "mapa.cuzkOrtofotomapa" %}',
	cuzkStinovanyeelief5G: '{% trans "mapa.cuzkStinovanyeelief5G" %}',
	cuzkzakladniMapyCr: '{% trans "mapa.cuzkzakladniMapyCr" %}',
  npuPamatkovaOchrana: '{% trans "mapa.npuPamatkovaOchrana" %}',
	DefaultTitle: '{% trans "mapa.DefaultTitle" %}',
	EditTurnOff: '{% trans "mapa.EditTurnOff" %}',
	EditTurnOn: '{% trans "mapa.EditTurnOn" %}',
	FullscreenTitle: '{% trans "mapa.FullscreenTitle" %}',
	FullscreenTitleClose: '{% trans "mapa.FullscreenTitleClose" %}',
	lokalizaceProjektu: '{% trans "mapa.lokalizaceProjektu" %}',
	MeasureTitle: '{% trans "mapa.MeasureTitle" %}',
	openStreetMap: '{% trans "mapa.openStreetMap" %}',
	openStreetMapSeda: '{% trans "mapa.openStreetMapSeda" %}',
	projektyP1: '{% trans "mapa.projektyP1" %}',
	projektyP2: '{% trans "mapa.projektyP2" %}',
	projektyP3: '{% trans "mapa.projektyP3" %}',
	projektyP46: '{% trans "mapa.projektyP46" %}',
	projektyP78: '{% trans "mapa.projektyP78" %}',
	projektyPAS: '{% trans "mapa.projektyPAS" %}',
	projektyPIAN: '{% trans "mapa.projektyPIAN" %}',
	SearchText: '{% trans "mapa.SearchText" %}',
	SearchTextCancel: '{% trans "mapa.SearchTextCancel" %}',
	SearchTextError: '{% trans "mapa.SearchTextError" %}',
	SelectedLocation: '{% trans "mapa.SelectedLocation" %}',
	zoomInTitle: '{% trans "mapa.zoomInTitle" %}',
	zoomOutTitle: '{% trans "mapa.zoomOutTitle" %}'
    };
  </script>
  <script >
    var static_url = "{% get_static_prefix %}";
  </script>
  <script src="{% static 'mapa_pins.js' %}"></script>
  <script src="{% static 'coor_precision.js' %}"></script>
  <script src="{% static 'mapa_basic_grey.js' %}"></script>
  <script src="{% static 'spin/spin.min.js' %}"></script>
  <script src="{% static 'leaflet.spin.min.js' %}"></script>
  <script src="{% static 'leaflet_subgroup.js' %}"></script>
  <script src="{% static 'mapa_projekty.js' %}"></script>
  <script>
    window.addEventListener("DOMContentLoaded", function() {
      global_map_can_edit = true;
      if (document.getElementById("id_coordinate_x2").value > 1) {
          console.log("Adding point to map.")
          addPointOnLoad(document.getElementById("id_coordinate_x2").value, document.getElementById("id_coordinate_x1").value,  '{% trans "mapa.lokalizaceProjektu" %}',"{{projekt.ident_cely}}", "{{projekt.stav}}");
      } else {
          addProjektWithoutPointOnLoad("{{projekt.ident_cely}}");
          switchMap(false);
          console.log("Not adding point to map!")
      }
    })
  </script>

  <script src="{% static 'daterangepicker.js' %}"></script>

  <script src="{% static 'js/form_fields_disabling.js' %}"></script>
  <script>
      window.addEventListener("DOMContentLoaded", function() {
        var checked_field = document.getElementById("id_kulturni_pamatka");
        var fields = new Map()
        fields.set("id_kulturni_pamatka_cislo", "")
        fields.set("id_kulturni_pamatka_popis", "")
        var required = new Map()
        required.set("{% get_value_from_heslar "kulturni_pamatky" "op" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "kp" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "nkp" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "pz" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "pr" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "un" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])

        changeFields(checked_field, fields,required,required);
        checked_field.addEventListener("change", changeFields.bind(event, checked_field, fields,required,required));
      })
    </script>
  <script>
    $(document).ready(function () {
        var sel = document.getElementById('id_katastry');
        for(var i = 0; i < sel.options.length; i++){
          if(sel.options[i].value === ""){
          sel.remove(i--);//decrease i to preserve future index references after removal
          }
        }
    })
  </script>
  <script src="{% static '/js/create_message.js' %}"></script>
  <script type="text/javascript">
    // create osoba scripts
    var successFunction = function(settings, response) {
      let dropdown = document.getElementById('id_vedouci_projektu');
      let newOption = document.createElement('option');
      newOption.text = response.text;
      newOption.value = response.value;

      dropdown.add(newOption);

      $('#id_vedouci_projektu').selectpicker('refresh');
      $('#id_vedouci_projektu').selectpicker('val', response.value);
      dropdown.value = response.value;
      $(settings.modalIDD).modal("hide");
    };
    document.addEventListener('DOMContentLoaded', function (event) {
      var options = Object.assign(Object.create(defaults), {modalID: "modal-form",
      formURL: "{% url 'heslar:create_osoba' %}",
      formID: "create-osoba-form",
      modalFormID: "#create-osoba-form",
      modalIDD : "#modal-form",
      successFunc:successFunction,
    })
    create_osoba_modal = new Modal(options, "create-osoba");
    });
    </script>
    <script>
      // oznaceni stavby podle typu projektu
      $(document).ready(function () {
          const selectElement = document.getElementById('id_typ_projektu');
          const ZACHRANNY_OPTION = '{% get_value_from_heslar "projekt_typ" "zachranny" %}';

          const makeFieldDisabled = (field, disabled) => {
              $(field).prop('readonly', disabled);
              if (disabled) {
                  $(field).val("");
              }
          }
          if (selectElement.value != ZACHRANNY_OPTION) {
            makeFieldDisabled('#id_oznaceni_stavby', true)
          } else {
            makeFieldDisabled('#id_oznaceni_stavby', false)
          }

          // On change pak podle toho co je vybrano
          $(selectElement).on('changed.bs.select', function (e, clickedIndex) {
              if (selectElement.value != ZACHRANNY_OPTION) {
                makeFieldDisabled('#id_oznaceni_stavby', true)
              } else {
                makeFieldDisabled('#id_oznaceni_stavby', false)
              }
          });
      })
  </script>
  <script>
    window.onload = function (){
      load_daterangepicker("#div_id_planovane_zahajeni")
    };
  </script>
{% endblock %}
