{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "projekt.templates.index.title"%}{% endblock %}

{% block content %}
  <div class="app-entity-projekt">
    {% include "toolbar_projekt.html" with projekt=projekt %}

    <div class="row app-entity-cards mb-3">
      <div class="col">
        <a href="{% url 'projekt:create' %}" class="card app-card-entity app-card-zapsat-projekt">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "projekt.templates.index.cardZapsatProjekt.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAPSANY}}&sort=planovane_zahajeni&sort=hlavni_katastr&sort=ident_cely" class="card app-card-entity app-card-prihlasit-projekt">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "projekt.templates.index.cardPrihlasitProjekt.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_PRIHLASENY}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely" class="card app-card-entity app-card-zahajit-vyzkum">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "projekt.templates.index.cardZahajitVyzkum.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely" class="card app-card-entity app-card-ukoncit-teren">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "projekt.templates.index.cardUkoncitTeren.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely" class="card app-card-entity app-card-spravovat-akce">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "projekt.templates.index.cardSpravovatAkce.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}&organizace={{ user.organizace.id }}&sort=hlavni_katastr&sort=ident_cely" class="card app-card-entity app-card-uzavrit-projekt">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "projekt.templates.index.cardUzavritProjekt.label" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?sort=hlavni_katastr&sort=ident_cely" class="card app-card-entity app-card-vybrat-projekt">
          <div class="card-body card-body-background">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "projekt.templates.index.cardVybratProjekt.label" %}
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="app-card-desc-wrapper">
    <div class="app-collapse-zapsat-projekt collapse">
      <div class="p-3">
        <h4>{% trans "projekt.templates.index.cardZapsatProjekt.title" %}</h4>
        <hr />
        {% trans "projekt.templates.index.cardZapsatProjekt.text" %}
      </div>
    </div> 
    <div class="app-collapse-prihlasit-projekt collapse">
      <div class="p-3">
        <h4>{% trans "projekt.templates.index.cardPrihlasitProjekt.title" %}</h4>
        <hr />
        {% trans "projekt.templates.index.cardPrihlasitProjekt.text" %}
      </div>
    </div>  
    <div class="app-collapse-zahajit-vyzkum collapse">
      <div class="p-3">
        <h4>{% trans "projekt.templates.index.cardZahajitVyzkum.title" %}</h4>
        <hr />
        {% trans "projekt.templates.index.cardZahajitVyzkum.text" %}
      </div>
    </div>
    <div class="app-collapse-ukoncit-teren collapse">
      <div class="p-3">
        <h4>{% trans "projekt.templates.index.cardUkoncitTeren.title" %}</h4>
        <hr />
        {% trans "projekt.templates.index.cardUkoncitTeren.text" %}
      </div>
    </div>
    <div class="app-collapse-spravovat-akce collapse">
      <div class="p-3">
        <h4>{% trans "projekt.templates.index.cardSpravovatAkce.title" %}</h4>
        <hr />
        {% trans "projekt.templates.index.cardSpravovatAkce.text" %}
      </div>
    </div>
    <div class="app-collapse-uzavrit-projekt collapse">
      <div class="p-3">
        <h4>{% trans "projekt.templates.index.cardUzavritProjekt.title" %}</h4>
        <hr />
        {% trans "projekt.templates.index.cardUzavritProjekt.text" %}
      </div>
    </div>
    <div class="app-collapse-vybrat-projekt collapse">
      <div class="p-3">
        <h4>{% trans "projekt.templates.index.cardVybratProjekt.title" %}</h4>
        <hr />
        {% trans "projekt.templates.index.cardVybratProjekt.text" %}
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
{% endblock %}