{% extends "base_logged_in.html" %}
{% load static %}
{% load i18n %}

{% block title %}Projekty{% endblock %}

{% block content %}
  <div class="app-entity-projekt">
    {% include "toolbar_projekt.html" with projekt=projekt %}

    <div class="row app-entity-cards mb-3">
      <div class="col">
        <a href="#" class="card app-card-entity app-card-zapsat-projekt"><!-- musi se doplnit link -->
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Zapsat projekt" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAPSANY}}" class="card app-card-entity app-card-prihlasit-projekt">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Přihlásit projekt" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_PRIHLASENY}}&organizace={{ user.organizace.id }}" class="card app-card-entity app-card-zahajit-vyzkum">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Zahájit výzkum" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&organizace={{ user.organizace.id }}" class="card app-card-entity app-card-ukoncit-teren">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Ukončit terén" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_ZAHAJENY_V_TERENU}}&stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}" class="card app-card-entity app-card-spravovat-akce">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Spravovat akce" %}
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'projekt:list' %}?stav={{PROJEKT_STAV_UKONCENY_V_TERENU}}&organizace={{ user.organizace.id }}" class="card app-card-entity app-card-uzavrit-projekt">
          <div class="card-body">
            <img src="{% static 'logo-am-mark.png' %}" />
          </div>
          <div class="card-footer">
            {% trans "Uzavřít projekt" %}
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="app-card-desc-wrapper">
    <div class="app-collapse-zapsat-projekt collapse">
      <div class="p-3">
        <h4>{% trans "Zapsat projekt" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div> 
    <div class="app-collapse-prihlasit-projekt collapse">
      <div class="p-3">
        <h4>{% trans "Přihlásit projekt" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>  
    <div class="app-collapse-zahajit-vyzkum collapse">
      <div class="p-3">
        <h4>{% trans "Zahájit výzkum" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
    <div class="app-collapse-ukoncit-teren collapse">
      <div class="p-3">
        <h4>{% trans "Ukončit terén" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
    <div class="app-collapse-spravovat-akce collapse">
      <div class="p-3">
        <h4>{% trans "Spravovat akce" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
    <div class="app-collapse-uzavrit-projekt collapse">
      <div class="p-3">
        <h4>{% trans "Uzavřít projekt" %}</h4>
        <hr />
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>

  <script>
    // show / hide card description
    $(".app-card-zapsat-projekt").mouseleave(function(){
      $(".app-collapse-zapsat-projekt").hide(100);
    });
    $(".app-card-zapsat-projekt").mouseover(function(){
      $(".app-collapse-zapsat-projekt").show(100);
    });
    $(".app-card-prihlasit-projekt").mouseleave(function(){
      $(".app-collapse-prihlasit-projekt").hide(100);
    });
    $(".app-card-prihlasit-projekt").mouseover(function(){
      $(".app-collapse-prihlasit-projekt").show(100);
    });
    $(".app-card-zahajit-vyzkum").mouseleave(function(){
      $(".app-collapse-zahajit-vyzkum").hide(100);
    });
    $(".app-card-zahajit-vyzkum").mouseover(function(){
      $(".app-collapse-zahajit-vyzkum").show(100);
    });
    $(".app-card-ukoncit-teren").mouseleave(function(){
      $(".app-collapse-ukoncit-teren").hide(100);
    });
    $(".app-card-ukoncit-teren").mouseover(function(){
      $(".app-collapse-ukoncit-teren").show(100);
    });
    $(".app-card-spravovat-akce").mouseleave(function(){
      $(".app-collapse-spravovat-akce").hide(100);
    });
    $(".app-card-spravovat-akce").mouseover(function(){
      $(".app-collapse-spravovat-akce").show(100);
    });
    $(".app-card-uzavrit-projekt").mouseleave(function(){
      $(".app-collapse-uzavrit-projekt").hide(100);
    });
    $(".app-card-uzavrit-projekt").mouseover(function(){
      $(".app-collapse-uzavrit-projekt").show(100);
    });
</script>
{% endblock %}

{% block script %}
{% endblock %}
