{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Přihlášení projektu " %}{{ projekt.ident_cely }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <div class="app-entity-projekt">
    {% include "toolbar_projekt.html" %}
    <form method="POST">
      {% crispy form %}
      <div class="mt-3">
        <button type="submit" name="save" class="btn btn-primary mr-1" id="submit-id-save">{% translate 'Přihlásit projekt' %}</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">{% trans "Zpět" %}</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'pamatkova_ochrana_validator.js' %}"></script>
  <script src="{% static '/js/create_message.js' %}"></script>
  <script type="text/javascript">
    // create osoba scripts
    var successFunction = function(settings, response) {
      let dropdown = document.getElementById('id_vedouci_projektu');
      let newOption = document.createElement('option');
      newOption.text = response.text;
      newOption.value = response.value;

      dropdown.add(newOption);
      
      $('#id_vedouci_projektu').selectpicker('refresh');
      $('#id_vedouci_projektu').selectpicker('val', response.value);
      dropdown.value = response.value;
      $(settings.modalID).modal("hide");
    };
    $(document).ready(function() {
    
        $("#create-osoba").modalForm({
            modalID: "#modal-form",
            formURL: "{% url 'uzivatel:create_osoba' %}",
            successFunc: successFunction
        });
    
    });
    </script>
{% endblock %}
