{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load template_filters %}

<form method="POST" id="prihlasit-form">
  <div class="modal-header">
    <h5 class="modal-title">{% trans "projekt.templates.prihlasit.header.title" %}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% crispy form %}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "projekt.templates.prihlasit.closeButton.text" %}</button>
    <button type="submit" class="btn btn-primary" id="submit-btn">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loader-spinner" style="display: none"></span>      
      {% trans 'projekt.templates.prihlasit.submitButton.text' %}
    </button>
  </div>
</form>




{% block script %}
  <script src="{% static 'form_fields_disabling.js' %}"></script>
  <script src="{% static '/js/create_message.js' %}"></script>
  <script type="text/javascript" id="js-id-create-osoba">
    //var prihlasit_modal

    var successFunction = function(settings, response) {
      let dropdown = document.getElementById('id_vedouci_projektu');
      let newOption = document.createElement('option');
      newOption.text = response.text;
      newOption.value = response.value;

      dropdown.add(newOption);
      
      $('#id_vedouci_projektu').selectpicker('refresh');
      $('#id_vedouci_projektu').selectpicker('val', response.value);
      dropdown.value = response.value;
      $(settings.modalIDD).modal("hide");
    };
    window.addEventListener("modalLoaded", function() {
      var options = Object.assign(Object.create(defaults), {
        modalID: "modal-osoba-form",
        formURL: "{% url 'heslar:create_osoba' %}",
        formID: "create-osoba-form",
        modalContent: ".modal-content",
        modalForm: ".modal-content osoba-form",
        modalFormID: "#create-osoba-form",
        modalIDD : "#modal-osoba-form",
        successFunc: successFunction,
        firstModalID: "#modal-form",
        secondModal: modal,
      })
      var create_osoba_modal = new Modal(options, "create-osoba");  
    });
  
    </script>
    <script>
      window.addEventListener("modalLoaded", function() {
        var checked_field = document.getElementById("id_kulturni_pamatka");
        console.log(checked_field)
        var fields = new Map()
        fields.set("id_kulturni_pamatka_cislo", "")
        fields.set("id_kulturni_pamatka_popis", "")
        var required = new Map()
        required.set("{% get_value_from_heslar "kulturni_pamatky" "op" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "kp" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "nkp" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "pz" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "pr" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])
        required.set("{% get_value_from_heslar "kulturni_pamatky" "un" %}", ["id_kulturni_pamatka_cislo", "id_kulturni_pamatka_popis"])

        changeFields(checked_field, fields,required,required);
        checked_field.addEventListener("change", changeFields.bind(event, checked_field, fields,required,required));
      })
    </script>
{% endblock %}
