{% extends "search_list.html" %}
{% load template_filters %}

{% block script2 %}
  <script>
    $(document).ready(function () {
      const STAV_OZNAMENY = '{% get_value_from_heslar "projekt_stav" "oznameny" %}';
      const STAV_ZAPSANY = '{% get_value_from_heslar "projekt_stav" "zapsany" %}';
      const STAV_PRIHLASENY = '{% get_value_from_heslar "projekt_stav" "prihlaseny" %}';
      const STAV_ZAHAJEN = '{% get_value_from_heslar "projekt_stav" "zahajeny_v_terenu" %}';
      const STAV_UKONCEN = '{% get_value_from_heslar "projekt_stav" "ukonceny_v_terenu" %}';
      const STAV_UZAVREN = '{% get_value_from_heslar "projekt_stav" "uzavreny" %}';

      setPageHeader();

      function setHeader(header) {
          document.getElementById('id-app-entity-item').innerHTML = header;
      }

      function listMatch(required, actual) {
          if (actual.length === required.length && actual.every(function (value, index) {
              return value === required[index]
          })) {
              return true;
          } else {
              return false;
          }
      }

      function hasOnlySchvalitOznameni(actualParams, actualValues) {
          if (listMatch(['stav'], actualParams) && listMatch([STAV_OZNAMENY], actualValues)) {
              setHeader("{{hasSchvalitOznameni_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyPrihlasitProjekt(actualParams, actualValues) {
          if (listMatch(['stav'], actualParams) && listMatch([STAV_ZAPSANY], actualValues)) {
              setHeader("{{hasPrihlasit_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyZahajitVyzkum(actualParams, actualValues) {
          if (listMatch(['stav', 'organizace'], actualParams) && listMatch([STAV_PRIHLASENY], actualValues)) {
              setHeader("{{hasZahajitVyzkum_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyUkoncitTeren(actualParams, actualValues) {
          if (listMatch(['stav', 'organizace'], actualParams) && listMatch([STAV_ZAHAJEN], actualValues)) {
              setHeader("{{hasUkoncitTeren_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlySpravovatAkce(actualParams, actualValues) {
          if (listMatch(['stav', 'stav', 'organizace'], actualParams) && listMatch([STAV_ZAHAJEN, STAV_UKONCEN], actualValues)) {
              setHeader("{{hasSpravovatAkce_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyUzavritProjekt(actualParams, actualValues) {
          if (listMatch(['stav', 'organizace'], actualParams) && listMatch([STAV_UKONCEN], actualValues)) {
              setHeader("{{hasUzavritProjekt_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyVybratProjekty(actualParams, actualValues) {
          if (listMatch([], actualParams) && listMatch([], actualValues)) {
              setHeader("{{hasOnlyVybrat_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyNaseProjekty(actualParams, actualValues) {
          if (listMatch(['organizace'], actualParams) && listMatch(['{{ user.organizace.id }}'], actualValues)) {
              setHeader("{{hasNaseProjekty_header}}")
              return true
          } else {
              return false
          }
      }

      function hasOnlyArchivovatProjekty(actualParams, actualValues) {
          if (listMatch(['stav'], actualParams) && listMatch([STAV_UZAVREN], actualValues)) {
              setHeader("{{hasOnlyArchive_header}}")
              return true
          } else {
              return false
          }
      }

      function setPageHeader() {
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          urlParams.delete('sort');
          const keys = Array.from(urlParams.keys());
          const values = Array.from(urlParams.values());
          if (!(hasOnlySchvalitOznameni(keys, values) ||
              hasOnlyPrihlasitProjekt(keys, values) ||
              hasOnlyZahajitVyzkum(keys, [urlParams.get('stav')]) ||
              hasOnlyUkoncitTeren(keys, [urlParams.get('stav')]) ||
              hasOnlySpravovatAkce(keys, urlParams.getAll('stav')) ||
              hasOnlyUzavritProjekt(keys, [urlParams.get('stav')]) ||
              hasOnlyVybratProjekty(keys, values) ||
              hasOnlyNaseProjekty(keys, values) ||
              hasOnlyArchivovatProjekty(keys, [urlParams.get('stav')])
          )) {
              setHeader("{{default_header}}")
          }
      }
  });
  </script>
{% endblock %}
