{% load i18n %}
<table class="table table-striped table-hover table-sm mb-0">
    <thead>
    <tr>
      <th>{% trans "projekt.templates.projektTable.ident.label" %}</th>
      <th>{% trans "projekt.templates.projektTable.stav.label" %}</th>
      <th>{% trans "projekt.templates.projektTable.typProjektu.label" %}</th>
      <th>{% trans "projekt.templates.projektTable.hlavniKatastr.label" %}</th>
      <th>{% trans "projekt.templates.projektTable.podnet.label" %}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>