{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Seznam projektu" %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
  <h1>{% trans "Projekty" %}</h1>
  {% if filter %}
    <form method="get">

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="false"
              aria-controls="collapseExample">
        {% trans "Filtr" %}
      </button>
      <div class="collapse" id="filter">
        <div class="card card-body">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-primary">{% trans "Vybrat projekty" %}</button>
        </div>
      </div>

    </form>
  {% endif %}
  {% render_table table 'django_tables2/bootstrap4.html' %}

{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}
