{% extends "base_logged_in.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Seznam projektu" %}{% endblock %}
{% block head %}{% endblock %}

{% block content %}
  <div class="app-entity-projekt">
    {% include "toolbar_projekt.html" with projekt=projekt %}

    {% if filter %}
      <form method="get">
        <button class="btn btn-primary mb-3 collapsed" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-controls="collapseExample">
          <span class="material-icons">filter_alt</span>{% trans "Filtr" %}<span class="material-icons app-icon-expand">expand_more</span>
        </button>
        <div class="collapse mb-3" id="filter">
          <div class="card card-body">
            {% crispy filter.form filter.helper %}
            <button type="submit" class="btn btn-primary">{% trans "Vybrat projekty" %}</button>
            <a href="{% url 'projekt:list' %}">{% trans "Smazat filtr" %}</a>
          </div>
        </div>
      </form>
    {% endif %}
    {% render_table table 'django_tables2/bootstrap4.html' %}
  </div>
{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}
