{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  
  <form method="POST" id="{{ id_tag }}">
    <div class="modal-header">
      <h5 class="modal-title">{{ title }} {{ object.ident_cely }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% crispy form %}
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "projekt.templates.transakcevTerenu.closeButton.text" %}</button>
      <button type="submit" class="btn btn-primary" id="submit-btn"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loader-spinner" style="display: none"></span>
        {{ button }}</button>
    </div>
  </form>
{% endblock %}
{% block script %}
<script>
if ($('input[name="poslat_email_kraj"]:checked').val() === "False" || $('input[name="poslat_email_kraj"]:checked').val() === undefined) {
      $('#div_id_info_text').hide();
}     
  $('input:radio[name="poslat_email_kraj"]').change(
    function () {
      if ($(this).is(':checked') && $(this).val() == 'True') {
        $('#div_id_info_text').show();      
      };
      if ($(this).is(':checked') && $(this).val() == 'False') {
        $('#div_id_info_text').hide();         
      };
    });
</script>
{% endblock %}