{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>Dobrý den,</p>
    v AMČR-PAS byly dnes archivovány Vámi vložené nálezy:
    <ul style="list-style: none">
        {% for ident in projekt_ident_list %}
            <li><a href="{% get_site_url %}{% url 'core:redirect_ident' ident %}">{{ ident }}</a></li>
        {% endfor %}
    </ul>
    <p>Detaily zjistíte po přihlášení do AMČR-PAS. Záznamy byly zveřejněny v Digitálním archivu AMČR.</p>
{% endblock %}
{% block content_en %}
    <p>Hello,</p>
    The finds you submitted have been archived in AMCR-PAS today:
    <ul style="list-style: none">
        {% for ident in projekt_ident_list %}
            <li><a href="{% get_site_url %}{% url 'core:redirect_ident' ident %}">{{ ident }}</a></li>
        {% endfor %}
    </ul>
    <p>You can find the details after logging into AMCR-PAS. The records have been published in the AMCR Digital Archive.</p>
{% endblock %}
