{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>{% trans "pas.templates.emails.E-N-03.title" %},</p>
    <p>
        {% trans "pas.templates.emails.E-N-03.text1" %}
        <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> {% trans "pas.templates.emails.E-N-03.text2" %}
        <b>{{ katastr }}</b> {% trans "pas.templates.emails.E-N-03.text3" %}
        <b>{{ state }}</b>.</p>
    <p><b>{% trans "pas.templates.emails.E-N-03.text4" %}:</b> {{ reason }}</p>
    <p>{% trans "pas.templates.emails.E-N-03.text5" %}.</p>
{% endblock %}
