{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>Dobrý den,</p>
    <p>nový uživatel žádá o zařazení mezi spolupracovníky:</p>
    <ul style="list-style: none">
        <li><b>ID:</b> {{ ident_cely }}</li>
        <li><b>Jméno:</b> {{ name }}</li>
        <li><b>Příjmení:</b> {{ surname }}</li>
        <li><b>Organizace:</b> {{ organization }}</li>
        <li><b>Email:</b> {{ email }}</li>
        <li><b>Telefon:</b> {{ phone }}</li>
        <li><b>Zdůvodnění:</b> {{ message }}</li>
    </ul>
    <p>
        Spolupráci potvrdíte po přihlášení do AMČR-PAS, nebo kliknutím na tento odkaz: <a href="{% get_site_url %}{% url 'pas:spoluprace_aktivace_email' spoluprace_id %}">{% url 'pas:spoluprace_aktivace_email' spoluprace_id %}</a>
    </p>
{% endblock %}
{% block content_en %}
  <!-- add English version -->
{% endblock %}
