{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>{% trans "E-N-05.dobrý_den" %},</p>
    <p>{% trans "E-N-05.nový_uživatel_žádá_o_zařazení_mezi_spolupracovníky" %}:</p>
    <ul style="list-style: none">
        <li><b>{% trans "E-N-05.id" %}:</b> <a href="{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></li>
        <li><b>{% trans "E-N-05.jméno" %}:</b> {{ name }}</li>
        <li><b>{% trans "E-N-05.příjmení" %}:</b> {{ surname }}</li>
        <li><b>{% trans "E-N-05.organizace" %}:</b> {{ organization }}</li>
        <li><b>{% trans "E-N-05.email_(přihlašovací_jméno)" %}</b>: {{ email }}</li>
        <li><b>{% trans "E-N-05.telefon" %}:</b> {{ phone }}</li>
        <li><b>{% trans "E-N-05.zdůvodnění" %}:</b> {{ message }}</li>
    </ul>
    <p>
        {% trans "E-N-05.spolupráci_potvrdíte_po_přihlášení_do_amčr-pas_nebo_kliknutím_na_tento_odkaz" %}: <a href="{% url 'pas:spoluprace_aktivace' spoluprace_id %}">{% url 'pas:spoluprace_aktivace' spoluprace_id %}</a>{{  }}
    </p>
{% endblock %}
