{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>Dobrý den,</p>
    v AMČR-PAS byly dnes Vaším spolupracovníkem odeslány nové nálezy ke schválení:
    <ul style="list-style: none">
        {% for id in ids %}
            <li><a href="{% get_site_url %}{% url 'core:redirect_ident' id %}">{{ id }}</a></li>
        {% endfor %}
    </ul>
    <p>Detaily zjistíte po přihlášení do AMČR-PAS.</p>
{% endblock %}
{% block content_en %}
  <!-- add English version -->
{% endblock %}
