{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>{% trans "pas.templates.emails.E-N-05.title" %},</p>
    <p>{% trans "pas.templates.emails.E-N-05.text1" %}:</p>
    <ul style="list-style: none">
        <li><b>{% trans "pas.templates.emails.E-N-05.id" %}:</b> {{ ident_cely }}</li>
        <li><b>{% trans "pas.templates.emails.E-N-05.jmeno" %}:</b> {{ name }}</li>
        <li><b>{% trans "pas.templates.emails.E-N-05.prijmeni" %}:</b> {{ surname }}</li>
        <li><b>{% trans "pas.templates.emails.E-N-05.organizace" %}:</b> {{ organization }}</li>
        <li><b>{% trans "pas.templates.emails.E-N-05.email" %}</b>: {{ email }}</li>
        <li><b>{% trans "pas.templates.emails.E-N-05.telefon" %}:</b> {{ phone }}</li>
        <li><b>{% trans "pas.templates.emails.E-N-05.zduvodneni" %}:</b> {{ message }}</li>
    </ul>
    <p>
        {% trans "pas.templates.emails.E-N-05.text2" %}: <a href="{% get_site_url %}{% url 'pas:spoluprace_aktivace_email' spoluprace_id %}">{% url 'pas:spoluprace_aktivace_email' spoluprace_id %}</a>
    </p>
{% endblock %}
