{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>Dobrý den,</p>
    <p>
        vámi odeslaný samostatný nález <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> na katastru <b>{{ katastr }}</b> byl vrácen do stavu <b>{{ state }}</b>.
    </p>
    <p><b>Zdůvodnění:</b> {{ reason }}</p>
    <p>Detaily zjistíte po přihlášení do AMČR-PAS.</p>
{% endblock %}
{% block content_en %}
    <p>Hello,</p>
    <p>
        the individual find <b><a href="{% get_site_url %}{% url 'core:redirect_ident' ident_cely %}">{{ ident_cely }}</a></b> you submitted in the cadastre of <b>{{ katastr }}</b> has been returned to the state of <b>{{ state }}</b>.
    </p>
    <p><b>Reason:</b> {{ reason }}</p>
    <p>You can find the details after logging into AMCR-PAS.</p>
{% endblock %}
