{% extends 'core/email.html' %}
{% load i18n %}
{% load template_tags %}
{% block content %}
    <p>{% trans 'pas.templates.emails.E-N-02.title' %},</p>
    {% trans "pas.templates.emails.E-N-02.text1" %}:
    <ul style="list-style: none">
        {% for id in ids %}
            <li><a href="{% get_site_url %}{% url 'core:redirect_ident' id %}">{{ id }}</a></li>
        {% endfor %}
    </ul>
    <p>{% trans "pas.templates.emails.E-N-02.text2" %}. {% trans "pas.templates.emails.E-N-02.text3" %}.</p>
{% endblock %}
