{% extends 'core/email.html' %}
{% load i18n %}
{% block content %}
    <p>Dobrý den,</p>
    <p>
        vaše spolupráce s uživatelem <b>{{ name }}</b> <b>{{ surname }}</b> (<b>{{ organization }}</b>) byla úspěšně potvrzena.
    </p>
    <p>Detaily o spolupráci získáte po přihlášení do AMČR-PAS.</p>
{% endblock %}
{% block content_en %}
    <p>Hello,</p>
    <p>
        your collaboration with the user <b>{{ name }}</b> <b>{{ surname }}</b> (<b>{{ organization }}</b>) has been successfully confirmed.
    </p>
    <p>You can find the details of the collaboration after logging into AMCR-PAS.</p>
{% endblock %}
