{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

{% trans 'pas.emails.nc.dobrý_den' %},

{% trans "pas.emails.nc.nový_uživatel_žádá_o_zařazení_mezi_spolupracovníky" %}:

{% trans "pas.emails.nc.id" %}: {{ ident_cely }}
{% trans "pas.emails.nc.jméno" %}: {{ name }}
{% trans "pas.emails.nc.příjmení" %}: {{ surname }}
{% trans "pas.emails.nc.organizace" %}: {{ organization }}
{% trans "pas.emails.nc.email_(přihlašovací_jméno)" %}: {{ email }}
{% trans "pas.emails.nc.telefon" %}: {{ phone }}
{% trans "pas.emails.nc.zdůvodnění" %}: {{ message }}

{% trans "pas.emails.nc.spolupráci_potvrdíte_po_přihlášení_do_amčr-pas_nebo_kliknutím_na_tento_odkaz" %}: {{ link }}

</body>
</html>