{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

{% trans "pas.emails.pwr.dobrý_den" %},

 {% trans "pas.emails.pwr.vámi odeslaný samostatný nález" %} {{ ident_cely }} {% trans "pas.emails.pwr.na_katastru" %} {{ katastr }} {% trans "pas.emails.pwr.byl_vrácen_do_stavu" %}
    {{ state }}.

{% trans "pas.emails.pwr.důvod" %}: {{ reason }}

{% trans "pas.emails.pwr.detaily_zjistíte_po_přihlášení_do_amčr-pas" %}.

</body>
</html>