name: Django Tests

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r webclient/webclient/requirements/dev.txt
    - name: Coverage report
      working-directory: ./webclient
      run: |
        coverage run manage.py test --settings=webclient.settings.local_test
        coverage report
    - name: Django Testing
      working-directory: ./webclient
      run: |
        python3 manage.py test
