name: New version - create tag

on:
  workflow_call:
    inputs:
      new_tag:
        description: 'Tag name following vx.x.x semantics:'
        type: string
        required: true
    
jobs:
  create-tag:
    name: Create new tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: ${{ inputs.new_tag }}
      - run: |
          echo "Tag already present: ${{ steps.tag_create.outputs.tag_exists }}"
