name: New version

on:
  workflow_dispatch :
    inputs:
      new_tag:
        description: 'Tag name following vx.x.x semantics:'
        type: string
        required: true
      pre_release:
        description: 'Is this pre-release version?'
        type: boolean
        required: true
        default: true
    
jobs:
  update_citation:
    name: Update CITATION.cff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: dev
      - name: Update CITATION.cff
        run: |
          VERSION=${{ inputs.new_tag }}
          PRERELEASE=${{ inputs.pre_release }}
          if [ "$PRERELEASE" == "true" ]; then
            VERSION="$VERSION-pre-release"
          fi
          DATE=$(date -I)
          sed -i '/title:/!b;n;cversion: "'"$VERSION"'"' CITATION.cff
          sed -i "s/date-released:.*/date-released: $DATE/" CITATION.cff
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git config --global pull.rebase true
          git add CITATION.cff
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update CITATION.cff for release $VERSION"
            git pull
            git push
          fi
      - name: Set commit SHA
        run: |
          echo "commit_sha=$(git rev-parse HEAD)" >> "$GITHUB_ENV"
  convert_to_rst:
    name: Update pip package list
    needs: [update_citation]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: dev
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pip-licenses
          pip install -r webclient/requirements.txt
      - name: Run convert_to_rst.py
        run: python docs/licenses/convert_to_rst.py
      - name: Commit changes
        run: |
          VERSION=${{ inputs.new_tag }}
          PRERELEASE=${{ inputs.pre_release }}
          if [ "$PRERELEASE" == "true" ]; then
            VERSION="$VERSION-pre-release"
          fi
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git config --global pull.rebase true
          git add docs/source/knihovny_read_only.rst
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update knihovny_read_only.rst for release $VERSION"
            git pull
            git push
          fi          
      - name: Set commit SHA
        run: |
          echo "commit_sha=$(git rev-parse HEAD)" >> "$GITHUB_ENV"
  create-tag:
    name: Create new tag
    needs: [convert_to_rst]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: ${{ inputs.new_tag }}
          commit_sha: ${{ env.commit_sha }}
      - run: |
          echo "Tag already present: ${{ steps.tag_create.outputs.tag_exists }}"
