name: New version

on:
  workflow_dispatch :
    inputs:
      new_tag:
        description: 'Tag name following vx.x.x semantics:'
        type: string
        required: true
      pre_release:
        description: 'Is this pre-release version?'
        type: boolean
        required: true
        default: true
    
jobs:
  update-citation:
    name: Update CITATION.cff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: dev
      - name: Update CITATION.cff
        run: |
          VERSION=${{ inputs.new_tag }}
          PRERELEASE=${{ inputs.pre_release }}
          if [ "$PRERELEASE" == "true" ]; then
            VERSION="$VERSION-pre-release"
          fi
          DATE=$(date -I)
          sed -i '/title:/!b;n;cversion: "'"$VERSION"'"' CITATION.cff
          sed -i "s/date-released:.*/date-released: $DATE/" CITATION.cff
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git config --global pull.rebase true
          git add CITATION.cff
          git commit -m "Update CITATION.cff for release $VERSION"
          git pull
          git push
  create-tag-call:
      name: Call create tag
      needs: [update-citation]
      uses: ./.github/workflows/new-version-tag.yml
      with:
         new_tag: ${{ inputs.new_tag }}          
