name: Build and publish Docker images
on:
  release:
    types: [published]
  workflow_dispatch :
    inputs:
      tags:
       description: 'Tag describing manual trigger'
       type: string
       required: false

env:
  DOCKER_HUB_REPO_REDIS: aiscr/webamcr-redis
  DOCKER_HUB_REPO_PROXY: aiscr/webamcr-proxy
  DOCKER_HUB_REPO_PROD: aiscr/webamcr
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USER }}

jobs:
  build_publish_images:
    name: Build and push docker images for to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tags }}
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Get tag from GITHUB_REF
        run: |
          if [ "${{ inputs.tags }}" != '' ]; then
            echo "${{ inputs.tags }}"
            echo "tag_version=${{ inputs.tags }}" >> $GITHUB_ENV
          else
            echo "$(echo $GITHUB_REF | cut -d/ -f3)"
            echo "tag_version=$(echo $GITHUB_REF | cut -d/ -f3)" >> $GITHUB_ENV
          fi  

      #---------------------
      # BUILD PROD
      #---------------------
      - name: Extract metadata (tags, labels) for Docker production image
        id: meta_prod
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_HUB_REPO_PROD }}
          
      - name: Set tags prod
        run: |
          if [ "${{ inputs.tags }}" != '' ]; then
            echo "prod_tags=${{ env.DOCKER_HUB_REPO_PROD }}:${{ env.tag_version }}" >> $GITHUB_ENV
          else
            echo "prod_tags=${{ env.DOCKER_HUB_REPO_PROD }}:${{ env.tag_version }},${{ env.DOCKER_HUB_REPO_PROD }}:latest" >> $GITHUB_ENV
          fi
          
      - name: PRODUCTION - Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile-production
          push: true
          tags: ${{ env.prod_tags }}
          labels: ${{ steps.meta_prod.outputs.labels }}
          build-args: |
            VERSION_APP=${{ env.tag_version }}
            TAG_APP=${{ github.ref }}
      #---------------------
      # BUILD PROXY
      #---------------------
      - name: Extract metadata (tags, labels) for Docker proxy image
        id: meta_proxy
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_HUB_REPO_PROXY }}

      - name: Set tags proxy
        run: |
          if [ "${{ inputs.tags }}" != '' ]; then
            echo "proxy_tags=${{ env.DOCKER_HUB_REPO_PROXY }}:${{ env.tag_version }}" >> $GITHUB_ENV
          else
            echo "proxy_tags=${{ env.DOCKER_HUB_REPO_PROXY }}:${{ env.tag_version }},${{ env.DOCKER_HUB_REPO_PROXY }}:latest" >> $GITHUB_ENV
          fi

      - name: PROXY - Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./proxy
          push: true
          tags: ${{ env.proxy_tags }}
          labels: ${{ steps.meta_proxy.outputs.labels }}
          build-args: |
            VERSION_APP=${{ env.tag_version }}
            TAG_APP=${{ github.ref }}
      #---------------------
      # BUILD REDIS
      #---------------------
      - name: Extract metadata (tags, labels) for Docker redis image
        id: meta_redis
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_HUB_REPO_REDIS }}

      - name: Set tags redis
        run: |
          if [ "${{ inputs.tags }}" != '' ]; then
            echo "redis_tags=${{ env.DOCKER_HUB_REPO_REDIS }}:${{ env.tag_version }}" >> $GITHUB_ENV
          else
            echo "redis_tags=${{ env.DOCKER_HUB_REPO_REDIS }}:${{ env.tag_version }},${{ env.DOCKER_HUB_REPO_REDIS }}:latest" >> $GITHUB_ENV
          fi

      - name: REDIS - Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./redis
          push: true
          tags: ${{ env.redis_tags }}
          labels: ${{ steps.meta_redis.outputs.labels }}
          build-args: |
            VERSION_APP=${{ env.tag_version }}
            TAG_APP=${{ github.ref }}
