name: Build and Publish Docker images on  https://hub.docker.com/u/aiscr

on:
  release:
    types: [created]
  workflow_dispatch :
    inputs:
      tags:
       description: 'Tag describing manual trigger'
       type: string
       required: false

env:
  DOCKER_HUB_REPO_REDIS: aiscr/webamcr-redis
  DOCKER_HUB_REPO_PROXY: aiscr/webamcr-proxy
  DOCKER_HUB_REPO_PROD: aiscr/webamcr
  DOCKER_HUB_USERNAME: aiscr

jobs:
  convert_to_rst:
    name: Update pip package list
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: dev

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pip-licenses
          pip install -r webclient/requirements.txt

      - name: Run convert_to_rst.py
        run: python docs/licenses/convert_to_rst.py

      - name: Commit changes
        run: |
          VERSION=${{ github.event.release.tag_name }}
          PRERELEASE=${{ github.event.release.prerelease }}
          if [ "$PRERELEASE" == "true" ]; then
            VERSION="$VERSION-pre-release"
          fi
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git config --global pull.rebase true
          git add docs/source/knihovny_read_only.rst
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update knihovny_read_only.rst for release $VERSION"
            git pull
            git push
          fi
  build_publish_images:
    name: Build and push docker images for to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      
      - name: Get tag from GITHUB_REF
        id: step_tag1
        run: echo "tag_version=$(echo $GITHUB_REF | cut -d/ -f3)" >> $GITHUB_ENV

      #---------------------
      # BUILD PROD
      #---------------------
      - name: Extract metadata (tags, labels) for Docker production image
        id: meta_prod
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_HUB_REPO_PROD }}
      
      - name: PRODUCTION - Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile-production
          push: true
          tags: ${{ steps.meta_prod.outputs.tags }}
          labels: ${{ steps.meta_prod.outputs.labels }}
          build-args: |
            VERSION_APP=${{ env.tag_version }}
            TAG_APP=${{ github.ref }}
      #---------------------
      # BUILD PROXY
      #---------------------
      - name: Extract metadata (tags, labels) for Docker proxy image
        id: meta_proxy
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_HUB_REPO_PROXY }}

      - name: PROXY - Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./proxy
          push: true
          tags: ${{ steps.meta_proxy.outputs.tags }}
          labels: ${{ steps.meta_proxy.outputs.labels }}
          build-args: |
            VERSION_APP=${{ env.tag_version }}
            TAG_APP=${{ github.ref }}
      #---------------------
      # BUILD REDIS
      #---------------------
      - name: Extract metadata (tags, labels) for Docker redis image
        id: meta_redis
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_HUB_REPO_REDIS }}

      - name: REDIS - Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./redis
          push: true
          tags: ${{ steps.meta_redis.outputs.tags }}
          labels: ${{ steps.meta_redis.outputs.labels }}
          build-args: |
            VERSION_APP=${{ env.tag_version }}
            TAG_APP=${{ github.ref }}
  deploy_on_dev:
      name: Deploy containers on DEV SERVER
      needs: build_publish_images
      uses: ./.github/workflows/deployment.yml
      secrets: inherit
      with:
         man_tag: ${{ inputs.tags }}
      
