{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}AMČR - Login{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <img class="mb-4" src="{% static 'logo-am-cs.png' %}" alt="">
    <div class="card">
      <div class="card-body">
        <form method="post">
          <h1 class="h3 mb-3 font-weight-normal">{% trans "Přihlášení" %}</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="mb-3">
            <a href="#" title="{% trans 'Zapomněli jste heslo' %}?">{% trans "Zapomněli jste heslo" %}?</a>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Přihlásit" %}</button>
          <p class="mt-3 mb-3 text-muted">
            {% trans "Nemáte účet" %}?
            <a href="#" target="_blank" title="{% trans 'Zaregistrovat se' %}">{% trans "Zaregistrovat se" %}</a>
          </p>
          <hr />
          tady budou vlajecky
        </form>
      </div>
    </div>
  </div>
{% endblock %}
