{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}AMČR - Login{% endblock %}

{% block content %}
  <img class="mb-4" src="{% static 'logo-am-cs.png' %}" alt="">
  <div class="card">
    <div class="card-body">
      <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
      </form>
    </div>
  </div>

  <h2>Log In</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
  </form>

{% endblock %}
