{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}AMČR - Login{% endblock %}

{% block content %}
  <div class="app-login-wrapper">
    <img class="mb-4" src="{% static 'logo-amcr-cs.svg' %}" alt="{% trans 'Archeologická mapa České republiky' %}" class="app-logo">
    <div class="card">
      <div class="card-body">
        <form method="post">
          <h1 class="h3 mb-3 font-weight-normal">{% trans "Přihlášení" %}</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="mb-3">
            <a href="#" title="{% trans 'Zapomněli jste heslo' %}?">{% trans "Zapomněli jste heslo" %}?</a>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Přihlásit" %}</button>
          <p class="mt-3 mb-3 text-muted">
            {% trans "Nemáte účet" %}?
            <a href="#" target="_blank" title="{% trans 'Zaregistrovat se' %}">{% trans "Zaregistrovat se" %}</a>
          </p>
          <hr />
          <div class="app-flags">
            <a href="#" title="{% trans 'Czech' %}">
              <img src="{% static 'flag-cs.svg' %}" alt="" /> 
            </a>
            <a href="#" title="{% trans 'Engish' %}">
              <img src="{% static 'flag-en.svg' %}" alt="" /> 
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="row app-full-width">
      <div class="col-sm app-left">
        <div class="card text-white bg-dark">
          <div class="card-header">
            {% trans "Popis projektu" %}
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus massa neque. Nunc suscipit magna dui, quis molestie elit laoreet non. Aenean in tellus ut metus cursus dapibus sit amet sit amet dolor. Nulla lectus orci, fringilla vitae fringilla et, bibendum et nibh. Donec finibus sapien urna, eget laoreet sem tincidunt placerat. Aenean porta leo quis eros aliquam, eu iaculis odio scelerisque. Curabitur sollicitudin feugiat quam. 
          </div>
        </div>
      </div>
      <div class="col-sm app-right">
        <div class="card text-white bg-dark">
          <div class="card-header">
            {% trans "Novinky" %}
          </div>
          <div class="card-body">
            <div class="app-sroll-inner">
              <p>
                <strong>14.2.2021</strong><span class="app-pipe"></span>Tisíce leteckých fotek online. V průběhu posledního týdne došlo ke zveřejnění zásadního souboru dokumentace, kterým je kompletní letecký archiv snímků pořízených Martinem Gojdou, předním odborníkem na leteckou archeologii. Sbírka čítá téměř 16 tisíc snímků, které nyní můžete snadno procházet v Digitálním archivu AMČR!
              </p>
              <p>
                <strong>14.2.2021</strong><span class="app-pipe"></span>Tisíce leteckých fotek online. V průběhu posledního týdne došlo ke zveřejnění zásadního souboru dokumentace, kterým je kompletní letecký archiv snímků pořízených Martinem Gojdou, předním odborníkem na leteckou archeologii. Sbírka čítá téměř 16 tisíc snímků, které nyní můžete snadno procházet v Digitálním archivu AMČR!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
